Repository bcgov/mds, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

typo
  microservices/now_etls/mms_now_import.py
Labels: none

testing
  microservices/now_etls/mms_now_import.py
Labels: none

working submissions filter
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  frontend/src/components/mine/NoticeOfWork/MineNOWApplications.js
  python-backend/app/api/now_applications/models/notice_of_work_view.py
  python-backend/app/api/now_applications/resources/now_application_list_resource.py
Labels: 💾 Backend, 💻 Frontend

testing output.
  microservices/now_etls/mms_now_import.py
Labels: none

debugging bad data.
  microservices/now_etls/mms_now_import.py
Labels: none

testing
  microservices/now_etls/mms_now_import.py
Labels: none

more testing.
  microservices/now_etls/mms_now_import.py
Labels: none

added resource to get mine data in a csv
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/resources/mine_csv_resource.py
  python-backend/app/api/mines/namespace.py
Labels: 💾 Backend

dates work now because .load can use regular date formats
  python-backend/app/api/mines/permits/permit/models/permit.py
  python-backend/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  python-backend/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  python-backend/app/api/mines/response_models.py
  python-backend/app/api/utils/models_mixins.py
  python-backend/tests/mines/permit/resources/test_permit_amendment_resource.py
Labels: 💾 Backend

added blasting_operation to the payload
  frontend/src/components/noticeOfWork/applications/review/ReviewActivities.js
  frontend/src/customPropTypes/noticeOfWork.js
  frontend/src/tests/components/noticeOfWork/applications/review/activities/Blasting.spec.js
  frontend/src/tests/mocks/noticeOfWorkMocks.js
  python-backend/app/api/now_applications/models/now_application.py
  python-backend/app/api/now_applications/response_models.py
  python-backend/app/api/now_applications/transmogrify_now.py
  python-backend/tests/now_application_factories.py
  python-backend/tests/now_applications/test_transmogrify_now.py
  python-backend/tests/now_submission_factories.py
Labels: 💾 Backend, 💻 Frontend

testing placer row counts.
  microservices/now_etls/mms_now_import.py
Labels: none

updated snapshots
  frontend/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewActivities.spec.js.snap
  frontend/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
Labels: 💻 Frontend

wrong table name for contacts.
  microservices/now_etls/mms_now_import.py
Labels: none

test stability and logging
  python-backend/app/api/utils/models_mixins.py
  python-backend/tests/utils/test_base_model.py
Labels: 💾 Backend

Debugging.
  microservices/now_etls/mms_now_import.py
Labels: none

typo
  microservices/now_etls/mms_now_import.py
Labels: none

debug and comments.
  python-backend/app/api/utils/models_mixins.py
Labels: 💾 Backend

ambiguous column
  microservices/now_etls/mms_now_import.py
Labels: none

comments
  python-backend/app/api/utils/models_mixins.py
Labels: 💾 Backend

update tests
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkTable.spec.js.snap
  frontend/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNOWApplications.spec.js.snap
  frontend/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNoticeOfWorkTable.spec.js.snap
  migrations/sql/V2019.11.18.11.32__create_notice_of_work_view.sql
  python-backend/app/api/now_submissions/namespace.py
  python-backend/app/api/now_submissions/resources/application_list_resource.py
  python-backend/tests/mines/now_submissions/resources/test_application_resource.py
  python-backend/tests/now_submission_factories.py
  python-backend/tests/now_submissions/resources/test_application_list_resource.py
  python-backend/tests/now_submissions/resources/test_application_resource.py
Labels: 💾 Backend, 💻 Frontend

comments and test improvment.
  python-backend/app/api/parties/party/models/party.py
  python-backend/tests/utils/test_base_model.py
Labels: 💾 Backend

remove the last thing in the list.
  microservices/now_etls/mms_now_import.py
Labels: none

runn tests after fixing other things
  python-backend/tests/mines/permit/models/test_permit_amendment_model.py
  python-backend/tests/mines/permit/resources/test_permit_amendment_resource.py
Labels: 💾 Backend

remove last row.
  microservices/now_etls/mms_now_import.py
Labels: none

added base quary for getting basic mine data and turning it to a csv
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/resources/mine_csv_resource.py
Labels: 💾 Backend

Cut out last row of placer.
  microservices/now_etls/mms_now_import.py
Labels: none

Cutout last row of all placer
  microservices/now_etls/mms_now_import.py
Labels: none

added a view modal for the mine csv resource
  python-backend/.vscode/settings.json
  python-backend/app/api/mines/mine/models/mine_csv_view.py
  python-backend/app/api/mines/mine/resources/mine_csv_resource.py
Labels: 💾 Backend

test
  microservices/now_etls/mms_now_import.py
Labels: none

typo cutout statement
  microservices/now_etls/mms_now_import.py
Labels: none

updated linting concern
  frontend/src/selectors/noticeOfWorkSelectors.js
Labels: 💻 Frontend

put resource to expect iso format.
  python-backend/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
Labels: 💾 Backend

added check for undefined keys
  frontend/src/selectors/noticeOfWorkSelectors.js
Labels: 💻 Frontend

append client and contacts to db.
  microservices/now_etls/mms_now_import.py
Labels: none

typo in select statement
  microservices/now_etls/mms_now_import.py
Labels: none

added a postgres view
  migrations/sql/V2019.11.21.10.33__bcgw_view.sql
  python-backend/app/api/mines/mine/models/mine_csv_view.py
Labels: 💾 Backend

added comments and fixed an indicator bug.
  microservices/now_etls/mms_now_import.py
Labels: none

clean up and commenting.
  microservices/now_etls/mms_now_import.py
Labels: none

added column headers to csv, update doc description, added a db view for the csv export functionality
  migrations/sql/V2019.11.21.10.33__bcgw_view.sql
  python-backend/app/api/mines/mine/resources/mine_csv_resource.py
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/app/commands.py
  python-backend/tests/factories.py
  python-backend/tests/now_application_factories.py
  python-backend/tests/status_code_gen.py
Labels: 💾 Backend

removed unused imports
  python-backend/app/api/mines/mine/resources/mine_csv_resource.py
Labels: 💾 Backend

.github/labeler.yml:

💾 Backend:
  - python-backend/**/*

💻 Frontend:
  - frontend/**/*
  - frontend-public/**/*

🏭 CI/CD:
  - openshift/**/*
  - pipeline/**/*
