Repository bcgov/mds, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

revert test change.
  python-backend/app/api/parties/party/resources/party_resource.py
Labels: 💾 Backend

updated .map to forEach on recSummary selector
  frontend/package.json
  frontend/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  frontend/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  frontend/src/components/noticeOfWork/applications/review/activities/ReclamationSummary.js
  frontend/src/components/noticeOfWork/applications/review/activities/WaterSupply.js
  frontend/src/customPropTypes/noticeOfWork.js
  frontend/src/selectors/noticeOfWorkSelectors.js
Labels: 💻 Frontend

tests.... almost got appending new item.
  python-backend/app/api/mines/permits/permit/resources/permit.py
  python-backend/app/api/mines/permits/permit/resources/permit_status_code.py
  python-backend/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  python-backend/app/api/mines/permits/permit_amendment/resources/permit_amendment_document.py
  python-backend/app/api/mines/permits/response_models.py
  python-backend/app/api/mines/response_models.py
  python-backend/app/api/now_applications/resources/now_application_resource.py
  python-backend/app/api/now_applications/response_models.py
  python-backend/app/api/utils/models_mixins.py
  python-backend/tests/factories.py
  python-backend/tests/utils/test_base_model.py
Labels: 💾 Backend

added resource for getting now activity type codes
  python-backend/app/api/now_applications/namespace.py
  python-backend/app/api/now_applications/resources/now_activity_type_code.py
  python-backend/app/api/now_applications/response_models.py
Labels: 💾 Backend

updated return from arrow function
  frontend/src/actionCreators/staticContentActionCreator.js
  frontend/src/actions/staticContentActions.js
  frontend/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  frontend/src/components/noticeOfWork/applications/review/activities/ReclamationSummary.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/reducerTypes.js
  frontend/src/reducers/rootReducer.js
  frontend/src/reducers/staticContentReducer.js
  frontend/src/selectors/noticeOfWorkSelectors.js
  frontend/src/selectors/staticContentSelectors.js
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/now_applications/models/activity_summary/activity_type.py
  python-backend/app/api/now_applications/resources/now_activity_type_code.py
  python-backend/app/api/now_applications/response_models.py
Labels: 💾 Backend, 💻 Frontend

added tests for activity type options:
  frontend/src/tests/actionCreators/staticContentActionCreator.spec.js
  frontend/src/tests/mocks/noticeOfWorkMocks.js
  frontend/src/tests/reducers/staticContentReducer.spec.js
  frontend/src/tests/selectors/staticContentSelectors.spec.js
Labels: 💻 Frontend

added tests for all actionCreators
  frontend/src/tests/actionCreators/noticeOfWorkActioncreator.spec.js
Labels: 💻 Frontend

Change from todb to appenddb
  microservices/now_etls/NOW_import.py
Labels: none

added more now selector tests
  frontend/src/tests/mocks/noticeOfWorkMocks.js
  frontend/src/tests/selectors/noticeOfWorkSelectors.spec.js
Labels: 💻 Frontend

Change from todb to appenddb (#1070)
  microservices/now_etls/NOW_import.py
Labels: none

fix etls
  microservices/now_etls/create_now_identities.py
Labels: none

modifying ETL to pull in contacts and placer information.
  microservices/now_etls/NOW_import.py
  microservices/now_etls/mms_now_import.py
  microservices/now_etls/now_etls.py
  microservices/now_etls/requirements.txt
Labels: none

Increase postgres size and memory for testing
  pipeline/config-dev.groovy
Labels: 🏭 CI/CD

add now numbers and change joins to left joins.
  microservices/now_etls/mms_now_import.py
  migrations/sql/V2019.11.18.12.23__add_now_number_to_mms_now_application.sql
Labels: none

Increase postgres size to 10Gi
  pipeline/config-dev.groovy
Labels: 🏭 CI/CD

now runs all etls
  microservices/now_etls/now_etls.py
Labels: none

updated fe tests, added a resource test for be
  frontend/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  frontend/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  frontend/src/tests/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  frontend/src/tests/mocks/noticeOfWorkMocks.js
  frontend/src/tests/reducers/noticeOfWorkReducer.spec.js
  python-backend/tests/now_applications/resources/test_now_activity_type_code.py
Labels: 💾 Backend, 💻 Frontend

renamed resource to remove 'code'
  frontend/src/constants/API.js
  python-backend/app/api/now_applications/namespace.py
  python-backend/app/api/now_applications/resources/now_activity_type_resource.py
  python-backend/app/api/now_applications/response_models.py
  python-backend/tests/now_applications/resources/test_now_activity_type_resource.py
Labels: 💾 Backend, 💻 Frontend

appending new children works....
  python-backend/app/api/mines/permits/permit/models/permit.py
  python-backend/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  python-backend/app/api/mines/permits/permit_amendment/models/permit_amendment_document.py
  python-backend/app/api/mines/response_models.py
  python-backend/app/api/utils/models_mixins.py
  python-backend/app/api/utils/setup_marshmallow.py
  python-backend/tests/utils/test_base_model.py
Labels: 💾 Backend

updated loading wrapper, and styling for now side menu
  frontend/src/components/noticeOfWork/applications/NOWSideMenu.js
  frontend/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  frontend/src/styles/components/NoticeOfWork.scss
Labels: 💻 Frontend

changed ordering of table imports and added more logging.
  microservices/now_etls/NOW_import.py
Labels: none

add back in memebers.
  python-backend/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  python-backend/app/api/utils/setup_marshmallow.py
  python-backend/tests/utils/test_base_model.py
Labels: 💾 Backend

clean up
  python-backend/app/__init__.py
  python-backend/app/api/mines/permits/permit_amendment/models/permit_amendment.py
Labels: 💾 Backend

clean up
  .vscode/settings.json
  python-backend/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  python-backend/app/api/utils/models_mixins.py
Labels: 💾 Backend

not using this, so don't import it for now.
  python-backend/app/__init__.py
Labels: 💾 Backend

changed how mms now number is done
  microservices/now_etls/mms_now_import.py
Labels: none

trying to remove orphaned records.
  microservices/now_etls/mms_now_import.py
Labels: none

typo
  microservices/now_etls/mms_now_import.py
Labels: none

placer removal of bad data not workign.
  microservices/now_etls/mms_now_import.py
Labels: none

updated
  frontend/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
Labels: 💻 Frontend

reverting changes to narrow branch changes.
  python-backend/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  python-backend/app/api/mines/permits/permit_amendment/models/permit_amendment_document.py
  python-backend/app/api/mines/response_models.py
  python-backend/app/api/now_applications/resources/now_application_resource.py
  python-backend/app/api/now_applications/response_models.py
  python-backend/app/api/utils/models_mixins.py
  python-backend/tests/mines/permit/models/test_permit_amendment_model.py
  python-backend/tests/mines/permit/resources/test_permit_amendment_resource.py
Labels: 💾 Backend

added join to all selects.
  microservices/now_etls/mms_now_import.py
Labels: none

clean up
  python-backend/app/api/mines/permits/permit_amendment/models/permit_amendment.py
Labels: 💾 Backend

comments on what to do with this file.
  python-backend/app/api/utils/setup_marshmallow.py
Labels: 💾 Backend

now submission to now application endpoint and frontend refactor
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  frontend/src/components/mine/NoticeOfWork/MineNoticeOfWorkTable.js
  frontend/src/constants/API.js
  migrations/sql/V2019.11.18.11.32__create_notice_of_work_view.sql
  python-backend/app/api/mines/namespace.py
  python-backend/app/api/mines/now_submissions/__init__.py
  python-backend/app/api/mines/now_submissions/resources/__init__.py
  python-backend/app/api/mines/now_submissions/resources/application_resource.py
  python-backend/app/api/now_applications/models/__init__.py
  python-backend/app/api/now_applications/models/notice_of_work_view.py
  python-backend/app/api/now_applications/namespace.py
  python-backend/app/api/now_applications/resources/now_application_list_resource.py
  python-backend/app/api/now_applications/response_models.py
Labels: 💾 Backend, 💻 Frontend

bad sql join
  microservices/now_etls/mms_now_import.py
Labels: none

working NoW view
  python-backend/app/api/now_submissions/models/application.py
  python-backend/app/api/now_submissions/resources/application_document_resource.py
  python-backend/app/api/now_submissions/resources/application_resource.py
Labels: 💾 Backend

added custom proptypes for all notice of work activities
  frontend/src/components/common/NullScreen.js
  frontend/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  frontend/src/components/noticeOfWork/applications/review/activities/Camps.js
  frontend/src/components/noticeOfWork/applications/review/activities/CutLines.js
  frontend/src/components/noticeOfWork/applications/review/activities/Equipment.js
  frontend/src/components/noticeOfWork/applications/review/activities/MechanicalTrenching.js
  frontend/src/components/noticeOfWork/applications/review/activities/Placer.js
  frontend/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  frontend/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  frontend/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  frontend/src/components/noticeOfWork/applications/review/activities/SurfaceDrilling.js
  frontend/src/components/noticeOfWork/applications/review/activities/UndergroundExploration.js
  frontend/src/components/noticeOfWork/applications/review/activities/WaterSupply.js
  frontend/src/customPropTypes/noticeOfWork.js
  python-backend/app/api/now_applications/response_models.py
Labels: 💾 Backend, 💻 Frontend

removed save from package-lock.json
  frontend/package-lock.json
Labels: 💻 Frontend

removed old join table.
  microservices/now_etls/mms_now_import.py
Labels: none

.github/labeler.yml:

💾 Backend:
  - python-backend/**/*

💻 Frontend:
  - frontend/**/*
  - frontend-public/**/*

🏭 CI/CD:
  - openshift/**/*
  - pipeline/**/*
