Repository bcgov/mds, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/core-api/**/*

💻 Frontend:
  - services/core-web/**/*
  - services/minespace-web/**/*

🏭 CI/CD:
  - openshift/**/*

fix config; readd lost files
  bin/project-structure-migrate.sh
  openshift/templates/_python36.dc.json
  services/core-api/app/api/compliance/resources/compliance_document_resource.py
  services/core-api/app/api/services/nris_download_service.py
Labels: 💾 Backend, 🏭 CI/CD

new test case. and patch in new key to test 3 layers behaviour.
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/tests/utils/test_base_model.py
Labels: 💾 Backend

permit amendment edit_groups
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
Labels: 💾 Backend

remove eslint-disable
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
Labels: 💻 Frontend

Sonar file path
  openshift/pipeline/src/groovy/UnitTest.groovy
Labels: 🏭 CI/CD

Zap File path
  openshift/pipeline/src/groovy/Zap.groovy
Labels: 🏭 CI/CD

MDS 2338 - See Inspection reports and Managers Responses from NRIS in Core (#1078)
  bin/project-structure-migrate.sh
  openshift/templates/_python36.dc.json
  services/core-api/.env-example
  services/core-api/app/api/compliance/namespace.py
  services/core-api/app/api/compliance/resources/compliance_document_resource.py
  services/core-api/app/api/constants.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/services/NRIS_API_service.py
  services/core-api/app/api/services/nris_download_service.py
  services/core-api/app/config.py
  services/core-web/src/components/mine/Compliance/ComplianceOrdersTable.js
  services/core-web/src/constants/API.js
  services/core-web/src/tests/components/mine/Compliance/__snapshots__/ComplianceOrdersTable.spec.js.snap
  services/core-web/src/utils/actionlessNetworkCalls.js
  services/document-manager/backend/app/compliance/resources/compliance_document_resource.py
  services/document-manager/backend/app/services/nris_download_service.py
Labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

MMS 2402: Adding placer and contacts to NOW ETLs (#1071)
  migrations/sql/V2019.11.18.12.23__add_now_number_to_mms_now_application.sql
  tasks/now-etls/NOW_import.py
  tasks/now-etls/mms_now_import.py
  tasks/now-etls/requirements.txt
Labels: none

API to Backend module reference
  openshift/pipeline/config-dev.groovy
Labels: 🏭 CI/CD

Feature/now application edit (#1076)
  services/core-api/app/__init__.py
  services/core-api/app/api/constants.py
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mms_now_submissions/models/application.py
  services/core-api/app/api/now_applications/models/activity_detail/activity_detail_base.py
  services/core-api/app/api/now_applications/models/activity_summary/activity_summary_base.py
  services/core-api/app/api/now_applications/models/blasting_operation.py
  services/core-api/app/api/now_applications/models/equipment.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_application_identity.py
  services/core-api/app/api/now_applications/models/state_of_land.py
  services/core-api/app/api/now_applications/resources/now_activity_type_resource.py
  services/core-api/app/api/now_applications/resources/now_application_import_resource.py
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/app/api/utils/models_mixins.py
  services/core-api/app/api/utils/setup_marshmallow.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/now_application_factories.py
  services/core-api/tests/now_applications/resources/test_now_application_put.py
  services/core-api/tests/utils/test_base_model.py
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  services/core-web/src/components/mine/NoticeOfWork/MineNOWApplications.js
  tasks/now-etls/create_now_identities.py
Labels: 💾 Backend, 💻 Frontend

fixed routing from NoW mine view and pagination of the NoW dashboard.
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
Labels: 💻 Frontend

fix now documents not downloading
  services/core-api/app/api/now_submissions/models/application.py
  services/core-web/src/components/noticeOfWork/submissions/NOWWorkPlan.js
Labels: 💾 Backend, 💻 Frontend

removed param from list.
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
Labels: 💻 Frontend

update snaupdate snaps
  services/core-web/src/tests/components/noticeOfWork/submissions/__snapshots__/NOWWorkPlan.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/submissions/__snapshots__/NoticeOfWorkInitialApplication.spec.js.snap
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
Labels: 💻 Frontend

Missed Sonar and Zap relative path references in project migrate (#1079)
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/src/groovy/UnitTest.groovy
  openshift/pipeline/src/groovy/Zap.groovy
Labels: 🏭 CI/CD

updated permittee bug issue
  Makefile
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
Labels: 💾 Backend

snapshot update.
  services/core-web/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkHomePage.spec.js.snap
Labels: 💻 Frontend

removed unused code, updated comment
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/parties/party_appt/models/mine_party_appt.py
Labels: 💾 Backend

Reenable functional tests in build pipeline
  openshift/pipeline/src/groovy/BddStack.groovy
Labels: 🏭 CI/CD

bug/fix now documents not downloading (#1080)
  services/core-api/app/api/now_submissions/models/application.py
  services/core-web/src/components/noticeOfWork/submissions/NOWWorkPlan.js
  services/core-web/src/tests/components/noticeOfWork/submissions/__snapshots__/NOWWorkPlan.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/submissions/__snapshots__/NoticeOfWorkInitialApplication.spec.js.snap
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
Labels: 💾 Backend, 💻 Frontend

removed logger
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
Labels: 💾 Backend

updated eslint rule
  services/core-web/src/App.js
  services/core-web/src/components/common/wrappers/ScrollToTopWrapper.js
Labels: 💻 Frontend

made list query params an empty list
  services/core-web/src/components/mine/NoticeOfWork/MineNOWApplications.js
Labels: 💻 Frontend

removed console.log statements
  services/core-web/src/actionCreators/permitActionCreator.js
Labels: 💻 Frontend

removed commented out code
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/tests/utils/test_base_model.py
Labels: 💾 Backend

change to spin pr
  services/core-api/app/api/now_applications/resources/now_activity_type_resource.py
Labels: 💾 Backend

Reenable functional tests in build pipeline (#1083)
  openshift/pipeline/src/groovy/BddStack.groovy
Labels: 🏭 CI/CD

MDS-2466 Fix for link to Mine NoW view and Pagination on the province wide NoW list. (#1081)
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  services/core-web/src/components/mine/Compliance/ComplianceOrdersTable.js
  services/core-web/src/components/mine/NoticeOfWork/MineNOWApplications.js
  services/core-web/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkHomePage.spec.js.snap
Labels: 💻 Frontend

added endpoint and test for now_application_types
  services/core-api/app/api/now_applications/models/now_application_status.py
  services/core-api/app/api/now_applications/models/now_application_type.py
  services/core-api/app/api/now_applications/namespace.py
  services/core-api/app/api/now_applications/resources/now_application_type_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/tests/now_applications/resources/test_now_application_type_resource.py
Labels: 💾 Backend

added end points for now static content: unit_types, now_application_types, now_application_status_codes, now_application_document_types, underground_exploration_types and all associated tests
  services/core-api/app/api/now_applications/namespace.py
  services/core-api/app/api/now_applications/resources/now_application_document_type_resource.py
  services/core-api/app/api/now_applications/resources/now_application_status_code_resource.py
  services/core-api/app/api/now_applications/resources/underground_exploration_type_resource.py
  services/core-api/app/api/now_applications/resources/unit_type_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/tests/now_applications/resources/test_now_application_document_type_resource.py
  services/core-api/tests/now_applications/resources/test_now_application_status_code_resource.py
  services/core-api/tests/now_applications/resources/test_now_application_type_resource.py
  services/core-api/tests/now_applications/resources/test_underground_exploration_resource.py
  services/core-api/tests/now_applications/resources/test_unit_type_resource.py
Labels: 💾 Backend

added all redux for unit_types, and now_application_types
  services/core-api/app/api/now_applications/namespace.py
  services/core-api/tests/now_applications/resources/test_unit_type_resource.py
  services/core-web/src/actionCreators/staticContentActionCreator.js
  services/core-web/src/actions/staticContentActions.js
  services/core-web/src/constants/API.js
  services/core-web/src/constants/actionTypes.js
  services/core-web/src/constants/reducerTypes.js
  services/core-web/src/reducers/staticContentReducer.js
  services/core-web/src/selectors/staticContentSelectors.js
Labels: 💾 Backend, 💻 Frontend

actually found a bug.
  services/core-api/app/api/now_applications/resources/now_activity_type_resource.py
  services/core-api/app/api/now_applications/transmogrify_now.py
Labels: 💾 Backend

added redux states for now_application_status, now_application_document_types, underground_exploration_types, all reducers, actioncreators, actions, selectors
  services/core-web/src/actionCreators/staticContentActionCreator.js
  services/core-web/src/actions/staticContentActions.js
  services/core-web/src/constants/actionTypes.js
  services/core-web/src/constants/reducerTypes.js
  services/core-web/src/reducers/staticContentReducer.js
  services/core-web/src/selectors/staticContentSelectors.js
Labels: 💻 Frontend

updated eslint rule (#1084)
  services/core-web/src/App.js
  services/core-web/src/components/common/wrappers/ScrollToTopWrapper.js
Labels: 💻 Frontend

updated reducer spec to include new base states
  services/core-web/src/tests/reducers/staticContentReducer.spec.js
Labels: 💻 Frontend

added actionCreator tests
  services/core-web/src/actionCreators/staticContentActionCreator.js
  services/core-web/src/tests/actionCreators/staticContentActionCreator.spec.js
Labels: 💻 Frontend

Change to only run functional tests on the 292 branch
  Jenkinsfile
Labels: none

added a few data mocks
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
Labels: 💻 Frontend
