Repository bcgov/mds, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

removed unused imports
  python-backend/app/api/mines/mine/models/mine_csv_view.py
Labels: 💾 Backend

testing.
  microservices/now_etls/mms_now_import.py
Labels: none

removed vscode settings.json from python-backend
  python-backend/.vscode/settings.json
Labels: 💾 Backend

added a cache to the mine details csv, updated formatting
  python-backend/app/api/constants.py
  python-backend/app/api/mines/mine/resources/mine_csv_resource.py
  python-backend/tests/factories.py
Labels: 💾 Backend

moved the csv into its own file structure, with its own name space for future export requests of similar kinds
  python-backend/app/__init__.py
  python-backend/app/api/exports/mines/models/mine_csv_view.py
  python-backend/app/api/exports/mines/resources/mine_csv_resource.py
  python-backend/app/api/exports/namespace.py
  python-backend/app/api/mines/namespace.py
Labels: 💾 Backend

renamed files, db view, url to all match mineSummary format
  migrations/sql/V2019.11.21.10.33__mine_summary_view.sql
  python-backend/app/api/constants.py
  python-backend/app/api/exports/mines/models/mine_summary_csv_view.py
  python-backend/app/api/exports/mines/resources/mine_summary_csv_resource.py
  python-backend/app/api/exports/namespace.py
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/tests/now_application_factories.py
  python-backend/tests/status_code_gen.py
Labels: 💾 Backend

WIP BuildConfig changes to match new layout
  README.md
  openshift/pipeline/config-build.groovy
  openshift/pipeline/config-dev.groovy
  openshift/templates/document-manager/docman.bc.json
  openshift/templates/document-manager/docman.dc.json
  openshift/templates/nris-api/_python36_oracle.bc.json
  openshift/templates/nris-api/_python36_oracle.dc.json
  openshift/templates/tasks/now_etl.bc.json
Labels: 🏭 CI/CD

tests
  microservices/now_etls/mms_now_import.py
Labels: none

Merging in latest updates
  services/core-api/app/api/now_applications/resources/now_activity_type_resource.py
  services/core-api/tests/now_applications/resources/test_now_activity_type_resource.py
  services/core-web/src/tests/components/noticeOfWork/applications/NOWSideMenu.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWSideMenu.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/ReviewActivities.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/ReviewNOWApplication.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewActivities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/AccessRoads.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/Blasting.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/Camps.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/CutLines.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/Equipment.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/MechanicalTrenching.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/Placer.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/ReclamationSummary.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/SandGravelQuarry.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/SettlingPonds.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/SurfaceDrilling.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/UndergroundExploration.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/WaterSupply.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Blasting.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Camps.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/CutLines.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Equipment.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/MechanicalTrenching.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Placer.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/ReclamationSummary.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SandGravelQuarry.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SettlingPonds.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceBulkSamples.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceDrilling.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/UndergroundExploration.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/WaterSupply.spec.js.snap
Labels: none

updated constants, un did a few comments
  python-backend/app/api/constants.py
  python-backend/tests/now_application_factories.py
Labels: 💾 Backend

reverting comment formatting.
  .vscode/settings.json
  python-backend/tests/factories.py
Labels: 💾 Backend

trying to copy the table.
  microservices/now_etls/mms_now_import.py
Labels: none

updated create data, and changed placer name to placer_operation
  python-backend/app/api/now_applications/models/activity_detail/placer_operation_detail.py
  python-backend/app/api/now_applications/models/activity_summary/placer_operation.py
  python-backend/tests/factories.py
  python-backend/tests/now_application_factories.py
Labels: 💾 Backend

testing
  microservices/now_etls/mms_now_import.py
Labels: none

Fix creation of duplicate permits, merge duplicate permit records (#1066)
  migrations/sql/R__stored_procedure_for_permit_and_permitee_information.sql
  migrations/sql/V2019.11.07.4.31__merge_duplicate_permits.sql
Labels: none

add test.
  python-backend/tests/utils/test_base_model.py
Labels: 💾 Backend

test.
  microservices/now_etls/mms_now_import.py
Labels: none

not in clause.
  python-backend/tests/status_code_gen.py
Labels: 💾 Backend

update data mocks
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkHomePage.spec.js.snap
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkTable.spec.js.snap
  frontend/src/tests/components/mine/NoticeOfWork/MineNoticeOfWorkTable.spec.js
  frontend/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNOWApplications.spec.js.snap
  frontend/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNoticeOfWorkTable.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
Labels: 💻 Frontend

test to make existing placer activity work.
  microservices/now_etls/mms_now_import.py
Labels: none

testing.
  microservices/now_etls/mms_now_import.py
Labels: none

Mds 2347 now lists (#1072)
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  frontend/src/components/mine/NoticeOfWork/MineNOWApplications.js
  frontend/src/components/mine/NoticeOfWork/MineNoticeOfWorkTable.js
  frontend/src/constants/API.js
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkHomePage.spec.js.snap
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkTable.spec.js.snap
  frontend/src/tests/components/mine/NoticeOfWork/MineNoticeOfWorkTable.spec.js
  frontend/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNOWApplications.spec.js.snap
  frontend/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNoticeOfWorkTable.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  microservices/now_etls/create_now_identities.py
  migrations/sql/V2019.11.18.11.32__create_notice_of_work_view.sql
  python-backend/app/api/mines/namespace.py
  python-backend/app/api/mines/now_submissions/__init__.py
  python-backend/app/api/mines/now_submissions/resources/__init__.py
  python-backend/app/api/mines/now_submissions/resources/application_resource.py
  python-backend/app/api/now_applications/models/__init__.py
  python-backend/app/api/now_applications/models/notice_of_work_view.py
  python-backend/app/api/now_applications/namespace.py
  python-backend/app/api/now_applications/resources/now_application_list_resource.py
  python-backend/app/api/now_applications/response_models.py
  python-backend/app/api/now_submissions/models/application.py
  python-backend/app/api/now_submissions/namespace.py
  python-backend/app/api/now_submissions/resources/application_document_resource.py
  python-backend/app/api/now_submissions/resources/application_resource.py
  python-backend/tests/mines/now_submissions/resources/test_application_resource.py
  python-backend/tests/now_submission_factories.py
  python-backend/tests/now_submissions/resources/test_application_list_resource.py
  python-backend/tests/now_submissions/resources/test_application_resource.py
Labels: 💾 Backend, 💻 Frontend

docstring
  python-backend/app/api/utils/models_mixins.py
Labels: 💾 Backend

Last test
  microservices/now_etls/mms_now_import.py
Labels: none

docstring.
  python-backend/app/api/utils/setup_marshmallow.py
Labels: 💾 Backend

Feature/MDS-2430 - Mine details CSV (#1073)
  migrations/sql/V2019.11.21.10.33__mine_summary_view.sql
  python-backend/.vscode/settings.json
  python-backend/app/__init__.py
  python-backend/app/api/constants.py
  python-backend/app/api/exports/mines/models/mine_summary_csv_view.py
  python-backend/app/api/exports/mines/resources/mine_summary_csv_resource.py
  python-backend/app/api/exports/namespace.py
  python-backend/app/api/now_applications/models/activity_detail/placer_operation_detail.py
  python-backend/app/api/now_applications/models/activity_summary/placer_operation.py
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/app/commands.py
  python-backend/tests/factories.py
  python-backend/tests/now_application_factories.py
  python-backend/tests/status_code_gen.py
Labels: 💾 Backend

Re-adding the appenddb output.
  microservices/now_etls/mms_now_import.py
Labels: none

typo/cleanup
  microservices/now_etls/mms_now_import.py
Labels: none

Task/custom update method (#1065)
  python-backend/app/api/mines/permits/permit/models/permit.py
  python-backend/app/api/mines/permits/permit/resources/permit.py
  python-backend/app/api/mines/permits/permit/resources/permit_status_code.py
  python-backend/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  python-backend/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  python-backend/app/api/mines/permits/permit_amendment/resources/permit_amendment_document.py
  python-backend/app/api/mines/permits/response_models.py
  python-backend/app/api/mines/response_models.py
  python-backend/app/api/now_applications/models/activity_detail/activity_detail_base.py
  python-backend/app/api/now_applications/models/activity_detail/camp_detail.py
  python-backend/app/api/now_applications/models/activity_detail/exploration_access_detail.py
  python-backend/app/api/now_applications/models/activity_detail/mechanical_trenching_detail.py
  python-backend/app/api/now_applications/models/activity_detail/surface_bulk_sample_detail.py
  python-backend/app/api/now_applications/models/activity_summary/camp.py
  python-backend/app/api/now_applications/models/activity_summary/cut_lines_polarization_survey.py
  python-backend/app/api/now_applications/models/activity_summary/exploration_access.py
  python-backend/app/api/now_applications/models/activity_summary/exploration_surface_drilling.py
  python-backend/app/api/now_applications/models/activity_summary/mechanical_trenching.py
  python-backend/app/api/now_applications/models/activity_summary/sand_gravel_quarry_operation.py
  python-backend/app/api/now_applications/models/activity_summary/settling_pond.py
  python-backend/app/api/now_applications/models/activity_summary/surface_bulk_sample.py
  python-backend/app/api/now_applications/models/activity_summary/underground_exploration.py
  python-backend/app/api/now_applications/models/now_application.py
  python-backend/app/api/now_applications/resources/now_application_resource.py
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party_appt/__init__.py
  python-backend/app/api/parties/party_appt/models/party_business_role.py
  python-backend/app/api/parties/party_appt/models/party_business_role_appt.py
  python-backend/app/api/utils/models_mixins.py
  python-backend/app/api/utils/setup_marshmallow.py
  python-backend/app/config.py
  python-backend/app/extensions.py
  python-backend/requirements.txt
  python-backend/tests/factories.py
  python-backend/tests/mines/permit/resources/test_permit_amendment_resource.py
  python-backend/tests/status_code_gen.py
  python-backend/tests/utils/test_base_model.py
Labels: 💾 Backend

test through now app endpoint .
  python-backend/app/api/mms_now_submissions/models/application.py
  python-backend/app/api/now_applications/models/now_application_identity.py
  python-backend/app/api/now_applications/models/state_of_land.py
  python-backend/app/api/now_applications/resources/now_application_resource.py
  python-backend/app/api/now_applications/response_models.py
  python-backend/app/api/now_submissions/models/application.py
  python-backend/app/api/utils/models_mixins.py
  python-backend/tests/now_application_factories.py
  python-backend/tests/now_applications/resources/test_now_application_put.py
Labels: 💾 Backend

remove extra line
  python-backend/app/api/now_submissions/models/application.py
Labels: 💾 Backend

query.
  python-backend/app/api/now_submissions/models/application.py
Labels: 💾 Backend

now application put works.
  python-backend/app/__init__.py
  python-backend/app/api/mines/permits/permit/resources/permit.py
  python-backend/app/api/now_applications/models/activity_detail/activity_detail_base.py
  python-backend/app/api/now_applications/models/activity_summary/activity_summary_base.py
  python-backend/app/api/now_applications/models/blasting_operation.py
  python-backend/app/api/now_applications/models/now_application.py
  python-backend/app/api/now_applications/resources/now_application_resource.py
  python-backend/app/api/now_applications/response_models.py
  python-backend/app/api/now_submissions/models/application.py
  python-backend/app/api/utils/models_mixins.py
  python-backend/app/api/utils/setup_marshmallow.py
Labels: 💾 Backend

update swagger descrption
  python-backend/app/api/now_applications/resources/now_application_resource.py
Labels: 💾 Backend

add permissions
  python-backend/app/api/now_applications/resources/now_application_resource.py
Labels: 💾 Backend

Typo in contact import.
  microservices/now_etls/mms_now_import.py
Labels: none

Updating docker-compose file to match structure
  docker-compose.yml
Labels: none

Underscores to dashes
  openshift/pipeline/config-build.groovy
Labels: 🏭 CI/CD

Dev,Test,Prod DC update to match project structure
  Jenkinsfile
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

Update Jenkinsfile
  Jenkinsfile
Labels: none

.github/labeler.yml:

💾 Backend:
  - python-backend/**/*

💻 Frontend:
  - frontend/**/*
  - frontend-public/**/*

🏭 CI/CD:
  - openshift/**/*
  - pipeline/**/*
