Repository bcgov/mds, pull requests merged in 2018-12, with the labels that each got.

#293 fixed contact info bug
  frontend/src/components/mine/ContactInfo/MineContactInfo.js
  frontend/src/components/mine/ContactInfo/ViewMineManager.js
  frontend/src/constants/routes.js
Labels: Ready for review

#295 MDS-950 Task/Add mine disturbance types to database
  migrations/sql/V1.15__Alter_Mine_Tenure_Type.sql
  migrations/sql/V1.16__Add_Disturbance_Type.sql
Labels: Ready for review

#298 MDS-454 Feature/ Add /mines/disturbance_codes endpoint
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/mines/mine/models/mine_disturbance_code.py
  python-backend/app/api/mines/mine/resources/mine_disturbance_code.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/commands.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/mines/resources/test_mine_disturbance_code_resource.py
Labels: Ready for review

#294 Adding persistant storage to openshift for document uploads
  openshift/_python36.dc.json
  openshift/sonar.pod.json
  pipeline/config.groovy
Labels: CI/CD, Ready for review, enhancement

#300 MDS-454 Feature/Use codes for Tenure Type and include business logic in Disturbance
  frontend/src/components/Forms/MineRecordForm.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/constants/API.js
  frontend/src/tests/mocks/dataMocks.js
  migrations/sql/V1.17__Rename_Mine_Tenure_Type.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/constants.py
  python-backend/app/api/mines/mine/models/mine_disturbance_code.py
  python-backend/app/api/mines/mine/models/mine_tenure_type.py
  python-backend/app/api/mines/mine/models/mine_tenure_type_code.py
  python-backend/app/api/mines/mine/models/mine_type.py
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/mines/mine/resources/mine_tenure_type_code.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/tests/auth/test_mines_auth.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/mines/resources/test_mine_disturbance_code_resource.py
  python-backend/tests/mines/resources/test_mine_resource.py
  python-backend/tests/mines/resources/test_mine_tenure_type_resource.py
Labels: Ready for review

#305 Feature/mds 938 create document service upload api
  migrations/sql/V1.21__Alter_Mine_Document_for_mine.sql
  python-backend/app/api/document_manager/resources/document_manager.py
  python-backend/app/api/documents/expected/models/document.py
  python-backend/app/api/documents/expected/models/document_status.py
  python-backend/app/api/documents/expected/models/mine_document.py
  python-backend/app/api/documents/expected/models/mine_expected_document.py
  python-backend/app/api/documents/expected/models/mine_expected_document_xref.py
  python-backend/app/api/documents/expected/resources/documents.py
  python-backend/app/api/documents/expected/resources/expected_document_uploads.py
  python-backend/app/api/documents/expected/resources/mine_documents.py
  python-backend/app/api/documents/namespace/documents.py
  python-backend/app/api/documents/required/models/required_document_due_date_type.py
  python-backend/app/api/documents/required/models/required_documents.py
  python-backend/app/api/mines/mine/models/mine_detail.py
  python-backend/app/config.py
  python-backend/tests/conftest.py
  python-backend/tests/document_manager/resources/test_document_manager_resource.py
  python-backend/tests/documents/expected/models/test_expected_mine_document_model.py
  python-backend/tests/documents/expected/resources/test_expected_document_uploads.py
Labels: Ready for review

#306 MDS-454 Feature/Support disturbance deletion and add validation
  migrations/sql/V1.24__Alter_Mine_Type_Detail.sql
  python-backend/app/api/mines/mine/models/mine_type_detail.py
  python-backend/app/api/mines/mine/resources/mine_type_detail.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/mines/resources/test_mine_disturbance_code_resource.py
  python-backend/tests/mines/resources/test_mine_type_detail_resource.py
Labels: Ready for review

#308 mds-505 feature/download from list of documents
  .gitignore
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
  frontend/src/constants/API.js
  python-backend/app/api/document_manager/resources/document_manager.py
  python-backend/app/api/documents/expected/models/document.py
  python-backend/app/api/documents/expected/models/mine_expected_document.py
  python-backend/app/api/documents/expected/resources/expected_document_uploads.py
  python-backend/app/api/documents/mines/models/mine_document.py
  python-backend/app/api/documents/mines/resources/mine_document_resource.py
  python-backend/app/api/documents/namespace/documents.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/documents/mines/resources/test_mine_document_resource.py
Labels: Ready for review

#310 MDS-671 feature/pull data from nris
  python-backend/app/api/mines/compliance/__init__.py
  python-backend/app/api/mines/compliance/resources/__init__.py
  python-backend/app/api/mines/compliance/resources/compliance.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/nris_services/NRIS_service.py
  python-backend/app/config.py
  python-backend/tests/compliance/resources/test_compliance_resource.py
  python-backend/tests/documents/expected/resources/test_expected_document_uploads.py
Labels: Ready for review

#309 Refactor mine List table to ant design table
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/dashboard/MineList.js
  frontend/src/styles/generic/layout.scss
  functional-tests/src/test/groovy/pages/Dashboard.groovy
  functional-tests/src/test/groovy/spec/Dashboard.groovy
Labels: Ready for review

#317 MDS-819 Fix/ Loading bar interferes with toast message
  frontend/webpack.parts.js
Labels: Ready for review

#311 MDS-455 Feature/Add commodity types and fully support Mine Type management
  frontend/src/constants/API.js
  migrations/sql/V1.25__Add_Commodity_Code.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/constants.py
  python-backend/app/api/mines/mine/models/mine_commodity_code.py
  python-backend/app/api/mines/mine/models/mine_disturbance_code.py
  python-backend/app/api/mines/mine/models/mine_identity.py
  python-backend/app/api/mines/mine/models/mine_type.py
  python-backend/app/api/mines/mine/models/mine_type_detail.py
  python-backend/app/api/mines/mine/resources/mine_commodity_code.py
  python-backend/app/api/mines/mine/resources/mine_type.py
  python-backend/app/api/mines/mine/resources/mine_type_detail.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/commands.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/mines/resources/test_mine_commodity_code.py
  python-backend/tests/mines/resources/test_mine_disturbance_code_resource.py
  python-backend/tests/mines/resources/test_mine_tenure_type_resource.py
  python-backend/tests/mines/resources/test_mine_type_detail_resource.py
  python-backend/tests/mines/resources/test_mine_type_resource.py
Labels: Ready for review

#319 MDS-857 Feature/ Relate permit to permittee
  frontend/src/components/mine/ContactInfo/ViewPermittee.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/constants/routes.js
Labels: Ready for review

#318 MDS-951 Feature/add mine_types with tenures and disturbances
  frontend/.eslintrc.json
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/components/Forms/MineRecordForm.js
  frontend/src/components/common/RenderMultiSelect.js
  frontend/src/components/common/RenderSelect.js
  frontend/src/components/common/config.js
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/dashboard/MineList.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/components/mine/Permit/MinePermitInfo.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/constants/API.js
  frontend/src/reducers/staticContentReducer.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/styles/components/Forms.scss
  frontend/src/styles/components/MineDashboard.scss
  frontend/src/styles/settings/themeOverride.scss
  frontend/src/tests/components/Forms/MineRecordForm.spec.js
  frontend/src/tests/components/common/RenderMultiSelect.spec.js
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/staticContentReducer.spec.js
  frontend/src/tests/selectors/staticContentSelectors.spec.js
  functional-tests/src/test/groovy/spec/Summary.groovy
  migrations/sql/V1.26__Add_Mine_Tenure_Seed_Data.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  openshift/bddstack.pod.json
Labels: Ready for review

#321 Redux/fetch Commodities from api
  frontend/src/actionCreators/staticContentActionCreator.js
  frontend/src/actions/staticContentActions.js
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/reducerTypes.js
  frontend/src/reducers/rootReducer.js
  frontend/src/reducers/staticContentReducer.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/actionCreators/staticContentActionCreator.spec.js
  frontend/src/tests/components/dashboard/Dashboard.spec.js
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/staticContentReducer.spec.js
  frontend/src/tests/selectors/staticContentSelectors.spec.js
Labels: Ready for review

#316 feature/mds-937 Add file upload component to mine expected document modal
  frontend/package.json
  frontend/src/components/Forms/EditTailingsReportForm.js
  frontend/src/components/common/FileUpload.js
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
  frontend/src/components/modalContent/EditTailingsReportModal.js
  frontend/src/constants/API.js
Labels: Ready for review

#325 Refactor FE Reducer Unittests
  frontend/src/tests/reducers/authenticationReducer.spec.js
  frontend/src/tests/reducers/mineReducer.spec.js
  frontend/src/tests/reducers/networkReducer.spec.js
  frontend/src/tests/reducers/partieslReducer.spec.js
  frontend/src/tests/reducers/staticContentReducer.spec.js
Labels: Ready for review

#322 MDS-672 feature/display data from nris
  frontend/package-lock.json
  frontend/src/actionCreators/complianceActionCreator.js
  frontend/src/actions/complianceActions.js
  frontend/src/actions/genericActions.js
  frontend/src/components/mine/Compliance/MineComplianceInfo.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/modalContent/AddTailingsReportModal.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/reducerTypes.js
  frontend/src/reducers/complianceReducer.js
  frontend/src/reducers/rootReducer.js
  frontend/src/selectors/complianceSelectors.js
  frontend/src/styles/elements/elements.scss
  frontend/src/styles/index.scss
  frontend/src/styles/settings/variables.scss
  frontend/src/tests/actionCreators/complianceActionCreator.spec.js
  frontend/src/tests/components/mine/Compliance/MineComplianceInfo.spec.js
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/complianceReducer.spec.js
  frontend/src/tests/selectors/complianceSelectors.spec.js
  openshift/_python36.dc.json
  package-lock.json
  python-backend/app/api/mines/compliance/resources/compliance.py
  python-backend/app/api/nris_services/NRIS_service.py
  python-backend/app/config.py
  python-backend/tests/compliance/resources/test_compliance_resource.py
Labels: Ready for review

#330 update permit table to include the new design
  frontend/src/components/mine/Permit/MinePermitInfo.js
  functional-tests/src/test/groovy/modules/Tab_Permit.groovy
  functional-tests/src/test/groovy/spec/Permit.groovy
Labels: Ready for review

#324 Switch production python to use WSGI server
  openshift/sonar.pod.json
  python-backend/.env-example
  python-backend/app.sh
  python-backend/app/__init__.py
  python-backend/app/config.py
  python-backend/requirements.txt
  python-backend/uwsgi.ini
Labels: Ready for review, enhancement

#332 MDS-1040 Fix/ Remove redundant PUT method
  python-backend/app/api/mines/mine/resources/mine_type.py
  python-backend/tests/mines/resources/test_mine_type_resource.py
Labels: Ready for review

#343 MDS-714 Feature/ View unique permit numbers & propTypes cleanup
  frontend/src/components/Forms/AdvancedSearchForm.js
  frontend/src/components/dashboard/MineList.js
  frontend/src/components/dashboard/MineSearch.js
  frontend/src/components/mine/ContactInfo/PartyRelationships/DefaultContact.js
  frontend/src/components/mine/ContactInfo/PartyRelationships/EngineerOfRecord.js
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/mine/Permit/MinePermitInfo.js
  frontend/src/components/mine/Summary/MineSummary.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/customPropTypes/common.js
  frontend/src/customPropTypes/index.js
  frontend/src/customPropTypes/mines.js
  frontend/src/customPropTypes/permits.js
Labels: Ready for review

#340 URL generation POC
  python-backend/app/api/documents/expected/resources/mine_documents.py
  python-backend/app/api/mines/tailings/resources/tailings.py
  python-backend/app/api/utils/url.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/tailings/resources/test_mine_tailings_resource.py
Labels: Ready for review

#341 MDS-1057 back end for list of open orders
  frontend/src/components/mine/Compliance/MineComplianceInfo.js
  python-backend/app/api/mines/compliance/resources/compliance.py
  python-backend/tests/compliance/resources/test_compliance_resource.py
Labels: Ready for review

#334 Added file type checking to file upload component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Forms/EditTailingsReportForm.js
  frontend/src/components/common/FileUpload.js
  frontend/src/constants/fileTypes.js
Labels: Ready for review

#346 MDS-714 Feature/ Collapsible permit amendment history
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/mine/ContactInfo/ViewPermittee.js
  frontend/src/components/mine/Permit/MinePermitInfo.js
  frontend/src/styles/components/Tables.scss
  frontend/src/styles/index.scss
  frontend/src/utils/helpers.js
Labels: Ready for review

#349 Replace postgres build config with pre-built image
  openshift/postgresql.bc.json
Labels: Ready for review

#347 Frontend Code cleanup
  frontend/README.md
  frontend/package.json
  frontend/src/actionCreators/complianceActionCreator.js
  frontend/src/actionCreators/partiesActionCreator.js
  frontend/src/actions/complianceActions.js
  frontend/src/actions/genericActions.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/components/modalContent/AddTailingsReportModal.js
  frontend/src/customPropTypes/mines.js
  frontend/src/routes/Routes.js
  frontend/src/routes/routeWrappers/RedirectRoute.js
  frontend/src/selectors/authenticationSelectors.js
  frontend/src/selectors/complianceSelectors.js
  frontend/src/selectors/mineSelectors.js
  frontend/src/selectors/modalSelectors.js
  frontend/src/selectors/partiesSelectors.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/components/maps/LocationPin.spec.js
  frontend/src/tests/components/maps/MinePin.spec.js
  frontend/src/tests/components/modalContent/MineRecordModal.spec.js
  frontend/src/tests/components/modalContent/UpdatePermitteeModal.spec.js
  frontend/src/tests/selectors/complianceSelectors.spec.js
  frontend/src/tests/selectors/mineSelectors.spec.js
  frontend/src/tests/selectors/staticContentSelectors.spec.js
Labels: Ready for review
