Repository bcgov/mds, pull requests merged in 2019-08, with the labels that each got.

#908 MDS-2125 Feature/ Show variance number
  frontend/src/components/mine/Variances/MineVarianceTable.js
  frontend/src/components/mine/Variances/VarianceDetails.js
  frontend/src/tests/components/mine/Variances/__snapshots__/MineVariance.spec.js.snap
  frontend/src/tests/components/mine/Variances/__snapshots__/MineVarianceTable.spec.js.snap
  frontend/src/tests/components/mine/Variances/__snapshots__/VarianceDetails.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  migrations/sql/V2019.07.31.10.08__add_variance_no.sql
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/variances/models/variance.py
  python-backend/app/api/variances/response_models.py
  python-backend/tests/mines/variances/resources/test_variance_resource.py
  python-backend/tests/variances/resources/test_variance_resource.py
Labels: Backend, DO NOT MERGE, Frontend, Ready for review

#910 Remove refresh button code duplication
  frontend/src/components/common/RefreshButton.js
Labels: Frontend, Ready for review

#899 Feature/mds 2145
  frontend/src/components/mine/Compliance/ComplianceOrdersTable.js
  frontend/src/components/mine/Variances/MineVarianceTable.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/components/mine/Variances/__snapshots__/MineVarianceTable.spec.js.snap
  frontend/src/tests/utils/helpers.spec.js
  frontend/src/utils/helpers.js
Labels: Frontend, Ready for review

#911 Code Required Reports Edit and Delete
  frontend/src/actionCreators/reportActionCreator.js
  frontend/src/components/Forms/reports/AddReportForm.js
  frontend/src/components/common/RenderYear.js
  frontend/src/components/mine/Reports/MineReportActions.js
  frontend/src/components/mine/Reports/MineReportInfo.js
  frontend/src/components/mine/Reports/MineReportTable.js
  frontend/src/components/modalContent/AddReportModal.js
  frontend/src/constants/reducerTypes.js
  frontend/src/tests/components/Forms/reports/AddReportForm.spec.js
  frontend/src/tests/components/Forms/reports/__snapshots__/AddReportForm.spec.js.snap
  frontend/src/tests/components/mine/Reports/__snapshots__/MineReportInfo.spec.js.snap
  frontend/src/tests/components/mine/Reports/__snapshots__/MineReportTable.spec.js.snap
  frontend/src/tests/components/modalContent/__snapshots__/AddReportModal.spec.js.snap
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/mines/reports/models/mine_report.py
  python-backend/app/api/mines/reports/resources/mine_reports.py
  python-backend/tests/reports/resource/test_mine_reports_resource.py
Labels: Backend, Frontend, Ready for review

#915 Mds 2229 - remove tenure number
  frontend-public/src/tests/mocks/dataMocks.js
  frontend/src/components/Forms/AddTenureNumberForm.js
  frontend/src/components/common/NullScreen.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/mine/Tenure/MineTenureInfo.js
  frontend/src/components/modalContent/AddTenureModal.js
  frontend/src/components/modalContent/config.js
  frontend/src/constants/modalContent.js
  frontend/src/constants/strings.js
  frontend/src/tests/actionCreators/mineActionCreator.spec.js
  frontend/src/tests/components/Forms/AddTenureNumberForm.spec.js
  frontend/src/tests/components/Forms/__snapshots__/AddTenureNumberForm.spec.js.snap
  frontend/src/tests/components/dashboard/customHomePage/__snapshots__/CustomHomePage.spec.js.snap
  frontend/src/tests/components/mine/ContactInfo/__snapshots__/MineContactInfo.spec.js.snap
  frontend/src/tests/components/mine/Tailings/__snapshots__/MineTailingsInfo.spec.js.snap
  frontend/src/tests/components/mine/Tenure/MineTenureInfo.spec.js
  frontend/src/tests/components/mine/Tenure/__snapshots__/MineTenureInfo.spec.js.snap
  frontend/src/tests/components/mine/Variances/__snapshots__/MineVariance.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  frontend/src/tests/components/modalContent/AddTenureModal.spec.js
  frontend/src/tests/components/modalContent/__snapshots__/AddTenureModal.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  functional-tests/src/test/groovy/data/data_deletion.sql
  migrations/README.md
  migrations/sql/V2019.08.01.02.53__remove_mineral_tenure_xref.sql
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/models/mineral_tenure_xref.py
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/tests/mines/models/test_mineral_tenure_xref_model.py
  python-backend/tests/mines/resources/test_mine_resource.py
Labels: Backend, Frontend, Ready for review

#912 Trim some data constants
  migrations/sql/V2019.08.01.13.17__remove_region_suffix_from_mine_region.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/constants.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/mines/region/models/region.py
  python-backend/app/api/mines/region/resources/region.py
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/resources/party_list_resource.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_type_resource.py
Labels: Backend, Ready for review

#917 Tag TSF Report Definitions.
  migrations/sql/V2019.08.02.09.15__add_tsf_category_to_code_required_reports.sql
Labels: Backend, Ready for review

#918 Task/run migrations for developers
  docker-compose.yml
  microservices/document_manager/backend/Dockerfile
  microservices/nris_api/backend/Dockerfile
Labels: Backend, Ready for review, enhancement

#921 Geb/mds 2243
  docker-compose.yml
  frontend/src/components/mine/MineDashboard.js
  functional-tests/src/test/groovy/FrontendCore/modules/Tab_Contact.groovy
  functional-tests/src/test/groovy/FrontendCore/pages/MineProfile.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/ContactInfo.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/CustomJUnitSpecRunner.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Permit.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Summary.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Tailings.groovy
  microservices/document_manager/backend/Dockerfile
  microservices/nris_api/backend/Dockerfile
Labels: DO NOT MERGE, Ready for review

#916 Feature/mds 2127
  frontend/src/assets/images/EditOutlineViolet.svg
  frontend/src/components/Forms/variances/VarianceSearchForm.js
  frontend/src/components/common/RenderYear.js
  frontend/src/components/dashboard/contactsHomePage/ContactHomePage.js
  frontend/src/components/dashboard/customHomePage/CustomHomePage.js
  frontend/src/components/dashboard/customHomePage/VarianceTable.js
  frontend/src/components/dashboard/minesHomePage/MineSearch.js
  frontend/src/components/dashboard/varianceHomePage/VarianceHomePage.js
  frontend/src/components/dashboard/varianceHomePage/VarianceSearch.js
  frontend/src/components/mine/Incidents/MineIncidentTable.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/components/mine/Permit/MinePermitTable.js
  frontend/src/components/mine/Reports/MineReportActions.js
  frontend/src/components/mine/Reports/MineReportTable.js
  frontend/src/components/mine/Tailings/MineTailingsTable.js
  frontend/src/components/mine/Variances/MineVarianceTable.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/constants/assets.js
  frontend/src/constants/forms.js
  frontend/src/constants/routes.js
  frontend/src/customPropTypes/variances.js
  frontend/src/routes/DashboardRoutes.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/components/dashboard/customHomePage/__snapshots__/CustomHomePage.spec.js.snap
  frontend/src/tests/components/mine/Variances/__snapshots__/MineVarianceTable.spec.js.snap
  frontend/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
Labels: Frontend, Ready for review

#898 MDS-2181 add vFCBC and NROS schema
  migrations/sql/V2019.07.24.11.55__add_tables_to_stage_NROS_and_VFCBC_data.sql
  migrations/sql/afterMigrate__99__assign_permissions.sql
Labels: Backend, Ready for review

#922 MDS-2230 Task/ Application View - Step 1: Add ORM models
  python-backend/app/api/now_submissions/__init__.py
  python-backend/app/api/now_submissions/namespace/__init__.py
  python-backend/app/api/now_submissions/now_submission/__init__.py
  python-backend/app/api/now_submissions/now_submission/models/__init__.py
  python-backend/app/api/now_submissions/now_submission/models/application.py
  python-backend/app/api/now_submissions/now_submission/models/application_nda.py
  python-backend/app/api/now_submissions/now_submission/models/application_start_stop.py
  python-backend/app/api/now_submissions/now_submission/models/client.py
  python-backend/app/api/now_submissions/now_submission/models/contact.py
  python-backend/app/api/now_submissions/now_submission/models/document.py
  python-backend/app/api/now_submissions/now_submission/models/document_nda.py
  python-backend/app/api/now_submissions/now_submission/models/document_start_stop.py
  python-backend/app/api/now_submissions/now_submission/models/equipment.py
  python-backend/app/api/now_submissions/now_submission/models/existing_placer_activity_xref.py
  python-backend/app/api/now_submissions/now_submission/models/existing_settling_pond_xref.py
  python-backend/app/api/now_submissions/now_submission/models/exp_access_activity.py
  python-backend/app/api/now_submissions/now_submission/models/exp_surface_drill_activity.py
  python-backend/app/api/now_submissions/now_submission/models/mech_trenching_activity.py
  python-backend/app/api/now_submissions/now_submission/models/mech_trenching_equip_xref.py
  python-backend/app/api/now_submissions/now_submission/models/placer_activity.py
  python-backend/app/api/now_submissions/now_submission/models/placer_equip_xref.py
  python-backend/app/api/now_submissions/now_submission/models/proposed_placer_activity_xref.py
  python-backend/app/api/now_submissions/now_submission/models/proposed_settling_pond_xref.py
  python-backend/app/api/now_submissions/now_submission/models/sand_grv_qry_activity.py
  python-backend/app/api/now_submissions/now_submission/models/sand_grv_qry_equip_xref.py
  python-backend/app/api/now_submissions/now_submission/models/settling_pond.py
  python-backend/app/api/now_submissions/now_submission/models/status_update.py
  python-backend/app/api/now_submissions/now_submission/models/surface_bulk_sample_activity.py
  python-backend/app/api/now_submissions/now_submission/models/surface_bulk_sample_equip_xref.py
  python-backend/app/api/now_submissions/now_submission/models/under_exp_new_activity.py
  python-backend/app/api/now_submissions/now_submission/models/under_exp_rehab_activity.py
  python-backend/app/api/now_submissions/now_submission/models/under_exp_surface_activity.py
  python-backend/app/api/now_submissions/now_submission/models/water_source_activity.py
Labels: Backend, Ready for review

#924 added a new link to the landing page
  frontend/src/components/dashboard/HomePage.js
Labels: Ready for review

#923 Feature/mds 2092 crr default due date
  frontend/src/components/Forms/reports/AddReportForm.js
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/mines/reports/models/mine_report_definition.py
  python-backend/tests/reports/models/test_mine_report_definition.py
  python-backend/tests/status_code_gen.py
Labels: Backend, Frontend, Ready for review

#925 MDS-2230 Task/ Get NOW Application by guid
  migrations/sql/V2019.08.07.15.45__add_now_application_guid.sql
  python-backend/app/__init__.py
  python-backend/app/api/now_submissions/namespace/now.py
  python-backend/app/api/now_submissions/now_submission/models/application.py
  python-backend/app/api/now_submissions/now_submission/resources/__init__.py
  python-backend/app/api/now_submissions/now_submission/resources/application_resource.py
  python-backend/app/api/now_submissions/response_models.py
Labels: Backend

#926 Added initial redux actionCreators/axcti
  frontend/src/actionCreators/noticeOfWorkActionCreator.js
  frontend/src/actions/noticeOfWorkActions.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/reducerTypes.js
  frontend/src/reducers/noticeOfWorkReducer.js
  frontend/src/reducers/rootReducer.js
  frontend/src/selectors/noticeOfWorkSelectors.js
  frontend/src/tests/actionCreators/noticeOfWorkActioncreator.spec.js
  frontend/src/tests/mocks/noticeOfWorkMocks.js
  frontend/src/tests/reducers/noticeOfWorkReducer.spec.js
  frontend/src/tests/selectors/noticeOfWorkSelectors.spec.js
Labels: Frontend, Ready for review

#928 MDS-2230 Task/Add all relations to GET application API response
  python-backend/app/api/now_submissions/now_submission/models/application.py
  python-backend/app/api/now_submissions/now_submission/models/application_nda.py
  python-backend/app/api/now_submissions/now_submission/models/contact.py
  python-backend/app/api/now_submissions/now_submission/models/document.py
  python-backend/app/api/now_submissions/now_submission/models/document_nda.py
  python-backend/app/api/now_submissions/now_submission/models/document_start_stop.py
  python-backend/app/api/now_submissions/now_submission/models/existing_placer_activity_xref.py
  python-backend/app/api/now_submissions/now_submission/models/existing_settling_pond_xref.py
  python-backend/app/api/now_submissions/now_submission/models/exp_access_activity.py
  python-backend/app/api/now_submissions/now_submission/models/exp_surface_drill_activity.py
  python-backend/app/api/now_submissions/now_submission/models/mech_trenching_activity.py
  python-backend/app/api/now_submissions/now_submission/models/mech_trenching_equip_xref.py
  python-backend/app/api/now_submissions/now_submission/models/placer_equip_xref.py
  python-backend/app/api/now_submissions/now_submission/models/proposed_placer_activity_xref.py
  python-backend/app/api/now_submissions/now_submission/models/proposed_settling_pond_xref.py
  python-backend/app/api/now_submissions/now_submission/models/sand_grv_qry_activity.py
  python-backend/app/api/now_submissions/now_submission/models/sand_grv_qry_equip_xref.py
  python-backend/app/api/now_submissions/now_submission/models/settling_pond.py
  python-backend/app/api/now_submissions/now_submission/models/surface_bulk_sample_activity.py
  python-backend/app/api/now_submissions/now_submission/models/surface_bulk_sample_equip_xref.py
  python-backend/app/api/now_submissions/now_submission/models/under_exp_new_activity.py
  python-backend/app/api/now_submissions/now_submission/models/under_exp_rehab_activity.py
  python-backend/app/api/now_submissions/now_submission/models/under_exp_surface_activity.py
  python-backend/app/api/now_submissions/now_submission/models/water_source_activity.py
  python-backend/app/api/now_submissions/response_models.py
Labels: Backend, Ready for review

#929 Feature/mds 2189
  frontend/src/components/Forms/MineRecordForm.js
  frontend/src/components/noticeOfWork/NOWActivities.js
  frontend/src/components/noticeOfWork/NOWGeneralInfo.js
  frontend/src/components/noticeOfWork/NOWWorkPlan.js
  frontend/src/components/noticeOfWork/NoticeOfWorkApplication.js
  frontend/src/constants/routes.js
  frontend/src/constants/styles.js
  frontend/src/routes/DashboardRoutes.js
  frontend/src/styles/components/LandingPage.scss
  frontend/src/styles/components/Tables.scss
  frontend/src/styles/elements/elements.scss
  frontend/src/styles/generic/layout.scss
  frontend/src/styles/settings/themeOverride.scss
  frontend/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
Labels: Frontend, Ready for review

#920 Feature / Add and remove files from mine reports.
  frontend/src/components/Forms/reports/AddReportForm.js
  frontend/src/components/Forms/reports/ReportSubmissions.js
  frontend/src/components/Forms/reports/ReportsUploadedFilesList.js
  frontend/src/components/common/RenderYear.js
  frontend/src/components/mine/Reports/MineReportActions.js
  frontend/src/components/mine/Reports/MineReportInfo.js
  frontend/src/components/modalContent/AddReportModal.js
  frontend/src/constants/API.js
  frontend/src/tests/components/Forms/reports/__snapshots__/AddReportForm.spec.js.snap
  frontend/src/tests/components/mine/Reports/__snapshots__/MineReportInfo.spec.js.snap
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/mines/reports/models/mine_report.py
  python-backend/app/api/mines/reports/models/mine_report_submission.py
  python-backend/app/api/mines/reports/resources/mine_report_document.py
  python-backend/app/api/mines/reports/resources/mine_reports.py
  python-backend/app/api/services/document_manager_service.py
  python-backend/tests/reports/resource/test_mine_reports_resource.py
Labels: Backend, Frontend, Ready for review

#927 NOW submission application List View
  python-backend/app/api/mines/permits/permit/models/permit.py
  python-backend/app/api/now_submissions/models/application.py
  python-backend/app/api/now_submissions/namespace/now_submissions.py
  python-backend/app/api/now_submissions/resources/application_list_resource.py
  python-backend/app/api/now_submissions/response_models.py
  python-backend/tests/now_submissions/resources/test_application_list_resource.py
  python-backend/tests/now_submissions/resources/test_application_resource.py
Labels: Backend, Ready for review

#936 MDS-2174 Feature/ Add filtering & sorting to NOW Applications API
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  python-backend/app/api/now_submissions/resources/application_list_resource.py
  python-backend/app/api/now_submissions/response_models.py
  python-backend/tests/factories.py
Labels: Backend, Frontend, Ready for review

#934 Functional tests step fix
  functional-tests/build.gradle
  functional-tests/run_tests.sh
  functional-tests/src/test/groovy/FrontendCore/pages/Login.groovy
  functional-tests/src/test/groovy/FrontendMinespace/pages/KeycloakLoginPage.groovy
  functional-tests/src/test/groovy/FrontendMinespace/spec/PublicFrontendLogin.groovy
  openshift/bddstack.pod.json
Labels: Ready for review

#933 Feature/mds 2245 migrate tailings to crr
  migrations/sql/V2019.08.12.15.45__add_guid_defaults.sql
  python-backend/app/api/mines/reports/models/mine_report.py
  python-backend/app/api/mines/reports/models/mine_report_category_xref.py
  python-backend/app/api/mines/reports/models/mine_report_submission.py
  python-backend/app/api/mines/reports/resources/mine_reports.py
  python-backend/app/commands.py
  python-backend/app/scripts/tailings_report_migration.py
  python-backend/requirements.txt
Labels: Backend, Needs Manual Testing, Ready for review

#938 MDS-2174 Feature/Add NOW Applications list view
  frontend/README.md
  frontend/package.json
  frontend/src/actionCreators/noticeOfWorkActionCreator.js
  frontend/src/components/Forms/noticeOfWork/NoticeOfWorkSearchForm.js
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkSearch.js
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  frontend/src/components/mine/Reports/MineReportInfo.js
  frontend/src/constants/API.js
  frontend/src/customPropTypes/common.js
  frontend/src/customPropTypes/index.js
  frontend/src/customPropTypes/noticeOfWork.js
  frontend/src/tests/actionCreators/noticeOfWorkActioncreator.spec.js
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.spec.js
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkSearch.spec.js
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.spec.js
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkHomePage.spec.js.snap
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkSearch.spec.js.snap
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkTable.spec.js.snap
  frontend/src/tests/components/mine/Permit/MinePermitInfo.spec.js
  frontend/src/tests/mocks/dataMocks.js
  python-backend/app/api/now_submissions/resources/application_list_resource.py
Labels: Backend, Frontend, Ready for review

#940 Feature/mds 2189 2
  frontend/src/components/common/NullScreen.js
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/components/noticeOfWork/NOWActivities.js
  frontend/src/components/noticeOfWork/NOWGeneralInfo.js
  frontend/src/components/noticeOfWork/NOWWorkPlan.js
  frontend/src/components/noticeOfWork/NoticeOfWorkApplication.js
  frontend/src/constants/routes.js
  frontend/src/customPropTypes/noticeOfWork.js
  frontend/src/tests/components/noticeOfWork/NOWActivities.spec.js
  frontend/src/tests/components/noticeOfWork/NOWGeneralInfo.spec.js
  frontend/src/tests/components/noticeOfWork/NOWWorkPlan.spec.js
  frontend/src/tests/components/noticeOfWork/NoticeOfWorkApplication.spec.js
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWActivities.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWGeneralInfo.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWWorkPlan.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NoticeOfWorkApplication.spec.js.snap
  frontend/src/tests/mocks/noticeOfWorkMocks.js
  frontend/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
Labels: Frontend, Ready for review

#939 Code Required Reports Comments and general comment components
  frontend/src/actionCreators/reportCommentActionCreator.js
  frontend/src/actions/mineReportActions.js
  frontend/src/components/Forms/reports/AddReportForm.js
  frontend/src/components/Forms/reports/ReportComments.js
  frontend/src/components/common/comments/CommentEditor.js
  frontend/src/components/common/comments/CommentPanel.js
  frontend/src/components/mine/Reports/MineReportInfo.js
  frontend/src/components/modalContent/AddReportModal.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/reducerTypes.js
  frontend/src/reducers/reportReducer.js
  frontend/src/selectors/reportSelectors.js
  frontend/src/utils/helpers.js
  migrations/sql/V2019.08.08.10.09__remove_mine_report_comment_foreign_key_to_report.sql
  python-backend/.flake8
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/mines/reports/models/mine_report_comment.py
  python-backend/app/api/mines/reports/models/mine_report_submission.py
  python-backend/app/api/mines/reports/models/mine_report_submission_status_code.py
  python-backend/app/api/mines/reports/resources/mine_report_comment.py
  python-backend/tests/factories.py
  python-backend/tests/reports/resource/test_mine_reports_comments_resource.py
  python-backend/tests/reports/resource/test_mine_reports_resource.py
  python-backend/tests/status_code_gen.py
Labels: Backend, Frontend, Ready for review

#941 Add region to Application List view
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.spec.js
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.spec.js
  python-backend/app/api/now_submissions/models/application.py
  python-backend/app/api/now_submissions/response_models.py
Labels: Backend, Frontend, Ready for review

#937 Feature/mds 2068 category filtering code required reports
  frontend/src/components/Forms/reports/AddReportForm.js
  frontend/src/components/Forms/reports/ReportFilterForm.js
  frontend/src/components/common/RenderYear.js
  frontend/src/components/mine/Reports/MineReportInfo.js
  frontend/src/components/mine/Reports/MineReportTable.js
  frontend/src/constants/forms.js
  frontend/src/constants/routes.js
  frontend/src/customPropTypes/reports.js
  frontend/src/tests/components/mine/Reports/MineReportInfo.spec.js
  frontend/src/tests/components/mine/Reports/__snapshots__/MineReportInfo.spec.js.snap
  frontend/src/tests/components/mine/Reports/__snapshots__/MineReportTable.spec.js.snap
  python-backend/app/api/mines/reports/resources/mine_reports.py
Labels: Frontend, Ready for review

#942 Add NoW schemas using FDW
  migrations/sql/V2019.08.19.14.53__add_mms_now_schema.sql
Labels: Ready for review

#944 Feature/un flag code required reports
  frontend/src/components/Forms/reports/AddReportForm.js
  frontend/src/components/mine/MineNavigation.js
Labels: Frontend, Ready for review

#935 Feature/mds 2205
  frontend/src/components/Forms/AdvancedContactSearchForm.js
  frontend/src/components/Forms/variances/VarianceSearchForm.js
  frontend/src/components/dashboard/varianceHomePage/VarianceHomePage.js
  frontend/src/components/dashboard/varianceHomePage/VarianceSearch.js
  frontend/src/customPropTypes/variances.js
  frontend/src/tests/components/Forms/variances/VarianceSearchForm.spec.js
  frontend/src/tests/components/Forms/variances/__snapshots__/VarianceSearchForm.spec.js.snap
  frontend/src/tests/components/dashboard/varianceHomePage/VarianceHomePage.spec.js
  frontend/src/tests/components/dashboard/varianceHomePage/VarianceSearch.spec.js
  frontend/src/tests/components/dashboard/varianceHomePage/__snapshots__/VarianceHomePage.spec.js.snap
  frontend/src/tests/components/dashboard/varianceHomePage/__snapshots__/VarianceSearch.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  python-backend/app/api/variances/resources/variance_resource.py
  python-backend/tests/variances/resources/test_variance_resource.py
Labels: Backend, Frontend, Needs Manual Testing, Ready for review

#949 MDS-2212 Feature/ Add GET mines/{mine_guid}/now-submissions/applications
  python-backend/app/__init__.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/mines/now_submissions/__init__.py
  python-backend/app/api/mines/now_submissions/resources/__init__.py
  python-backend/app/api/mines/now_submissions/resources/application_resource.py
  python-backend/tests/mines/now_submissions/__init__.py
  python-backend/tests/mines/now_submissions/resources/__init__.py
  python-backend/tests/mines/now_submissions/resources/test_application_resource.py
Labels: Backend, Ready for review

#948 Replacing single quotes with double quotes in docmanager dockerfile
  microservices/document_manager/backend/Dockerfile
Labels: Backend, Ready for review

#951 Updating table comments MDS-2032
  migrations/sql/V2019.08.22.14.39__update_table_column_descriptions.sql
Labels: Ready for review

#952 added new code required reports migration.
  migrations/sql/V2019.08.22.08.26__add_additional_code_required_reports.sql
Labels: Backend, Ready for review

#958 Upgrade/populate now data
  frontend/src/components/noticeOfWork/NOWActivities.js
  frontend/src/components/noticeOfWork/NOWGeneralInfo.js
  frontend/src/components/noticeOfWork/NOWWorkPlan.js
  frontend/src/components/noticeOfWork/NoticeOfWorkApplication.js
  frontend/src/constants/NOWConditions.js
  frontend/src/styles/components/NavBar.scss
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWActivities.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWGeneralInfo.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWWorkPlan.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NoticeOfWorkApplication.spec.js.snap
  frontend/src/tests/mocks/noticeOfWorkMocks.js
  python-backend/app/api/now_submissions/models/application.py
  python-backend/app/api/now_submissions/response_models.py
Labels: Frontend, Ready for review

#964 Fixes to ETL pod creation and env
  tools/digdag/etl/models/pod.py
  tools/digdag/etl/tasks/now_etl.py
  tools/digdag/etl/util/env_builder.py
Labels: Ready for review
