Repository bcgov/mds, pull requests merged in 2019-10, with the labels that each got.

#1039 Bug - Fixed contact name on NoW view
  frontend/src/components/noticeOfWork/NOWGeneralInfo.js
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWGeneralInfo.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1040 Task/remove error mixin
  python-backend/app/api/incidents/resources/incidents_resource.py
  python-backend/app/api/mines/namespace.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/mines/now_submissions/resources/application_resource.py
  python-backend/app/api/mines/permits/permit_amendment/resources/permit_amendment_document.py
  python-backend/app/api/mines/reports/resources/mine_report_comment.py
  python-backend/app/api/mines/reports/resources/mine_report_submission_status.py
  python-backend/app/api/mines/variances/resources/variance_uploaded_documents.py
  python-backend/app/api/now_submissions/resources/application_document_resource.py
  python-backend/app/api/now_submissions/resources/application_list_resource.py
  python-backend/app/api/now_submissions/resources/application_resource.py
  python-backend/app/api/parties/party/resources/party_list_resource.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party/resources/sub_division_code_resource.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_type_resource.py
  python-backend/app/api/reporting/resources/metabase.py
  python-backend/app/api/search/search/resources/search.py
  python-backend/app/api/utils/resources_mixins.py
  python-backend/app/api/utils/url.py
  python-backend/app/api/variances/resources/variance_application_status_code.py
  python-backend/app/api/variances/resources/variance_document_category_code.py
  python-backend/app/api/variances/resources/variance_resource.py
Labels: 👍 Ready for review, 💾 Backend

#1041 Task/remove party xref
  migrations/sql/V2019.10.01.15.48__remove_party_address_xref.sql
  python-backend/app/api/parties/party/models/address.py
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/models/party_address.py
  python-backend/app/commands.py
  python-backend/tests/factories.py
Labels: 🎫 Ticket Closer, 👍 Ready for review, 💾 Backend, 📜 SQL

#1042 Adding variance withdrawn status code
  migrations/sql/V2019.10.02.14.39__add_variance_withdrawn_status.sql
Labels: 🎫 Ticket Closer, 👍 Ready for review, 💾 Backend

#1044 no more party_address_xref to delete from
  functional-tests/src/test/groovy/data/data_deletion.sql
Labels: 👍 Ready for review, 💊 Fix

#1046 Show originating system under NoW number
  frontend/src/components/noticeOfWork/NoticeOfWorkApplication.js
  python-backend/app/api/now_submissions/response_models.py
Labels: 🍋 Sour, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1007 Feature/MDS-2178 Hide fields that will be overridden by the ETL when editing a permit amendment for a regional mine.
  frontend/src/components/Forms/PermitAmendmentForm.js
  frontend/src/components/mine/Permit/MinePermitInfo.js
  frontend/src/components/modalContent/PermitAmendmentModal.js
  frontend/src/tests/components/Forms/PermitAmendmentForm.spec.js
Labels: 🍋 Sour, 👍 Ready for review, 💻 Frontend

#1045 Feature/sql join addresses to mms
  migrations/sql/V2019.10.10.15.39__add_us_states_sub_division_code.sql
  python-backend/app/cli_jobs/ETL_jobs.py
  python-backend/app/commands.py
  tools/digdag/etl/tasks/mms_data_import.py
Labels: 🌶 Enhancement, 👍 Ready for review, 📜 SQL

#1048 Feature/mds 2349
  migrations/sql/V2019.10.11.09.53__create_notice_of_work_information.sql
  migrations/sql/V2019.10.11.10.54__create_application_document_tables.sql
  migrations/sql/V2019.10.11.15.00__create_now_party_appointment.sql
  migrations/sql/afterMigrate__1__seed_data.sql
Labels: 💾 Backend, 📜 SQL, 🚧 WIP

#1047 Adding extra NRIS fields to ETL for reporting
  docker-images/metabase/Dockerfile
  microservices/nris_api/backend/app/nris/etl/nris_etl.py
  microservices/nris_api/backend/app/nris/models/attendee.py
  microservices/nris_api/backend/app/nris/models/attendee_type.py
  microservices/nris_api/backend/app/nris/models/inspection.py
  microservices/nris_api/backend/app/nris/models/inspection_reason.py
  microservices/nris_api/backend/app/nris/models/inspection_substatus.py
  microservices/nris_api/backend/migrations/versions/1fe8a51229c4_.py
  microservices/nris_api/backend/migrations/versions/a96d450a8cc3_.py
  microservices/nris_api/backend/migrations/versions/afc90b53c158_.py
  microservices/nris_api/docker-compose.yaml
Labels: 👍 Ready for review, 💩 NRIS

#1049 NRIS ETL fix and raise exception on ETL failure
  microservices/nris_api/backend/app/nris/cli_jobs/nris_jobs.py
  microservices/nris_api/backend/app/nris/etl/nris_etl.py
Labels: 💊 Fix

#1050 Misc/now updates
  frontend/src/components/noticeOfWork/NOWActivities.js
  frontend/src/components/noticeOfWork/NOWWorkPlan.js
  frontend/src/constants/strings.js
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWActivities.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWWorkPlan.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NoticeOfWorkApplication.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1051 Bug, Typo in ETL
  microservices/nris_api/backend/app/nris/etl/nris_etl.py
Labels: 👍 Ready for review

#1052 Remove everything associated with the generic 'Application' functionality
  frontend/src/actionCreators/applicationActionCreator.js
  frontend/src/actionCreators/staticContentActionCreator.js
  frontend/src/actions/applicationActions.js
  frontend/src/actions/staticContentActions.js
  frontend/src/components/Forms/applications/AddApplicationForm.js
  frontend/src/components/Forms/applications/EditApplicationForm.js
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/mine/Applications/MineApplicationInfo.js
  frontend/src/components/mine/Applications/MineApplicationTable.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/mine/MineNavigation.js
  frontend/src/components/modalContent/AddApplicationModal.js
  frontend/src/components/modalContent/EditApplicationModal.js
  frontend/src/components/modalContent/config.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/forms.js
  frontend/src/constants/modalContent.js
  frontend/src/constants/reducerTypes.js
  frontend/src/constants/routes.js
  frontend/src/customPropTypes/applications.js
  frontend/src/customPropTypes/index.js
  frontend/src/reducers/applicationReducer.js
  frontend/src/reducers/rootReducer.js
  frontend/src/reducers/staticContentReducer.js
  frontend/src/routes/MineDashboardRoutes.js
  frontend/src/selectors/applicationSelectors.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/actionCreators/applicationActionCreator.spec.js
  frontend/src/tests/actionCreators/staticContentActionCreator.spec.js
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  frontend/src/tests/components/mine/Applications/MineApplicationInfo.spec.js
  frontend/src/tests/components/mine/Applications/MineApplicationTable.spec.js
  frontend/src/tests/components/mine/Applications/__snapshots__/MineApplicationInfo.spec.js.snap
  frontend/src/tests/components/mine/Applications/__snapshots__/MineApplicationTable.spec.js.snap
  frontend/src/tests/components/mine/MineDashboard.spec.js
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/applicationReducer.spec.js
  frontend/src/tests/reducers/staticContentReducer.spec.js
  frontend/src/tests/selectors/applicationSelectors.spec.js
  migrations/sql/R__add_update_indexes.sql
  migrations/sql/V2019.10.16.10.30__drop_application_tables.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/mines/applications/models/application.py
  python-backend/app/api/mines/applications/models/application_status_code.py
  python-backend/app/api/mines/applications/resources/application.py
  python-backend/app/api/mines/applications/resources/application_status_code.py
  python-backend/app/api/mines/namespace.py
  python-backend/tests/factories.py
  python-backend/tests/mines/applications/resources/test_application_resource.py
  python-backend/tests/status_code_gen.py
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1030 Task/ Remove old maps files
  frontend/package-lock.json
  frontend/package.json
  frontend/public/FlareClusterLayer/README.md
  frontend/public/FlareClusterLayer/fcl/FlareClusterLayer_v4.js
  frontend/public/FlareClusterLayer/typings/custom-typings.d.ts
  frontend/public/FlareClusterLayer/typings/index.d.ts
  frontend/server.js
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/maps/LocationPin.js
  frontend/src/components/maps/MapPopup.js
  frontend/src/components/maps/MineHeaderMap.js
  frontend/src/components/maps/MineMap.js
  frontend/src/components/maps/MineMapLeaflet.js
  frontend/src/components/maps/MinePin.js
  frontend/src/constants/MapLayers.js
  frontend/src/constants/environment.js
  frontend/src/constants/environment.js-dev-local-keycloak
  frontend/src/fetchEnv.js
  frontend/src/tests/components/maps/LocationPin.spec.js
  frontend/src/tests/components/maps/MapPopup.spec.js
  frontend/src/tests/components/maps/MineMap.spec.js
  frontend/src/tests/components/maps/MinePin.spec.js
  frontend/src/tests/components/maps/__snapshots__/LocationPin.spec.js.snap
  frontend/src/tests/components/maps/__snapshots__/MapPopup.spec.js.snap
  frontend/src/tests/components/maps/__snapshots__/MineMap.spec.js.snap
  frontend/src/tests/components/maps/__snapshots__/MinePin.spec.js.snap
  frontend/vendor/leaflet/esri-leaflet-webmap/esri-leaflet-webmap.js
  openshift/_nodejs.dc.json
  pipeline/config-dev.groovy
  pipeline/config-prod.groovy
  pipeline/config-test.groovy
Labels: 💻 Frontend

#1053 NRIS ETL for Attendees
  microservices/nris_api/backend/app/nris/etl/nris_etl.py
Labels: 👍 Ready for review

#1054 MDS-2415 - Remove 'unknown' fields from NoW application View
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  frontend/src/components/noticeOfWork/NOWActivities.js
  frontend/src/components/noticeOfWork/NOWGeneralInfo.js
  frontend/src/components/noticeOfWork/NOWWorkPlan.js
  frontend/src/components/noticeOfWork/NoticeOfWorkApplication.js
  frontend/src/customPropTypes/noticeOfWork.js
  frontend/src/styles/components/NoticeOfWork.scss
  frontend/src/styles/index.scss
  frontend/src/styles/tools/mixins.scss
  frontend/src/tests/components/noticeOfWork/NOWGeneralInfo.spec.js
  frontend/src/tests/components/noticeOfWork/NoticeOfWorkApplication.spec.js
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWActivities.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWGeneralInfo.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWWorkPlan.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NoticeOfWorkApplication.spec.js.snap
  frontend/src/tests/mocks/noticeOfWorkMocks.js
  python-backend/app/api/now_submissions/models/application.py
  python-backend/app/api/now_submissions/response_models.py
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1055 Mds 2348 - Part 1 - Python models for now applications
  Makefile
  migrations/sql/V2019.10.15.15.54__update_application_document_xref.sql
  migrations/sql/V2019.10.16.09.55__now_application_column_changes.sql
  migrations/sql/V2019.10.16.10.40__alter_application_tables.sql
  migrations/sql/V2019.10.17.10.15__activities_rework.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/__init__.py
  python-backend/app/api/now_applications/models/activity_detail/__init__.py
  python-backend/app/api/now_applications/models/activity_detail/activity_detail_base.py
  python-backend/app/api/now_applications/models/activity_detail/activity_summary_detail_xref.py
  python-backend/app/api/now_applications/models/activity_detail/blasting_operation_detail.py
  python-backend/app/api/now_applications/models/activity_detail/camp_detail.py
  python-backend/app/api/now_applications/models/activity_detail/cut_lines_polarization_survey_detail.py
  python-backend/app/api/now_applications/models/activity_detail/exploration_access_detail.py
  python-backend/app/api/now_applications/models/activity_detail/exploration_surface_drilling_detail.py
  python-backend/app/api/now_applications/models/activity_detail/mechanical_trenching_detail.py
  python-backend/app/api/now_applications/models/activity_detail/placer_operation_detail.py
  python-backend/app/api/now_applications/models/activity_detail/sand_gravel_quarry_operation_detail.py
  python-backend/app/api/now_applications/models/activity_detail/settling_pond_detail.py
  python-backend/app/api/now_applications/models/activity_detail/surface_bulk_sample_detail.py
  python-backend/app/api/now_applications/models/activity_detail/underground_exploration_detail.py
  python-backend/app/api/now_applications/models/activity_detail/water_supply_detail.py
  python-backend/app/api/now_applications/models/activity_summary/__init__.py
  python-backend/app/api/now_applications/models/activity_summary/activity_summary_base.py
  python-backend/app/api/now_applications/models/activity_summary/activity_type.py
  python-backend/app/api/now_applications/models/activity_summary/blasting_operation.py
  python-backend/app/api/now_applications/models/activity_summary/camp.py
  python-backend/app/api/now_applications/models/activity_summary/cut_lines_polarization_survey.py
  python-backend/app/api/now_applications/models/activity_summary/exploration_access.py
  python-backend/app/api/now_applications/models/activity_summary/exploration_surface_drilling.py
  python-backend/app/api/now_applications/models/activity_summary/mechanical_trenching.py
  python-backend/app/api/now_applications/models/activity_summary/placer_operation.py
  python-backend/app/api/now_applications/models/activity_summary/sand_gravel_quarry_operation.py
  python-backend/app/api/now_applications/models/activity_summary/settling_pond.py
  python-backend/app/api/now_applications/models/activity_summary/surface_bulk_sample.py
  python-backend/app/api/now_applications/models/activity_summary/underground_exploration.py
  python-backend/app/api/now_applications/models/activity_summary/underground_exploration_type.py
  python-backend/app/api/now_applications/models/activity_summary/water_supply.py
  python-backend/app/api/now_applications/models/equipment.py
  python-backend/app/api/now_applications/models/equipment_assignment.py
  python-backend/app/api/now_applications/models/equipment_assignment_type.py
  python-backend/app/api/now_applications/models/now_application.py
  python-backend/app/api/now_applications/models/now_application_document_type.py
  python-backend/app/api/now_applications/models/now_application_document_xref.py
  python-backend/app/api/now_applications/models/now_application_status.py
  python-backend/app/api/now_applications/models/now_application_type.py
  python-backend/app/api/now_applications/models/state_of_land.py
  python-backend/app/api/now_applications/models/unit_type.py
  python-backend/app/api/now_applications/namespace.py
  python-backend/app/api/now_applications/resources/test_resource.py
  python-backend/app/api/now_applications/response_models.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend, 📜 SQL

#1058 Fix link to Architecture diagram
  USAGE.md
Labels: 🍋 Sour, 💊 Fix

#1060 Updated and added links to CORE landing page
  frontend/src/components/dashboard/HomePage.js
Labels: 👍 Ready for review, 💻 Frontend

#1056 Feature/MDS-2348 NoW Import
  migrations/sql/V2019.10.23.15.32__activities_again.sql
  migrations/sql/V2019.10.24.11.35__add_now_application_etl_tables.sql
  migrations/sql/V2019.10.30.10.03__rename_columns.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/__init__.py
  python-backend/app/api/now_applications/models/__init__.py
  python-backend/app/api/now_applications/models/activity_detail/__init__.py
  python-backend/app/api/now_applications/models/activity_detail/activity_detail_base.py
  python-backend/app/api/now_applications/models/activity_detail/activity_summary_detail_xref.py
  python-backend/app/api/now_applications/models/activity_detail/blasting_operation_detail.py
  python-backend/app/api/now_applications/models/activity_detail/etl_activity_detail.py
  python-backend/app/api/now_applications/models/activity_detail/placer_operation_detail.py
  python-backend/app/api/now_applications/models/activity_detail/underground_exploration_detail.py
  python-backend/app/api/now_applications/models/activity_detail/underground_exploration_type.py
  python-backend/app/api/now_applications/models/activity_detail/water_supply_detail.py
  python-backend/app/api/now_applications/models/activity_equipment_xref.py
  python-backend/app/api/now_applications/models/activity_summary/__init__.py
  python-backend/app/api/now_applications/models/activity_summary/activity_summary_base.py
  python-backend/app/api/now_applications/models/activity_summary/blasting_operation.py
  python-backend/app/api/now_applications/models/activity_summary/camp.py
  python-backend/app/api/now_applications/models/activity_summary/cut_lines_polarization_survey.py
  python-backend/app/api/now_applications/models/activity_summary/exploration_access.py
  python-backend/app/api/now_applications/models/activity_summary/exploration_surface_drilling.py
  python-backend/app/api/now_applications/models/activity_summary/mechanical_trenching.py
  python-backend/app/api/now_applications/models/activity_summary/placer_operation.py
  python-backend/app/api/now_applications/models/activity_summary/sand_gravel_quarry_operation.py
  python-backend/app/api/now_applications/models/activity_summary/settling_pond.py
  python-backend/app/api/now_applications/models/activity_summary/surface_bulk_sample.py
  python-backend/app/api/now_applications/models/activity_summary/underground_exploration.py
  python-backend/app/api/now_applications/models/activity_summary/water_supply.py
  python-backend/app/api/now_applications/models/blasting_operation.py
  python-backend/app/api/now_applications/models/equipment.py
  python-backend/app/api/now_applications/models/equipment_assignment.py
  python-backend/app/api/now_applications/models/equipment_assignment_type.py
  python-backend/app/api/now_applications/models/etl_equipment.py
  python-backend/app/api/now_applications/models/now_application.py
  python-backend/app/api/now_applications/models/now_application_document_xref.py
  python-backend/app/api/now_applications/models/state_of_land.py
  python-backend/app/api/now_applications/namespace.py
  python-backend/app/api/now_applications/resources/now_application_import_resource.py
  python-backend/app/api/now_applications/resources/test_resource.py
  python-backend/app/api/now_applications/transmogrify_now.py
  python-backend/app/api/now_submissions/models/__init__.py
  python-backend/app/api/now_submissions/models/application.py
  python-backend/app/api/now_submissions/models/equipment.py
  python-backend/app/api/now_submissions/models/mech_trenching_equip_xref.py
  python-backend/app/api/now_submissions/models/placer_equip_xref.py
  python-backend/app/api/now_submissions/models/sand_grv_qry_equip_xref.py
  python-backend/app/api/now_submissions/models/settling_pond.py
  python-backend/app/api/now_submissions/models/surface_bulk_sample_equip_xref.py
  python-backend/app/commands.py
  python-backend/tests/factories.py
  python-backend/tests/mines/now_submissions/resources/test_application_resource.py
  python-backend/tests/now_application_factories.py
  python-backend/tests/now_applications/resources/test_now_application_import_resource.py
  python-backend/tests/now_applications/test_transmogrify_now.py
  python-backend/tests/now_submission_factories.py
  python-backend/tests/now_submissions/resources/test_application_list_resource.py
  python-backend/tests/now_submissions/resources/test_application_resource.py
  python-backend/tests/status_code_gen.py
Labels: 🎫 Ticket closer, 👍 Ready for review, 💾 Backend
