Repository bcgov/mds, pull requests merged in 2019-11, with the labels that each got.

#1059 MDS-2398 - Verify mine details on NoW
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/actionCreators/noticeOfWorkActionCreator.js
  frontend/src/components/admin/MinespaceUserManagement.js
  frontend/src/components/admin/NewMinespaceUser.js
  frontend/src/components/common/RenderAutoComplete.js
  frontend/src/components/dashboard/minesHomePage/MineSearch.js
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  frontend/src/components/mine/NoticeOfWork/MineNOWApplications.js
  frontend/src/components/mine/NoticeOfWork/MineNoticeOfWorkTable.js
  frontend/src/components/modalContent/AddPartyModal.js
  frontend/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  frontend/src/components/noticeOfWork/applications/VerifyNOWMine.js
  frontend/src/components/noticeOfWork/submissions/NOWActivities.js
  frontend/src/components/noticeOfWork/submissions/NOWGeneralInfo.js
  frontend/src/components/noticeOfWork/submissions/NOWWorkPlan.js
  frontend/src/components/noticeOfWork/submissions/NoticeOfWorkInitialApplication.js
  frontend/src/constants/API.js
  frontend/src/constants/reducerTypes.js
  frontend/src/constants/routes.js
  frontend/src/reducers/mineReducer.js
  frontend/src/reducers/rootReducer.js
  frontend/src/routes/DashboardRoutes.js
  frontend/src/styles/components/NoticeOfWork.scss
  frontend/src/styles/tools/mixins.scss
  frontend/src/tests/components/admin/NewMinespaceUser.spec.js
  frontend/src/tests/components/common/__snapshots__/RenderAutoComplete.spec.js.snap
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/MineSearch.spec.js.snap
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkTable.spec.js.snap
  frontend/src/tests/components/noticeOfWork/submissions/NOWActivities.spec.js
  frontend/src/tests/components/noticeOfWork/submissions/NOWGeneralInfo.spec.js
  frontend/src/tests/components/noticeOfWork/submissions/NOWWorkPlan.spec.js
  frontend/src/tests/components/noticeOfWork/submissions/NoticeOfWorkInitialApplication.spec.js
  frontend/src/tests/components/noticeOfWork/submissions/__snapshots__/NOWActivities.spec.js.snap
  frontend/src/tests/components/noticeOfWork/submissions/__snapshots__/NOWGeneralInfo.spec.js.snap
  frontend/src/tests/components/noticeOfWork/submissions/__snapshots__/NOWWorkPlan.spec.js.snap
  frontend/src/tests/components/noticeOfWork/submissions/__snapshots__/NoticeOfWorkInitialApplication.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/mineReducer.spec.js
  frontend/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  frontend/src/tests/selectors/mineSelectors.spec.js
  python-backend/app/api/now_applications/models/activity_summary/settling_pond.py
  python-backend/app/api/now_submissions/models/application.py
  python-backend/app/api/now_submissions/namespace.py
  python-backend/tests/now_applications/test_transmogrify_now.py
Labels: 👍 Ready for review, 💻 Frontend

#1057 Add liveliness check to frontend servers
  frontend-public/server.js
  frontend/server.js
  openshift/_nodejs.dc.json
Labels: 👍 Ready for review

#1061 version and share project vscode settings
  .gitignore
  .vscode/settings.json
Labels: 🌶 Enhancement, 👍 Ready for review

#1063 Feature/mds 2339 incident type category
  frontend/src/actionCreators/staticContentActionCreator.js
  frontend/src/actions/staticContentActions.js
  frontend/src/components/Forms/incidents/AddIncidentDetailForm.js
  frontend/src/components/Forms/incidents/AddIncidentReportingForm.js
  frontend/src/components/dashboard/incidentsHomePage/IncidentsHomePage.js
  frontend/src/components/mine/Incidents/MineIncidentTable.js
  frontend/src/components/mine/Incidents/MineIncidents.js
  frontend/src/components/modalContent/AddIncidentModal.js
  frontend/src/components/modalContent/ViewIncidentModal.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/reducerTypes.js
  frontend/src/reducers/staticContentReducer.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/components/Forms/incidents/__snapshots__/AddIncidentReportingForm.spec.js.snap
  frontend/src/tests/components/mine/Incidents/MineIncidents.spec.js
  frontend/src/tests/components/modalContent/ViewIncidentModal.spec.js
  frontend/src/tests/components/modalContent/__snapshots__/ViewIncidentModal.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/staticContentReducer.spec.js
  migrations/sql/V2019.11.01.13.15__add_dangerous_occurence_type.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/incidents/models/mine_incident.py
  python-backend/app/api/incidents/models/mine_incident_category.py
  python-backend/app/api/incidents/namespace.py
  python-backend/app/api/incidents/resources/mine_incident_category.py
  python-backend/app/api/incidents/response_models.py
  python-backend/app/api/mines/incidents/resources/mine_incidents.py
  python-backend/app/api/mines/response_models.py
Labels: 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1064 Auto-label PRs based on changes in folder
  .github/labeler.yml
  .github/workflows/label.yaml
Labels: 🌶 Enhancement, 👍 Ready for review

#1068 Upgrade/feature mds 2432
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  frontend/src/components/mine/NoticeOfWork/MineNoticeOfWorkTable.js
  frontend/src/components/noticeOfWork/applications/NOWSideMenu.js
  frontend/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  frontend/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  frontend/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  frontend/src/components/noticeOfWork/applications/review/activities/Camps.js
  frontend/src/components/noticeOfWork/applications/review/activities/CutLines.js
  frontend/src/components/noticeOfWork/applications/review/activities/Equipment.js
  frontend/src/components/noticeOfWork/applications/review/activities/MechanicalTrenching.js
  frontend/src/components/noticeOfWork/applications/review/activities/Placer.js
  frontend/src/components/noticeOfWork/applications/review/activities/ReclamationSummary.js
  frontend/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  frontend/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  frontend/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  frontend/src/components/noticeOfWork/applications/review/activities/SurfaceDrilling.js
  frontend/src/components/noticeOfWork/applications/review/activities/UndergroundExploration.js
  frontend/src/components/noticeOfWork/applications/review/activities/WaterSupply.js
  frontend/src/styles/components/MineDashboard.scss
  frontend/src/styles/components/NavBar.scss
  frontend/src/styles/components/NoticeOfWork.scss
  pipeline/config-dev.groovy
  python-backend/app/api/now_applications/response_models.py
Labels: 🏭 CI/CD, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1070 Change from todb to appenddb
  microservices/now_etls/NOW_import.py
Labels: 👍 Ready for review, 💾 Backend

#1066 Fix creation of duplicate permits, merge duplicate permit records
  migrations/sql/R__stored_procedure_for_permit_and_permitee_information.sql
  migrations/sql/V2019.11.07.4.31__merge_duplicate_permits.sql
Labels: 🍋 Sour, 📜 SQL

#1072 Mds 2347 now lists
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  frontend/src/components/mine/NoticeOfWork/MineNOWApplications.js
  frontend/src/components/mine/NoticeOfWork/MineNoticeOfWorkTable.js
  frontend/src/constants/API.js
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkHomePage.spec.js.snap
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkTable.spec.js.snap
  frontend/src/tests/components/mine/NoticeOfWork/MineNoticeOfWorkTable.spec.js
  frontend/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNOWApplications.spec.js.snap
  frontend/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNoticeOfWorkTable.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  microservices/now_etls/create_now_identities.py
  migrations/sql/V2019.11.18.11.32__create_notice_of_work_view.sql
  python-backend/app/api/mines/namespace.py
  python-backend/app/api/mines/now_submissions/__init__.py
  python-backend/app/api/mines/now_submissions/resources/__init__.py
  python-backend/app/api/mines/now_submissions/resources/application_resource.py
  python-backend/app/api/now_applications/models/__init__.py
  python-backend/app/api/now_applications/models/notice_of_work_view.py
  python-backend/app/api/now_applications/namespace.py
  python-backend/app/api/now_applications/resources/now_application_list_resource.py
  python-backend/app/api/now_applications/response_models.py
  python-backend/app/api/now_submissions/models/application.py
  python-backend/app/api/now_submissions/namespace.py
  python-backend/app/api/now_submissions/resources/application_document_resource.py
  python-backend/app/api/now_submissions/resources/application_resource.py
  python-backend/tests/mines/now_submissions/resources/test_application_resource.py
  python-backend/tests/now_submission_factories.py
  python-backend/tests/now_submissions/resources/test_application_list_resource.py
  python-backend/tests/now_submissions/resources/test_application_resource.py
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1073 Feature/MDS-2430 - Mine details CSV
  migrations/sql/V2019.11.21.10.33__mine_summary_view.sql
  python-backend/.vscode/settings.json
  python-backend/app/__init__.py
  python-backend/app/api/constants.py
  python-backend/app/api/exports/mines/models/mine_summary_csv_view.py
  python-backend/app/api/exports/mines/resources/mine_summary_csv_resource.py
  python-backend/app/api/exports/namespace.py
  python-backend/app/api/now_applications/models/activity_detail/placer_operation_detail.py
  python-backend/app/api/now_applications/models/activity_summary/placer_operation.py
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/app/commands.py
  python-backend/tests/factories.py
  python-backend/tests/now_application_factories.py
  python-backend/tests/status_code_gen.py
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1065 Task/custom update method
  python-backend/app/api/mines/permits/permit/models/permit.py
  python-backend/app/api/mines/permits/permit/resources/permit.py
  python-backend/app/api/mines/permits/permit/resources/permit_status_code.py
  python-backend/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  python-backend/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  python-backend/app/api/mines/permits/permit_amendment/resources/permit_amendment_document.py
  python-backend/app/api/mines/permits/response_models.py
  python-backend/app/api/mines/response_models.py
  python-backend/app/api/now_applications/models/activity_detail/activity_detail_base.py
  python-backend/app/api/now_applications/models/activity_detail/camp_detail.py
  python-backend/app/api/now_applications/models/activity_detail/exploration_access_detail.py
  python-backend/app/api/now_applications/models/activity_detail/mechanical_trenching_detail.py
  python-backend/app/api/now_applications/models/activity_detail/surface_bulk_sample_detail.py
  python-backend/app/api/now_applications/models/activity_summary/camp.py
  python-backend/app/api/now_applications/models/activity_summary/cut_lines_polarization_survey.py
  python-backend/app/api/now_applications/models/activity_summary/exploration_access.py
  python-backend/app/api/now_applications/models/activity_summary/exploration_surface_drilling.py
  python-backend/app/api/now_applications/models/activity_summary/mechanical_trenching.py
  python-backend/app/api/now_applications/models/activity_summary/sand_gravel_quarry_operation.py
  python-backend/app/api/now_applications/models/activity_summary/settling_pond.py
  python-backend/app/api/now_applications/models/activity_summary/surface_bulk_sample.py
  python-backend/app/api/now_applications/models/activity_summary/underground_exploration.py
  python-backend/app/api/now_applications/models/now_application.py
  python-backend/app/api/now_applications/resources/now_application_resource.py
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party_appt/__init__.py
  python-backend/app/api/parties/party_appt/models/party_business_role.py
  python-backend/app/api/parties/party_appt/models/party_business_role_appt.py
  python-backend/app/api/utils/models_mixins.py
  python-backend/app/api/utils/setup_marshmallow.py
  python-backend/app/config.py
  python-backend/app/extensions.py
  python-backend/requirements.txt
  python-backend/tests/factories.py
  python-backend/tests/mines/permit/resources/test_permit_amendment_resource.py
  python-backend/tests/status_code_gen.py
  python-backend/tests/utils/test_base_model.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend

#1078 MDS 2338 - See Inspection reports and Managers Responses from NRIS in Core
  bin/project-structure-migrate.sh
  openshift/templates/_python36.dc.json
  services/core-api/.env-example
  services/core-api/app/api/compliance/namespace.py
  services/core-api/app/api/compliance/resources/compliance_document_resource.py
  services/core-api/app/api/constants.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/services/NRIS_API_service.py
  services/core-api/app/api/services/nris_download_service.py
  services/core-api/app/config.py
  services/core-web/src/components/mine/Compliance/ComplianceOrdersTable.js
  services/core-web/src/constants/API.js
  services/core-web/src/tests/components/mine/Compliance/__snapshots__/ComplianceOrdersTable.spec.js.snap
  services/core-web/src/utils/actionlessNetworkCalls.js
  services/document-manager/backend/app/compliance/resources/compliance_document_resource.py
  services/document-manager/backend/app/services/nris_download_service.py
Labels: 🍋 Sour, 🏭 CI/CD, 💻 Frontend, 💾 Backend

#1071 MMS 2402: Adding placer and contacts to NOW ETLs
  migrations/sql/V2019.11.18.12.23__add_now_number_to_mms_now_application.sql
  tasks/now-etls/NOW_import.py
  tasks/now-etls/mms_now_import.py
  tasks/now-etls/requirements.txt
Labels: 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#1076 Feature/now application edit
  services/core-api/app/__init__.py
  services/core-api/app/api/constants.py
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mms_now_submissions/models/application.py
  services/core-api/app/api/now_applications/models/activity_detail/activity_detail_base.py
  services/core-api/app/api/now_applications/models/activity_summary/activity_summary_base.py
  services/core-api/app/api/now_applications/models/blasting_operation.py
  services/core-api/app/api/now_applications/models/equipment.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_application_identity.py
  services/core-api/app/api/now_applications/models/state_of_land.py
  services/core-api/app/api/now_applications/resources/now_activity_type_resource.py
  services/core-api/app/api/now_applications/resources/now_application_import_resource.py
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/app/api/utils/models_mixins.py
  services/core-api/app/api/utils/setup_marshmallow.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/now_application_factories.py
  services/core-api/tests/now_applications/resources/test_now_application_put.py
  services/core-api/tests/utils/test_base_model.py
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  services/core-web/src/components/mine/NoticeOfWork/MineNOWApplications.js
  tasks/now-etls/create_now_identities.py
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1079 Missed Sonar and Zap relative path references in project migrate
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/src/groovy/UnitTest.groovy
  openshift/pipeline/src/groovy/Zap.groovy
Labels: 🏭 CI/CD

#1080 bug/fix now documents not downloading
  services/core-api/app/api/now_submissions/models/application.py
  services/core-web/src/components/noticeOfWork/submissions/NOWWorkPlan.js
  services/core-web/src/tests/components/noticeOfWork/submissions/__snapshots__/NOWWorkPlan.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/submissions/__snapshots__/NoticeOfWorkInitialApplication.spec.js.snap
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
Labels: 💻 Frontend, 💾 Backend

#1083 Reenable functional tests in build pipeline
  openshift/pipeline/src/groovy/BddStack.groovy
Labels: 🏭 CI/CD

#1081 MDS-2466 Fix for link to Mine NoW view and Pagination on the province wide NoW list.
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  services/core-web/src/components/mine/Compliance/ComplianceOrdersTable.js
  services/core-web/src/components/mine/NoticeOfWork/MineNOWApplications.js
  services/core-web/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkHomePage.spec.js.snap
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#1084 MDS-2449 - Scroll to top behaviour
  services/core-web/src/App.js
  services/core-web/src/components/common/wrappers/ScrollToTopWrapper.js
Labels: 💻 Frontend

#1085 Bug/Column doesn't exist
  services/core-api/app/api/now_applications/transmogrify_now.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend

#1086 Feature/mds 2469
  services/core-api/app/api/now_applications/models/now_application_status.py
  services/core-api/app/api/now_applications/models/now_application_type.py
  services/core-api/app/api/now_applications/namespace.py
  services/core-api/app/api/now_applications/resources/now_application_document_type_resource.py
  services/core-api/app/api/now_applications/resources/now_application_status_code_resource.py
  services/core-api/app/api/now_applications/resources/now_application_type_resource.py
  services/core-api/app/api/now_applications/resources/underground_exploration_type_resource.py
  services/core-api/app/api/now_applications/resources/unit_type_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/tests/now_applications/resources/test_now_application_document_type_resource.py
  services/core-api/tests/now_applications/resources/test_now_application_status_code_resource.py
  services/core-api/tests/now_applications/resources/test_now_application_type_resource.py
  services/core-api/tests/now_applications/resources/test_underground_exploration_resource.py
  services/core-api/tests/now_applications/resources/test_unit_type_resource.py
  services/core-web/src/actionCreators/staticContentActionCreator.js
  services/core-web/src/actions/staticContentActions.js
  services/core-web/src/constants/API.js
  services/core-web/src/constants/actionTypes.js
  services/core-web/src/constants/reducerTypes.js
  services/core-web/src/reducers/staticContentReducer.js
  services/core-web/src/selectors/staticContentSelectors.js
  services/core-web/src/tests/actionCreators/staticContentActionCreator.spec.js
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
  services/core-web/src/tests/reducers/staticContentReducer.spec.js
  services/core-web/src/tests/selectors/staticContentSelectors.spec.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend
