Repository bcgov/mds, pull requests merged in 2019-09, with the labels that each got.

#946 Feature/mds 2257
  frontend/src/components/Forms/variances/VarianceSearchForm.js
  frontend/src/components/dashboard/customHomePage/VarianceTable.js
  frontend/src/components/dashboard/varianceHomePage/VarianceHomePage.js
  frontend/src/components/dashboard/varianceHomePage/VarianceSearch.js
  frontend/src/components/mine/Variances/MineVarianceTable.js
  frontend/src/constants/API.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/components/dashboard/varianceHomePage/__snapshots__/VarianceHomePage.spec.js.snap
  frontend/src/tests/components/mine/Variances/__snapshots__/MineVarianceTable.spec.js.snap
  python-backend/app/api/variances/resources/variance_resource.py
Labels: Backend, Frontend, Needs Manual Testing, Ready for review

#960 MDS-2131 Feature/ Split date and time inputs
  frontend/src/components/Forms/incidents/AddIncidentDetailForm.js
  frontend/src/components/Forms/incidents/AddIncidentReportingForm.js
  frontend/src/components/common/RenderTime.js
  frontend/src/components/common/config.js
  frontend/src/components/mine/Incidents/MineIncidents.js
  frontend/src/components/modalContent/AddIncidentModal.js
  frontend/src/tests/components/Forms/incidents/__snapshots__/AddIncidentReportingForm.spec.js.snap
  frontend/src/tests/components/common/RenderTime.spec.js
  frontend/src/tests/components/common/__snapshots__/RenderTime.spec.js.snap
Labels: Frontend, Ready for review

#962 MDS-2221 Feature/ Support top & mid-level mine status options
  frontend/src/components/Forms/MineRecordForm.js
  frontend/src/components/common/RenderCascader.js
  frontend/src/tests/components/Forms/__snapshots__/MineRecordForm.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/RenderCascader.spec.js.snap
  functional-tests/src/test/groovy/FrontendCore/modules/Form_CreateMine.groovy
  migrations/sql/afterMigrate__3__create_status_xref_data.sql
  python-backend/app/api/mines/status/models/mine_status_xref.py
Labels: Backend, Frontend, Ready for review

#896 Adjust resources
  pipeline/config-dev.groovy
  pipeline/config-prod.groovy
  pipeline/config-test.groovy
Labels: Ready for review

#967 MDS-2129 Feature/ Update incident form(s) based on user feedback
  frontend/src/components/Forms/incidents/AddIncidentDetailForm.js
  frontend/src/components/Forms/incidents/AddIncidentFollowUpForm.js
  frontend/src/components/mine/Incidents/MineIncidents.js
  frontend/src/components/modalContent/ViewIncidentModal.js
  frontend/src/tests/components/Forms/incidents/__snapshots__/AddIncidentFollowUpForm.spec.js.snap
  frontend/src/tests/components/modalContent/__snapshots__/ViewIncidentModal.spec.js.snap
Labels: Frontend, Ready for review

#969 MDS-2277 Feature/ Add mine determination fields to Mine Incident
  frontend/src/components/Forms/incidents/AddIncidentDetailForm.js
  frontend/src/components/Forms/incidents/AddIncidentFollowUpForm.js
  frontend/src/components/modalContent/ViewIncidentModal.js
  frontend/src/tests/components/Forms/incidents/__snapshots__/AddIncidentFollowUpForm.spec.js.snap
  frontend/src/tests/components/modalContent/__snapshots__/ViewIncidentModal.spec.js.snap
  migrations/sql/V2019.09.04.11.35__incident_add_mine_determination_columns.sql
  python-backend/app/api/incidents/models/mine_incident.py
  python-backend/app/api/mines/incidents/resources/mine_incidents.py
  python-backend/app/api/mines/mine_api_models.py
  python-backend/tests/mines/resources/test_mine_incident_resource.py
Labels: Backend, Frontend, Ready for review

#971 Fix file upload crash with WDS
  frontend/src/components/common/FileUpload.js
Labels: Frontend, Needs Manual Testing, Ready for review

#966 MDS-2032 NRIS tables descriptions
  microservices/nris_api/backend/migrations/versions/43cd9db1c73a_.py
Labels: Ready for review

#970 MDS-2088 feature/ Hide HUK option unless on a historical record
  frontend/src/components/Forms/incidents/AddIncidentFollowUpForm.js
  frontend/src/tests/components/Forms/incidents/AddIncidentFollowUpForm.spec.js
  frontend/src/tests/components/Forms/incidents/__snapshots__/AddIncidentFollowUpForm.spec.js.snap
Labels: Frontend, Ready for review

#979 Adding comments within NRIS SQLAlchemy models to prevent removal
  microservices/nris_api/backend/app/nris/models/document.py
  microservices/nris_api/backend/app/nris/models/document_type.py
  microservices/nris_api/backend/app/nris/models/inspected_location.py
  microservices/nris_api/backend/app/nris/models/inspected_location_document_xref.py
  microservices/nris_api/backend/app/nris/models/inspected_location_type.py
  microservices/nris_api/backend/app/nris/models/inspection.py
  microservices/nris_api/backend/app/nris/models/inspection_document_xref.py
  microservices/nris_api/backend/app/nris/models/inspection_status.py
  microservices/nris_api/backend/app/nris/models/inspection_type.py
  microservices/nris_api/backend/app/nris/models/legislation_act.py
  microservices/nris_api/backend/app/nris/models/legislation_act_section.py
  microservices/nris_api/backend/app/nris/models/legislation_compliance_article.py
  microservices/nris_api/backend/app/nris/models/location.py
  microservices/nris_api/backend/app/nris/models/noncompliance_legislation.py
  microservices/nris_api/backend/app/nris/models/noncompliance_permit.py
  microservices/nris_api/backend/app/nris/models/nris_raw_data.py
  microservices/nris_api/backend/app/nris/models/order_advisory_detail.py
  microservices/nris_api/backend/app/nris/models/order_request_detail.py
  microservices/nris_api/backend/app/nris/models/order_stop_detail.py
  microservices/nris_api/backend/app/nris/models/order_stop_detail_document_xref.py
  microservices/nris_api/backend/app/nris/models/order_warning_detail.py
Labels: Ready for review

#980 Hotfix onRemoveFile from FilePond
  frontend/src/components/Forms/AddPermitForm.js
  frontend/src/components/Forms/PermitAmendmentForm.js
  frontend/src/components/Forms/variances/AddVarianceForm.js
  frontend/src/components/Forms/variances/EditVarianceForm.js
Labels: Frontend, Ready for review

#978 add two columns copy into source and add to API
  microservices/nris_api/backend/app/nris/etl/nris_etl.py
  microservices/nris_api/backend/app/nris/models/inspection.py
  microservices/nris_api/backend/migrations/versions/fb359c2ed7cc_.py
Labels: Backend, Ready for review

#974 Removing command line of legacy scripts
  python-backend/app/commands.py
  python-backend/bin/incident_import.py.bak
  python-backend/bin/tailings_report_migration.py.bak
Labels: Ready for review

#976 Feature/mds 2197 now attached documents
  frontend/package-lock.json
  frontend/src/components/common/DocumentTable.js
  frontend/src/components/mine/ContactInfo/PartyRelationships/DefaultContact.js
  frontend/src/components/mine/Incidents/MineIncidentTable.js
  frontend/src/components/mine/Permit/MinePermitTable.js
  frontend/src/components/mine/Reports/MineReportTable.js
  frontend/src/components/mine/Variances/MineVarianceTable.js
  frontend/src/components/modalContent/ViewIncidentModal.js
  frontend/src/components/noticeOfWork/NOWWorkPlan.js
  frontend/src/components/search/DocumentResultsTable.js
  frontend/src/constants/API.js
  frontend/src/customPropTypes/noticeOfWork.js
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWWorkPlan.spec.js.snap
  frontend/src/utils/actionlessNetworkCalls.js
  microservices/now_etls/NOW_import.py
  microservices/now_etls/now_etls.py
  migrations/sql/V2019.09.09.11.40__add_now_application_source_of_origin.sql
  openshift/_python36.dc.json
  python-backend/.env-example
  python-backend/app/api/constants.py
  python-backend/app/api/now_submissions/models/application.py
  python-backend/app/api/now_submissions/namespace/now_submissions.py
  python-backend/app/api/now_submissions/resources/application_document_resource.py
  python-backend/app/api/now_submissions/response_models.py
  python-backend/app/api/services/nros_download_service.py
  python-backend/app/api/services/vfcbc_download_service.py
  python-backend/app/config.py
  python-backend/tests/factories.py
Labels: Backend, Frontend, Ready for review

#987 add columns to db and mixin to model
  migrations/sql/V2019.09.12.14.23__add_audit_columns_to_address.sql
  python-backend/app/api/parties/party/models/address.py
Labels: Backend, Ready for review

#990 not null columns with data require defaults.
  migrations/sql/V2019.09.09.11.40__add_now_application_source_of_origin.sql
  migrations/sql/V2019.09.12.14.23__add_audit_columns_to_address.sql
Labels: Ready for review

#991 Use Mine Pins and Red Circle for Search Result
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/maps/MineMapLeaflet.js
  frontend/src/constants/routes.js
  frontend/src/routes/DashboardRoutes.js
  frontend/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
Labels: Frontend

#988 Task/2313 schemaspy all schemas
  docker-images/schemaspy/start.sh
Labels: Ready for review, enhancement

#982 Feature/mds 2274 allow admin to change permitee
  frontend/src/components/Forms/PartyRelationships/AddPartyRelationshipForm.js
  frontend/src/components/Forms/PartyRelationships/EditPartyRelationshipForm.js
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/parties/RelationshipProfile.js
  frontend/src/constants/environment.js
  frontend/src/constants/permissions.js
  frontend/src/tests/components/Forms/__snapshots__/AddPartyRelationshipForm.spec.js.snap
  frontend/src/utils/Validate.js
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_resource.py
Labels: Backend, Frontend, Ready for review

#986 Fix/2317 crr date validation
  frontend/src/components/Forms/AddPermitForm.js
  frontend/src/components/Forms/reports/AddReportForm.js
  frontend/src/tests/components/Forms/reports/__snapshots__/AddReportForm.spec.js.snap
Labels: Frontend, Ready for review

#993 Adding Rocketchat integration definitions
  tools/rocketchat/README.md
  tools/rocketchat/digdag-integration.js
  tools/rocketchat/github-integration.js
Labels: Ready for review

#994 Fix for NOW ETL - add check on originating system
  microservices/now_etls/NOW_import.py
  migrations/sql/V2019.09.18.12.46__remove_not_null_now_application_source.sql
Labels: Ready for review

#989 Feature/mds 2200 export NOW shape files
  frontend/src/components/common/LinkButton.js
  frontend/src/components/noticeOfWork/NOWWorkPlan.js
  frontend/src/constants/fileTypes.js
  frontend/src/customPropTypes/noticeOfWork.js
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWWorkPlan.spec.js.snap
Labels: Frontend, Ready for review

#997 Removing originating system logic to troubleshoot NOW ETL
  microservices/now_etls/NOW_import.py
Labels: Ready for review

#963 Feature/mds 2263
  frontend/src/actionCreators/incidentActionCreator.js
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/actions/incidentActions.js
  frontend/src/actions/mineActions.js
  frontend/src/components/Forms/incidents/IncidentSearchForm.js
  frontend/src/components/common/wrappers/ModalWrapper.js
  frontend/src/components/dashboard/customHomePage/VarianceTable.js
  frontend/src/components/dashboard/incidentsHomePage/IncidentsHomePage.js
  frontend/src/components/dashboard/incidentsHomePage/IncidentsSearch.js
  frontend/src/components/dashboard/incidentsHomePage/IncidentsTable.js
  frontend/src/components/dashboard/varianceHomePage/VarianceHomePage.js
  frontend/src/components/mine/Incidents/MineIncidentTable.js
  frontend/src/components/mine/Incidents/MineIncidents.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/fileTypes.js
  frontend/src/constants/forms.js
  frontend/src/constants/reducerTypes.js
  frontend/src/constants/routes.js
  frontend/src/customPropTypes/incidents.js
  frontend/src/reducers/incidentReducer.js
  frontend/src/reducers/mineReducer.js
  frontend/src/reducers/rootReducer.js
  frontend/src/routes/DashboardRoutes.js
  frontend/src/selectors/incidentSelectors.js
  frontend/src/selectors/mineSelectors.js
  frontend/src/tests/actionCreators/incidentActionCreator.spec.js
  frontend/src/tests/actionCreators/mineActionCreator.spec.js
  frontend/src/tests/components/Forms/reports/__snapshots__/AddReportForm.spec.js.snap
  frontend/src/tests/components/mine/Incidents/__snapshots__/MineIncidentTable.spec.js.snap
  frontend/src/tests/components/mine/Incidents/__snapshots__/MineIncidents.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/incidentReducer.spec.js
  frontend/src/tests/reducers/mineReducer.spec.js
  frontend/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  frontend/src/tests/selectors/incidentSelectors.spec.js
  frontend/src/tests/selectors/mineSelectors.spec.js
  frontend/src/utils/Validate.js
  python-backend/app/api/incidents/resources/incidents_resource.py
  python-backend/tests/incidents/resources/test_incidents_resource.py
Labels: Ready for review

#1002 Doc/mds 2206
  docs/core_test_plan_TEMPLATE.xlsx
Labels: Ready for review, enhancement

#1001 Basic POC of using esri-leaflet in a map component
  frontend/package-lock.json
  frontend/package.json
  frontend/server.js
  frontend/src/components/maps/MineMapLeaflet.js
  frontend/src/constants/environment.js
  frontend/src/constants/environment.js-dev-local-keycloak
  frontend/src/constants/strings.js
  frontend/src/fetchEnv.js
  openshift/_nodejs.dc.json
  pipeline/config-dev.groovy
  pipeline/config-prod.groovy
  pipeline/config-test.groovy
Labels: Frontend, WIP

#1003 MDS-2325 updating a mine party appointment.
  frontend/src/components/Forms/PartyRelationships/EditPartyRelationshipForm.js
Labels: 👍 Ready for review, 💻 Frontend

#1008 Set content-disposition by generating it from the file name instead of passing the header parameter from VFCBC
  python-backend/app/api/services/vfcbc_download_service.py
Labels: 👍 Ready for review, 💾 Backend, 🙄 SELFISH

#1009 Feature/ Leaflet UX changes
  frontend/src/assets/images/small-pin-selected.svg
  frontend/src/components/maps/MineMapLeaflet.js
  frontend/src/constants/assets.js
Labels: 💻 Frontend

#1006 Fixed tests
  python-backend/tests/incidents/resources/test_incidents_resource.py
Labels: 🐞 Bug, 💾 Backend, 🛑 DO NOT MERGE

#1000 MDS 2318 - Adding mine_guid and originating system to NoW ETLs
  microservices/now_etls/NOW_import.py
Labels: 👍 Ready for review, 💾 Backend

#1010 Feature/mds 2319
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  frontend/src/components/noticeOfWork/NOWGeneralInfo.js
  frontend/src/components/noticeOfWork/NOWWorkPlan.js
  frontend/src/components/noticeOfWork/NoticeOfWorkApplication.js
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkHomePage.spec.js.snap
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkTable.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWGeneralInfo.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWWorkPlan.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NoticeOfWorkApplication.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1012 Fix/vfcbc download content disposition
  python-backend/app/api/now_submissions/resources/application_document_resource.py
  python-backend/app/api/services/vfcbc_download_service.py
Labels: 🐞 Bug, 👍 Ready for review

#1013 Feature/ Move Leaflet dist files to /vendor directory
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/components/maps/MineMapLeaflet.js
  frontend/vendor/leaflet/grouped-layer-control/leaflet.groupedlayercontrol.min.js
  frontend/vendor/leaflet/grouped-layer-control/leaflet.groupedlayercontrol.min.js.map
  frontend/vendor/leaflet/mouse-coordinates/leaflet.mousecoordinate.js
  frontend/webpack.config.js
Labels: 💻 Frontend

#1014 Updated height of address column on contact card for NOW
  frontend/src/components/noticeOfWork/NOWGeneralInfo.js
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWGeneralInfo.spec.js.snap
Labels: 💻 Frontend

#1011 Mds 2337
  frontend/src/components/dashboard/incidentsHomePage/IncidentsHomePage.js
  frontend/src/components/dashboard/varianceHomePage/VarianceHomePage.js
Labels: 👍 Ready for review, 💻 Frontend

#1020 Added a check to disable multiple add reports
  frontend/src/components/Forms/reports/AddReportForm.js
  frontend/src/components/mine/Reports/MineReportInfo.js
  frontend/src/components/modalContent/AddReportModal.js
  frontend/src/tests/components/modalContent/__snapshots__/AddReportModal.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1023 Feature/leaflet add layer styling
  frontend/src/components/maps/MineMapLeaflet.js
Labels: 🚧 WIP

#1005 MDS-2327 Performance of now app view
  python-backend/app/api/now_submissions/models/application.py
Labels: 👍 Ready for review, 💾 Backend

#1019 Task/refactor mine assocated resources
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/constants/API.js
  frontend/src/constants/reducerTypes.js
  frontend/src/tests/actionCreators/mineActionCreator.spec.js
  migrations/sql/V2019.09.18.16.22__create_tenure_type_code_commodity_xref.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/constants.py
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/models/mine_commodity_code.py
  python-backend/app/api/mines/mine/models/mine_disturbance_code.py
  python-backend/app/api/mines/mine/models/mine_tenure_type_code.py
  python-backend/app/api/mines/mine/models/mine_type.py
  python-backend/app/api/mines/mine/models/mine_type_detail.py
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/mines/mine/resources/mine_commodity_code.py
  python-backend/app/api/mines/mine/resources/mine_disturbance_code.py
  python-backend/app/api/mines/mine/resources/mine_type.py
  python-backend/app/api/mines/mine/resources/mine_type_detail.py
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/tests/auth/test_expected_auth.py
  python-backend/tests/factories.py
  python-backend/tests/mines/resources/test_mine_type_detail_resource.py
  python-backend/tests/mines/resources/test_mine_type_resource.py
  python-backend/tests/status_code_gen.py
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1024 exposed incidents to Prod, fixed styling on contact card
  frontend/src/components/common/Address.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/components/noticeOfWork/NOWGeneralInfo.js
  frontend/src/tests/components/common/__snapshots__/Address.spec.js.snap
  frontend/src/tests/components/noticeOfWork/__snapshots__/NOWGeneralInfo.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1026 Changing Document Manager storage PVC
  microservices/document_manager/openshift/_python36_docman.dc.json
  pipeline/config-dev.groovy
  pipeline/config-prod.groovy
  pipeline/config-test.groovy
Labels: 👍 Ready for review

#1027 if undefined.
  frontend/src/actionCreators/mineActionCreator.js
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#975 Feature/add leaflet
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/.prettierignore
  frontend/package-lock.json
  frontend/package.json
  frontend/server.js
  frontend/src/assets/images/small-pin-selected.svg
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/maps/LeafletPopup.js
  frontend/src/components/maps/MineHeaderMapLeaflet.js
  frontend/src/components/maps/MineMapLeaflet.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/constants/assets.js
  frontend/src/constants/environment.js
  frontend/src/constants/environment.js-dev-local-keycloak
  frontend/src/fetchEnv.js
  frontend/src/styles/components/Maps.scss
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  frontend/vendor/leaflet/esri-leaflet-webmap/esri-leaflet-webmap.js
  frontend/vendor/leaflet/esri-leaflet-webmap/esri-leaflet-webmap.js.map
  frontend/vendor/leaflet/grouped-layer-control/leaflet.groupedlayercontrol.min.js
  frontend/vendor/leaflet/grouped-layer-control/leaflet.groupedlayercontrol.min.js.map
  frontend/vendor/leaflet/leaflet-measure/assets/cancel.png
  frontend/vendor/leaflet/leaflet-measure/assets/cancel_@2X.png
  frontend/vendor/leaflet/leaflet-measure/assets/check.png
  frontend/vendor/leaflet/leaflet-measure/assets/check_@2X.png
  frontend/vendor/leaflet/leaflet-measure/assets/focus.png
  frontend/vendor/leaflet/leaflet-measure/assets/focus_@2X.png
  frontend/vendor/leaflet/leaflet-measure/assets/leaflet-measure.png
  frontend/vendor/leaflet/leaflet-measure/assets/rulers.png
  frontend/vendor/leaflet/leaflet-measure/assets/rulers_@2X.png
  frontend/vendor/leaflet/leaflet-measure/assets/start.png
  frontend/vendor/leaflet/leaflet-measure/assets/start_@2X.png
  frontend/vendor/leaflet/leaflet-measure/assets/trash.png
  frontend/vendor/leaflet/leaflet-measure/assets/trash_@2X.png
  frontend/vendor/leaflet/leaflet-measure/leaflet-measure.css
  frontend/vendor/leaflet/leaflet-measure/leaflet-measure.en.js
  frontend/vendor/leaflet/mouse-coordinates/leaflet.mousecoordinate.js
  frontend/webpack.config.js
  openshift/_nodejs.dc.json
  pipeline/config-dev.groovy
  pipeline/config-prod.groovy
  pipeline/config-test.groovy
Labels: 🌶 Enhancement, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1028 exposed now in prod for admin
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/components/noticeOfWork/NoticeOfWorkApplication.js
Labels: 👍 Ready for review, 💻 Frontend

#1031 added check to mine map view for mines that do not have a lat and long
  frontend/src/components/maps/MineHeaderMapLeaflet.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#1029 Expose/now to everyone
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  frontend/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  frontend/src/components/mine/MineNavigation.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/components/noticeOfWork/NoticeOfWorkApplication.js
  frontend/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkTable.spec.js.snap
  frontend/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1033 Leaflet map performance improvement
  frontend/src/components/maps/MineMapLeaflet.js
Labels: 👍 Ready for review, 💻 Frontend

#1035 Remove inTesting flag for NoW tab on Mines
  frontend/src/components/mine/NoticeOfWork/MineNOWApplications.js
Labels: 👍 Ready for review

#1038 Comment out the bad tests
  functional-tests/src/test/groovy/FrontendCore/spec/Contacts.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/CustomJUnitSpecRunner.groovy
Labels: 👍 Ready for review

#1032 Feature/mds 2094 crr submissions and history
  frontend-public/src/actions/modalActions.js
  frontend-public/src/constants/actionTypes.js
  frontend-public/src/reducers/modalReducer.js
  frontend/package-lock.json
  frontend/src/HOC/AuthenticationGuard.js
  frontend/src/actionCreators/staticContentActionCreator.js
  frontend/src/actions/modalActions.js
  frontend/src/actions/staticContentActions.js
  frontend/src/components/Forms/reports/AddReportForm.js
  frontend/src/components/Forms/reports/ReportComments.js
  frontend/src/components/Forms/reports/ReportFilterForm.js
  frontend/src/components/Forms/reports/ReportHistory.js
  frontend/src/components/Forms/reports/ReportHistorySubmissionSummary.js
  frontend/src/components/Forms/reports/ReportSubmissions.js
  frontend/src/components/common/AddButton.js
  frontend/src/components/common/FormItemLabel.js
  frontend/src/components/common/LinkButton.js
  frontend/src/components/common/SlidingForms.js
  frontend/src/components/common/UploadedDocumentTable.js
  frontend/src/components/common/comments/Comment.js
  frontend/src/components/common/comments/CommentEditor.js
  frontend/src/components/common/comments/CommentPanel.js
  frontend/src/components/common/wrappers/ModalWrapper.js
  frontend/src/components/common/wrappers/TableLoadingWrapper.js
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/mine/Reports/MineReportActions.js
  frontend/src/components/mine/Reports/MineReportInfo.js
  frontend/src/components/mine/Reports/MineReportTable.js
  frontend/src/components/modalContent/AddReportModal.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/reducerTypes.js
  frontend/src/reducers/modalReducer.js
  frontend/src/reducers/staticContentReducer.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/styles/components/Comments.scss
  frontend/src/styles/generic/layout.scss
  frontend/src/styles/index.scss
  frontend/src/tests/components/Forms/reports/__snapshots__/AddReportForm.spec.js.snap
  frontend/src/tests/components/dashboard/minesHomePage/Dashboard.spec.js
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  frontend/src/tests/components/mine/MineDashboard.spec.js
  frontend/src/tests/components/mine/Reports/__snapshots__/MineReportTable.spec.js.snap
  frontend/src/tests/components/modalContent/__snapshots__/AddReportModal.spec.js.snap
  frontend/src/tests/reducers/staticContentReducer.spec.js
  functional-tests/src/test/groovy/FrontendCore/spec/Tailings.groovy
  migrations/Dockerfile
  migrations/sql/V2019.09.24.13.22__add_upload_date_to_mine_document.sql
  migrations/sql/V2019.09.24.13.41__update_code_required_report_status.sql
  migrations/sql/V2019.09.25.15.58__remove_code_required_report_status.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/mines/documents/mines/models/mine_document.py
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/mines/reports/resources/mine_report_submission_status.py
  python-backend/app/api/mines/reports/resources/mine_reports.py
  python-backend/app/api/parties/response_models.py
  python-backend/tests/reports/resource/test_mine_reports_resource.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💻 Frontend
