Repository bcgov/mds, pull requests merged in 2019-03, with the labels that each got.

#554 Mds 1364 Permit Amendments - Minor Tweaks
  frontend/src/components/mine/Permit/MinePermitCard.js
  frontend/src/components/mine/Permit/MinePermitInfo.js
  frontend/src/components/mine/Summary/MineSummary.js
Labels: Frontend, Ready for review

#557 Feature/mds 1452 1457 permit amendment crud and uploads
  migrations/sql/V2019.03.01.08.45__permit_amendment_documents.sql
  python-backend/app/api/documents/expected/models/mine_expected_document_xref.py
  python-backend/app/api/permits/namespace/permits.py
  python-backend/app/api/permits/permit/models/permit.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment_document.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment_status_code.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment_type_code.py
  python-backend/app/api/permits/permit_amendment/resources/permit_amendment.py
  python-backend/app/api/permits/permit_amendment/resources/permit_amendment_document.py
  python-backend/app/api/utils/url.py
  python-backend/app/commands.py
  python-backend/tests/auth/test_expected_auth.py
  python-backend/tests/cli/test_cli.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/permit/models/test_permit_amendment_model.py
  python-backend/tests/permit/resources/test_permit_amendment_document_resource.py
  python-backend/tests/permit/resources/test_permit_amendment_resource.py
Labels: Backend, Ready for review

#559 updated AuthorizationWrapper to check for the permission prop before …
  frontend/src/components/Forms/AddPartyForm.js
  frontend/src/components/common/wrappers/AuthorizationWrapper.js
Labels: Frontend, Ready for review

#560 Feature/mds 1459 add backend crud for permits
  frontend/package-lock.json
  python-backend/app/__init__.py
  python-backend/app/api/permits/permit/models/permit.py
  python-backend/app/api/permits/permit/resources/permit.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment.py
  python-backend/app/commands.py
  python-backend/tests/auth/test_expected_auth.py
  python-backend/tests/conftest.py
  python-backend/tests/parties/party_appt/model/test_mine_party_appt_model.py
  python-backend/tests/parties/party_appt/model/test_mpa_permittee_model.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_admin_resource.py
  python-backend/tests/parties/party_appt/resources/test_mpa_permittee_resource.py
  python-backend/tests/permit/resources/test_permit_resource.py
Labels: Backend, Ready for review

#550 Test/mds 1451
  .gitignore
  functional-tests/.gitignore
  functional-tests/run_tests.sh
  functional-tests/src/test/groovy/data/data_deletion.sql
  functional-tests/src/test/groovy/modules/Tab_Tailings.groovy
  functional-tests/src/test/groovy/spec/Tailings.groovy
  functional-tests/src/test/groovy/utils/Const.groovy
  functional-tests/src/test/resources/GebConfig.groovy
  functional-tests/src/test/tempStorage/.gitkeep
Labels: Ready for review

#564 Feature/MDS-1428 Load NRIS in backgroud
  frontend-public/src/tests/mocks/dataMocks.js
  frontend/src/actionCreators/complianceActionCreator.js
  frontend/src/components/mine/Compliance/MineComplianceInfo.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/mine/Summary/MineSummary.js
  frontend/src/constants/strings.js
  frontend/src/customPropTypes/mines.js
  frontend/src/tests/actionCreators/complianceActionCreator.spec.js
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/complianceReducer.spec.js
  python-backend/app/api/constants.py
  python-backend/app/api/mines/compliance/resources/compliance.py
  python-backend/app/api/nris_services/NRIS_service.py
  python-backend/tests/compliance/resources/test_compliance_resource.py
Labels: Backend, Frontend, Ready for review

#565 MDS-1441 Feature/ Contact Advanced Search on Frontend
  frontend/src/components/Forms/AdvancedContactSearchForm.js
  frontend/src/components/Forms/AdvancedMineSearchForm.js
  frontend/src/components/dashboard/contactsHomePage/ContactHomePage.js
  frontend/src/components/dashboard/contactsHomePage/ContactList.js
  frontend/src/components/dashboard/contactsHomePage/ContactSearch.js
  frontend/src/constants/API.js
  frontend/src/constants/forms.js
  frontend/src/constants/routes.js
  frontend/src/tests/actionCreators/partiesActionCreator.spec.js
  frontend/src/tests/components/dashboard/contactsHomePage/ContacthomePage.spec.js
Labels: Frontend, Ready for review

#571 Add mds-mine-admin role to local Keycloak user
  openshift/scripts/keycloak-local-realm.json
  openshift/scripts/keycloak-local-user.sh
Labels: CI/CD, Ready for review

#567 Bug/ Make email optional/nullable
  frontend/src/components/Forms/AddPartyForm.js
  migrations/sql/V2019.03.05.09.27__alter_party_nullable_email.sql
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/tests/parties/party/resources/test_party_resource.py
Labels: Backend, Frontend, Ready for review

#575 MDS-1520: Bug/ Convert Minespace Reports Table to use Ant Design
  frontend-public/src/components/dashboard/mineInfo/MineInfo.js
  frontend-public/src/components/dashboard/mineInfo/MineInfoList.js
  frontend-public/src/constants/styles.js
  frontend-public/src/styles/components/Tables.scss
  frontend-public/src/styles/index.scss
Labels: Frontend, Ready for review

#569 Feature/mds 1441
  frontend/src/components/Forms/AdvancedContactSearchForm.js
  frontend/src/components/dashboard/contactsHomePage/ContactHomePage.js
  python-backend/app/api/parties/namespace/parties.py
  python-backend/app/api/parties/party/resources/party_advance_search_resource.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/tests/parties/party/resources/test_party_advanced_search_resource.py
Labels: Backend, Frontend, Needs Manual Testing, Ready for review

#577 Bug/MDS-1069 Frontend Hangs when JWT token is expired
  frontend/src/App.js
  frontend/src/axiosInterceptors.js
Labels: Frontend, Ready for review

#578 MDS-1512 Feature/add contacts at a system level
  frontend/package-lock.json
  frontend/src/actionCreators/partiesActionCreator.js
  frontend/src/actionCreators/staticContentActionCreator.js
  frontend/src/actions/staticContentActions.js
  frontend/src/assets/images/Checkmark.svg
  frontend/src/components/Forms/parties/AddFullPartyForm.js
  frontend/src/components/Forms/parties/AddQuickPartyForm.js
  frontend/src/components/common/wrappers/ModalWrapper.js
  frontend/src/components/dashboard/contactsHomePage/ContactHomePage.js
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/modalContent/AddPartyModal.js
  frontend/src/components/modalContent/AddPartyRelationshipModal.js
  frontend/src/components/modalContent/config.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/assets.js
  frontend/src/constants/forms.js
  frontend/src/constants/modalContent.js
  frontend/src/constants/reducerTypes.js
  frontend/src/customPropTypes/common.js
  frontend/src/reducers/modalReducer.js
  frontend/src/reducers/rootReducer.js
  frontend/src/reducers/staticContentReducer.js
  frontend/src/selectors/modalSelectors.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/styles/components/Modal.scss
  frontend/src/styles/generic/layout.scss
  frontend/src/styles/index.scss
  frontend/src/styles/settings/themeOverride.scss
  frontend/src/styles/settings/variables.scss
  frontend/src/tests/actionCreators/partiesActionCreator.spec.js
  frontend/src/tests/actionCreators/staticContentActionCreator.spec.js
  frontend/src/tests/components/Forms/parties/AddFullPartyForm.spec.js
  frontend/src/tests/components/Forms/parties/AddQuickPartyForm.spec.js
  frontend/src/tests/components/Forms/parties/__snapshots__/AddFullPartyForm.spec.js.snap
  frontend/src/tests/components/Forms/parties/__snapshots__/AddQuickPartyForm.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/RenderField.spec.js.snap
  frontend/src/tests/components/common/wrappers/ModalWrapper.spec.js
  frontend/src/tests/components/common/wrappers/__snapshots__/ModalWrapper.spec.js.snap
  frontend/src/tests/components/dashboard/contactsHomePage/ContacthomePage.spec.js
  frontend/src/tests/components/dashboard/contactsHomePage/__snapshots__/ContacthomePage.spec.js.snap
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  frontend/src/tests/components/mine/Permit/__snapshots__/MinePermitInfo.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineDashboard.spec.js.snap
  frontend/src/tests/components/modalContent/AddPartyModal.spec.js
  frontend/src/tests/components/modalContent/__snapshots__/AddPartyModal.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/staticContentReducer.spec.js
  frontend/src/tests/selectors/staticContentSelectors.spec.js
  frontend/src/utils/helpers.js
  package-lock.json
Labels: Frontend, Needs Manual Testing, Ready for review, WIP

#570 Bug/MDS-1343 RTF file uploads don't work on Mac
  frontend/src/constants/fileTypes.js
Labels: Frontend, Needs Manual Testing

#580 fixed create-data regression
  python-backend/app/commands.py
Labels: Backend, Ready for review

#579 MDS-1528 Bug/ Changes to Received Date and Status Behaviours
  frontend-public/src/components/Forms/EditReportForm.js
  frontend-public/src/components/dashboard/mineInfo/MineInfo.js
  frontend-public/src/components/dashboard/mineInfo/MineInfoList.js
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
  python-backend/app/api/documents/expected/models/mine_expected_document.py
  python-backend/app/api/documents/expected/resources/expected_document_uploads.py
Labels: Backend, Frontend, Ready for review

#581 Bug/responsive menu
  frontend/src/assets/images/Hamburger.svg
  frontend/src/assets/images/Team.svg
  frontend/src/assets/images/close.svg
  frontend/src/assets/images/logout-white.svg
  frontend/src/components/Home.js
  frontend/src/components/authentication/Logout.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/constants/assets.js
  frontend/src/constants/styles.js
  frontend/src/styles/components/NavBar.scss
  frontend/src/styles/generic/layout.scss
  frontend/src/tests/components/__snapshots__/Home.spec.js.snap
  frontend/src/tests/components/authentication/Logout.spec.js
  frontend/src/tests/components/authentication/__snapshots__/Logout.spec.js.snap
  frontend/src/tests/components/navigation/NavBar.spec.js
  frontend/src/tests/components/navigation/__snapshots__/NavBar.spec.js.snap
Labels: Frontend, Ready for review

#586 MDS-1141 Feature/ Update Compliance Open Orders table to use Ant Design
  frontend/src/components/mine/Compliance/MineComplianceInfo.js
  frontend/src/components/mine/Compliance/OpenOrdersTable.js
  frontend/src/tests/components/mine/Compliance/OpenOrdersTable.spec.js
  frontend/src/tests/components/mine/Compliance/__snapshots__/OpenOrdersTable.spec.js.snap
  frontend/src/tests/components/navigation/__snapshots__/NavBar.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
Labels: Frontend, Ready for review

#585 Task/mds 1533 require document category refactor
  migrations/sql/V2019.03.12.09.48__req_document_category_pk.sql
  migrations/sql/V2019.03.12.10.48__req_document_category_cleanup.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/documents/expected/resources/expected_document_uploads.py
  python-backend/app/api/documents/required/models/required_document_categories.py
  python-backend/app/api/documents/required/models/required_documents.py
  python-backend/app/api/documents/required/resources/required_documents.py
  python-backend/app/api/mines/tailings/resources/tailings.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/documents/required/models/test_required_document_model.py
  python-backend/tests/documents/required/resources/test_required_documents_resource.py
Labels: Backend, Ready for review

#588 Feature/mds 1021
  frontend/src/components/maps/LocationPin.js
  frontend/src/components/maps/MineMap.js
  frontend/src/components/maps/MinePin.js
Labels: Frontend, Needs Manual Testing, Ready for review

#589 Feature/mds 1609
  frontend/src/components/dashboard/contactsHomePage/ContactSearch.js
  python-backend/app/api/parties/party/resources/party_advance_search_resource.py
Labels: Backend, Frontend, Needs Manual Testing, Ready for review

#590 Fix breaking API change & update FE category param
  frontend-public/src/tests/mocks/dataMocks.js
  frontend/src/constants/API.js
  frontend/src/tests/mocks/dataMocks.js
  python-backend/app/api/documents/required/resources/required_documents.py
  python-backend/app/api/mines/tailings/resources/tailings.py
  python-backend/tests/documents/required/resources/test_required_documents_resource.py
Labels: Backend, Frontend, Ready for review

#582 MDS-1496 capture initial applications
  frontend/package-lock.json
  migrations/sql/V2019.03.07.11.16__add_application_tables.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/__init__.py
  python-backend/app/api/applications/models/application.py
  python-backend/app/api/applications/models/application_status_code.py
  python-backend/app/api/applications/namespace/applications.py
  python-backend/app/api/applications/resources/apllication.py
  python-backend/app/api/permits/permit/resources/permit.py
  python-backend/tests/applications/resources/test_application_resource.py
Labels: Backend, Ready for review

#593 Feature/mds 1577
  frontend-public/src/App.js
  frontend-public/src/components/common/WarningBanner.js
  frontend/src/actions/permitActions.js
  frontend/src/components/Home.js
  frontend/src/components/common/WarningBanner.js
  frontend/src/tests/components/__snapshots__/Home.spec.js.snap
Labels: Frontend, Needs Manual Testing, Ready for review

#568 Add storage for logs to nginx
  nginx/conf.d/api.core.conf.tmpl
  nginx/nginx.conf
  openshift/_nginx.dc.json
  pipeline/config.groovy
Labels: Ready for review

#587 Feature/mds 1564 permit amendment documents
  frontend/src/actionCreators/permitActionCreator.js
  frontend/src/components/Forms/AddPermitAmendmentForm.js
  frontend/src/components/Forms/AddPermitForm.js
  frontend/src/components/Forms/PermitAmendmentForm.js
  frontend/src/components/Forms/parties/AddFullPartyForm.js
  frontend/src/components/common/FilePicker.js
  frontend/src/components/common/FileUpload.js
  frontend/src/components/common/UploadedFilesList.js
  frontend/src/components/mine/Permit/MinePermitInfo.js
  frontend/src/components/mine/Permit/MinePermitTable.js
  frontend/src/components/mine/Permit/PermitAmendmentFileUpload.js
  frontend/src/components/mine/Permit/PermitAmendmentUploadedFilesList.js
  frontend/src/components/modalContent/PermitAmendmentModal.js
  frontend/src/components/modalContent/config.js
  frontend/src/constants/API.js
  frontend/src/constants/forms.js
  frontend/src/constants/modalContent.js
  frontend/src/constants/reducerTypes.js
  frontend/src/customPropTypes/documents.js
  frontend/src/styles/components/Tables.scss
  frontend/src/styles/generic/layout.scss
  frontend/src/styles/settings/theme.scss
  frontend/src/tests/actionCreators/permitActionCreator.spec.js
  frontend/src/tests/components/Forms/AddPermitForm.spec.js
  frontend/src/tests/components/Forms/PermitAmendmentForm.js
  frontend/src/tests/components/Forms/__snapshots__/AddPermitForm.spec.js.snap
  frontend/src/tests/components/Forms/parties/__snapshots__/AddFullPartyForm.spec.js.snap
  frontend/src/tests/components/mine/Permit/__snapshots__/MinePermitInfo.spec.js.snap
  python-backend/app/api/document_manager/resources/document_manager.py
  python-backend/app/api/permits/namespace/permits.py
  python-backend/app/api/permits/permit/resources/permit.py
  python-backend/app/api/permits/permit_amendment/resources/permit_amendment.py
  python-backend/app/api/permits/permit_amendment/resources/permit_amendment_document.py
  python-backend/tests/permit/resources/test_permit_amendment_resource.py
  python-backend/tests/permit/resources/test_permit_resource.py
Labels: Backend, Frontend, Ready for review

#595 Feature/mds 1462 change tsf reports list
  frontend-public/src/components/dashboard/mineInfo/MineInfoList.js
  frontend-public/src/customPropTypes/documents.js
  frontend/src/components/mine/Tailings/MineTailingsTable.js
  frontend/src/customPropTypes/documents.js
  migrations/sql/V2019.03.12.15.29__add_required_document_sub_categorization.sql
  migrations/sql/V2019.03.18.09.22__update_required_report_name.sql
  python-backend/app/api/documents/expected/models/mine_expected_document.py
  python-backend/app/api/documents/expected/resources/mine_documents.py
  python-backend/app/api/documents/required/models/required_document_sub_categories.py
  python-backend/app/api/documents/required/models/required_documents.py
  python-backend/app/api/documents/required/resources/required_documents.py
  python-backend/app/api/mines/tailings/resources/tailings.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/documents/required/resources/test_required_documents_resource.py
Labels: Backend, DO NOT MERGE, Ready for review

#601 Update minespace upload modal text.
  frontend-public/src/components/Forms/EditReportForm.js
Labels: Frontend, Ready for review

#594 Refactor: Update document manager Redis keys
  python-backend/app/api/constants.py
  python-backend/app/api/document_manager/resources/document_manager.py
Labels: Backend, Ready for review

#596 Feature/mds 1496 front end to display applications
  frontend/src/actionCreators/applicationActionCreator.js
  frontend/src/actionCreators/staticContentActionCreator.js
  frontend/src/actions/applicationActions.js
  frontend/src/actions/staticContentActions.js
  frontend/src/components/Forms/applications/AddApplicationForm.js
  frontend/src/components/Forms/applications/EditApplicationForm.js
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/mine/Applications/MineApplicationInfo.js
  frontend/src/components/mine/Applications/MineApplicationTable.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/modalContent/AddApplicationModal.js
  frontend/src/components/modalContent/EditApplicationModal.js
  frontend/src/components/modalContent/config.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/forms.js
  frontend/src/constants/modalContent.js
  frontend/src/constants/reducerTypes.js
  frontend/src/customPropTypes/applications.js
  frontend/src/customPropTypes/index.js
  frontend/src/reducers/applicationReducer.js
  frontend/src/reducers/rootReducer.js
  frontend/src/reducers/staticContentReducer.js
  frontend/src/selectors/applicationSelectors.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/actionCreators/applicationActionCreator.spec.js
  frontend/src/tests/actionCreators/staticContentActionCreator.spec.js
  frontend/src/tests/components/dashboard/minesHomePage/Dashboard.spec.js
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  frontend/src/tests/components/mine/Applications/MineApplicationInfo.spec.js
  frontend/src/tests/components/mine/Applications/MineApplicationTable.spec.js
  frontend/src/tests/components/mine/Applications/__snapshots__/MineApplicationInfo.spec.js.snap
  frontend/src/tests/components/mine/Applications/__snapshots__/MineApplicationTable.spec.js.snap
  frontend/src/tests/components/mine/MineDashboard.spec.js
  frontend/src/tests/components/mine/__snapshots__/MineDashboard.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/applicationReducer.spec.js
  frontend/src/tests/reducers/staticContentReducer.spec.js
  frontend/src/tests/selectors/applicationSelectors.spec.js
  python-backend/app/api/applications/models/application_status_code.py
  python-backend/app/api/applications/namespace/applications.py
  python-backend/app/api/applications/resources/application_status_code.py
  python-backend/tests/conftest.py
Labels: Frontend, Ready for review

#602 Bug/MDS-1353 Remove double toast messages on Minespace login
  frontend-public/src/HOC/AuthenticationGuard.js
  frontend-public/src/actionCreators/authenticationActionCreator.js
  frontend-public/src/components/ReturnPage.js
  frontend-public/src/tests/actionCreators/authenticationActionCreator.spec.js
Labels: Frontend, Ready for review

#604 Mds 861
  frontend/src/components/maps/MineMap.js
  frontend/src/tests/components/Forms/__snapshots__/AddPermitForm.spec.js.snap
  frontend/src/tests/components/mine/Permit/__snapshots__/MinePermitInfo.spec.js.snap
Labels: Frontend, Needs Manual Testing, Ready for review

#603 MDS-1438 Feature/ Add 0, 1, or n roles to a new party
  frontend/src/components/Forms/parties/AddFullPartyForm.js
  frontend/src/components/Forms/parties/AddRolesForm.js
  frontend/src/components/common/RenderAutoComplete.js
  frontend/src/components/dashboard/contactsHomePage/ContactHomePage.js
  frontend/src/components/modalContent/AddPartyModal.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/constants/forms.js
  frontend/src/constants/styles.js
  frontend/src/tests/components/Forms/parties/AddRolesForm.spec.js
  frontend/src/tests/components/Forms/parties/__snapshots__/AddRolesForm.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/RenderAutoComplete.spec.js.snap
  frontend/src/tests/components/mine/Applications/__snapshots__/MineApplicationInfo.spec.js.snap
  frontend/src/tests/components/mine/Applications/__snapshots__/MineApplicationTable.spec.js.snap
  frontend/src/tests/components/modalContent/AddPartyModal.spec.js
  frontend/src/tests/components/modalContent/__snapshots__/AddPartyModal.spec.js.snap
Labels: Frontend, Needs Manual Testing, Ready for review

#605 Task/ Add Git pre-push hook
  frontend/package-lock.json
  frontend/package.json
Labels: Ready for review

#599 Add configurable IDP_HINT to Minespace
  frontend-public/.env-example
  frontend-public/server.js
  frontend-public/src/components/authentication/Authentication.js
  frontend-public/src/constants/environment.js
  frontend-public/src/fetchEnv.js
  pipeline/config.groovy
Labels: Frontend, Ready for review

#609 url helper doesn't really work, pull url line from existing post
  python-backend/app/api/permits/namespace/permits.py
  python-backend/app/api/permits/permit_amendment/resources/permit_amendment_document.py
  python-backend/app/api/utils/url.py
Labels: Backend, Ready for review

#610 Metabase
  docker-images/metabase/Dockerfile
  openshift/tools/metabase.bc.json
  openshift/tools/metabase.dc.json
  pipeline/config.groovy
Labels: Ready for review

#606 Improve Node build times
  docker-images/nodejs-8-public/Dockerfile
  docker-images/nodejs-8/Dockerfile
  frontend-public/.s2i/bin/assemble
  frontend-public/package-lock.json
  frontend-public/package.json
  frontend-public/webpack.config.js
  frontend-public/webpack.parts.js
  frontend/.s2i/bin/assemble
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.config.js
  frontend/webpack.parts.js
  openshift/_nodejs.bc.json
Labels: CI/CD, Ready for review, enhancement

#614 Got rid of the 0 random mines created message
  python-backend/app/commands.py
Labels: Ready for review

#616 Documented how to stand up local frontend
  Makefile
  USAGE.md
Labels: Ready for review

#615 Remove all linting errors & add git hooks to lint/format staged files pre-commit
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Forms/AddTailingsReportForm.js
  frontend/src/components/Forms/MineRecordForm.js
  frontend/src/components/Forms/PartyRelationships/EditPartyRelationshipForm.js
  frontend/src/components/Forms/PermitAmendmentForm.js
  frontend/src/components/Forms/parties/AddRolesForm.js
  frontend/src/components/common/PageNotFound.js
  frontend/src/components/common/RenderAutoSizeField.js
  frontend/src/components/common/RenderCascader.js
  frontend/src/components/common/RenderCheckbox.js
  frontend/src/components/common/RenderDate.js
  frontend/src/components/common/RenderField.js
  frontend/src/components/common/RenderMultiSelect.js
  frontend/src/components/common/RenderSelect.js
  frontend/src/components/common/config.js
  frontend/src/components/common/wrappers/AuthorizationWrapper.js
  frontend/src/components/maps/LocationPin.js
  frontend/src/components/maps/MapPopup.js
  frontend/src/components/mine/ContactInfo/PartyRelationships/Contact.js
  frontend/src/components/mine/ContactInfo/PartyRelationships/DefaultContact.js
  frontend/src/components/mine/ContactInfo/PartyRelationships/EngineerOfRecord.js
  frontend/src/components/mine/ContactInfo/PartyRelationships/InactiveContact.js
  frontend/src/components/mine/ContactInfo/PartyRelationships/Permittee.js
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/components/mine/Permit/MinePermitTable.js
  frontend/src/components/mine/Tenure/MineTenureInfo.js
  frontend/src/components/modalContent/AddPartyModal.js
  frontend/src/components/modalContent/AddPermitAmendmentModal.js
  frontend/src/components/modalContent/AddTailingsModal.js
  frontend/src/components/modalContent/AddTailingsReportModal.js
  frontend/src/components/modalContent/AddTenureModal.js
  frontend/src/customPropTypes/minespace.js
  frontend/src/fetchEnv.js
  frontend/src/selectors/mineSelectors.js
  frontend/src/tests/components/Forms/AddPartyRelationshipForm.spec.js
  frontend/src/tests/components/common/UploadedFilesList.spec.js
  frontend/src/tests/components/mine/Summary/MineSummary.spec.js
  frontend/src/utils/RequestHeaders.js
Labels: Frontend, Needs Manual Testing, Ready for review

#619 Mds 1620
  frontend/src/actionCreators/partiesActionCreator.js
  frontend/src/components/parties/PartyProfile.js
  frontend/src/constants/reducerTypes.js
  frontend/src/constants/styles.js
  frontend/src/styles/settings/themeOverride.scss
  frontend/src/tests/actionCreators/partiesActionCreator.spec.js
  migrations/sql/V2019.03.25.10.00__update_party_delete_ind.sql
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/resources/party_advance_search_resource.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/tests/auth/test_expected_auth.py
  python-backend/tests/parties/party/resources/test_party_resource.py
Labels: Backend, Frontend, Ready for review

#625 updated email regex
  frontend/src/utils/Validate.js
Labels: Frontend

#600 ETL nightly job issue.
  migrations/sql/R__stored_procedure_for_mine_information.sql
  python-backend/app/api/constants.py
  python-backend/app/scheduled_jobs/ETL_jobs.py
Labels: Backend, Ready for review

#618 Hackathon 2019/checkmark
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/actions/mineActions.js
  frontend/src/assets/images/Hazard.svg
  frontend/src/components/admin/AdminDashboard.js
  frontend/src/components/admin/AdminVerifiedMinesList.js
  frontend/src/components/dashboard/minesHomePage/MineList.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/assets.js
  frontend/src/constants/reducerTypes.js
  frontend/src/customPropTypes/mines.js
  frontend/src/reducers/mineReducer.js
  frontend/src/tests/components/admin/AdminDashboard.spec.js
  frontend/src/tests/components/admin/__snapshots__/AdminDashboard.spec.js.snap
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/MineList.spec.js.snap
  frontend/src/tests/components/mine/MineHeader.spec.js
  frontend/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  frontend/src/tests/components/navigation/NavBar.spec.js
  frontend/src/tests/components/navigation/__snapshots__/NavBar.spec.js.snap
  migrations/sql/V2019.03.21.9.41__add_verified_checkmark.sql
  python-backend/app/__init__.py
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/models/mine_verified_status.py
  python-backend/app/api/mines/mine/resources/mine_verified_status.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/utils/include/user_info.py
  python-backend/app/commands.py
  python-backend/tests/mines/resources/test_mine_verified_status_resource.py
Labels: Backend, Frontend, Ready for review

#623 Additional validation and secondary sort order for Permit Amendments
  frontend/src/components/Forms/PermitAmendmentForm.js
  frontend/src/components/mine/Permit/MinePermitInfo.js
  frontend/src/components/modalContent/PermitAmendmentModal.js
  frontend/src/tests/components/common/__snapshots__/NullScreen.spec.js.snap
  frontend/src/tests/components/mine/Applications/__snapshots__/MineApplicationTable.spec.js.snap
  python-backend/app/api/permits/permit/models/permit.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment.py
Labels: Ready for review

#613 Fix/update timestamp update user
  frontend/src/reducers/mineReducer.js
  python-backend/app/api/applications/models/application.py
  python-backend/app/api/applications/resources/apllication.py
  python-backend/app/api/document_manager/resources/document_manager.py
  python-backend/app/api/documents/expected/models/mine_expected_document.py
  python-backend/app/api/documents/expected/resources/expected_document_uploads.py
  python-backend/app/api/documents/expected/resources/mine_documents.py
  python-backend/app/api/mines/mine/models/mine_type.py
  python-backend/app/api/mines/mine/models/mine_type_detail.py
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/mines/mine/resources/mine_type.py
  python-backend/app/api/mines/mine/resources/mine_type_detail.py
  python-backend/app/api/mines/region/models/region.py
  python-backend/app/api/mines/status/models/mine_operation_status_reason_code.py
  python-backend/app/api/mines/tailings/models/tailings.py
  python-backend/app/api/mines/tailings/resources/tailings.py
  python-backend/app/api/nris_services/NRIS_service.py
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  python-backend/app/api/permits/permit/models/permit.py
  python-backend/app/api/permits/permit/resources/permit.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment.py
  python-backend/app/api/permits/permit_amendment/resources/permit_amendment.py
  python-backend/app/api/permits/permit_amendment/resources/permit_amendment_document.py
  python-backend/app/api/utils/models_mixins.py
  python-backend/app/api/utils/resources_mixins.py
  python-backend/app/commands.py
  python-backend/tests/applications/resources/test_application_resource.py
  python-backend/tests/auth/test_user_auth.py
  python-backend/tests/cli/test_cli.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/parties/party_appt/model/test_mine_party_appt_model.py
  python-backend/tests/parties/party_appt/model/test_mpa_permittee_model.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_admin_resource.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_mm_overlap.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_resource.py
  python-backend/tests/parties/party_appt/resources/test_mpa_permittee_resource.py
  python-backend/tests/permit/models/test_permit_amendment_model.py
  python-backend/tests/permit/resources/test_permit_amendment_document_resource.py
  python-backend/tests/permit/resources/test_permit_amendment_resource.py
  python-backend/tests/permit/resources/test_permit_resource.py
  python-backend/tests/tailings/models/test_mine_tailings_model.py
  python-backend/tests/tailings/resources/test_mine_tailings_resource.py
  python-backend/tests/users/resources/test_minespace_user_resource.py
  python-backend/tests/utils/include/test_user_info.py
Labels: Backend, Ready for review

#627 Bug/MDS-1658 Minespace dates not autopopulating
  frontend-public/package-lock.json
  frontend-public/package.json
  frontend-public/src/components/dashboard/mineInfo/MineInfo.js
Labels: Frontend, Ready for review

#626 Task/mds 1596 common add button
  frontend/src/components/common/AddButton.js
  frontend/src/components/dashboard/contactsHomePage/ContactHomePage.js
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/mine/Permit/MinePermitInfo.js
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
  frontend/src/styles/settings/themeOverride.scss
  frontend/src/tests/components/dashboard/contactsHomePage/__snapshots__/ContacthomePage.spec.js.snap
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  frontend/src/tests/components/mine/Permit/__snapshots__/MinePermitInfo.spec.js.snap
  frontend/src/tests/components/mine/Tailings/__snapshots__/MineTailingsInfo.spec.js.snap
Labels: Frontend, Ready for review

#628 Task/use store missing on put endpoint-parties
  frontend/src/components/mine/Applications/MineApplicationTable.js
  frontend/src/components/modalContent/AddPartyModal.js
  frontend/src/components/modalContent/AddPartyRelationshipModal.js
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  python-backend/app/scheduled_jobs/ETL_jobs.py
  python-backend/tests/parties/party/resources/test_party_resource.py
Labels: Backend, Frontend, Ready for review

#630 Task/store missing on put permit and permit amendments
  python-backend/app/__init__.py
  python-backend/app/api/permits/permit/models/permit.py
  python-backend/app/api/permits/permit/resources/permit.py
  python-backend/app/api/permits/permit_amendment/resources/permit_amendment.py
  python-backend/tests/permit/resources/test_permit_amendment_resource.py
  python-backend/tests/permit/resources/test_permit_resource.py
Labels: Backend, Ready for review

#631 optimize basic info get
  python-backend/app/api/mines/mine/resources/mine_basicinfo.py
Labels: Backend, Ready for review

#632 MDS-1526 changed the display format of the documents in minespace.
  frontend-public/src/components/dashboard/mineInfo/MineInfoList.js
  frontend-public/src/styles/components/Tables.scss
Labels: Frontend, Ready for review
