Repository bcgov/mds, pull requests merged in 2019-02, with the labels that each got.

#485 Feature/mds 1106 apm
  openshift/_python36.dc.json
  pipeline/config.groovy
  python-backend/.env-example
  python-backend/app/__init__.py
  python-backend/app/config.py
  python-backend/requirements.txt
Labels: Backend, Ready for review

#488 Had to make the major mine query unbound by user.
  python-backend/app/scheduled_jobs/NRIS_jobs.py
Labels: Backend, Ready for review

#489 Feature/mds 1244
  frontend/src/actionCreators/minespaceActionCreator.js
  frontend/src/actionCreators/partiesActionCreator.js
  frontend/src/components/Forms/AddPartyForm.js
  frontend/src/components/Forms/AddTailingsForm.js
  frontend/src/components/Forms/AddTailingsReportForm.js
  frontend/src/components/Forms/AddTenureNumberForm.js
  frontend/src/components/Forms/EditTailingsReportForm.js
  frontend/src/components/Forms/MineRecordForm.js
  frontend/src/components/Forms/PartyRelationships/AddPartyRelationshipForm.js
  frontend/src/components/Forms/PartyRelationships/EditPartyRelationshipForm.js
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/mine/ContactInfo/MineContactInfo.js
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
  frontend/src/components/mine/Tenure/MineTenureInfo.js
  frontend/src/components/modalContent/AddPartyRelationshipModal.js
  frontend/src/constants/forms.js
  frontend/src/tests/components/Forms/AddPartyForm.spec.js
  frontend/src/tests/components/Forms/AddPartyRelationshipForm.spec.js
  frontend/src/tests/components/Forms/AddTailingsForm.spec.js
  frontend/src/tests/components/Forms/AddTailingsReportForm.spec.js
  frontend/src/tests/components/Forms/AddTenureNumberForm.spec.js
  frontend/src/tests/components/Forms/EditPartyRelationshipForm.spec.js
  frontend/src/tests/components/Forms/MineRecordForm.spec.js
  frontend/src/tests/components/mine/ContactInfo/ViewPartyRelationships.spec.js
Labels: Frontend, Ready for review

#481 MDS-1320 centre map on search
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/maps/MineMap.js
Labels: Frontend, Ready for review

#474 Update ETL to overwrite regional mine permits and parties
  migrations/etl/1_Mine_profile_detail_location.sql
  migrations/etl/2_Mine_manager.sql
  migrations/etl/3_Mine_permit_permitee.sql
Labels: Backend, Ready for review

#495 Upgrades/fav icon
  frontend-public/public/favicon.ico
  frontend-public/public/faviconMIneSpace.ico
  frontend-public/public/index.html
  frontend/public/faviconCORE.ico
  frontend/public/index.html
  frontend/src/styles/elements/elements.scss
Labels: Frontend, Ready for review

#494 Mds 1078
  frontend/src/assets/images/InfoCircle.svg
  frontend/src/components/mine/MineHeader.js
  frontend/src/constants/assets.js
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/tests/mines/resources/test_mine_resource.py
Labels: Backend, Frontend, Needs Manual Testing

#492 NRIS cache missed exception handling
  python-backend/app/__init__.py
  python-backend/app/scheduled_jobs/NRIS_jobs.py
Labels: Ready for review

#500 Fix/ Add constraint to mine status seed data
  migrations/sql/V2019.02.05.08.51__add_constraint_mine_status_xref.sql
Labels: Backend, Ready for review

#493 mine manager ETL update
  migrations/etl/2_Mine_manager.sql
Labels: Backend, Ready for review

#506 MDS-1372 Bug/generic 404 page added to both CORE and MineSpace
  frontend-public/src/App.js
  frontend-public/src/components/ReturnPage.js
  frontend-public/src/components/common/NullScreen.js
  frontend-public/src/reducers/authenticationReducer.js
  frontend-public/src/routes/PublicRoutes.js
  frontend-public/src/routes/Routes.js
  frontend-public/src/tests/routes/PrivateRoutes.spec.js
  frontend-public/src/tests/routes/Routes.spec.js
  frontend/src/components/Home.js
  frontend/src/components/common/NullScreen.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/routes/AdminDashboardRoutes.js
  frontend/src/routes/DashboardRoutes.js
  frontend/src/routes/Routes.js
  frontend/src/tests/routes/AdminDashboardRoutes.spec.js
Labels: Frontend, Needs Manual Testing, Ready for review

#505 MDS 1264 bug/close modal when back/forward button is clicked
  frontend-public/public/manifest.json
  frontend-public/src/components/common/wrappers/ModalWrapper.js
  frontend/public/manifest.json
  frontend/src/components/common/wrappers/ModalWrapper.js
Labels: Needs Manual Testing, Ready for review

#507 Fix/ Populate processed_* with non-null values in ETL
  migrations/etl/2_Mine_manager.sql
  migrations/etl/3_Mine_permit_permitee.sql
Labels: Ready for review

#480 [MDS-1213] Fixing Mines List Responsive Views
  frontend/src/components/dashboard/MineList.js
  frontend/src/styles/components/MineList.scss
  frontend/src/styles/components/Tables.scss
  frontend/src/styles/elements/elements.scss
  frontend/src/styles/generic/layout.scss
  frontend/src/styles/index.scss
Labels: Frontend

#501 [MDS-1085] Map View Size is Too Big
  frontend/src/components/maps/MineMap.js
  frontend/src/styles/components/NavBar.scss
  frontend/src/styles/generic/layout.scss
Labels: Frontend

#490 Feature/MDS-1217 Implement chunked file uploads
  frontend-public/package-lock.json
  frontend-public/package.json
  frontend-public/src/components/dashboard/mineInfo/MineInfo.js
  frontend-public/src/utils/actionlessNetworkCalls.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/components/common/FileUpload.js
  frontend/src/components/mine/Tailings/MineTailingsFilePicker.js
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
  frontend/src/constants/reducerTypes.js
  frontend/src/tests/actionCreators/mineActionCreator.spec.js
  frontend/src/utils/actionlessNetworkCalls.js
  migrations/sql/V2019.01.31.11.24__alter_document_upload_dates.sql
  openshift/_python36.dc.json
  pipeline/config.groovy
  python-backend/app/__init__.py
  python-backend/app/api/constants.py
  python-backend/app/api/document_manager/models/document_manager.py
  python-backend/app/api/document_manager/resources/document_manager.py
  python-backend/app/api/documents/expected/resources/expected_document_uploads.py
  python-backend/app/extensions.py
  python-backend/requirements.txt
  python-backend/tests/auth/test_expected_auth.py
  python-backend/tests/document_manager/resources/test_document_manager_resource.py
  python-backend/tests/documents/expected/resources/test_expected_document_uploads.py
Labels: Backend, CI/CD, Frontend, Needs Manual Testing, Ready for review

#504 MDS-1237 Update/ Rename permit.expiry_date
  frontend-public/src/tests/mocks/dataMocks.js
  frontend/src/components/mine/Permit/MinePermitInfo.js
  frontend/src/customPropTypes/permits.js
  frontend/src/tests/mocks/dataMocks.js
  migrations/etl/1_Mine_profile_detail_location.sql
  migrations/etl/2_Mine_manager.sql
  migrations/etl/3_Mine_permit_permitee.sql
  migrations/sql/V2019.02.06.09.58__alter_table_permit.sql
  python-backend/app/api/permits/permit/models/permit.py
Labels: Backend, Frontend, Ready for review

#511 Bug/MDS-1180 Refactor document status codes
  frontend-public/src/actionCreators/staticContentActionCreator.js
  frontend-public/src/actions/staticContentActions.js
  frontend-public/src/components/common/UploadedFilesList.js
  frontend-public/src/components/dashboard/mineInfo/MineInfo.js
  frontend-public/src/constants/actionTypes.js
  frontend-public/src/constants/reducerTypes.js
  frontend-public/src/customPropTypes/documents.js
  frontend-public/src/reducers/rootReducer.js
  frontend-public/src/reducers/staticContentReducer.js
  frontend-public/src/reducers/userMineInfoReducer.js
  frontend-public/src/selectors/staticContentSelectors.js
  frontend-public/src/tests/actionCreators/staticContentActionCreator.spec.js
  frontend-public/src/tests/mocks/dataMocks.js
  frontend-public/src/tests/reducers/staticContentReducer.spec.js
  frontend-public/src/tests/reducers/userMineInfoReducer.spec.js
  frontend/src/components/common/UploadedFilesList.js
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
  frontend/src/customPropTypes/documents.js
  frontend/src/tests/components/mine/Tailings/MineTailingsInfo.spec.js
  frontend/src/tests/mocks/dataMocks.js
  migrations/sql/V2019.02.07.02.27__alter_expected_document_status.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/documents/expected/models/document.py
  python-backend/app/api/documents/expected/models/document_status.py
  python-backend/app/api/documents/expected/resources/documents.py
  python-backend/app/api/documents/expected/resources/mine_documents.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/documents/expected/models/test_expected_mine_document_model.py
  python-backend/tests/documents/expected/resources/test_expected_document_uploads.py
Labels: Backend, Frontend, Needs Manual Testing, Ready for review

#512 Misc backend updates and fixes
  docker-compose.yml
  load_testing/locust/.gitignore
  load_testing/requirements.txt
  migrations/etl/1_Mine_profile_detail_location.sql
  python-backend/app/__init__.py
  python-backend/app/api/documents/expected/resources/mine_documents.py
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/tailings/resources/tailings.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/utils/include/user_info.py
  python-backend/app/auth.py
  python-backend/app/commands.py
  python-backend/app/config.py
  python-backend/app/extensions.py
  python-backend/app/scheduled_jobs/NRIS_jobs.py
Labels: Backend, Ready for review

#509 MDS-1356 Fix/ Refine mine map sort by name
  frontend/package-lock.json
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/components/common/RenderAutoComplete.js
  frontend/src/components/dashboard/MineSearch.js
  frontend/src/constants/API.js
  frontend/src/tests/actionCreators/mineActionCreator.spec.js
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/config.py
  python-backend/tests/auth/test_expected_auth.py
  python-backend/tests/mines/resources/test_mine_list_by_name_resource.py
Labels: Backend, Frontend, Ready for review

#502 feature/mds-1278 maintenance mode.
  nginx/.s2i/bin/assemble
  nginx/conf.d/02_api.conf.tmpl
  nginx/conf.d/03_frontend_public.conf.tmpl
  nginx/conf.d/04_frontend.conf.tmpl
  nginx/html/maintenance_off.html
  nginx/nginx.conf
Labels: Ready for review

#518 Fix/ Update frontend-public to new endpoint
  frontend-public/src/actionCreators/userDashboardActionCreator.js
  frontend-public/src/constants/API.js
  frontend-public/src/tests/actionCreators/userDashboardActionCreator.spec.js
  frontend-public/src/tests/mocks/dataMocks.js
Labels: Frontend, Ready for review

#519 Upgrade/404
  frontend-public/src/components/authentication/Authentication.js
  frontend-public/src/components/common/NullScreen.js
  frontend/src/assets/images/computer404.svg
  frontend/src/components/common/NullScreen.js
  frontend/src/components/common/PageNotFound.js
  frontend/src/constants/assets.js
  frontend/src/routes/DashboardRoutes.js
  frontend/src/styles/components/NullScreen.scss
Labels: Frontend, Ready for review

#514 Feature/mds 924
  frontend/src/assets/images/small-pin.svg
  frontend/src/components/maps/LocationPin.js
  frontend/src/components/maps/MinePin.js
Labels: Frontend, Ready for review

#520 MSD-1215 Fix/ Show popups on pins for mobile sized view
  frontend/.gitignore
  frontend/src/components/maps/MineMap.js
Labels: Frontend, Ready for review

#498 Feature/MDS-1217 Chunked file uploads for public site
  frontend-public/package.json
  frontend-public/src/actionCreators/userDashboardActionCreator.js
  frontend-public/src/components/common/FileUpload.js
  frontend-public/src/components/dashboard/mineInfo/MineFilePicker.js
  frontend-public/src/constants/reducerTypes.js
  frontend-public/src/tests/actionCreators/userDashboardActionCreator.spec.js
Labels: Frontend, Ready for review

#521 MDS-1268 Feature/ Add permit number to permittee history table
  frontend/src/components/parties/RelationshipProfile.js
Labels: Frontend, Ready for review

#517 feature/mds-1369 APM on scheduled functions
  frontend/package-lock.json
  python-backend/app/api/utils/apm.py
  python-backend/app/scheduled_jobs/NRIS_jobs.py
Labels: Backend, Ready for review

#524 Bug/MDS-1399 Update mine manager etl to set end date to null
  migrations/etl/2_Mine_manager.sql
Labels: Backend, Ready for review

#525 MDS-1253 fix/ Search for commodities by name
  frontend/src/components/common/RenderMultiSelect.js
  frontend/src/utils/helpers.js
Labels: Frontend, Ready for review

#522 Fix/mds 1398 exp doc due date
  python-backend/app/api/documents/expected/models/document.py
  python-backend/tests/documents/expected/models/test_expected_document_model.py
Labels: Backend, Ready for review

#503 added cli command to run the NRIS jobs manually.
  python-backend/app/commands.py
Labels: Backend, Ready for review

#529 MDS-1268 Fix/ Dynamically show permit no column & other bug fixes
  frontend/src/components/parties/RelationshipProfile.js
  frontend/src/tests/components/parties/RelationshipProfile.spec.js
Labels: Frontend, Ready for review

#528 add realtime search as admin types
  frontend/src/components/Forms/AddMinespaceUser.js
  frontend/src/components/admin/NewMinespaceUser.js
  python-backend/app/api/mines/mine/models/mine.py
Labels: Frontend, Ready for review

#530 Bug/mds 1139
  frontend/src/components/maps/LocationPin.js
  frontend/src/styles/components/Maps.scss
Labels: Frontend, Ready for review

#531 input prop was being weird
  frontend/src/components/Forms/AddMinespaceUser.js
  frontend/src/components/common/RenderMultiSelect.js
Labels: Frontend, Ready for review

#533 Bug/MDS-1442 Update FilePicker for public frontend
  frontend-public/src/components/common/FilePicker.js
Labels: Frontend, Ready for review

#532 Fix/mds 1388 existing minespace user mines
  frontend/src/actionCreators/minespaceActionCreator.js
  frontend/src/actions/minespaceActions.js
  frontend/src/components/admin/MinespaceUserList.js
  frontend/src/components/admin/MinespaceUserManagement.js
  frontend/src/components/admin/NewMinespaceUser.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/reducerTypes.js
  frontend/src/reducers/minespaceReducer.js
  frontend/src/tests/components/admin/MinespaceUserManagement.spec.js
  frontend/src/tests/reducers/minespaceReducer.spec.js
  python-backend/app/api/mines/mine/resources/mine_basicinfo.py
  python-backend/app/api/users/minespace/resources/minespace_user.py
  python-backend/app/api/utils/url.py
Labels: Backend, Frontend, Ready for review

#534 Feature/mds 1141
  frontend/src/components/dashboard/MineList.js
  frontend/src/components/mine/Permit/MinePermitInfo.js
  frontend/src/components/mine/Summary/MineSummary.js
  frontend/src/components/parties/PartyProfile.js
  frontend/src/components/parties/RelationshipProfile.js
  frontend/src/constants/routes.js
  frontend/src/customPropTypes/common.js
  frontend/src/selectors/mineSelectors.js
  frontend/src/selectors/partiesSelectors.js
  frontend/src/styles/components/MineList.scss
  frontend/src/styles/components/Tables.scss
  frontend/src/styles/settings/theme.scss
  frontend/src/styles/settings/themeOverride.scss
  frontend/src/tests/components/Forms/AddPartyRelationshipForm.spec.js
  frontend/src/tests/components/parties/PartyProfile.spec.js
  frontend/src/tests/components/parties/RelationshipProfile.spec.js
  frontend/src/tests/mocks/dataMocks.js
Labels: Frontend, Ready for review

#536 Bug/mds 1046
  functional-tests/src/test/groovy/spec/Dashboard.groovy
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/tests/mines/resources/test_mine_resource.py
Labels: Backend, Ready for review

#537 Upgrade/mds 1018
  frontend/src/components/mine/ContactInfo/PartyRelationships/DefaultContact.js
  frontend/src/components/mine/Permit/MinePermitCard.js
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
Labels: Frontend, Ready for review

#535 Improvement/MDS-1445 Increase Document Manager file name and path limit
  migrations/sql/V2019.02.15.01.27__increase_document_manager_file_name_limits.sql
Labels: Backend, Ready for review

#539 Improvement/MDS-1445 Increase Mine Document file name limit
  migrations/sql/V2019.02.19.16.05__increase_mine_document_file_name_limits.sql
Labels: Backend, Ready for review

#541 mds-1435 permit document pre-work clean up
  python-backend/app/api/documents/expected/models/document.py
  python-backend/app/api/documents/expected/models/mine_expected_document.py
  python-backend/app/api/documents/expected/resources/documents.py
  python-backend/app/api/documents/expected/resources/mine_documents.py
  python-backend/tests/documents/expected/models/test_expected_document_model.py
  python-backend/tests/documents/expected/models/test_expected_mine_document_model.py
  python-backend/tests/documents/expected/resources/test_expected_mine_documents_resource.py
Labels: Backend, Ready for review

#543 MDS-1438 Feature/ Add address columns to party & province_code table
  migrations/sql/V2019.02.21.9.59__add_address_columns_to_party.sql
Labels: Backend

#540 Refactor JWT User Parsing
  python-backend/app/api/utils/include/user_info.py
  python-backend/tests/utils/include/test_user_info.py
Labels: Backend, Ready for review

#546 MDS-1431 Feature/Add contact view at a system level
  frontend-public/src/actions/userMineInfoActions.js
  frontend/src/actionCreators/partiesActionCreator.js
  frontend/src/assets/images/Admin.svg
  frontend/src/assets/images/mine.svg
  frontend/src/components/Forms/MineRecordForm.js
  frontend/src/components/Home.js
  frontend/src/components/admin/MinespaceUserList.js
  frontend/src/components/common/PageNotFound.js
  frontend/src/components/common/RenderAutoComplete.js
  frontend/src/components/common/ResponsivePagination.js
  frontend/src/components/common/wrappers/ModalWrapper.js
  frontend/src/components/dashboard/contactsHomePage/ContactHomePage.js
  frontend/src/components/dashboard/contactsHomePage/ContactList.js
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/dashboard/minesHomePage/MineList.js
  frontend/src/components/dashboard/minesHomePage/MineSearch.js
  frontend/src/components/mine/ContactInfo/MineContactInfo.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/constants/API.js
  frontend/src/constants/assets.js
  frontend/src/constants/routes.js
  frontend/src/constants/styles.js
  frontend/src/customPropTypes/parties.js
  frontend/src/reducers/partiesReducer.js
  frontend/src/routes/DashboardRoutes.js
  frontend/src/routes/Routes.js
  frontend/src/selectors/partiesSelectors.js
  frontend/src/styles/components/NavBar.scss
  frontend/src/styles/components/Tables.scss
  frontend/src/styles/generic/layout.scss
  frontend/src/styles/settings/themeOverride.scss
  frontend/src/tests/actionCreators/partiesActionCreator.spec.js
  frontend/src/tests/components/Home.spec.js
  frontend/src/tests/components/common/ResponsivePagination.spec.js
  frontend/src/tests/components/dashboard/contactsHomePage/ContactList.spec.js
  frontend/src/tests/components/dashboard/contactsHomePage/ContacthomePage.spec.js
  frontend/src/tests/components/dashboard/minesHomePage/Dashboard.spec.js
  frontend/src/tests/components/dashboard/minesHomePage/MineList.spec.js
  frontend/src/tests/components/dashboard/minesHomePage/MineSearch.spec.js
  frontend/src/tests/reducers/partieslReducer.spec.js
  frontend/src/tests/routes/routeWrappers/RedirectRoute.spec.js
  frontend/src/tests/selectors/partiesSelectors.spec.js
  functional-tests/src/test/groovy/pages/Dashboard.groovy
  python-backend/app/api/parties/party/resources/party_resource.py
Labels: Frontend, Ready for review

#547 Added InDevelopment and InTesting params for feature flagging.
  frontend/src/HOC/AuthorizationGuard.js
  frontend/src/components/common/wrappers/AuthorizationWrapper.js
  frontend/src/components/dashboard/contactsHomePage/ContactHomePage.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/constants/permissions.js
  frontend/src/utils/environmentUtils.js
Labels: Frontend, Ready for review

#510 MDS-1362-cron-job-to-run-ETL
  migrations/Dockerfile
  migrations/etl/0_dataCleanup.sql
  migrations/etl/1_Mine_profile_detail_location.sql
  migrations/etl/2_Mine_manager.sql
  migrations/etl/3_Mine_permit_permitee.sql
  migrations/etl/4_Mine_status.sql
  migrations/sql/R__stored_procedure_for_mine_information.sql
  migrations/sql/R__stored_procedure_for_mine_manager.sql
  migrations/sql/R__stored_procedure_for_mine_status_information.sql
  migrations/sql/R__stored_procedure_for_permit_and_permitee_information.sql
  python-backend/app/__init__.py
  python-backend/app/commands.py
  python-backend/app/scheduled_jobs/ETL_jobs.py
  python-backend/app/scheduled_jobs/NRIS_jobs.py
Labels: DO NOT MERGE, Ready for review

#548 MDS-1438 Feature/ Support GET/POST/PUT for address fields at /parties endpoint
  migrations/sql/V2019.02.26.9.21__alter_party_table_rename_address_columns.sql
  python-backend/app/api/parties/namespace/parties.py
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/models/sub_division_code.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party/resources/sub_division_code_resource.py
  python-backend/app/commands.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/parties/party/models/test_party_model.py
  python-backend/tests/parties/party/resources/sub_division_code_resource.py
  python-backend/tests/parties/party/resources/test_party_resource.py
Labels: Backend, Ready for review

#538 MDS 1364 Permit Amendment Refactor
  frontend/package-lock.json
  frontend/src/components/mine/Permit/MinePermitCard.js
  frontend/src/components/mine/Permit/MinePermitInfo.js
  frontend/src/components/mine/Summary/MineSummary.js
  frontend/src/customPropTypes/mines.js
  frontend/src/customPropTypes/permits.js
  functional-tests/src/test/groovy/data/data_creation.sql
  migrations/sql/R__stored_procedure_for_permit_and_permitee_information.sql
  migrations/sql/V2019.02.11.10.23__permit_amendments.sql
  migrations/sql/V2019.02.19.16.24__set_permit_dates_to_null.sql
  migrations/sql/V2019.02.20.12.42__add_unique_constraint_permit_amendment_guid.sql
  migrations/sql/V2019.02.21.04.21__alter_etl_mine_tables_if_existing.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/permits/namespace/permits.py
  python-backend/app/api/permits/permit/models/permit.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment_status_code.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment_type_code.py
  python-backend/app/api/permits/permit_amendment/resources/permit_amendment.py
  python-backend/app/commands.py
  python-backend/app/scheduled_jobs/ETL_jobs.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/permit/models/test_permit_amendment_model.py
  python-backend/tests/permit/models/test_permit_model.py
Labels: Backend, Frontend, Ready for review

#552 Add as built required document
  migrations/sql/V2019.02.27.8.52__add_as_built_required_doc.sql
  migrations/sql/afterMigrate__1__seed_data.sql
Labels: Backend, Ready for review

#553 MDS-1431 Feature/ Conditional nesting of party.mine_party_appt & mine_party_appt.party
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/parties/PartyProfile.js
  frontend/src/components/parties/RelationshipProfile.js
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_resource.py
Labels: Backend, Frontend, Ready for review

#555 BUG: MDS-1465 and MDS-1210
  frontend/src/components/mine/Compliance/MineComplianceInfo.js
  frontend/src/components/mine/ContactInfo/PartyRelationships/DefaultContact.js
  frontend/src/components/mine/Permit/MinePermitCard.js
  frontend/src/components/mine/Permit/MinePermitInfo.js
  frontend/src/components/mine/Summary/MineSummary.js
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
  frontend/src/components/parties/PartyProfile.js
  frontend/src/components/parties/RelationshipProfile.js
  frontend/src/utils/helpers.js
Labels: Frontend, Ready for review
