Repository bcgov/mds, pull requests merged in 2019-07, with the labels that each got.

#840 Tweak FT's even more
  functional-tests/Dockerfile
  functional-tests/build.gradle
  functional-tests/gradle.properties
  functional-tests/run_tests.sh
  functional-tests/src/test/groovy/FrontendCore/spec/Tailings.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Tenure.groovy
  functional-tests/src/test/resources/GebConfig.groovy
  openshift/bddstack.bc.json
  openshift/bddstack.pod.json
Labels: Ready for review

#842 Task/verified status for admin
  frontend/src/components/mine/MineHeader.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  frontend/src/tests/components/navigation/__snapshots__/NavBar.spec.js.snap
Labels: Frontend, Ready for review

#833 MDS-1789 Task/ Remove 0 lat/lons from ETL process
  migrations/sql/R__stored_procedure_for_mine_information.sql
Labels: Backend, Ready for review

#844 Fixed broken date sorting on the front end
  frontend/src/components/mine/Compliance/ComplianceOrdersTable.js
  frontend/src/components/mine/Incidents/MineIncidentTable.js
  frontend/src/components/mine/Variances/MineVarianceTable.js
Labels: Frontend, Ready for review

#848 MDS-1175: Feature/mds Show PDF Preview
  frontend/src/components/common/DocumentTable.js
  frontend/src/components/mine/Incidents/MineIncidentTable.js
  frontend/src/components/mine/Permit/MinePermitTable.js
  frontend/src/components/mine/Tailings/MineTailingsTable.js
  frontend/src/components/mine/Variances/MineVarianceTable.js
  frontend/src/components/search/DocumentResultsTable.js
  frontend/src/utils/actionlessNetworkCalls.js
  python-backend/app/api/document_manager/resources/document_manager.py
Labels: Backend, Frontend, Needs Manual Testing, Ready for review

#849 Switch metabase database from H2 to Postgres
  docker-images/metabase/Dockerfile
  openshift/tools/metabase.bc.json
  openshift/tools/metabase.dc.json
  pipeline/config-prod.groovy
  pipeline/config-test.groovy
Labels: Ready for review

#850 Fix ETL typo
  migrations/sql/R__stored_procedure_for_mine_manager.sql
Labels: WIP

#851 Feature/mds 2098
  frontend/src/components/mine/Incidents/MineIncidentTable.js
  frontend/src/components/mine/Incidents/MineIncidents.js
  frontend/src/components/modalContent/ViewIncidentModal.js
  frontend/src/components/modalContent/config.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/styles/generic/layout.scss
  frontend/src/tests/components/mine/Incidents/MineIncidentTable.spec.js
  frontend/src/tests/components/mine/Incidents/MineIncidents.spec.js
  frontend/src/tests/components/mine/Incidents/__snapshots__/MineIncidentTable.spec.js.snap
  frontend/src/tests/components/mine/Incidents/__snapshots__/MineIncidents.spec.js.snap
  frontend/src/tests/components/modalContent/ViewIncidentModal.spec.js
  frontend/src/tests/components/modalContent/__snapshots__/ViewIncidentModal.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/utils/helpers.js
  python-backend/app/api/mines/incidents/models/mine_incident_recommendation.py
  python-backend/app/api/mines/incidents/resources/mine_incidents.py
  python-backend/app/api/mines/mine_api_models.py
Labels: Backend, Frontend, Ready for review

#853 Add webhooks to database backups
  openshift/dbbackup.dc.json
  pipeline/config-prod.groovy
Labels: Ready for review

#854 Fixes for local keycloak from the new permission
  docker-compose.yml
  openshift/keycloak-settings/keycloak-prod-realm-export.json
  openshift/keycloak-settings/keycloak-test-realm-export.json
  openshift/scripts/keycloak-local-realm.json
  openshift/scripts/keycloak-local-user.sh
Labels: Ready for review

#855 Download links for Tailings documents
  frontend-public/package.json
  frontend-public/src/assets/downloads/Register of Tailings Storage Facilities and Dams.xlsm
  frontend-public/src/assets/downloads/User Guide - Register of Tailings Storage Facilities and Dams.pdf
  frontend-public/src/components/landingPage/LandingPage.js
  frontend-public/src/constants/assets.js
  frontend-public/src/tests/components/landingPage/__snapshots__/LandingPage.spec.js.snap
  frontend-public/webpack.config.js
  frontend-public/webpack.parts.js
Labels: Frontend, Ready for review

#865 Use Redux Store as staticContent caching mechanism & add refresh button
  Makefile
  frontend/src/App.js
  frontend/src/actionCreators/applicationActionCreator.js
  frontend/src/actionCreators/complianceActionCreator.js
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/actionCreators/minespaceActionCreator.js
  frontend/src/actionCreators/partiesActionCreator.js
  frontend/src/actionCreators/permitActionCreator.js
  frontend/src/actionCreators/reportingActionCreator.js
  frontend/src/actionCreators/staticContentActionCreator.js
  frontend/src/actionCreators/varianceActionCreator.js
  frontend/src/actions/mineActions.js
  frontend/src/actions/staticContentActions.js
  frontend/src/components/Forms/MineRecordForm.js
  frontend/src/components/common/RefreshButton.js
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/components/modalContent/ViewIncidentModal.js
  frontend/src/constants/actionTypes.js
  frontend/src/customAxios.js
  frontend/src/index.js
  frontend/src/reducers/staticContentReducer.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/components/Forms/MineRecordForm.spec.js
  frontend/src/tests/components/common/RefreshButton.spec.js
  frontend/src/tests/components/common/UploadedFilesList.spec.js
  frontend/src/tests/components/common/__snapshots__/RefreshButton.spec.js.snap
  frontend/src/tests/components/dashboard/minesHomePage/Dashboard.spec.js
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  frontend/src/tests/components/mine/MineDashboard.spec.js
  frontend/src/tests/components/mine/MineHeader.spec.js
  frontend/src/tests/components/mine/Tailings/MineTailingsInfo.spec.js
  frontend/src/tests/components/mine/__snapshots__/MineDashboard.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  frontend/src/tests/components/modalContent/MineRecordModal.spec.js
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/staticContentReducer.spec.js
  frontend/src/tests/selectors/staticContentSelectors.spec.js
  frontend/src/utils/helpers.js
  python-backend/app/api/applications/resources/application_status_code.py
  python-backend/app/api/constants.py
  python-backend/app/api/documents/expected/resources/document_status.py
  python-backend/app/api/mines/incidents/resources/mine_incident_followup_types.py
  python-backend/app/api/mines/mine/resources/mine_commodity_code.py
  python-backend/app/api/mines/mine/resources/mine_disturbance_code.py
  python-backend/app/api/mines/region/resources/region.py
  python-backend/app/api/parties/party/resources/sub_division_code_resource.py
  python-backend/tests/mines/resources/test_mine_commodity_code.py
  python-backend/tests/mines/resources/test_mine_disturbance_code_resource.py
Labels: Frontend, Ready for review

#866 Hide RefreshButton on MineSummary
  frontend/src/components/mine/MineHeader.js
  frontend/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
Labels: Frontend, Ready for review

#867 Changing text of submitting TSF registry info
  frontend-public/src/components/landingPage/LandingPage.js
Labels: Ready for review

#856 Bug/mds 1536
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/mines/mine/resources/mine_map.py
Labels: Backend, Ready for review

#870 Landing Page
  frontend-public/src/tests/components/landingPage/__snapshots__/LandingPage.spec.js.snap
  frontend/package.json
  frontend/src/actionCreators/reportingActionCreator.js
  frontend/src/assets/downloads/HSRC.pdf
  frontend/src/assets/images/Background.svg
  frontend/src/assets/images/landingPageBackground.png
  frontend/src/components/dashboard/HomePage.js
  frontend/src/components/dashboard/reporting/ReportingDashboard.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/components/search/SearchBar.js
  frontend/src/constants/API.js
  frontend/src/constants/assets.js
  frontend/src/constants/routes.js
  frontend/src/routes/DashboardRoutes.js
  frontend/src/routes/Routes.js
  frontend/src/styles/components/LandingPage.scss
  frontend/src/styles/components/NavBar.scss
  frontend/src/styles/generic/layout.scss
  frontend/src/styles/index.scss
  frontend/src/tests/components/navigation/__snapshots__/NavBar.spec.js.snap
  frontend/src/tests/components/search/__snapshots__/SearchBar.spec.js.snap
  frontend/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  frontend/src/tests/routes/__snapshots__/Routes.spec.js.snap
  frontend/webpack.config.js
  frontend/webpack.parts.js
  python-backend/app/api/reporting/namespace/reporting.py
  python-backend/app/api/reporting/resources/metabase.py
Labels: Frontend, Needs Manual Testing, Ready for review

#873 Updated wording/styling on Landing Page
  frontend/src/components/dashboard/HomePage.js
  frontend/src/styles/components/LandingPage.scss
Labels: Frontend, Ready for review

#874 Added extension tablefunc
  migrations/sql/beforeMigrate__0__add_extensions.sql
Labels: Backend, Ready for review

#869 Mds 1834
  functional-tests/.env-example
  migrations/sql/V2019.07.22.02.53__delete_null_address_rows_alter_party_appt_constraints.sql
  python-backend/app/api/parties/party/resources/party_list_resource.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
Labels: Backend, Ready for review

#875 MDS-1281 Task/ Merge mine_location into mine
  functional-tests/src/test/groovy/data/data_creation.sql
  functional-tests/src/test/groovy/data/data_deletion.sql
  migrations/sql/R__stored_procedure_for_mine_information.sql
  migrations/sql/V2019.07.19.11.26__merge_mine_location_into_mine.sql
  migrations/sql/afterMigrate__2__create_update_views.sql
  python-backend/app/api/mines/location/models/mine_location.py
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/mines/mine_api_models.py
  python-backend/tests/factories.py
  python-backend/tests/mines/resources/test_mine_list_by_name_resource.py
Labels: Backend, Needs Manual Testing, Ready for review

#877 Refactor/mds 1795
  python-backend/tests/mines/resources/test_mine_list_resource.py
Labels: Backend, Ready for review

#872 Add inactive inspectors and display them seperately.
  frontend/src/components/Forms/incidents/AddIncidentDetailForm.js
  frontend/src/components/Forms/incidents/AddIncidentReportingForm.js
  frontend/src/components/Forms/variances/AddVarianceForm.js
  frontend/src/components/Forms/variances/EditVarianceForm.js
  frontend/src/components/common/RenderGroupedSelect.js
  frontend/src/components/common/config.js
  frontend/src/components/mine/Incidents/MineIncidents.js
  frontend/src/components/mine/Variances/MineVariance.js
  frontend/src/components/modalContent/AddIncidentModal.js
  frontend/src/components/modalContent/AddVarianceModal.js
  frontend/src/components/modalContent/EditVarianceModal.js
  frontend/src/customPropTypes/common.js
  frontend/src/selectors/partiesSelectors.js
  migrations/sql/V2019.07.16.08.23__remove_party_phone_number_null_constraint.sql
Labels: Backend, Frontend, Ready for review

#876 Feature/mds 2219
  frontend/src/components/dashboard/reporting/ExecutiveReportingDashboard.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/constants/environment.js
  frontend/src/constants/permissions.js
  frontend/src/constants/routes.js
  frontend/src/routes/DashboardRoutes.js
  frontend/src/tests/components/dashboard/reporting/ExecutiveReportingDashboard.spec.js
  frontend/src/tests/components/dashboard/reporting/__snapshots__/ExecutiveReportingDashboard.spec.js.snap
  frontend/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
Labels: Frontend, Needs Manual Testing, Ready for review

#879 Hackathon testcov
  frontend/package.json
  frontend/src/components/Forms/AdvancedContactSearchForm.js
  frontend/src/tests/actionCreators/mineActionCreator.spec.js
  frontend/src/tests/actionCreators/partiesActionCreator.spec.js
  frontend/src/tests/components/Forms/AdvancedContactSearchForm.spec.js
  frontend/src/tests/components/Forms/PermitAmendmentForm.spec.js
  frontend/src/tests/components/Forms/__snapshots__/AdvancedContactSearchForm.spec.js.snap
  frontend/src/tests/components/Forms/__snapshots__/PermitAmendmentForm.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
Labels: Frontend, Ready for review

#882 Task/mds 1689 document resource refactor-part-1
  frontend-public/src/reducers/userMineReducer.js
  frontend-public/src/tests/reducers/userMineReducer.spec.js
  frontend/src/reducers/mineReducer.js
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/selectors/mineSelectors.spec.js
  python-backend/app/api/documents/expected/resources/expected_document_uploads.py
  python-backend/app/api/documents/mines/models/mine_document.py
  python-backend/app/api/documents/mines/resources/mine_document_resource.py
  python-backend/app/api/mines/incidents/resources/mine_incident_document.py
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/permits/permit_amendment/resources/permit_amendment_document.py
  python-backend/app/api/mines/variances/resources/variance_document_upload.py
  python-backend/app/api/services/document_manager_service.py
  python-backend/tests/documents/mines/resources/test_mine_document_resource.py
Labels: Backend, Ready for review

#889 fix/missing dc vars
  pipeline/config-prod.groovy
  pipeline/config-test.groovy
Labels: CI/CD

#890 Fix/docman nginx dc
  pipeline/config-prod.groovy
  pipeline/config-test.groovy
Labels: CI/CD, Ready for review

#888 Fix Es-linter issues
  frontend-public/src/actionCreators/authenticationActionCreator.js
  frontend-public/src/components/Forms/EditReportForm.js
  frontend-public/src/components/ReturnPage.js
  frontend-public/src/components/authentication/Authentication.js
  frontend-public/src/components/common/FilePicker.js
  frontend-public/src/components/dashboard/mine/MineDashboard.js
  frontend-public/src/components/dashboard/mine/reports/MineFilePicker.js
  frontend-public/src/components/modalContent/variances/ViewVarianceModal.js
  frontend-public/src/fetchEnv.js
  frontend-public/src/selectors/varianceSelectors.js
  frontend-public/src/tests/store/configureStore.spec.js
  frontend-public/src/utils/customAxios.js
  frontend/src/actionCreators/partiesActionCreator.js
  frontend/src/components/Forms/AddMinespaceUser.js
  frontend/src/components/Forms/AddPermitForm.js
  frontend/src/components/Forms/AddTailingsForm.js
  frontend/src/components/Forms/EditPermitForm.js
  frontend/src/components/Forms/PartyRelationships/AddPartyRelationshipForm.js
  frontend/src/components/Forms/PartyRelationships/EditPartyRelationshipForm.js
  frontend/src/components/Forms/PartyRelationships/EngineerOfRecordOptions.js
  frontend/src/components/Forms/PartyRelationships/PermitteeOptions.js
  frontend/src/components/Forms/PermitAmendmentForm.js
  frontend/src/components/Forms/applications/EditApplicationForm.js
  frontend/src/components/admin/AdminVerifiedMinesList.js
  frontend/src/components/admin/MinespaceUserManagement.js
  frontend/src/components/common/AddButton.js
  frontend/src/components/common/Address.js
  frontend/src/components/common/FilePicker.js
  frontend/src/components/common/PartySelectField.js
  frontend/src/components/dashboard/customHomePage/CustomHomePage.js
  frontend/src/components/dashboard/minesHomePage/MineSearch.js
  frontend/src/components/maps/MapPopup.js
  frontend/src/components/maps/MineMap.js
  frontend/src/components/mine/Applications/MineApplicationInfo.js
  frontend/src/components/mine/ContactInfo/PartyRelationships/DefaultContact.js
  frontend/src/components/mine/ContactInfo/PartyRelationships/InactiveContact.js
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/mine/Incidents/MineIncidents.js
  frontend/src/components/mine/Permit/MinePermitInfo.js
  frontend/src/components/mine/Permit/MinePermitTable.js
  frontend/src/components/mine/Summary/MineSummary.js
  frontend/src/components/mine/Tailings/MineTailingsFilePicker.js
  frontend/src/components/modalContent/ViewVarianceModal.js
  frontend/src/components/parties/PartyProfile.js
  frontend/src/components/search/ContactResultsTable.js
  frontend/src/components/search/SearchBar.js
  frontend/src/components/search/SearchResults.js
  frontend/src/customAxios.js
  frontend/src/fetchEnv.js
  frontend/src/selectors/mineSelectors.js
  frontend/src/selectors/partiesSelectors.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/selectors/userSelectors.js
  frontend/src/selectors/varianceSelectors.js
  frontend/src/tests/store/configureStore.spec.js
  frontend/src/utils/Validate.js
Labels: Frontend, Ready for review

#863 Centralized Scheduler
  microservices/nris_api/backend/app/__init__.py
  microservices/nris_api/backend/app/commands.py
  microservices/nris_api/backend/app/constants.py
  microservices/nris_api/backend/app/extensions.py
  microservices/nris_api/backend/app/nris/cli_jobs/nris_jobs.py
  microservices/nris_api/backend/app/nris/etl/nris_etl.py
  microservices/nris_api/backend/app/nris/scheduled_jobs/nris_jobs.py
  microservices/nris_api/backend/app/nris/utils/apm.py
  microservices/nris_api/backend/app/nris/utils/logger.py
  microservices/nris_api/backend/requirements.txt
  openshift/bddstack.pod.json
  pipeline/config-build.groovy
  pipeline/config-prod.groovy
  pipeline/config-test.groovy
  python-backend/app/__init__.py
  python-backend/app/api/constants.py
  python-backend/app/api/utils/apm.py
  python-backend/app/cli_jobs/ETL_jobs.py
  python-backend/app/cli_jobs/IDIR_jobs.py
  python-backend/app/commands.py
  python-backend/app/config.py
  python-backend/app/extensions.py
  python-backend/app/scheduled_jobs/ETL_jobs.py
  python-backend/app/scheduled_jobs/IDIR_jobs.py
  python-backend/requirements.txt
  tools/digdag/.env.template
  tools/digdag/.gitignore
  tools/digdag/Dockerfile
  tools/digdag/digdag-init.sh
  tools/digdag/digdag.properties.tmpl
  tools/digdag/docker-compose.yml
  tools/digdag/etl/idir-job.dig
  tools/digdag/etl/mms-job.dig
  tools/digdag/etl/models/pod.py
  tools/digdag/etl/nris-job.dig
  tools/digdag/etl/tasks/__init__.py
  tools/digdag/etl/tasks/idir_users_import.py
  tools/digdag/etl/tasks/mms_data_import.py
  tools/digdag/etl/tasks/nris_data_import.py
  tools/digdag/etl/templates/pod.json
  tools/digdag/gatekeeper.conf.tmpl
  tools/digdag/requirements.txt
  tools/digdag/wait-for-it.sh
  tools/openshift/README.md
  tools/openshift/digdag.bc.json
  tools/openshift/digdag.dc.json
  tools/openshift/digdag_sa.role.json
Labels: Backend, CI/CD, NRIS, Ready for review, enhancement

#884 Feature/mds 2126
  frontend/src/components/mine/Variances/MineVariance.js
  frontend/src/components/mine/Variances/MineVarianceTable.js
  frontend/src/tests/components/mine/Variances/__snapshots__/MineVariance.spec.js.snap
  frontend/src/tests/components/mine/Variances/__snapshots__/MineVarianceTable.spec.js.snap
Labels: Frontend, Ready for review

#880 Documentation/mds 2203
  functional-tests/README.md
  functional-tests/build.gradle
  functional-tests/src/test/groovy/FrontendCore/modules/Form_UpdateTenure.groovy
  functional-tests/src/test/groovy/FrontendCore/modules/Tab_Tenure.groovy
  functional-tests/src/test/groovy/FrontendCore/pages/MineProfile.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/CustomJUnitSpecRunner.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Tenure.groovy
  functional-tests/src/test/resources/GebConfig.groovy
Labels: Ready for review, enhancement

#900 MDS-2153 Task/Finish incidents recommendations Part 2
  frontend-public/src/selectors/varianceSelectors.js
  frontend/src/actionCreators/partiesActionCreator.js
  frontend/src/actionCreators/staticContentActionCreator.js
  frontend/src/actions/staticContentActions.js
  frontend/src/components/Forms/incidents/AddIncidentDetailForm.js
  frontend/src/components/Forms/incidents/AddIncidentFollowUpForm.js
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/mine/Incidents/MineIncidentTable.js
  frontend/src/components/mine/Incidents/MineIncidents.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/modalContent/AddIncidentModal.js
  frontend/src/components/modalContent/ViewIncidentModal.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/reducerTypes.js
  frontend/src/constants/strings.js
  frontend/src/reducers/mineReducer.js
  frontend/src/reducers/partiesReducer.js
  frontend/src/reducers/staticContentReducer.js
  frontend/src/selectors/partiesSelectors.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/components/dashboard/minesHomePage/Dashboard.spec.js
  frontend/src/tests/components/mine/Incidents/MineIncidentTable.spec.js
  frontend/src/tests/components/mine/Incidents/MineIncidents.spec.js
  frontend/src/tests/components/mine/MineDashboard.spec.js
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/selectors/mineSelectors.spec.js
  python-backend/app/api/incidents/models/mine_incident.py
  python-backend/app/api/incidents/models/mine_incident_determination_type.py
  python-backend/app/api/incidents/models/mine_incident_followup_investigation_type.py
  python-backend/app/api/incidents/models/mine_incident_recommendation.py
  python-backend/app/api/incidents/models/mine_incident_status_code.py
  python-backend/app/api/incidents/namespace/incidents.py
  python-backend/app/api/incidents/resources/mine_incident_determination_types.py
  python-backend/app/api/incidents/resources/mine_incident_status_codes.py
  python-backend/app/api/mines/incidents/resources/mine_incident_document.py
  python-backend/app/api/mines/incidents/resources/mine_incidents.py
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/mines/reports/models/mine_report_definition.py
  python-backend/app/api/mines/reports/resources/mine_report_definition.py
  python-backend/tests/factories.py
  python-backend/tests/incidents/__init__.py
  python-backend/tests/incidents/resources/__init__.py
  python-backend/tests/incidents/resources/test_mine_incident_determination_types.py
  python-backend/tests/incidents/resources/test_mine_incident_document_type_codes.py
  python-backend/tests/incidents/resources/test_mine_incident_followup_investigation_type.py
  python-backend/tests/incidents/resources/test_mine_incident_status_code.py
  python-backend/tests/mines/incidents/__init__.py
  python-backend/tests/mines/incidents/test_incident_document_resource.py
  python-backend/tests/mines/incidents/test_mine_incident_list_resource.py
  python-backend/tests/mines/incidents/test_mine_incident_resource.py
  python-backend/tests/mines/resources/test_mine_incident_resource.py
  python-backend/tests/reports/resource/test_mine_reports_resource.py
  python-backend/tests/status_code_gen.py
  python-backend/tests/variances/resources/test_variance_application_status_code_resource.py
Labels: Backend, DO NOT MERGE, Frontend, Ready for review

#901 Fix/local doc man config
  frontend/src/customPropTypes/documents.js
  microservices/document_manager/backend/.env-dev-local-keycloak
  microservices/document_manager/backend/.env-example
  microservices/document_manager/backend/app/config.py
  microservices/document_manager/backend/app/utils/apm.py
  microservices/nris_api/backend/app/nris/utils/apm.py
  python-backend/.env-dev-local-keycloak
  python-backend/.env-example
  python-backend/app/__init__.py
  python-backend/app/api/services/NRIS_API_service.py
  python-backend/app/api/utils/apm.py
  python-backend/app/cli_jobs/ETL_jobs.py
  python-backend/app/cli_jobs/IDIR_jobs.py
Labels: Backend, Ready for review

#906 Upgrade Navigation
  frontend/package.json
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/mine/Compliance/MineComplianceInfo.js
  frontend/src/components/mine/ContactInfo/MineContactInfo.js
  frontend/src/components/mine/Incidents/MineIncidents.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/mine/MineNavigation.js
  frontend/src/components/mine/Reports/MineReportInfo.js
  frontend/src/components/mine/Summary/MineSummary.js
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
  frontend/src/components/mine/Variances/MineVariance.js
  frontend/src/components/parties/PartyProfile.js
  frontend/src/components/search/PermitResultsTable.js
  frontend/src/components/search/SearchBarDropdown.js
  frontend/src/constants/routes.js
  frontend/src/routes/MineDashboardRoutes.js
  frontend/src/tests/components/maps/__snapshots__/MapPopup.spec.js.snap
  frontend/src/tests/components/mine/Compliance/__snapshots__/MineComplianceInfo.spec.js.snap
  frontend/src/tests/components/mine/Incidents/MineIncidents.spec.js
  frontend/src/tests/components/mine/Incidents/__snapshots__/MineIncidents.spec.js.snap
  frontend/src/tests/components/mine/Reports/MineReportInfo.spec.js
  frontend/src/tests/components/mine/Reports/__snapshots__/MineReportInfo.spec.js.snap
  frontend/src/tests/components/mine/Summary/__snapshots__/MineSummary.spec.js.snap
  frontend/src/tests/components/mine/Tailings/MineTailingsInfo.spec.js
  frontend/src/tests/components/mine/Tailings/__snapshots__/MineTailingsInfo.spec.js.snap
  frontend/src/tests/components/mine/Variances/MineVariance.spec.js
  frontend/src/tests/components/mine/Variances/__snapshots__/MineVariance.spec.js.snap
  frontend/src/tests/components/search/__snapshots__/SearchBarDropdown.spec.js.snap
  frontend/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  microservices/document_manager/backend/app/config.py
  microservices/document_manager/backend/document_uploads/mines/59e73109-48f7-4ad2-977c-3005b5bff010/tailings/de571fd2-b799-44ff-a880-632f6788ae54
  openshift/scripts/database-dump.sh
Labels: Frontend, Needs Manual Testing, WIP
