Repository bcgov/mds, pull requests merged in 2019-01, with the labels that each got.

#355 MDS-927 Feature/Align table headers to bottom
  frontend/src/styles/components/Tables.scss
Labels: Ready for review

#354 Tune Nginx and other cleanup
  USAGE.md
  docker-images/nodejs-8/Dockerfile
  frontend/Dockerfile
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/server.js
  frontend/src/setupTests.js
  frontend/webpack.config.js
  frontend/webpack.parts.js
  nginx/aux/00_gzip.conf
  nginx/conf.d/00_nginx_status.conf
  nginx/conf.d/01_api.conf.tmpl
  nginx/conf.d/02_frontend.conf.tmpl
  nginx/conf.d/proxy.params
  nginx/nginx.conf
Labels: Ready for review

#356 MDS-1040 Feature/delete mine types
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/components/Forms/MineRecordForm.js
  frontend/src/components/common/RenderMultiSelect.js
  frontend/src/components/common/RenderSelect.js
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/components/modalContent/MineRecordModal.js
  frontend/src/constants/API.js
  frontend/src/constants/reducerTypes.js
  frontend/src/customPropTypes/common.js
  frontend/src/customPropTypes/mines.js
  frontend/src/reducers/rootReducer.js
  frontend/src/selectors/mineSelectors.js
  frontend/src/styles/settings/themeOverride.scss
  frontend/src/tests/actionCreators/mineActionCreator.spec.js
  frontend/src/tests/components/Forms/MineRecordForm.spec.js
  frontend/src/tests/mocks/dataMocks.js
Labels: Ready for review

#370 Fix/Return expiry_date instead of issue_date
  python-backend/app/api/permits/permit/models/permit.py
Labels: Ready for review

#368 MDS-1051 & MDS-1064 Fix/Show Mine Manager Name & Prevent EOR Form Reset on Submit
  frontend/src/components/Forms/PartyRelationships/AddPartyRelationshipForm.js
  frontend/src/components/mine/ContactInfo/ViewMineManager.js
Labels: Ready for review

#369 updated user experience bug when changing tenure options for mine_types
  frontend/src/components/Forms/MineRecordForm.js
  frontend/src/components/common/RenderSelect.js
Labels: Ready for review

#367 MDS-699 & MDS-1113 Feature/Mine Manager & Permittee form validation + UX
  frontend/package-lock.json
  frontend/src/components/Forms/UpdateMineManagerForm.js
  frontend/src/components/Forms/UpdatePermitteeForm.js
  frontend/src/components/common/RenderLargeSelect.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/modalContent/UpdatePermitteeModal.js
  frontend/src/customPropTypes/permits.js
  frontend/src/tests/components/common/RenderLargeSelect.spec.js
  frontend/src/utils/Validate.js
  functional-tests/src/test/groovy/modules/Form_UpdatePermittee.groovy
Labels: Ready for review

#371 Merge to master on successful deploy to PROD
  Jenkinsfile
Labels: Ready for review

#375 MDS-1072 Fix/ POST TSF permission
  python-backend/app/api/mines/tailings/resources/tailings.py
Labels: Ready for review

#376 MDS-1119 Task/ Hide Tenure Tab for Feb release
  frontend/src/components/mine/MineDashboard.js
  functional-tests/src/test/groovy/spec/CustomJUnitSpecRunner.groovy
Labels: Ready for review

#361 feature/mds-1110 Adding new access decorators to improve testing
  python-backend/app/api/utils/access_decorators.py
Labels: Ready for review

#382 feature/mds-1110 Replace old authorization decorators
  python-backend/app/api/document_manager/resources/document_manager.py
  python-backend/app/api/documents/expected/resources/document_status.py
  python-backend/app/api/documents/expected/resources/documents.py
  python-backend/app/api/documents/expected/resources/expected_document_uploads.py
  python-backend/app/api/documents/expected/resources/mine_documents.py
  python-backend/app/api/documents/mines/resources/mine_document_resource.py
  python-backend/app/api/documents/required/resources/required_documents.py
  python-backend/app/api/mines/compliance/resources/compliance.py
  python-backend/app/api/mines/location/resources/location.py
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/mines/mine/resources/mine_commodity_code.py
  python-backend/app/api/mines/mine/resources/mine_disturbance_code.py
  python-backend/app/api/mines/mine/resources/mine_tenure_type_code.py
  python-backend/app/api/mines/mine/resources/mine_type.py
  python-backend/app/api/mines/mine/resources/mine_type_detail.py
  python-backend/app/api/mines/region/resources/region.py
  python-backend/app/api/mines/status/resources/status.py
  python-backend/app/api/mines/tailings/resources/tailings.py
  python-backend/app/api/parties/party/resources/manager_resource.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_type_resource.py
  python-backend/app/api/permits/permit/resources/permit.py
  python-backend/app/api/permits/permittee/resources/permittee.py
  python-backend/tests/auth/test_auth_decorators.py
Labels: Ready for review

#378 updated logout button to be consistent with other dropdowns
  frontend/package-lock.json
  frontend/src/assets/images/Edit.svg
  frontend/src/assets/images/Logout.svg
  frontend/src/components/authentication/Logout.js
  frontend/src/components/common/ConditionalButton.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/constants/assets.js
  frontend/src/styles/components/NavBar.scss
  frontend/src/styles/generic/layout.scss
  frontend/src/styles/settings/themeOverride.scss
  functional-tests/src/test/groovy/pages/MineProfile.groovy
Labels: Ready for review

#383 Feature/mds-1110 refactor tests for new decorators
  python-backend/tests/auth/test_auth_decorators.py
  python-backend/tests/auth/test_expected_auth.py
  python-backend/tests/auth/test_mine_location_auth.py
  python-backend/tests/auth/test_mines_auth.py
  python-backend/tests/auth/test_permit_auth.py
  python-backend/tests/auth/test_person_auth.py
Labels: Ready for review

#372 MDS-1029 refactor mine identity and mine detail
  frontend/src/components/dashboard/MineList.js
  frontend/src/components/maps/MinePin.js
  frontend/src/components/mine/Compliance/MineComplianceInfo.js
  frontend/src/components/mine/ContactInfo/ViewMineManager.js
  frontend/src/components/mine/ContactInfo/ViewPermittee.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/components/mine/Tenure/MineTenureInfo.js
  frontend/src/customPropTypes/mines.js
  frontend/src/tests/actionCreators/partiesActionCreator.spec.js
  frontend/src/tests/mocks/dataMocks.js
  functional-tests/src/test/groovy/data/data_creation.sql
  functional-tests/src/test/groovy/data/data_deletion.sql
  migrations/README.md
  migrations/etl/0_dataCleanup.sql
  migrations/etl/1_Mine_profile_detail_location.sql
  migrations/etl/2_Mine_manager.sql
  migrations/etl/3_Mine_permit_permitee.sql
  migrations/etl/4_Mine_status.sql
  migrations/sql/V1.29__Add_Mine_Detail_Columns_to_Mine_Identity.sql
  migrations/sql/V1.30__Move_Data_from_Mine_Detail_to_Mine_identity.sql
  migrations/sql/V1.31__Drop_Mine_Detail_Table.sql
  migrations/sql/V1.32__Rename_mine_identity_to_mine.sql
  migrations/sql/afterMigrate__2__create_update_views.sql
  python-backend/app/api/documents/expected/models/document.py
  python-backend/app/api/documents/expected/resources/expected_document_uploads.py
  python-backend/app/api/documents/mines/models/mine_document.py
  python-backend/app/api/mines/location/models/mine_location.py
  python-backend/app/api/mines/location/models/mine_map_view_location.py
  python-backend/app/api/mines/location/resources/location.py
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/models/mine_detail.py
  python-backend/app/api/mines/mine/models/mine_identity.py
  python-backend/app/api/mines/mine/models/mine_type.py
  python-backend/app/api/mines/mine/models/mineral_tenure_xref.py
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/mines/status/models/mine_status.py
  python-backend/app/api/mines/tailings/models/tailings.py
  python-backend/app/api/parties/party/models/mgr_appointment.py
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/models/party_type_code.py
  python-backend/app/api/parties/party/resources/manager_resource.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/app/api/permits/permit/models/permit.py
  python-backend/app/api/utils/random.py
  python-backend/app/api/utils/resources_mixins.py
  python-backend/app/commands.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/mines/models/test_mine_detail_model.py
  python-backend/tests/mines/models/test_mine_identity_model.py
  python-backend/tests/mines/resources/test_mine_resource.py
  python-backend/tests/tailings/resources/test_mine_tailings_resource.py
Labels: Ready for review

#380 Display the basemap and warning on Arcgis api failure
  frontend/src/components/maps/MineMap.js
  frontend/src/constants/strings.js
Labels: Ready for review

#389 Feature/mds 852 link exp doc to existing file
  python-backend/app/api/documents/expected/resources/expected_document_uploads.py
  python-backend/app/api/documents/mines/models/mine_document.py
  python-backend/tests/constants.py
  python-backend/tests/documents/expected/resources/test_expected_document_uploads.py
Labels: Ready for review

#387 MDS-865 Feature/ Pull Tenure Types from MMS
  migrations/etl/1_Mine_profile_detail_location.sql
Labels: Ready for review

#397 Feature/mds-852 File picker component
  frontend/src/components/common/FilePicker.js
  frontend/src/components/common/RenderSelect.js
Labels: Ready for review

#410 Feature/authentication upgrade
  frontend-public/package-lock.json
  frontend-public/src/HOC/AuthenticationGuard.js
  frontend-public/src/components/Home.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/HOC/AuthenticationGuard.js
  frontend/src/HOC/AuthorizationGuard.js
  frontend/src/HOC/CreateGuard.js
  frontend/src/assets/images/Admin.svg
  frontend/src/components/Home.js
  frontend/src/components/admin/AdminDashboard.js
  frontend/src/components/authentication/Logout.js
  frontend/src/components/common/ConditionalButton.js
  frontend/src/components/common/NullScreen.js
  frontend/src/components/common/wrappers/AuthorizationWrapper.js
  frontend/src/components/common/wrappers/ModalWrapper.js
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/mine/ContactInfo/PartyRelationships/DefaultContact.js
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
  frontend/src/components/mine/Tenure/MineTenureInfo.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/constants/assets.js
  frontend/src/constants/permissions.js
  frontend/src/constants/strings.js
  frontend/src/selectors/authenticationSelectors.js
  frontend/src/styles/settings/themeOverride.scss
  frontend/src/tests/HOC/AuthenticationGuard.spec.js
  frontend/src/tests/HOC/AuthorizationGuard.spec.js
  frontend/src/tests/components/common/ConditionalButton.spec.js
  frontend/src/tests/components/common/wrappers/AuthorizationWrapper.spec.js
  frontend/src/tests/components/common/wrappers/ModalWrapper.spec.js
Labels: Ready for review

#401 MDS-1159 unlink files from expected documents
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/components/Forms/EditTailingsReportForm.js
  frontend/src/components/common/UploadedFilesList.js
  frontend/src/constants/API.js
  frontend/src/constants/reducerTypes.js
  frontend/src/customPropTypes/documents.js
  frontend/src/customPropTypes/index.js
  frontend/src/customPropTypes/mines.js
  frontend/src/styles/components/Dashboard.scss
  frontend/src/styles/components/MineDashboard.scss
  frontend/src/styles/generic/layout.scss
  frontend/src/styles/settings/variables.scss
  frontend/src/tests/actionCreators/mineActionCreator.spec.js
  frontend/src/tests/components/common/UploadedFilesList.spec.js
  frontend/src/tests/components/mine/Tailings/MineTailingsInfo.spec.js
  frontend/src/tests/mocks/dataMocks.js
  migrations/sql/V1.35__alter_mine_expected_document.sql
  python-backend/app/api/documents/expected/models/document.py
  python-backend/app/api/documents/expected/models/document_status.py
  python-backend/app/api/documents/expected/resources/mine_documents.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/documents/expected/models/test_expected_mine_document_model.py
  python-backend/tests/documents/expected/resources/test_expected_document_uploads.py
Labels: Ready for review

#399 MDS-944: Add geo to python
  python-backend/app/api/mines/location/models/mine_location.py
  python-backend/requirements.txt
Labels: Ready for review

#404 Feature/mds-852 Mines tailings file picker
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/actions/mineActions.js
  frontend/src/components/Forms/EditTailingsReportForm.js
  frontend/src/components/common/FilePicker.js
  frontend/src/components/mine/Tailings/MineTailingsFilePicker.js
  frontend/src/components/modalContent/EditTailingsReportModal.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/reducerTypes.js
  frontend/src/reducers/mineReducer.js
  frontend/src/selectors/mineSelectors.js
  frontend/src/tests/actionCreators/mineActionCreator.spec.js
  frontend/src/tests/components/common/FilePicker.spec.js
  frontend/src/tests/reducers/mineReducer.spec.js
  python-backend/app/api/documents/mines/resources/mine_document_resource.py
Labels: Frontend, Ready for review

#414 Fix ETL Runtime Errors
  migrations/etl/2_Mine_manager.sql
  migrations/etl/3_Mine_permit_permitee.sql
Labels: Ready for review

#400 MDS-1122 Fix/ Correctly pull Mine Location from MMS
  migrations/etl/1_Mine_profile_detail_location.sql
  migrations/etl/2_Mine_manager.sql
  migrations/etl/3_Mine_permit_permitee.sql
Labels: Ready for review

#419 fixed updateMineRecord bug
  frontend/src/actionCreators/mineActionCreator.js
Labels: Frontend, Ready for review

#418 MDS-112 Fix/ Check all potential mines with lat/lon values
  migrations/etl/1_Mine_profile_detail_location.sql
Labels: Backend, Ready for review

#403 Feature/mds 1091 admin user management
  migrations/sql/V1.36__add_user_table.sql
  python-backend/app/__init__.py
  python-backend/app/api/users/minespace/models/minespace_user.py
  python-backend/app/api/users/minespace/models/minespace_user_mine.py
  python-backend/app/api/users/minespace/resources/minespace_user.py
  python-backend/app/api/users/minespace/resources/minespace_user_mine.py
  python-backend/app/api/users/namespace/__init__.py
  python-backend/app/api/users/namespace/users.py
  python-backend/app/api/utils/access_decorators.py
Labels: Ready for review

#421 Update resources and deployment strategy
  openshift/_nginx.dc.json
  openshift/_nodejs.dc.json
  openshift/_python36.dc.json
  openshift/postgresql.dc.json
  pipeline/config.groovy
Labels: CI/CD, Ready for review

#420 MDS-1182: Streamlining documentation and setup
  .gitignore
  Makefile
  USAGE.md
  frontend/.env-dev-local-keycloak
  frontend/src/constants/environment.js-dev-local-keycloak
  mds.ps1
  python-backend/.env-dev-local-keycloak
Labels: Ready for review

#416 Update mine_status on mine put vs create new record.
  migrations/etl/4_Mine_status.sql
  migrations/sql/V2019.01.16.03.32__modify_status_code_xref.sql
  migrations/sql/afterMigrate__3__create_status_xref_data.sql
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/mines/status/models/mine_operation_status_code.py
  python-backend/app/api/mines/status/models/mine_operation_status_reason_code.py
  python-backend/app/api/mines/status/models/mine_operation_status_sub_reason_code.py
  python-backend/app/api/mines/status/models/mine_status.py
  python-backend/app/api/mines/status/models/mine_status_xref.py
  python-backend/app/api/mines/status/resources/status.py
  python-backend/tests/conftest.py
Labels: Backend, Ready for review

#430 Update flyway to run scripts out of order.
  docker-compose.yml
  openshift/_python36.dc.json
Labels: Ready for review

#427 Feature/mds-1189 Refactor auth decorators
  python-backend/app/api/utils/access_decorators.py
  python-backend/requirements.txt
  python-backend/tests/auth/test_auth_decorators.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
Labels: Backend, Ready for review

#431 MDS-1182: Used reliable cleanup method
  Makefile
Labels: Ready for review

#428 Mds 1091 fix backend
  migrations/sql/V2019.01.17.14.00__alter_user_table.sql
  python-backend/app/api/users/minespace/models/minespace_user.py
  python-backend/app/api/users/minespace/resources/minespace_user.py
  python-backend/app/api/users/minespace/resources/minespace_user_mine.py
  python-backend/tests/auth/test_expected_auth.py
  python-backend/tests/constants.py
  python-backend/tests/users/models/test_minespace_user.py
  python-backend/tests/users/resources/test_minespace_user_resource.py
Labels: Backend, Ready for review

#432 MDS-1111 public user dashboard
  frontend-public/src/actionCreators/userDashboardActionCreator.js
  frontend-public/src/actions/userMineInfoActions.js
  frontend-public/src/components/Header.js
  frontend-public/src/components/LandingPage.js
  frontend-public/src/components/common/NullScreen.js
  frontend-public/src/components/common/QuestionsSidebar.js
  frontend-public/src/components/dashboard/MineInfo.js
  frontend-public/src/components/dashboard/UserDashboard.js
  frontend-public/src/constants/API.js
  frontend-public/src/constants/actionTypes.js
  frontend-public/src/constants/environment.js
  frontend-public/src/constants/reducerTypes.js
  frontend-public/src/constants/routes.js
  frontend-public/src/customPropTypes/index.js
  frontend-public/src/customPropTypes/user.js
  frontend-public/src/reducers/rootReducer.js
  frontend-public/src/reducers/userMineInfoReducer.js
  frontend-public/src/routes/PrivateRoutes.js
  frontend-public/src/selectors/userMineInfoSelector.js
  frontend-public/src/styles/components/UserDashboard.scss
  frontend-public/src/styles/generic/layout.scss
  frontend-public/src/styles/index.scss
  frontend-public/src/tests/components/dashboard/ProponentDashboard.spec.js
  frontend-public/src/tests/components/dashboard/UserDashboard.spec.js
Labels: Frontend, Ready for review

#435 Update commit to master process
  Jenkinsfile
Labels: CI/CD

#417 Feature/mds 991
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/resources/mine.py
Labels: Backend, Ready for review

#436 Feature/mds 1148
  frontend/src/components/Forms/AdvancedSearchForm.js
  frontend/src/components/common/RenderField.js
  frontend/src/components/common/RenderSelect.js
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/dashboard/MineSearch.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/selectors/staticContentSelectors.spec.js
Labels: Frontend, Ready for review

#438 MDS-404 Feature/ Expose Mine Manager history
  frontend/src/actionCreators/partiesActionCreator.js
  frontend/src/components/admin/AdminDashboard.js
  frontend/src/constants/API.js
  frontend/src/tests/actionCreators/partiesActionCreator.spec.js
  migrations/sql/V2019.01.16.11.23__alter_mine_party_appt.sql
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/parties/namespace/parties.py
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_admin_resource.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  python-backend/app/api/utils/access_decorators.py
  python-backend/app/commands.py
  python-backend/app/config.py
  python-backend/tests/conftest.py
  python-backend/tests/parties/party_appt/model/test_mine_party_appt_model.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_admin_resource.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_type_resource.py
Labels: Backend, Frontend, Ready for review

#434 Feature/mds 1091 frontend for user managment
  frontend/src/actionCreators/minespaceActionCreator.js
  frontend/src/actions/minespaceActions.js
  frontend/src/components/Forms/AddMinespaceUser.js
  frontend/src/components/admin/AdminDashboard.js
  frontend/src/components/admin/MinespaceUserList.js
  frontend/src/components/admin/MinespaceUserManagement.js
  frontend/src/components/admin/NewMinespaceUser.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/forms.js
  frontend/src/constants/reducerTypes.js
  frontend/src/customPropTypes/index.js
  frontend/src/customPropTypes/mines.js
  frontend/src/customPropTypes/minespace.js
  frontend/src/reducers/minespaceReducer.js
  frontend/src/reducers/rootReducer.js
  frontend/src/selectors/minespaceSelector.js
  frontend/src/tests/actionCreators/minespaceActionCreator.spec.js
  frontend/src/tests/components/admin/MinespaceUserList.spec.js
  frontend/src/tests/components/admin/MinespaceUserManagement.spec.js
  frontend/src/tests/components/admin/NewMinespaceUser.spec.js
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/minespaceReducer.spec.js
  frontend/src/tests/selectors/minespaceSelectors.spec.js
  python-backend/app/api/users/minespace/resources/minespace_user.py
  python-backend/tests/users/resources/test_minespace_user_resource.py
Labels: Frontend, Ready for review

#443 MDS-404 Feature/ Update processed_by column + Code review changes
  migrations/sql/V2019.01.22.8.28__alter_mine_party_appt_table.sql
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/app/commands.py
Labels: Backend, Ready for review

#448 Add redis deployment config
  Makefile
  docker-compose.yml
  docker-images/python-36/Dockerfile
  openshift/_python36.bc.json
  openshift/_python36.dc.json
  openshift/redis.dc.json
  pipeline/config.groovy
  python-backend/.env-dev-local-keycloak
  python-backend/.env-example
  python-backend/app/__init__.py
  python-backend/app/config.py
  python-backend/app/extensions.py
  python-backend/requirements.txt
Labels: WIP

#444 MDS-1231 fix/ Pull Major Mine from correct location
  migrations/etl/1_Mine_profile_detail_location.sql
Labels: Backend, Ready for review

#451 Mine manager overlap constraint
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/mine/Summary/MineSummary.js
  migrations/sql/V2019.01.22.16.01__add_overlap_constraint_to_mpa.sql
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  python-backend/tests/conftest.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_mm_overlap.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_resource.py
Labels: Backend, Frontend, Ready for review

#440 Feature/mds-1241 Integrate file upload components
  frontend/src/components/common/FilePicker.js
  frontend/src/components/common/FileUpload.js
  frontend/src/components/mine/Tailings/MineTailingsFilePicker.js
Labels: Frontend, Ready for review

#455 MDS-1212/Update mine permit permitee ETL to point to the correct columns;
  migrations/etl/3_Mine_permit_permitee.sql
  migrations/sql/V2019.01.24.15.07__remove_columns_mpa.sql
Labels: Ready for review

#449 Feature/mds 1164 secure api to specific mines
  frontend/src/components/mine/ContactInfo/PartyRelationships/DefaultContact.js
  python-backend/app/api/document_manager/resources/document_manager.py
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/utils/models_mixins.py
  python-backend/app/auth.py
  python-backend/app/commands.py
  python-backend/requirements.txt
  python-backend/tests/auth/test_expected_auth.py
  python-backend/tests/auth/test_user_auth.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
Labels: Backend, Ready for review

#458 bug/mds 1259 return proper null instead of ''
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/app/commands.py
  python-backend/tests/cli/test_cli.py
Labels: Backend, Ready for review

#463 safety around lat and lon on update
  frontend/src/components/mine/MineHeader.js
  migrations/sql/V2019.01.28.10.13__drop_not_null_lat_long.sql
  python-backend/app/api/mines/location/models/mine_location.py
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/resources/mine.py
Labels: Backend, Frontend, Ready for review

#466 bug/mds 1276 null mine locations causing issues
  frontend-public/src/tests/mocks/dataMocks.js
  frontend/src/components/maps/MineMap.js
  frontend/src/components/maps/MinePin.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/tests/mocks/dataMocks.js
  python-backend/app/api/mines/location/models/mine_location.py
  python-backend/app/api/mines/location/models/mine_map_view_location.py
  python-backend/app/api/mines/location/resources/location.py
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/resources/mine.py
Labels: Backend, Ready for review

#464 MDS 540: Performance Improvements
  frontend-public/server.js
  frontend-public/webpack.config.js
  frontend/server.js
  frontend/src/actionCreators/staticContentActionCreator.js
  frontend/src/actions/staticContentActions.js
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/dashboard/MineSearch.js
  frontend/src/components/maps/MinePin.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/constants/actionTypes.js
  frontend/src/reducers/staticContentReducer.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/components/dashboard/Dashboard.spec.js
  frontend/src/tests/components/mine/MineDashboard.spec.js
  frontend/src/tests/reducers/staticContentReducer.spec.js
  frontend/webpack.config.js
  python-backend/app/api/constants.py
  python-backend/app/api/mines/location/models/mine_location.py
  python-backend/app/api/mines/location/models/mine_map_view_location.py
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/utils/random.py
  python-backend/app/config.py
  python-backend/requirements.txt
  python-backend/tests/mines/utils/test_utils_random.py
Labels: Backend, Frontend, Ready for review

#446 Add database backups
  migrations/sql/afterMigrate__0__drop_connections.sql
  migrations/sql/afterMigrate__99__create_test_db.sql
  migrations/sql/beforeMigrate__0__add_extensions.sql
  openshift/_python36.dc.json
  openshift/dbbackup.bc.json
  openshift/dbbackup.dc.json
  pipeline/config.groovy
Labels: CI/CD, Ready for review, enhancement

#469 MDS-1233 Feature/only Major Mines in MDS can edit any mine information
  frontend/src/components/common/wrappers/AuthorizationWrapper.js
  frontend/src/components/mine/ContactInfo/PartyRelationships/DefaultContact.js
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
  frontend/src/components/mine/Tenure/MineTenureInfo.js
  frontend/src/tests/components/common/wrappers/AuthorizationWrapper.spec.js
Labels: Frontend, Ready for review

#472 MDS-1130 Feature/Hide buttons from users/delete buttons
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
  frontend/src/tests/components/mine/Tailings/MineTailingsInfo.spec.js
Labels: Frontend, Ready for review

#450 MDS-1224 task/ Don't ETL data for Major Mines
  migrations/etl/0_dataCleanup.sql
  migrations/etl/1_Mine_profile_detail_location.sql
  migrations/etl/2_Mine_manager.sql
  migrations/etl/3_Mine_permit_permitee.sql
  migrations/etl/4_Mine_status.sql
Labels: Backend, Ready for review

#462 Feature/auth
  frontend-public/.env-example
  frontend-public/package-lock.json
  frontend-public/package.json
  frontend-public/server.js
  frontend-public/src/App.js
  frontend-public/src/HOC/AuthenticationGuard.js
  frontend-public/src/actionCreators/authenticationActionCreator.js
  frontend-public/src/assets/images/Menu.svg
  frontend-public/src/components/Forms/EditReportForm.js
  frontend-public/src/components/Header.js
  frontend-public/src/components/ReturnPage.js
  frontend-public/src/components/authentication/Authentication.js
  frontend-public/src/components/dashboard/UserDashboard.js
  frontend-public/src/components/dashboard/mineInfo/MineFilePicker.js
  frontend-public/src/components/dashboard/mineInfo/MineInfo.js
  frontend-public/src/constants/assets.js
  frontend-public/src/constants/environment.js
  frontend-public/src/constants/reducerTypes.js
  frontend-public/src/constants/routes.js
  frontend-public/src/constants/strings.js
  frontend-public/src/fetchEnv.js
  frontend-public/src/reducers/authenticationReducer.js
  frontend-public/src/reducers/rootReducer.js
  frontend-public/src/routes/PrivateRoutes.js
  frontend-public/src/routes/PublicRoutes.js
  frontend-public/src/selectors/authenticationSelectors.js
  frontend-public/src/styles/components/Header.scss
  frontend-public/src/styles/elements/elements.scss
  frontend-public/src/styles/generic/layout.scss
  frontend-public/src/styles/settings/themeOverride.scss
  frontend-public/src/tests/HOC/authenticationGuard.spec.js
  frontend-public/src/tests/actionCreators/authenticationActionCreator.spec.js
  frontend-public/src/tests/components/ReturnPage.spec.js
  frontend-public/src/tests/selectors/authenticationSelectors.spec.js
  frontend-public/src/tests/utils/authenticationHelpers.spec.js
  frontend-public/src/utils/authenticationHelpers.js
  openshift/_nodejs.dc.json
  pipeline/config.groovy
Labels: Frontend, Ready for review

#479 Fix IE
  frontend-public/package-lock.json
  frontend-public/package.json
  frontend-public/src/components/common/FileUpload.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/FileUpload.js
  frontend/src/components/common/wrappers/AuthorizationWrapper.js
Labels: Frontend, Needs Manual Testing, Ready for review

#478 MDS-1243 Feature/Add warning banners for both CORE and minespace
  frontend-public/src/App.js
  frontend-public/src/assets/images/warning.svg
  frontend-public/src/components/LandingPage.js
  frontend-public/src/components/common/WarningBanner.js
  frontend-public/src/constants/assets.js
  frontend-public/src/styles/generic/layout.scss
  frontend-public/src/styles/settings/themeOverride.scss
  frontend-public/src/utils/environmentUtils.js
  frontend/server.js
  frontend/src/assets/images/warning.svg
  frontend/src/components/Home.js
  frontend/src/components/common/WarningBanner.js
  frontend/src/constants/assets.js
  frontend/src/constants/environment.js
  frontend/src/fetchEnv.js
  frontend/src/styles/components/MineDashboard.scss
  frontend/src/styles/generic/layout.scss
  frontend/src/utils/environmentUtils.js
  pipeline/config.groovy
Labels: Frontend, NEEDS TESTS, Ready for review
