Repository bcgov/mds, pull requests merged in 2019-12, with the labels that each got.

#1088 Only insert mine party appointments for permits that exist
  migrations/sql/R__stored_procedure_for_permit_and_permitee_information.sql
Labels: 👍 Ready for review

#1087 Change to only run functional tests on the 292 branch
  Jenkinsfile
Labels: 👍 Ready for review

#1090 Fix/mms placer operation
  services/core-api/app/api/now_applications/transmogrify_now.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend

#1082 Bug/mds 2418
  Makefile
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/parties/party_appt/models/mine_party_appt.py
  services/core-api/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  services/core-api/app/api/search/response_models.py
  services/core-api/tests/factories.py
  services/core-api/tests/mines/permit/resources/test_permit_amendment_resource.py
  services/core-api/tests/utils/test_base_model.py
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  services/core-web/src/components/mine/Permit/MinePermitInfo.js
  services/core-web/src/components/search/PermitResultsTable.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1095 Adding additional CIDs to exclude
  tasks/now-etls/mms_now_import.py
Labels: 👍 Ready for review, 💊 Fix

#1091 MDS-2464 Convert old NOW screen to new NOW component
  docker-compose.yml
  migrations/sql/V2019.12.08.11.13__add_now_number_to_now_application_identity.sql
  migrations/sql/V2019.12.08.14.57__update_notice_of_work_view.sql
  migrations/sql/V2019.12.09.10.18__add_tenure_holder.sql
  services/core-api/app/api/mms_now_submissions/models/application.py
  services/core-api/app/api/now_applications/models/__init__.py
  services/core-api/app/api/now_applications/models/notice_of_work_view.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_application_identity.py
  services/core-api/app/api/now_applications/models/now_party_appointment.py
  services/core-api/app/api/now_applications/resources/now_application_list_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/tests/mines/now_submissions/resources/test_application_resource.py
  services/core-api/tests/now_application_factories.py
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  services/core-web/src/components/mine/Incidents/MineIncidentTable.js
  services/core-web/src/components/mine/NoticeOfWork/MineNoticeOfWorkTable.js
  services/core-web/src/components/mine/Variances/MineVarianceTable.js
  services/core-web/src/components/noticeOfWork/applications/NOWSideMenu.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/ViewNoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWContacts.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWDocuments.js
  services/core-web/src/components/noticeOfWork/submissions/NOWActivities.js
  services/core-web/src/components/noticeOfWork/submissions/NOWGeneralInfo.js
  services/core-web/src/components/noticeOfWork/submissions/NOWWorkPlan.js
  services/core-web/src/components/noticeOfWork/submissions/NoticeOfWorkInitialApplication.js
  services/core-web/src/constants/routes.js
  services/core-web/src/routes/DashboardRoutes.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkHomePage.spec.js.snap
  services/core-web/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkTable.spec.js.snap
  services/core-web/src/tests/components/mine/NoticeOfWork/MineNoticeOfWorkTable.spec.js
  services/core-web/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNOWApplications.spec.js.snap
  services/core-web/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNoticeOfWorkTable.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/submissions/NOWActivities.spec.js
  services/core-web/src/tests/components/noticeOfWork/submissions/NOWGeneralInfo.spec.js
  services/core-web/src/tests/components/noticeOfWork/submissions/NOWWorkPlan.spec.js
  services/core-web/src/tests/components/noticeOfWork/submissions/NoticeOfWorkInitialApplication.spec.js
  services/core-web/src/tests/components/noticeOfWork/submissions/__snapshots__/NOWActivities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/submissions/__snapshots__/NOWGeneralInfo.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/submissions/__snapshots__/NOWWorkPlan.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/submissions/__snapshots__/NoticeOfWorkInitialApplication.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  tasks/now-etls/create_now_identities.py
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1092 Fix/audit now application data
  migrations/sql/V2019.12.04.16.02__now_application_type_of_permit.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/now_applications/models/__init__.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_application_permit_type.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Camps.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/CutLines.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/MechanicalTrenching.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceDrilling.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1093 MDS-2468 Ability to edit equipment and activity tables
  services/core-web/src/assets/images/TrashCan.svg
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewActivities.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Camps.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/CutLines.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Equipment.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/MechanicalTrenching.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Placer.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceDrilling.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/UndergroundExploration.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/WaterSupply.js
  services/core-web/src/constants/assets.js
  services/core-web/src/customPropTypes/noticeOfWork.js
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewActivities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Camps.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/CutLines.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Equipment.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/MechanicalTrenching.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Placer.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SandGravelQuarry.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SettlingPonds.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceBulkSamples.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceDrilling.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/UndergroundExploration.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/WaterSupply.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1097 Update now_number etl to add dashes
  services/core-api/app/api/mms_now_submissions/models/exp_surface_drill_activity.py
  tasks/now-etls/create_now_identities.py
Labels: 💾 Backend

#1100 Bug/hide add permit from regional
  services/core-web/src/components/Forms/PermitAmendmentForm.js
  services/core-web/src/components/mine/Permit/MinePermitInfo.js
  services/core-web/src/components/mine/Permit/MinePermitTable.js
  services/core-web/src/components/modalContent/PermitAmendmentModal.js
Labels: 💻 Frontend

#1102 Fix/update Makefile commands "one-time-local-dev-env-setup" and "restore-last-env"
  Makefile
Labels: 👍 Ready for review, 💊 Fix

#1098 Feature/mds 2471
  migrations/sql/V2019.2019.12.29.3.33__add_application_progress.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_application_progress.py
  services/core-api/app/api/now_applications/models/now_application_progress_status.py
  services/core-api/app/api/now_applications/namespace.py
  services/core-api/app/api/now_applications/resources/now_application_progress_resource.py
  services/core-api/app/api/now_applications/resources/now_application_progress_status_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/utils/models_mixins.py
  services/core-api/app/api/variances/resources/variance_resource.py
  services/core-api/tests/now_applications/resources/test_now_application_progress_resource.py
  services/core-api/tests/now_applications/resources/test_now_application_progress_status_resource.py
  services/core-web/src/actionCreators/noticeOfWorkActionCreator.js
  services/core-web/src/actionCreators/staticContentActionCreator.js
  services/core-web/src/actions/staticContentActions.js
  services/core-web/src/components/common/RenderAutoComplete.js
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  services/core-web/src/components/mine/NoticeOfWork/MineNOWApplications.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/verification/VerifyNOWMine.js
  services/core-web/src/constants/API.js
  services/core-web/src/constants/actionTypes.js
  services/core-web/src/constants/reducerTypes.js
  services/core-web/src/reducers/staticContentReducer.js
  services/core-web/src/selectors/staticContentSelectors.js
  services/core-web/src/tests/actionCreators/noticeOfWorkActioncreator.spec.js
  services/core-web/src/tests/actionCreators/staticContentActionCreator.spec.js
  services/core-web/src/tests/components/common/__snapshots__/RenderAutoComplete.spec.js.snap
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
  services/core-web/src/tests/reducers/staticContentReducer.spec.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1105 can append now_application details
  services/core-api/app/api/utils/models_mixins.py
  services/core-api/app/api/utils/setup_marshmallow.py
  services/core-api/tests/utils/test_base_model.py
Labels: 💾 Backend

#1104 Bug - Add MineSpace users
  services/core-api/app/api/users/minespace/models/minespace_user.py
  services/core-api/app/api/users/minespace/resources/minespace_user.py
  services/core-web/src/actionCreators/minespaceActionCreator.js
Labels: 💻 Frontend, 💾 Backend

#1101 Feature/mds 2511
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Placer.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/UndergroundExploration.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1103 Feature/mds 2510 cancel now edits
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/styles/components/NoticeOfWork.scss
Labels: 🌶 Enhancement, 👍 Ready for review, 💻 Frontend

#1099 Feature/deep update delete and detail-append
  services/core-api/app/api/constants.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment_document.py
  services/core-api/app/api/utils/models_mixins.py
  services/core-api/app/api/utils/setup_marshmallow.py
  services/core-api/tests/utils/test_base_model.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend

#1108 due to adding styling to html inputs, an invisible input became visib…
  services/core-web/src/components/mine/ContactInfo/ViewPartyRelationships.js
  services/core-web/src/components/navigation/NavBar.js
  services/core-web/src/styles/components/NavBar.scss
Labels: 💊 Fix, 💻 Frontend

#1107 Feature/MDS-2494 FIDER Configuration for MDS
  .vscode/settings.json
  services/core-web/src/components/common/RenderMultiSelect.js
  services/core-web/src/components/navigation/NavBar.js
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/common/__snapshots__/RenderMultiSelect.spec.js.snap
  services/core-web/src/tests/components/navigation/__snapshots__/NavBar.spec.js.snap
Labels: 🌶 Enhancement, 💻 Frontend, 🚧 WIP

#1113 Feature/mds 2284 hook up delete and add activity
  migrations/sql/V2019.2019.12.18.13.56__remove_placer_operation_null_constraints.sql
  services/core-api/app/api/now_applications/models/activity_detail/activity_detail_base.py
  services/core-api/app/api/now_applications/models/activity_equipment_xref.py
  services/core-api/app/api/now_applications/models/equipment.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/api/utils/models_mixins.py
  services/core-api/app/api/utils/setup_marshmallow.py
  services/core-api/tests/utils/test_base_model.py
  services/core-web/src/components/noticeOfWork/applications/review/ReviewActivities.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Camps.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/CutLines.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Equipment.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/MechanicalTrenching.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Placer.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceDrilling.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/UndergroundExploration.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/WaterSupply.js
  services/core-web/src/styles/elements/elements.scss
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewActivities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Equipment.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/UndergroundExploration.spec.js.snap
Labels: 🌶 Enhancement, 💻 Frontend, 💾 Backend, 📜 SQL

#1115 Feature/mds 2404 now application change mine
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-web/src/actionCreators/noticeOfWorkActionCreator.js
  services/core-web/src/components/Forms/noticeOfWork/ChangeNOWMineForm.js
  services/core-web/src/components/mine/NoticeOfWork/MineCard.js
  services/core-web/src/components/modalContent/ChangeNOWMineModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/verification/VerifyNOWMine.js
  services/core-web/src/constants/forms.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/tests/components/Forms/noticeOfWork/ChangeNOWMineForm.spec.js
  services/core-web/src/tests/components/Forms/noticeOfWork/__snapshots__/ChangeNOWMineForm.spec.js.snap
  services/core-web/src/tests/components/modalContent/ChangeNOWMineModal.spec.js
  services/core-web/src/tests/components/modalContent/__snapshots__/ChangeNOWMineModal.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/NoticeOfWorkApplication.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NoticeOfWorkApplication.spec.js.snap
Labels: 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1116 Fix/MDS-2463 Users can multi-select incident type
  migrations/sql/V2019.12.21.23.39__support_multiple_incident_types.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/incidents/models/__init__.py
  services/core-api/app/api/incidents/models/mine_incident.py
  services/core-api/app/api/incidents/models/mine_incident_category.py
  services/core-api/app/api/incidents/models/mine_incident_category_xref.py
  services/core-api/app/api/incidents/response_models.py
  services/core-api/app/api/mines/incidents/resources/mine_incidents.py
  services/core-api/app/api/mines/response_models.py
  services/core-web/src/components/Forms/incidents/AddIncidentReportingForm.js
  services/core-web/src/components/mine/Incidents/MineIncidents.js
  services/core-web/src/components/modalContent/AddIncidentModal.js
  services/core-web/src/components/modalContent/ViewIncidentModal.js
  services/core-web/src/tests/components/Forms/incidents/__snapshots__/AddIncidentReportingForm.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/ViewIncidentModal.spec.js.snap
  services/core-web/src/utils/Validate.js
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1118 Fix/mds 2463 users can multi select incident type
  migrations/sql/V2019.12.21.23.39__support_multiple_incident_types.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/incidents/models/__init__.py
  services/core-api/app/api/incidents/models/mine_incident.py
  services/core-api/app/api/incidents/models/mine_incident_category.py
  services/core-api/app/api/incidents/models/mine_incident_category_xref.py
  services/core-api/app/api/incidents/response_models.py
  services/core-api/app/api/mines/incidents/resources/mine_incidents.py
  services/core-api/app/api/mines/response_models.py
  services/core-web/src/components/Forms/incidents/AddIncidentReportingForm.js
  services/core-web/src/components/mine/Incidents/MineIncidents.js
  services/core-web/src/components/modalContent/AddIncidentModal.js
  services/core-web/src/components/modalContent/ViewIncidentModal.js
  services/core-web/src/tests/components/Forms/incidents/__snapshots__/AddIncidentReportingForm.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/ViewIncidentModal.spec.js.snap
  services/core-web/src/utils/Validate.js
Labels: 🌶 Enhancement, 🎫 Ticket closer, 💻 Frontend, 💾 Backend, 📜 SQL

#1111 Feature/MDS-2505 Provide back button from NoW view
  services/core-web/src/components/common/wrappers/ScrollContentWrapper.js
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  services/core-web/src/components/mine/NoticeOfWork/MineNoticeOfWorkTable.js
  services/core-web/src/components/navigation/NavBar.js
  services/core-web/src/components/noticeOfWork/applications/NOWSideMenu.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/ViewNoticeOfWorkApplication.js
  services/core-web/src/customPropTypes/index.js
  services/core-web/src/customPropTypes/noticeOfWorkPageFromRoute.js
  services/core-web/src/styles/components/NavBar.scss
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkHomePage.spec.js.snap
  services/core-web/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkTable.spec.js.snap
  services/core-web/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNOWApplications.spec.js.snap
  services/core-web/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNoticeOfWorkTable.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWSideMenu.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NoticeOfWorkApplication.spec.js.snap
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💊 Fix, 💻 Frontend
