Repository bcgov/mds, pull requests merged in 2019-06, with the labels that each got.

#766 Bug/ MDS-1965
  frontend/src/components/common/DocumentTable.js
  frontend/src/components/mine/Variances/MineVarianceTable.js
Labels: Frontend, Ready for review

#769 Bug/ MDS - 1963
  frontend-public/src/components/common/FileUpload.js
  frontend/src/components/Forms/variances/AddVarianceForm.js
  frontend/src/components/Forms/variances/EditVarianceForm.js
  frontend/src/styles/tools/mixins.scss
Labels: Frontend, Ready for review

#765 Feature/mds 1660
  frontend-public/src/actionCreators/varianceActionCreator.js
  frontend-public/src/actions/varianceActions.js
  frontend-public/src/assets/images/edit-pencil.svg
  frontend-public/src/components/Forms/variances/AddVarianceForm.js
  frontend-public/src/components/Forms/variances/EditVarianceForm.js
  frontend-public/src/components/Forms/variances/VarianceFileUpload.js
  frontend-public/src/components/common/DocumentTable.js
  frontend-public/src/components/common/FileUpload.js
  frontend-public/src/components/common/RenderAutoSizeField.js
  frontend-public/src/components/common/config.js
  frontend-public/src/components/common/wrappers/LoadingWrapper.js
  frontend-public/src/components/common/wrappers/ModalWrapper.js
  frontend-public/src/components/dashboard/mine/variances/VarianceDetails.js
  frontend-public/src/components/dashboard/mine/variances/VarianceTable.js
  frontend-public/src/components/dashboard/mine/variances/Variances.js
  frontend-public/src/components/modalContent/config.js
  frontend-public/src/components/modalContent/variances/AddVarianceModal.js
  frontend-public/src/components/modalContent/variances/EditVarianceModal.js
  frontend-public/src/components/modalContent/variances/ViewVarianceModal.js
  frontend-public/src/constants/actionTypes.js
  frontend-public/src/constants/assets.js
  frontend-public/src/constants/forms.js
  frontend-public/src/constants/modalContent.js
  frontend-public/src/constants/reducerTypes.js
  frontend-public/src/constants/strings.js
  frontend-public/src/customPropTypes/common.js
  frontend-public/src/customPropTypes/index.js
  frontend-public/src/customPropTypes/variance.js
  frontend-public/src/reducers/varianceReducer.js
  frontend-public/src/selectors/varianceSelectors.js
  frontend-public/src/styles/components/Loading.scss
  frontend-public/src/styles/elements/elements.scss
  frontend-public/src/styles/generic/layout.scss
  frontend-public/src/styles/settings/themeOverride.scss
  frontend-public/src/styles/tools/mixins.scss
  frontend-public/src/tests/actionCreators/varianceActionCreator.spec.js
  frontend-public/src/tests/components/Forms/variances/AddVarianceForm.spec.js
  frontend-public/src/tests/components/Forms/variances/EditVarianceForm.spec.js
  frontend-public/src/tests/components/Forms/variances/VarianceFileUpload.spec.js
  frontend-public/src/tests/components/Forms/variances/__snapshots__/AddVarianceForm.spec.js.snap
  frontend-public/src/tests/components/Forms/variances/__snapshots__/EditVarianceForm.spec.js.snap
  frontend-public/src/tests/components/Forms/variances/__snapshots__/VarianceFileUpload.spec.js.snap
  frontend-public/src/tests/components/common/DocumentTable.spec.js
  frontend-public/src/tests/components/common/__snapshots__/DocumentTable.spec.js.snap
  frontend-public/src/tests/components/common/wrappers/LoadingWrapper.spec.js
  frontend-public/src/tests/components/common/wrappers/ModalWrapper.spec.js
  frontend-public/src/tests/components/common/wrappers/__snapshots__/LoadingWrapper.spec.js.snap
  frontend-public/src/tests/components/common/wrappers/__snapshots__/ModalWrapper.spec.js.snap
  frontend-public/src/tests/components/dashboard/mine/variances/VarianceDetails.spec.js
  frontend-public/src/tests/components/dashboard/mine/variances/VarianceTable.spec.js
  frontend-public/src/tests/components/dashboard/mine/variances/__snapshots__/VarianceDetails.spec.js.snap
  frontend-public/src/tests/components/dashboard/mine/variances/__snapshots__/VarianceTable.spec.js.snap
  frontend-public/src/tests/components/dashboard/mine/variances/__snapshots__/Variances.spec.js.snap
  frontend-public/src/tests/mocks/dataMocks.js
  frontend-public/src/tests/reducers/varianceReducer.spec.js
  frontend-public/src/tests/selectors/varianceSelectors.spec.js
  frontend/src/components/common/DocumentTable.js
  python-backend/app/api/mines/variances/resources/variance.py
  python-backend/tests/auth/test_expected_auth.py
Labels: Frontend, Ready for review

#771 MDS-1966
  frontend/src/components/Forms/variances/AddVarianceForm.js
  frontend/src/components/dashboard/customHomePage/CustomHomePage.js
Labels: Frontend, Ready for review

#761 NRIS scheduled job lock and sequence reset
  docker-compose.yml
  microservices/nris_api/backend/.env-example
  microservices/nris_api/backend/app/__init__.py
  microservices/nris_api/backend/app/commands.py
  microservices/nris_api/backend/app/config.py
  microservices/nris_api/backend/app/constants.py
  microservices/nris_api/backend/app/extensions.py
  microservices/nris_api/backend/app/nris/etl/nris_etl.py
  microservices/nris_api/backend/app/nris/scheduled_jobs/nris_jobs.py
  microservices/nris_api/backend/app/nris/utils/apm.py
  microservices/nris_api/openshift/_python36_oracle.dc.json
Labels: NRIS, Ready for review

#773 MDS-1607 Feature/Add logout page
  frontend/src/assets/images/Logo-purple.svg
  frontend/src/components/common/Logout.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/constants/assets.js
  frontend/src/constants/routes.js
  frontend/src/routes/Routes.js
  frontend/src/styles/components/Logout.scss
  frontend/src/styles/index.scss
  frontend/src/tests/components/common/LogoutScreen.spec.js
  frontend/src/tests/components/common/__snapshots__/LogoutScreen.spec.js.snap
  frontend/src/tests/routes/__snapshots__/Routes.spec.js.snap
Labels: Frontend, Needs Manual Testing

#764 Feature/user nris api in core
  .gitignore
  docker-compose.yml
  frontend/src/actionCreators/complianceActionCreator.js
  frontend/src/components/mine/Compliance/MineComplianceInfo.js
  frontend/src/constants/API.js
  frontend/src/tests/actionCreators/complianceActionCreator.spec.js
  microservices/nris_api/backend/app/config.py
  microservices/nris_api/backend/app/nris/models/inspected_location.py
  microservices/nris_api/backend/app/nris/models/inspection.py
  microservices/nris_api/backend/app/nris/models/noncompliance_legislation.py
  microservices/nris_api/backend/app/nris/models/order_stop_detail.py
  microservices/nris_api/backend/app/nris/scheduled_jobs/nris_jobs.py
  microservices/nris_api/backend/app/nris/utils/apm.py
  openshift/_python36.dc.json
  openshift/sonar.pod.json
  pipeline/config-dev.groovy
  pipeline/config-prod.groovy
  pipeline/config-test.groovy
  python-backend/.env-dev-local-keycloak
  python-backend/.env-example
  python-backend/app/__init__.py
  python-backend/app/api/constants.py
  python-backend/app/api/mines/compliance/resources/compliance.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/services/NRIS_API_service.py
  python-backend/app/api/services/NRIS_service.py
  python-backend/app/api/utils/apm.py
  python-backend/app/commands.py
  python-backend/app/config.py
  python-backend/app/scheduled_jobs/NRIS_jobs.py
  python-backend/tests/auth/test_expected_auth.py
  python-backend/tests/compliance/resources/test_compliance_resource.py
Labels: Backend, NRIS, Ready for review

#768 MDS-1803 refactor mine status
  frontend/src/components/Forms/MineRecordForm.js
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/reducers/staticContentReducer.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/components/Forms/MineRecordForm.spec.js
  frontend/src/tests/components/Forms/__snapshots__/MineRecordForm.spec.js.snap
  frontend/src/tests/components/dashboard/minesHomePage/Dashboard.spec.js
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  frontend/src/tests/components/mine/MineDashboard.spec.js
  frontend/src/tests/components/mine/MineHeader.spec.js
  frontend/src/tests/components/mine/__snapshots__/MineDashboard.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  frontend/src/tests/components/modalContent/MineRecordModal.spec.js
  frontend/src/tests/components/modalContent/__snapshots__/MineRecordModal.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/staticContentReducer.spec.js
  frontend/src/tests/selectors/staticContentSelectors.spec.js
  python-backend/app/api/constants.py
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/mines/status/models/mine_status_xref.py
  python-backend/app/api/mines/status/resources/status.py
  python-backend/tests/status/resources/test_mine_status_resource.py
  python-backend/tests/status_code_gen.py
Labels: Backend, Frontend, Ready for review

#778 Updated permissions for variance tab
  frontend/src/components/mine/MineDashboard.js
Labels: Frontend, Ready for review

#776 Feature/mds 1803 add tooltips to mine status
  frontend/src/components/mine/MineHeader.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/components/Forms/__snapshots__/MineRecordForm.spec.js.snap
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineDashboard.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  frontend/src/tests/components/modalContent/__snapshots__/MineRecordModal.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  functional-tests/src/test/groovy/FrontendCore/modules/Form_CreateMine.groovy
  migrations/sql/V2019.06.04.11.22__add_description_to_mine_status_xref.sql
  migrations/sql/afterMigrate__3__create_status_xref_data.sql
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/mines/status/models/mine_status.py
  python-backend/app/api/mines/status/models/mine_status_xref.py
Labels: Backend, Frontend, Ready for review

#772 Feature/MDS-1967 Create Party Business Roles, Add Inspectors; MDS-1957 Party Select uses search endpoint.
  frontend-public/src/customPropTypes/variance.js
  frontend-public/src/customPropTypes/variances.js
  frontend/src/actionCreators/partiesActionCreator.js
  frontend/src/actions/partyActions.js
  frontend/src/components/Forms/variances/AddVarianceForm.js
  frontend/src/components/Forms/variances/EditVarianceForm.js
  frontend/src/components/common/PartySelectField.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/mine/Variances/MineVariance.js
  frontend/src/components/modalContent/AddVarianceModal.js
  frontend/src/components/modalContent/EditVarianceModal.js
  frontend/src/components/modalContent/ViewVarianceModal.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/reducerTypes.js
  frontend/src/customPropTypes/variances.js
  frontend/src/reducers/partiesReducer.js
  frontend/src/selectors/partiesSelectors.js
  frontend/src/tests/components/Forms/variances/AddVarianceForm.spec.js
  frontend/src/tests/components/Forms/variances/__snapshots__/AddVarianceForm.spec.js.snap
  frontend/src/tests/components/common/PartySelectField.spec.js
  frontend/src/tests/components/common/__snapshots__/PartySelectField.spec.js.snap
  frontend/src/tests/components/mine/MineDashboard.spec.js
  frontend/src/tests/components/mine/Variances/MineVariance.spec.js
  frontend/src/tests/components/mine/Variances/__snapshots__/MineVariance.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineDashboard.spec.js.snap
  frontend/src/tests/components/modalContent/AddVarianceModal.spec.js
  frontend/src/tests/components/modalContent/__snapshots__/AddVarianceModal.spec.js.snap
  frontend/src/tests/reducers/partieslReducer.spec.js
  migrations/sql/V2019.05.29.10.43__add_party_business_role.sql
  migrations/sql/V2019.05.30.11.55__alter_party_add_title_letters.sql
  migrations/sql/V2019.05.31.13.56__alter_variance_inspector.sql
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/mines/variances/resources/variance.py
  python-backend/app/api/mines/variances/resources/variance_list.py
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/resources/party_list_resource.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party_appt/models/party_business_role_appt.py
  python-backend/app/api/parties/party_appt/models/party_business_role_code.py
  python-backend/app/api/parties/response_models.py
  python-backend/app/api/variances/models/variance.py
  python-backend/app/api/variances/resources/variance_resource.py
  python-backend/app/api/variances/response_models.py
  python-backend/tests/factories.py
  python-backend/tests/mines/variances/resources/test_variance_list_resource.py
  python-backend/tests/mines/variances/resources/test_variance_resource.py
  python-backend/tests/status_code_gen.py
Labels: Backend, Frontend, Ready for review

#775 Support docstrings in test output
  python-backend/tests/conftest.py
  python-backend/tests/variances/resources/test_variance_application_status_code_resource.py
Labels: Backend, Ready for review

#783 Feature/mds 1978 admin can edit permitee
  frontend/src/components/mine/ContactInfo/PartyRelationships/DefaultContact.js
  frontend/src/components/mine/ContactInfo/PartyRelationships/Permittee.js
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
Labels: Frontend, Ready for review

#780 Geb/mds 1810
  Makefile
  functional-tests/run_tests.sh
  functional-tests/src/test/groovy/FrontendCore/modules/Form_CreatePermit.groovy
  functional-tests/src/test/groovy/FrontendCore/modules/Tab_Permit.groovy
  functional-tests/src/test/groovy/FrontendCore/pages/MineProfile.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Permit.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Tailings.groovy
  functional-tests/src/test/groovy/data/data_deletion.sql
  functional-tests/src/test/groovy/utils/Const.groovy
Labels: Ready for review, enhancement

#777 MDS-1846 Feature/Add Metabase Dashboard
  frontend/server.js
  frontend/src/actionCreators/reportingActionCreator.js
  frontend/src/components/dashboard/reporting/ReportingDashboard.js
  frontend/src/components/navigation/NavBar.js
  frontend/src/constants/API.js
  frontend/src/constants/routes.js
  frontend/src/routes/DashboardRoutes.js
  frontend/src/styles/components/NavBar.scss
  frontend/src/tests/components/navigation/__snapshots__/NavBar.spec.js.snap
  frontend/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  openshift/_python36.dc.json
  package-lock.json
  python-backend/.env-example
  python-backend/app/__init__.py
  python-backend/app/api/reporting/__init__.py
  python-backend/app/api/reporting/namespace/__init__.py
  python-backend/app/api/reporting/namespace/reporting.py
  python-backend/app/api/reporting/resources/metabase.py
  python-backend/app/config.py
  python-backend/requirements.txt
Labels: Backend, DO NOT MERGE, Frontend, WIP

#784 Minespace content changes and document download placeholder
  frontend-public/src/components/landingPage/LandingPage.js
Labels: Frontend, Ready for review

#754 Add fields to match MDS API to MWSL API
  Makefile
  functional-tests/src/test/groovy/FrontendCore/spec/CustomJUnitSpecRunner.groovy
  migrations/sql/R__stored_procedure_for_mine_information.sql
  migrations/sql/V2019.06.06.02.21.45__add_mine_site_desc.sql
  python-backend/app/api/mines/location/models/mine_location.py
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/models/party_type_code.py
  python-backend/app/api/permits/permit/models/permit.py
  python-backend/app/api/permits/permit/models/permit_status_code.py
  python-backend/requirements.txt
  python-backend/tests/factories.py
  python-backend/tests/mines/resources/test_mine_list_by_name_resource.py
Labels: Backend, Ready for review

#786 find mine by guid or num then use number
  python-backend/app/api/mines/compliance/resources/compliance.py
Labels: Backend, Ready for review

#788 Drop inspector_id on variane; V2019.06.03.15.44__alter_variance_drop_inspector_id.sql
  migrations/sql/V2019.06.03.15.44__alter_variance_drop_inspector_id.sql
Labels: Ready for review

#791 MDS-2029 Feature/ Add filtering by application status code to GET /variances
  python-backend/app/api/variances/resources/variance_resource.py
  python-backend/tests/factories.py
  python-backend/tests/status_code_gen.py
  python-backend/tests/variances/resources/test_variance_resource.py
Labels: Backend, Ready for review

#793 Bug/ MDS-2044
  frontend/src/components/common/DocumentTable.js
Labels: Frontend, Ready for review

#792 Bug/mds 1964
  frontend/src/components/Forms/MineRecordForm.js
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/modalContent/MineRecordModal.js
  frontend/src/tests/components/Forms/__snapshots__/MineRecordForm.spec.js.snap
  frontend/src/tests/components/modalContent/__snapshots__/MineRecordModal.spec.js.snap
  python-backend/app/api/mines/mine/resources/mine.py
Labels: Backend, Frontend, Needs Manual Testing, Ready for review

#795 MDS-2030 Feature/ Update Variances to accommodate user-requested workflow
  frontend/src/actionCreators/varianceActionCreator.js
  migrations/sql/V2019.06.12.10.40__add_variance_document_categories_and_parties_notified_ind.sql
  python-backend/app/api/documents/variances/models/variance.py
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/mines/variances/resources/variance.py
  python-backend/app/api/mines/variances/resources/variance_document_upload.py
  python-backend/app/api/mines/variances/resources/variance_list.py
  python-backend/app/api/variances/models/variance.py
  python-backend/app/api/variances/models/variance_document_category_code.py
  python-backend/app/api/variances/namespace/variances.py
  python-backend/app/api/variances/resources/variance_document_category_code.py
  python-backend/app/api/variances/response_models.py
  python-backend/tests/factories.py
  python-backend/tests/mines/variances/resources/test_variance_document_upload_resource.py
  python-backend/tests/mines/variances/resources/test_variance_list_resource.py
  python-backend/tests/mines/variances/resources/test_variance_resource.py
  python-backend/tests/status_code_gen.py
  python-backend/tests/variances/resources/test_variance_application_status_code_resource.py
  python-backend/tests/variances/resources/test_variance_document_category_code_resource.py
Labels: Backend, Ready for review

#798 Feature/mds 2055
  frontend/src/actionCreators/staticContentActionCreator.js
  frontend/src/actionCreators/varianceActionCreator.js
  frontend/src/actions/staticContentActions.js
  frontend/src/components/Forms/variances/AddVarianceForm.js
  frontend/src/components/Forms/variances/EditVarianceForm.js
  frontend/src/components/common/DocumentTable.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/mine/Variances/MineVariance.js
  frontend/src/components/mine/Variances/VarianceDetails.js
  frontend/src/components/modalContent/AddVarianceModal.js
  frontend/src/components/modalContent/EditVarianceModal.js
  frontend/src/components/modalContent/ViewVarianceModal.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/reducerTypes.js
  frontend/src/reducers/staticContentReducer.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/actionCreators/staticContentActionCreator.spec.js
  frontend/src/tests/components/Forms/variances/AddVarianceForm.spec.js
  frontend/src/tests/components/Forms/variances/__snapshots__/AddVarianceForm.spec.js.snap
  frontend/src/tests/components/mine/MineDashboard.spec.js
  frontend/src/tests/components/mine/Variances/VarianceDetails.spec.js
  frontend/src/tests/components/mine/Variances/__snapshots__/VarianceDetails.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineDashboard.spec.js.snap
  frontend/src/tests/components/modalContent/__snapshots__/AddVarianceModal.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/staticContentReducer.spec.js
  frontend/src/tests/selectors/staticContentSelectors.spec.js
Labels: Frontend, Ready for review

#797 This fixes the constant geb failure
  functional-tests/src/test/groovy/FrontendCore/spec/Permit.groovy
  functional-tests/src/test/groovy/data/data_creation.sql
Labels: Ready for review

#794 Make JenkinsFile more durable
  Jenkinsfile
Labels: Ready for review

#802 Change existing variance document category code
  migrations/sql/V2019.06.14.11.47__change_existing_variance_document_category_code.sql
Labels: Backend, Ready for review

#803 BUG: fetchVarianceDocumentCategoryOptions was not being called
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/modalContent/ViewVarianceModal.js
Labels: Frontend, Ready for review

#806 updated conditional edit for variances
  frontend/src/components/mine/Variances/MineVarianceTable.js
  frontend/src/constants/strings.js
Labels: Frontend, Ready for review

#808 Bug/mds 1576
  python-backend/app/api/mines/mine/resources/mine.py
Labels: Backend, Needs Manual Testing, Ready for review

#805 Use npm ci to decrease build times
  docker-images/nodejs-8-public/Dockerfile
  docker-images/nodejs-8/Dockerfile
  openshift/_nodejs.bc.json
Labels: CI/CD, Ready for review

#800 set reference policy local to copy remote images
  microservices/nris_api/openshift/_python36_oracle.bc.json
  openshift/_nodejs.bc.json
  openshift/_python36.bc.json
  openshift/dbbackup.bc.json
  openshift/flyway.bc.json
  openshift/postgresql.bc.json
  openshift/tools/jenkins/_jenkins.bc.json
  openshift/tools/logstash.bc.json
  openshift/tools/metabase.bc.json
  openshift/tools/schemaspy.bc.json
  openshift/tools/sonarqube/postgresql.bc.json
  openshift/tools/sonarqube/sonarqube.bc.json
Labels: CI/CD

#811 "transformData" declared at line 60 expects 3 arguments, but 4 were provided.
  frontend/src/components/common/PartySelectField.js
Labels: Ready for review

#801 Geb/mds 2039
  functional-tests/src/test/groovy/FrontendCore/modules/Form_CreatePermit.groovy
  functional-tests/src/test/groovy/FrontendCore/pages/Dashboard.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Contacts.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Dashboard.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Permit.groovy
  functional-tests/src/test/groovy/data/data_creation.sql
  functional-tests/src/test/groovy/data/data_deletion.sql
  functional-tests/src/test/groovy/utils/Const.groovy
Labels: Ready for review

#810 docker logs for dev experience.
  python-backend/app/__init__.py
Labels: Backend, Ready for review, enhancement

#813 Fix: Add global SQLAlchemy error handlers
  python-backend/app/__init__.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  python-backend/app/api/utils/models_mixins.py
  python-backend/tests/mines/resources/test_mine_type_detail_resource.py
  python-backend/tests/mines/resources/test_mine_type_resource.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_mm_overlap.py
Labels: Backend, Ready for review

#821 Bug/mds 2028
  frontend/src/components/Forms/AddTailingsReportForm.js
  frontend/src/components/Forms/PartyRelationships/EngineerOfRecordOptions.js
  frontend/src/components/Forms/PartyRelationships/PermitteeOptions.js
  frontend/src/components/Forms/parties/AddRolesForm.js
  frontend/src/components/common/RenderSelect.js
  frontend/src/tests/components/Forms/__snapshots__/AddTailingsReportForm.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/RenderSelect.spec.js.snap
Labels: Frontend, Needs Manual Testing, Ready for review

#824 Bug/mds 2037
  frontend/src/components/Forms/parties/AddFullPartyForm.js
  frontend/src/components/Forms/parties/AddQuickPartyForm.js
  frontend/src/components/Forms/parties/EditFullPartyForm.js
  frontend/src/tests/components/Forms/parties/__snapshots__/AddFullPartyForm.spec.js.snap
  frontend/src/tests/components/Forms/parties/__snapshots__/EditFullPartyForm.spec.js.snap
Labels: Frontend, Ready for review

#815 MDS-1554 Fix/ Add frontend date validation for mine contacts
  frontend/src/components/Forms/PartyRelationships/AddPartyRelationshipForm.js
  frontend/src/components/Forms/PartyRelationships/EditPartyRelationshipForm.js
  frontend/src/components/common/PartySelectField.js
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/modalContent/AddPartyRelationshipModal.js
  frontend/src/components/modalContent/EditPartyRelationshipModal.js
  frontend/src/tests/components/modalContent/__snapshots__/UpdateEditPartyRelationshipModal.spec.js.snap
  frontend/src/tests/utils/Validate.spec.js
  frontend/src/utils/Validate.js
Labels: Frontend, Needs Manual Testing, Ready for review

#820 Reduce Dev resources
  frontend-public/package-lock.json
  frontend-public/package.json
  frontend/package-lock.json
  frontend/package.json
  functional-tests/build.gradle
  functional-tests/gradle/wrapper/gradle-wrapper.jar
  functional-tests/gradle/wrapper/gradle-wrapper.properties
  functional-tests/run_tests.sh
  functional-tests/src/test/groovy/FrontendCore/modules/Tab_Permit.groovy
  functional-tests/src/test/groovy/FrontendCore/pages/MineProfile.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Contacts.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Permit.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Tailings.groovy
  functional-tests/src/test/resources/GebConfig.groovy
  microservices/nris_api/backend/app/__init__.py
  microservices/nris_api/backend/uwsgi.ini
  microservices/nris_api/openshift/_python36_oracle.dc.json
  openshift/_python36.dc.json
  openshift/bddstack.bc.json
  openshift/bddstack.pod.json
  openshift/sonar.pod.json
  pipeline/config-dev.groovy
  pipeline/config-prod.groovy
  pipeline/config-test.groovy
  pipeline/src/groovy/UnitTest.groovy
  python-backend/app/__init__.py
  python-backend/uwsgi.ini
Labels: Needs Manual Testing, Ready for review

#812 Feature/mds 1703 attach supporting docs for do
  frontend/src/components/Forms/incidents/AddIncidentDetailForm.js
  frontend/src/components/Forms/incidents/AddIncidentFollowUpForm.js
  frontend/src/components/Forms/incidents/IncidentsUploadedFilesList.js
  frontend/src/components/mine/Incidents/MineIncidentTable.js
  frontend/src/components/modalContent/AddIncidentModal.js
  frontend/src/constants/API.js
  frontend/src/tests/components/Forms/incidents/AddIncidentFollowUpForm.spec.js
  frontend/src/tests/components/Forms/incidents/__snapshots__/AddIncidentFollowUpForm.spec.js.snap
  frontend/src/tests/components/Forms/parties/__snapshots__/AddFullPartyForm.spec.js.snap
  frontend/src/tests/components/Forms/parties/__snapshots__/AddQuickPartyForm.spec.js.snap
  frontend/src/tests/components/Forms/parties/__snapshots__/EditFullPartyForm.spec.js.snap
  frontend/src/tests/components/mine/Incidents/__snapshots__/MineIncidentTable.spec.js.snap
  migrations/sql/V2019.06.12.15.12__create_mine_incident_document_and_type.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/documents/incidents/models/__init__.py
  python-backend/app/api/documents/incidents/models/mine_incident.py
  python-backend/app/api/mines/incidents/models/mine_incident.py
  python-backend/app/api/mines/incidents/models/mine_incident_document_type_code.py
  python-backend/app/api/mines/incidents/resources/mine_incident_document.py
  python-backend/app/api/mines/incidents/resources/mine_incidents.py
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/mines/variances/resources/variance_document_upload.py
Labels: Backend, Frontend, Ready for review

#817 Feature/MDS 1976
  frontend-public/src/tests/components/common/DocumentTable.spec.js
  frontend/src/actionCreators/varianceActionCreator.js
  frontend/src/components/dashboard/customHomePage/CustomHomePage.js
  frontend/src/components/dashboard/customHomePage/SubscriptionTable.js
  frontend/src/components/dashboard/customHomePage/VarianceTable.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/mine/Variances/MineVariance.js
  frontend/src/components/mine/Variances/MineVarianceTable.js
  frontend/src/components/mine/Variances/VarianceDetails.js
  frontend/src/components/modalContent/EditVarianceModal.js
  frontend/src/components/modalContent/ViewVarianceModal.js
  frontend/src/constants/API.js
  frontend/src/constants/reducerTypes.js
  frontend/src/customPropTypes/common.js
  frontend/src/customPropTypes/variances.js
  frontend/src/reducers/rootReducer.js
  frontend/src/reducers/varianceReducer.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/selectors/varianceSelectors.js
  frontend/src/styles/components/Tables.scss
  frontend/src/tests/actionCreators/varianceActionCreator.spec.js
  frontend/src/tests/components/Forms/variances/AddVarianceForm.spec.js
  frontend/src/tests/components/Forms/variances/__snapshots__/AddVarianceForm.spec.js.snap
  frontend/src/tests/components/dashboard/customHomePage/CustomHomePage.spec.js
  frontend/src/tests/components/dashboard/customHomePage/SubscriptionTable.spec.js
  frontend/src/tests/components/dashboard/customHomePage/__snapshots__/CustomHomePage.spec.js.snap
  frontend/src/tests/components/dashboard/customHomePage/__snapshots__/SubscriptionTable.spec.js.snap
  frontend/src/tests/components/mine/MineDashboard.spec.js
  frontend/src/tests/components/mine/Variances/MineVarianceTable.spec.js
  frontend/src/tests/components/mine/Variances/__snapshots__/MineVariance.spec.js.snap
  frontend/src/tests/components/mine/Variances/__snapshots__/MineVarianceTable.spec.js.snap
  frontend/src/tests/components/mine/Variances/__snapshots__/VarianceDetails.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineDashboard.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/userReducer.spec.js
  frontend/src/tests/reducers/varianceReducer.spec.js
  frontend/src/tests/selectors/userSelectors.spec.js
  frontend/src/tests/selectors/varianceSelectors.spec.js
  python-backend/app/api/variances/models/variance.py
  python-backend/app/api/variances/resources/variance_resource.py
  python-backend/app/api/variances/response_models.py
Labels: Frontend, Ready for review, WIP

#814 MDS-2041 Remove and prevent duplicate permitee's
  migrations/sql/R__stored_procedure_for_permit_and_permitee_information.sql
  python-backend/app/commands.py
Labels: Backend, Ready for review

#818 Task/import do's from mms
  frontend/src/components/Forms/incidents/AddIncidentDetailForm.js
  migrations/sql/V2019.09.19.02.53__add_historical_mine_incident_followup_type_code.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/mines/incidents/resources/mine_incident_followup_types.py
  python-backend/app/scripts/incident_import.py
Labels: Ready for review, enhancement

#828 remove sorting
  frontend/src/components/mine/Variances/MineVarianceTable.js
Labels: Frontend

#831 Try new base image for Functional Tests
  functional-tests/Dockerfile
  functional-tests/gradle.properties
  functional-tests/src/test/groovy/FrontendCore/spec/Permit.groovy
  openshift/bddstack.bc.json
  openshift/bddstack.pod.json
Labels: CI/CD, Ready for review

#832 show mms_insp_cd on form if exists.
  frontend/src/components/Forms/incidents/AddIncidentReportingForm.js
  frontend/src/customPropTypes/incidents.js
  frontend/src/tests/components/Forms/incidents/__snapshots__/AddIncidentReportingForm.spec.js.snap
  python-backend/app/api/mines/incidents/models/mine_incident.py
  python-backend/app/api/mines/mine_api_models.py
Labels: Backend, Frontend, Ready for review

#830 Bug/mds 1314
  frontend/src/components/Forms/PartyRelationships/AddPartyRelationshipForm.js
  frontend/src/components/Forms/PartyRelationships/EditPartyRelationshipForm.js
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/mine/Permit/MinePermitTable.js
  frontend/src/components/mine/Summary/MineSummary.js
  frontend/src/tests/utils/Validate.spec.js
  frontend/src/utils/Validate.js
Labels: Frontend, Needs Manual Testing, Ready for review

#835 feature/MDS 2104 proponent incident id
  frontend/src/components/Forms/incidents/AddIncidentDetailForm.js
  frontend/src/components/Forms/incidents/AddIncidentReportingForm.js
  frontend/src/components/modalContent/AddIncidentModal.js
  frontend/src/tests/components/Forms/incidents/__snapshots__/AddIncidentReportingForm.spec.js.snap
  python-backend/app/api/mines/incidents/models/mine_incident.py
  python-backend/app/api/mines/incidents/resources/mine_incidents.py
  python-backend/app/api/mines/mine_api_models.py
Labels: Backend, Frontend, Ready for review

#837 fix/ mds-1316. Tailings report name is not editable.
  frontend/src/components/Forms/EditTailingsReportForm.js
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
Labels: Frontend, Ready for review
