Repository bcgov/mds, pull requests merged in 2019-04, with the labels that each got.

#624 Feature/mds 1589 add response and model to swagger
  frontend/src/actionCreators/applicationActionCreator.js
  frontend/src/components/mine/Applications/MineApplicationTable.js
  frontend/src/customPropTypes/applications.js
  frontend/src/reducers/applicationReducer.js
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/applicationReducer.spec.js
  frontend/src/tests/selectors/applicationSelectors.spec.js
  frontend/src/utils/helpers.js
  frontend/webpack.config.js
  frontend/webpack.parts.js
  migrations/sql/V2019.03.25.10.29__fix_column_name_typo.sql
  python-backend/app/api/applications/models/application.py
  python-backend/app/api/applications/models/application_status_code.py
  python-backend/app/api/applications/namespace/applications.py
  python-backend/app/api/applications/resources/apllication.py
  python-backend/app/api/applications/resources/application.py
  python-backend/app/api/applications/resources/application_status_code.py
  python-backend/app/config.py
  python-backend/tests/applications/resources/test_application_resource.py
Labels: Backend, Frontend, Ready for review

#633 Task/store missing put 3 mine resource
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/components/Forms/MineRecordForm.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/tests/components/Forms/__snapshots__/MineRecordForm.spec.js.snap
  functional-tests/src/test/groovy/modules/Form_CreateMine.groovy
  python-backend/app/api/mines/location/models/mine_location.py
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/mines/status/models/mine_status.py
  python-backend/tests/mines/resources/test_mine_resource.py
Labels: Backend, Frontend, Ready for review

#635 Mds 1580
  frontend/src/components/maps/MapPopup.js
  frontend/src/components/maps/MinePin.js
  frontend/src/styles/components/Maps.scss
  frontend/src/tests/components/maps/__snapshots__/MapPopup.spec.js.snap
  frontend/src/tests/components/maps/__snapshots__/MinePin.spec.js.snap
Labels: Frontend, Ready for review

#637 mds-1575 store missing put final changes
  frontend-public/src/components/dashboard/mineInfo/MineInfo.js
  frontend/src/actionCreators/partiesActionCreator.js
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
  python-backend/app/__init__.py
  python-backend/app/api/applications/resources/application.py
  python-backend/app/api/documents/expected/models/mine_expected_document.py
  python-backend/app/api/documents/expected/resources/documents.py
  python-backend/app/api/documents/expected/resources/expected_document_uploads.py
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/mines/tailings/resources/tailings.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  python-backend/app/api/permits/permit_amendment/resources/permit_amendment_document.py
  python-backend/tests/applications/resources/test_application_resource.py
  python-backend/tests/documents/expected/resources/test_expected_documents_resource.py
  python-backend/tests/parties/party/resources/test_party_resource.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_mm_overlap.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_resource.py
  python-backend/tests/parties/party_appt/resources/test_mpa_permittee_resource.py
Labels: Backend, Ready for review

#638 add random sleep.
  frontend/src/components/parties/PartyProfile.js
  python-backend/app/scheduled_jobs/ETL_jobs.py
Labels: Backend, Ready for review

#642 Bug/mds 1760
  frontend/src/components/Forms/AdvancedContactSearchForm.js
  frontend/src/components/dashboard/contactsHomePage/ContactHomePage.js
  frontend/src/components/dashboard/contactsHomePage/ContactSearch.js
  frontend/src/tests/components/dashboard/contactsHomePage/__snapshots__/ContacthomePage.spec.js.snap
Labels: Frontend, Ready for review

#644 Refactor Axios interceptors to handle error toast messages
  frontend/src/App.js
  frontend/src/actionCreators/applicationActionCreator.js
  frontend/src/actionCreators/complianceActionCreator.js
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/actionCreators/minespaceActionCreator.js
  frontend/src/actionCreators/partiesActionCreator.js
  frontend/src/actionCreators/permitActionCreator.js
  frontend/src/actionCreators/staticContentActionCreator.js
  frontend/src/axiosInterceptors.js
  frontend/src/customAxios.js
Labels: Frontend, Needs Manual Testing, Ready for review

#645 MDS-1599 & MDS-1656 Feature/ Support Create Variances & Upload Documents (backend)
  python-backend/app/api/document_manager/models/document_manager.py
  python-backend/app/api/documents/variances/__init__.py
  python-backend/app/api/documents/variances/models/__init__.py
  python-backend/app/api/documents/variances/models/variance.py
  python-backend/app/api/mines/compliance/models/__init__.py
  python-backend/app/api/mines/compliance/models/compliance_article.py
  python-backend/app/api/mines/compliance/resources/compliance_article.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/mines/variances/__init__.py
  python-backend/app/api/mines/variances/models/__init__.py
  python-backend/app/api/mines/variances/models/variance.py
  python-backend/app/api/mines/variances/resources/__init__.py
  python-backend/app/api/mines/variances/resources/variance.py
  python-backend/tests/auth/test_expected_auth.py
Labels: Backend, Ready for review

#648 Bug/mds 1667
  frontend/src/components/maps/MineMap.js
  frontend/src/components/maps/MinePin.js
  frontend/src/tests/components/maps/__snapshots__/MineMap.spec.js.snap
Labels: Ready for review

#649 Feature/ldap idir job
  migrations/sql/V2019.04.03__create_core_user_tables.sql
  migrations/sql/V2019.04.04__idir_membership_groups.sql
  openshift/_python36.dc.json
  python-backend/.env-example
  python-backend/app/__init__.py
  python-backend/app/api/mines/compliance/resources/compliance.py
  python-backend/app/api/services/NRIS_service.py
  python-backend/app/api/services/idir_service.py
  python-backend/app/api/users/core/models/core_user.py
  python-backend/app/api/users/core/models/idir_membership.py
  python-backend/app/api/users/core/models/idir_membership_xref.py
  python-backend/app/api/users/core/models/idir_user_detail.py
  python-backend/app/api/users/core/resources/core_user.py
  python-backend/app/api/users/namespace/users.py
  python-backend/app/commands.py
  python-backend/app/config.py
  python-backend/app/scheduled_jobs/IDIR_jobs.py
  python-backend/app/scheduled_jobs/NRIS_jobs.py
  python-backend/requirements.txt
  python-backend/tests/users/models/test_core_user.py
  python-backend/tests/users/resources/test_core_user_resource.py
Labels: Backend, Ready for review

#653 Bug/MDS-1779 fix interceptors
  frontend/src/customAxios.js
Labels: Frontend, Ready for review, bug

#650 Update database indexes
  migrations/sql/R__add_update_indexes.sql
Labels: Ready for review

#657 Fix/etl integer
  python-backend/app/__init__.py
  python-backend/app/scheduled_jobs/ETL_jobs.py
  python-backend/app/scheduled_jobs/IDIR_jobs.py
Labels: Backend, Ready for review, bug

#661 parser refactor missed a mapping.
  frontend/src/components/mine/Tailings/MineTailingsInfo.js
Labels: Frontend, Ready for review

#651 Data Factory for testing
  python-backend/requirements.txt
  python-backend/tests/factories.py
  python-backend/tests/status_code_gen.py
Labels: Backend, Ready for review

#664 MDS-1418 Feature/ Add Sorting to Mine List View
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Forms/AdvancedMineSearchForm.js
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/components/dashboard/minesHomePage/MineList.js
  frontend/src/components/dashboard/minesHomePage/MineSearch.js
  frontend/src/constants/fileTypes.js
  frontend/src/styles/components/Tables.scss
  frontend/src/tests/components/Forms/__snapshots__/AddPartyRelationshipForm.spec.js.snap
  frontend/src/tests/components/Forms/__snapshots__/AddPermitForm.spec.js.snap
  frontend/src/tests/components/Forms/__snapshots__/AddTailingsForm.spec.js.snap
  frontend/src/tests/components/Forms/__snapshots__/AddTailingsReportForm.spec.js.snap
  frontend/src/tests/components/Forms/__snapshots__/AddTenureNumberForm.spec.js.snap
  frontend/src/tests/components/Forms/__snapshots__/AdvancedSearchForm.spec.js.snap
  frontend/src/tests/components/Forms/__snapshots__/EditPartyRelationshipForm.spec.js.snap
  frontend/src/tests/components/Forms/__snapshots__/MineRecordForm.spec.js.snap
  frontend/src/tests/components/Forms/__snapshots__/SearchCoordinatesForm.spec.js.snap
  frontend/src/tests/components/Forms/parties/__snapshots__/AddFullPartyForm.spec.js.snap
  frontend/src/tests/components/Forms/parties/__snapshots__/AddQuickPartyForm.spec.js.snap
  frontend/src/tests/components/Forms/parties/__snapshots__/AddRolesForm.spec.js.snap
  frontend/src/tests/components/Forms/parties/__snapshots__/EditFullPartyForm.spec.js.snap
  frontend/src/tests/components/Forms/variances/__snapshots__/AddVarianceForm.spec.js.snap
  frontend/src/tests/components/Forms/variances/__snapshots__/VarianceFileUpload.spec.js.snap
  frontend/src/tests/components/__snapshots__/Home.spec.js.snap
  frontend/src/tests/components/admin/__snapshots__/AdminDashboard.spec.js.snap
  frontend/src/tests/components/admin/__snapshots__/MinespaceUserList.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/FilePicker.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/RenderAutoComplete.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/RenderAutoSizeField.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/RenderCascader.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/RenderCheckbox.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/RenderDate.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/RenderField.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/RenderLargeSelect.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/RenderMultiSelect.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/RenderSelect.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/ResponsivePagination.spec.js.snap
  frontend/src/tests/components/common/wrappers/__snapshots__/ModalWrapper.spec.js.snap
  frontend/src/tests/components/dashboard/contactsHomePage/__snapshots__/ContactList.spec.js.snap
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/MineList.spec.js.snap
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/MineSearch.spec.js.snap
  frontend/src/tests/components/maps/__snapshots__/MapPopup.spec.js.snap
  frontend/src/tests/components/mine/Applications/__snapshots__/MineApplicationInfo.spec.js.snap
  frontend/src/tests/components/mine/Applications/__snapshots__/MineApplicationTable.spec.js.snap
  frontend/src/tests/components/mine/Compliance/__snapshots__/OpenOrdersTable.spec.js.snap
  frontend/src/tests/components/mine/Permit/__snapshots__/MinePermitTable.spec.js.snap
  frontend/src/tests/components/mine/Tenure/__snapshots__/MineTenureInfo.spec.js.snap
  frontend/src/tests/components/mine/Variances/__snapshots__/MineVarianceTable.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  frontend/src/tests/components/modalContent/__snapshots__/AddPartyModal.spec.js.snap
  frontend/src/tests/components/navigation/__snapshots__/NavBar.spec.js.snap
  functional-tests/src/test/groovy/modules/Form_CreateMine.groovy
  python-backend/app/api/mines/mine/resources/mine.py
Labels: Backend, Frontend, Ready for review

#665 Request from Aaron - Increase upload file-size in core
  frontend/src/components/mine/Tailings/MineTailingsFilePicker.js
  python-backend/app/config.py
Labels: Backend, Frontend, Ready for review, enhancement

#663 Geb/mds 1530
  functional-tests/README.md
  functional-tests/run_tests.sh
  functional-tests/src/test/groovy/FrontendCore/modules/Form_CreateMine.groovy
  functional-tests/src/test/groovy/FrontendCore/modules/Form_CreateTailings.groovy
  functional-tests/src/test/groovy/FrontendCore/modules/Form_UpdateTenure.groovy
  functional-tests/src/test/groovy/FrontendCore/modules/Tab_Contact.groovy
  functional-tests/src/test/groovy/FrontendCore/modules/Tab_Permit.groovy
  functional-tests/src/test/groovy/FrontendCore/modules/Tab_Tailings.groovy
  functional-tests/src/test/groovy/FrontendCore/modules/Tab_Tenure.groovy
  functional-tests/src/test/groovy/FrontendCore/pages/Dashboard.groovy
  functional-tests/src/test/groovy/FrontendCore/pages/Login.groovy
  functional-tests/src/test/groovy/FrontendCore/pages/MineProfile.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/ContactInfo.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/CustomJUnitSpecRunner.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Dashboard.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/LoginPage.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Permit.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Summary.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Tailings.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Tenure.groovy
  functional-tests/src/test/groovy/FrontendMinespace/pages/HomePage.groovy
  functional-tests/src/test/groovy/FrontendMinespace/pages/KeycloakLoginPage.groovy
  functional-tests/src/test/groovy/FrontendMinespace/pages/MinespaceFrontendLogin.groovy
  functional-tests/src/test/groovy/FrontendMinespace/spec/CustomJUnitPublicSpecRunner.groovy
  functional-tests/src/test/groovy/FrontendMinespace/spec/PublicFrontendLogin.groovy
  functional-tests/src/test/groovy/utils/Const.groovy
  openshift/bddstack.pod.json
  pipeline/src/groovy/BddStack.groovy
Labels: Ready for review

#675 Feature/fixmapbug
  frontend/src/components/maps/MineMap.js
  frontend/src/tests/components/maps/__snapshots__/MineMap.spec.js.snap
Labels: Frontend, Ready for review

#676 was not saving on update.
  python-backend/app/scheduled_jobs/IDIR_jobs.py
Labels: Backend, Ready for review

#672 Tests now use factories
  python-backend/tests/applications/resources/test_application_resource.py
  python-backend/tests/auth/test_user_auth.py
  python-backend/tests/conftest.py
  python-backend/tests/constants.py
  python-backend/tests/document_manager/resources/test_document_manager_resource.py
  python-backend/tests/documents/expected/models/test_expected_mine_document_model.py
  python-backend/tests/documents/expected/resources/test_expected_document_uploads.py
  python-backend/tests/documents/expected/resources/test_expected_documents_resource.py
  python-backend/tests/documents/expected/resources/test_expected_mine_documents_resource.py
  python-backend/tests/documents/mines/resources/test_mine_document_resource.py
  python-backend/tests/documents/required/models/test_required_document_model.py
  python-backend/tests/documents/required/resources/test_required_documents_resource.py
  python-backend/tests/factories.py
  python-backend/tests/mines/models/test_location_model.py
  python-backend/tests/mines/models/test_mine_identity_model.py
  python-backend/tests/mines/models/test_mine_region_model.py
  python-backend/tests/mines/models/test_mineral_tenure_xref_model.py
  python-backend/tests/mines/resources/test_mine_basicinfo_resource.py
  python-backend/tests/mines/resources/test_mine_commodity_code.py
  python-backend/tests/mines/resources/test_mine_disturbance_code_resource.py
  python-backend/tests/mines/resources/test_mine_list_by_name_resource.py
  python-backend/tests/mines/resources/test_mine_list_resource.py
  python-backend/tests/mines/resources/test_mine_location_list_resource.py
  python-backend/tests/mines/resources/test_mine_location_resource.py
  python-backend/tests/mines/resources/test_mine_region_resource.py
  python-backend/tests/mines/resources/test_mine_resource.py
  python-backend/tests/mines/resources/test_mine_tenure_type_resource.py
  python-backend/tests/mines/resources/test_mine_type_detail_resource.py
  python-backend/tests/mines/resources/test_mine_type_resource.py
  python-backend/tests/mines/resources/test_mine_verified_status_resource.py
  python-backend/tests/mines/utils/test_utils_random.py
  python-backend/tests/parties/party/models/test_party_model.py
  python-backend/tests/parties/party/resources/sub_division_code_resource.py
  python-backend/tests/parties/party/resources/test_party_advanced_search_resource.py
  python-backend/tests/parties/party/resources/test_party_list_resource.py
  python-backend/tests/parties/party/resources/test_party_resource.py
  python-backend/tests/parties/party_appt/model/test_mine_party_appt_model.py
  python-backend/tests/parties/party_appt/model/test_mpa_permittee_model.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_admin_resource.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_mm_overlap.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_resource.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_type_resource.py
  python-backend/tests/parties/party_appt/resources/test_mpa_permittee_resource.py
  python-backend/tests/permit/models/test_permit_amendment_model.py
  python-backend/tests/permit/models/test_permit_model.py
  python-backend/tests/permit/resources/test_permit_amendment_document_resource.py
  python-backend/tests/permit/resources/test_permit_amendment_resource.py
  python-backend/tests/permit/resources/test_permit_resource.py
  python-backend/tests/status/models/test_mine_status_code_model.py
  python-backend/tests/status/resources/test_mine_status_resource.py
  python-backend/tests/status_code_gen.py
  python-backend/tests/tailings/models/test_mine_tailings_model.py
  python-backend/tests/tailings/resources/test_mine_tailings_resource.py
  python-backend/tests/users/models/test_core_user.py
  python-backend/tests/users/models/test_minespace_user.py
  python-backend/tests/users/resources/test_core_user_resource.py
  python-backend/tests/users/resources/test_minespace_user_resource.py
Labels: Backend, Ready for review

#668 Geb/mds 1530
  functional-tests/src/test/groovy/FrontendMinespace/pages/HomePage.groovy
  functional-tests/src/test/groovy/utils/Const.groovy
Labels: Ready for review

#670 MDS-1418 & MDS-1687 Feature/Sort Contacts Table & Refactor Party Resources for Restplus
  frontend/src/components/Forms/AdvancedContactSearchForm.js
  frontend/src/components/dashboard/contactsHomePage/ContactHomePage.js
  frontend/src/components/dashboard/contactsHomePage/ContactList.js
  frontend/src/components/parties/PartyProfile.js
  frontend/src/constants/API.js
  frontend/src/reducers/partiesReducer.js
  frontend/src/tests/components/dashboard/contactsHomePage/__snapshots__/ContactList.spec.js.snap
  frontend/src/tests/components/dashboard/contactsHomePage/__snapshots__/ContacthomePage.spec.js.snap
  frontend/src/tests/reducers/partieslReducer.spec.js
  frontend/src/tests/selectors/partiesSelectors.spec.js
  migrations/sql/R__add_update_indexes.sql
  migrations/sql/V2019.04.12.13.45__create_address_table.sql
  python-backend/app/api/parties/namespace/parties.py
  python-backend/app/api/parties/party/models/address.py
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/models/party_address.py
  python-backend/app/api/parties/party/resources/party_advance_search_resource.py
  python-backend/app/api/parties/party/resources/party_list_resource.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/response_models.py
  python-backend/tests/auth/test_expected_auth.py
  python-backend/tests/factories.py
  python-backend/tests/parties/address/__init__.py
  python-backend/tests/parties/address/models/test_address_model.py
  python-backend/tests/parties/party/resources/test_party_advanced_search_resource.py
  python-backend/tests/parties/party/resources/test_party_list_resource.py
  python-backend/tests/parties/party/resources/test_party_resource.py
Labels: Backend, Frontend, Ready for review

#674 Mine resource refactor 3
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/components/Forms/AddTailingsForm.js
  frontend/src/components/admin/AdminDashboard.js
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/constants/API.js
  frontend/src/tests/actionCreators/mineActionCreator.spec.js
  frontend/src/tests/components/Forms/__snapshots__/AddTailingsForm.spec.js.snap
  functional-tests/src/test/groovy/FrontendCore/modules/Form_CreateTailings.groovy
  python-backend/app/__init__.py
  python-backend/app/api/applications/resources/application.py
  python-backend/app/api/mines/location/models/mine_location.py
  python-backend/app/api/mines/location/resources/__init__.py
  python-backend/app/api/mines/location/resources/location.py
  python-backend/app/api/mines/mine/resources/mine.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/mines/tailings/models/tailings.py
  python-backend/app/api/mines/tailings/resources/tailings.py
  python-backend/app/api/mines/variances/resources/variance.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  python-backend/app/api/permits/permit/resources/permit.py
  python-backend/app/api/permits/permit_amendment/resources/permit_amendment.py
  python-backend/app/commands.py
  python-backend/tests/auth/test_expected_auth.py
  python-backend/tests/factories.py
  python-backend/tests/mines/models/test_location_model.py
  python-backend/tests/mines/resources/test_mine_location_list_resource.py
  python-backend/tests/mines/resources/test_mine_location_resource.py
  python-backend/tests/tailings/resources/test_mine_tailings_resource.py
Labels: Backend, Frontend, Ready for review

#678 Standardize error response shape (Party namespace)
  python-backend/app/api/parties/custom_reqparser.py
  python-backend/app/api/parties/party/resources/party_list_resource.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_admin_resource.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  python-backend/tests/parties/party/resources/test_party_resource.py
Labels: Backend, Ready for review

#634 Feature/hackathon subscription
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/actions/mineActions.js
  frontend/src/assets/images/Notifications.svg
  frontend/src/assets/images/bell.svg
  frontend/src/assets/images/unsubscribe.svg
  frontend/src/components/common/NullScreen.js
  frontend/src/components/dashboard/customHomePage/CustomHomePage.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/assets.js
  frontend/src/constants/reducerTypes.js
  frontend/src/constants/routes.js
  frontend/src/reducers/mineReducer.js
  frontend/src/reducers/rootReducer.js
  frontend/src/routes/DashboardRoutes.js
  frontend/src/selectors/mineSelectors.js
  frontend/src/styles/components/CustomDashboard.scss
  frontend/src/styles/index.scss
  frontend/src/tests/actionCreators/mineActionCreator.spec.js
  frontend/src/tests/components/common/__snapshots__/NullScreen.spec.js.snap
  frontend/src/tests/components/mine/MineDashboard.spec.js
  frontend/src/tests/components/mine/__snapshots__/MineDashboard.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/mineReducer.spec.js
  frontend/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  frontend/src/tests/selectors/mineSelectors.spec.js
  migrations/sql/V2019.04.18.00.54__add_subscription_table.sql
  python-backend/app/api/__init__.py
  python-backend/app/api/mines/__init__.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/mines/subscription/__init__.py
  python-backend/app/api/mines/subscription/models/__init__.py
  python-backend/app/api/mines/subscription/models/subscription.py
  python-backend/app/api/mines/subscription/resources/__init__.py
  python-backend/app/api/mines/subscription/resources/subscription.py
  python-backend/app/api/users/minespace/resources/minespace_user_mine.py
  python-backend/tests/factories.py
  python-backend/tests/mines/resources/test_mine_subscription_resource.py
Labels: Backend, Frontend, Ready for review

#681 removed the prod checks for the ETL jobs
  python-backend/app/__init__.py
  python-backend/app/commands.py
Labels: Backend, Ready for review

#683 Bug/menu/css
  frontend/src/components/mine/MineHeader.js
  frontend/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
Labels: Frontend, Ready for review

#682 Feature/mds 1762
  frontend/src/components/parties/PartyProfile.js
Labels: Frontend, Ready for review

#684 Feature/incident report edit
  frontend/src/actionCreators/mineActionCreator.js
  frontend/src/components/common/NullScreen.js
  frontend/src/components/mine/Incidents/MineIncidentTable.js
  frontend/src/components/mine/Incidents/MineIncidents.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/components/modalContent/AddIncidentModal.js
  frontend/src/constants/API.js
  frontend/src/customPropTypes/index.js
  frontend/src/reducers/mineReducer.js
  frontend/src/tests/components/common/__snapshots__/NullScreen.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/UploadedFilesList.spec.js.snap
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/MineList.spec.js.snap
  frontend/src/tests/components/maps/__snapshots__/MapPopup.spec.js.snap
  frontend/src/tests/components/maps/__snapshots__/MineMap.spec.js.snap
  frontend/src/tests/components/maps/__snapshots__/MinePin.spec.js.snap
  frontend/src/tests/components/mine/Applications/__snapshots__/MineApplicationInfo.spec.js.snap
  frontend/src/tests/components/mine/Compliance/__snapshots__/MineComplianceInfo.spec.js.snap
  frontend/src/tests/components/mine/ContactInfo/__snapshots__/MineContactInfo.spec.js.snap
  frontend/src/tests/components/mine/ContactInfo/__snapshots__/ViewPartyRelationships.spec.js.snap
  frontend/src/tests/components/mine/Incidents/__snapshots__/MineIncidents.spec.js.snap
  frontend/src/tests/components/mine/Permit/__snapshots__/MinePermitInfo.spec.js.snap
  frontend/src/tests/components/mine/Permit/__snapshots__/MinePermitTable.spec.js.snap
  frontend/src/tests/components/mine/Summary/__snapshots__/MineSummary.spec.js.snap
  frontend/src/tests/components/mine/Tailings/__snapshots__/MineTailingsInfo.spec.js.snap
  frontend/src/tests/components/mine/Tenure/__snapshots__/MineTenureInfo.spec.js.snap
  frontend/src/tests/components/mine/Variances/__snapshots__/MineVariance.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineDashboard.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  frontend/src/tests/components/parties/__snapshots__/RelationshipProfile.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/mineReducer.spec.js
  frontend/src/tests/selectors/mineSelectors.spec.js
  python-backend/app/api/mines/incidents/resources/mine_incidents.py
  python-backend/app/api/mines/mine_api_models.py
  python-backend/tests/mines/resources/test_mine_incident_resource.py
Labels: Frontend, Ready for review

#685 added core users to the frontend
  frontend/src/actionCreators/userActionCreator.js
  frontend/src/actions/userActions.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/constants/API.js
  frontend/src/constants/actionTypes.js
  frontend/src/constants/reducerTypes.js
  frontend/src/reducers/authenticationReducer.js
  frontend/src/reducers/rootReducer.js
  frontend/src/reducers/userReducer.js
  frontend/src/selectors/userSelectors.js
  frontend/src/tests/actionCreators/userActionCreator.spec.js
  frontend/src/tests/components/mine/MineDashboard.spec.js
  frontend/src/tests/components/mine/__snapshots__/MineDashboard.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/userReducer.spec.js
  frontend/src/tests/selectors/userSelectors.spec.js
Labels: Frontend, Ready for review

#686 rename save flag to add_to_session on model creat helper
  python-backend/app/api/applications/models/application.py
  python-backend/app/api/mines/incidents/models/mine_incident.py
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/models/mine_type.py
  python-backend/app/api/mines/mine/models/mine_type_detail.py
  python-backend/app/api/mines/mine/models/mineral_tenure_xref.py
  python-backend/app/api/mines/mine/resources/mine_type.py
  python-backend/app/api/mines/mine/resources/mine_type_detail.py
  python-backend/app/api/mines/region/models/region.py
  python-backend/app/api/mines/status/models/mine_operation_status_code.py
  python-backend/app/api/mines/status/models/mine_operation_status_reason_code.py
  python-backend/app/api/mines/status/models/mine_operation_status_sub_reason_code.py
  python-backend/app/api/mines/subscription/models/subscription.py
  python-backend/app/api/mines/tailings/models/tailings.py
  python-backend/app/api/mines/variances/models/variance.py
  python-backend/app/api/parties/party/models/address.py
  python-backend/app/api/parties/party/models/party.py
  python-backend/app/api/parties/party/models/party_type_code.py
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/app/api/permits/permit/models/permit.py
  python-backend/app/api/permits/permit/models/permit_status_code.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment_status_code.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment_type_code.py
  python-backend/app/api/permits/permit_amendment/resources/permit_amendment.py
  python-backend/app/api/users/core/models/core_user.py
  python-backend/app/api/users/core/models/idir_membership.py
  python-backend/app/api/users/core/models/idir_user_detail.py
  python-backend/app/api/users/minespace/models/minespace_user.py
  python-backend/app/api/users/minespace/models/minespace_user_mine.py
  python-backend/app/commands.py
  python-backend/app/scheduled_jobs/IDIR_jobs.py
Labels: Backend, Ready for review

#687 remove user_kwargs, audit cols handle themselves.
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine/models/mineral_tenure_xref.py
  python-backend/app/api/mines/region/models/region.py
  python-backend/app/api/mines/status/models/mine_operation_status_code.py
  python-backend/app/api/mines/status/models/mine_operation_status_sub_reason_code.py
  python-backend/app/api/parties/party/models/party_type_code.py
  python-backend/app/api/permits/permit/models/permit_status_code.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment_status_code.py
  python-backend/app/api/permits/permit_amendment/models/permit_amendment_type_code.py
  python-backend/app/api/utils/resources_mixins.py
  python-backend/app/commands.py
Labels: Backend, Ready for review

#688 Fix/incident form and core users
  frontend/src/components/mine/Incidents/MineIncidents.js
  python-backend/app/api/users/core/resources/core_user.py
Labels: Backend, Frontend, Ready for review

#689 Fix/verified status
  frontend/src/components/admin/AdminDashboard.js
  frontend/src/components/dashboard/minesHomePage/MineList.js
  frontend/src/components/mine/MineHeader.js
  frontend/src/tests/components/dashboard/minesHomePage/__snapshots__/MineList.spec.js.snap
  frontend/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
Labels: Backend, Frontend, Ready for review

#679 Feature/mds 1555
  frontend/src/actionCreators/complianceActionCreator.js
  frontend/src/components/common/NullScreen.js
  frontend/src/components/common/RenderDate.js
  frontend/src/components/common/RenderField.js
  frontend/src/components/mine/Compliance/ComplianceOrdersTable.js
  frontend/src/components/mine/Compliance/MineComplianceCard.js
  frontend/src/components/mine/Compliance/MineComplianceFilterForm.js
  frontend/src/components/mine/Compliance/MineComplianceInfo.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/constants/forms.js
  frontend/src/constants/routes.js
  frontend/src/customPropTypes/compliance.js
  frontend/src/customPropTypes/index.js
  frontend/src/customPropTypes/mines.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/styles/components/MineCompliance.scss
  frontend/src/styles/components/MineSummary.scss
  frontend/src/styles/generic/layout.scss
  frontend/src/styles/index.scss
  frontend/src/styles/settings/themeOverride.scss
  frontend/src/styles/settings/variables.scss
  frontend/src/styles/tools/mixins.scss
  frontend/src/tests/components/common/__snapshots__/NullScreen.spec.js.snap
  frontend/src/tests/components/maps/__snapshots__/MapPopup.spec.js.snap
  frontend/src/tests/components/mine/Compliance/ComplianceOrdersTable.spec.js
  frontend/src/tests/components/mine/Compliance/MineComplianceCard.spec.js
  frontend/src/tests/components/mine/Compliance/MineComplianceFilterForm.spec.js
  frontend/src/tests/components/mine/Compliance/MineComplianceInfo.spec.js
  frontend/src/tests/components/mine/Compliance/__snapshots__/ComplianceOrdersTable.spec.js.snap
  frontend/src/tests/components/mine/Compliance/__snapshots__/MineComplianceCard.spec.js.snap
  frontend/src/tests/components/mine/Compliance/__snapshots__/MineComplianceFilterForm.spec.js.snap
  frontend/src/tests/components/mine/Compliance/__snapshots__/MineComplianceInfo.spec.js.snap
  frontend/src/tests/components/mine/MineDashboard.spec.js
  frontend/src/tests/components/mine/Summary/__snapshots__/MineSummary.spec.js.snap
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/utils/helpers.js
  functional-tests/src/test/groovy/FrontendCore/pages/MineProfile.groovy
  python-backend/app/api/services/NRIS_service.py
Labels: Backend, Frontend, Needs Manual Testing

#680 upgrade flyway version
  docker-compose.yml
  migrations/Dockerfile
  openshift/_python36.dc.json
Labels: Ready for review

#693 MDS-1418 Feature/Add sorting to compliance table
  frontend/src/components/mine/Compliance/ComplianceOrdersTable.js
  frontend/src/components/mine/Compliance/MineComplianceInfo.js
  frontend/src/styles/components/Tables.scss
  frontend/src/tests/components/mine/Compliance/__snapshots__/ComplianceOrdersTable.spec.js.snap
Labels: Frontend, Ready for review

#690 MDS-1682 Task/Add Variances tests
  python-backend/app/api/mines/mine/models/mine.py
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/mines/variances/models/variance.py
  python-backend/app/api/mines/variances/resources/variance.py
  python-backend/app/api/parties/party/resources/party_list_resource.py
  python-backend/app/api/parties/party/resources/party_resource.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_admin_resource.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  python-backend/app/api/utils/custom_reqparser.py
  python-backend/tests/factories.py
  python-backend/tests/mines/variances/__init__.py
  python-backend/tests/mines/variances/models/__init__.py
  python-backend/tests/mines/variances/models/test_variance_model.py
  python-backend/tests/mines/variances/resources/__init__.py
  python-backend/tests/mines/variances/resources/test_variance_document_upload_resource.py
  python-backend/tests/mines/variances/resources/test_variance_list_resource.py
  python-backend/tests/mines/variances/resources/test_variance_resource.py
  python-backend/tests/parties/party/resources/test_party_resource.py
  python-backend/tests/status_code_gen.py
Labels: Backend, Ready for review

#691 Feature/MDS-1473 Download Progress
  frontend-public/package-lock.json
  frontend-public/package.json
  frontend-public/src/components/dashboard/mineInfo/MineInfoList.js
  frontend-public/src/constants/API.js
  frontend-public/src/utils/actionlessNetworkCalls.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/mine/Permit/MinePermitTable.js
  frontend/src/components/mine/Tailings/MineTailingsTable.js
  frontend/src/components/mine/Variances/MineVarianceTable.js
  frontend/src/constants/API.js
  frontend/src/utils/actionlessNetworkCalls.js
  functional-tests/src/test/resources/GebConfig.groovy
  python-backend/app/api/constants.py
  python-backend/app/api/document_manager/namespace/document_manager.py
  python-backend/app/api/document_manager/resources/document_manager.py
  python-backend/app/api/document_manager/resources/download_token.py
  python-backend/tests/auth/test_expected_auth.py
  python-backend/tests/document_manager/resources/test_document_manager_resource.py
  python-backend/tests/factories.py
Labels: Backend, Frontend, Ready for review

#677 Update python packages as per GitHub recommendations
  docker-images/python-36/Dockerfile
  python-backend/app/api/mines/mine/resources/mine_map.py
  python-backend/app/config.py
  python-backend/requirements.txt
Labels: Backend, Ready for review

#694 Refactor deployment configurations
  Jenkinsfile
  pipeline/config-build.groovy
  pipeline/config-dev.groovy
  pipeline/config-prod.groovy
  pipeline/config-test.groovy
Labels: CI/CD, Ready for review

#697 MDS-1828 Feature/Add new variance columns & business rules to database
  migrations/sql/V2019.04.25.11.30__add_variance_applications_metadata.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  python-backend/app/api/mines/variances/models/variance.py
  python-backend/app/api/mines/variances/models/variance_application_status_code.py
  python-backend/app/api/mines/variances/resources/variance.py
  python-backend/tests/factories.py
  python-backend/tests/mines/variances/resources/test_variance_list_resource.py
Labels: Backend, Ready for review

#696 Features/MDS-962, MDS-1655, MDS-1739, MDS-1736; Bugs/MDS-1801, MDS-1850 - Add Permittee in Permit Workflow / Update Add Quick Party Workflow
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actionCreators/partiesActionCreator.js
  frontend/src/actions/partyActions.js
  frontend/src/components/Forms/AddPermitForm.js
  frontend/src/components/Forms/PartyRelationships/AddPartyRelationshipForm.js
  frontend/src/components/Forms/PermitAmendmentForm.js
  frontend/src/components/Forms/parties/AddQuickPartyForm.js
  frontend/src/components/common/PartySelectField.js
  frontend/src/components/common/RenderLargeSelect.js
  frontend/src/components/common/wrappers/AddPartyComponentWrapper.js
  frontend/src/components/common/wrappers/ModalWrapper.js
  frontend/src/components/mine/ContactInfo/MineContactInfo.js
  frontend/src/components/mine/ContactInfo/ViewPartyRelationships.js
  frontend/src/components/mine/Permit/MinePermitInfo.js
  frontend/src/components/mine/Permit/MinePermitTable.js
  frontend/src/components/modalContent/AddPartyRelationshipModal.js
  frontend/src/components/modalContent/AddPermitModal.js
  frontend/src/constants/actionTypes.js
  frontend/src/reducers/partiesReducer.js
  frontend/src/selectors/partiesSelectors.js
  frontend/src/styles/elements/elements.scss
  frontend/src/styles/generic/layout.scss
  frontend/src/styles/settings/themeOverride.scss
  frontend/src/tests/actionCreators/partiesActionCreator.spec.js
  frontend/src/tests/components/Forms/__snapshots__/AddPartyRelationshipForm.spec.js.snap
  frontend/src/tests/components/Forms/__snapshots__/AddPermitForm.spec.js.snap
  frontend/src/tests/components/Forms/parties/__snapshots__/AddQuickPartyForm.spec.js.snap
  frontend/src/tests/components/common/Address.spec.js
  frontend/src/tests/components/common/PartySelectField.spec.js
  frontend/src/tests/components/common/RenderLargeSelect.spec.js
  frontend/src/tests/components/common/__snapshots__/Address.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/PartySelectField.spec.js.snap
  frontend/src/tests/components/common/__snapshots__/RenderLargeSelect.spec.js.snap
  frontend/src/tests/components/common/wrappers/AddPartyComponentWrapper.spec.js
  frontend/src/tests/components/common/wrappers/__snapshots__/AddPartyComponentWrapper.spec.js.snap
  frontend/src/tests/components/common/wrappers/__snapshots__/ModalWrapper.spec.js.snap
  frontend/src/tests/components/mine/Permit/__snapshots__/MinePermitInfo.spec.js.snap
  frontend/src/tests/components/mine/Permit/__snapshots__/MinePermitTable.spec.js.snap
  frontend/src/tests/reducers/partieslReducer.spec.js
  frontend/src/tests/selectors/partiesSelectors.spec.js
  python-backend/app/api/parties/party/resources/party_list_resource.py
  python-backend/app/api/parties/party_appt/models/mine_party_appt.py
  python-backend/app/api/permits/permit/resources/permit.py
  python-backend/app/api/permits/permit_amendment/resources/permit_amendment.py
  python-backend/tests/permit/resources/test_permit_amendment_resource.py
  python-backend/tests/permit/resources/test_permit_resource.py
Labels: Backend, Frontend, Ready for review

#692 Feature/mds 1686 continue refactoring mine resources 2
  frontend/src/components/Forms/MineRecordForm.js
  frontend/src/components/admin/AdminDashboard.js
  frontend/src/components/dashboard/minesHomePage/Dashboard.js
  frontend/src/constants/API.js
  frontend/src/reducers/mineReducer.js
  frontend/src/reducers/staticContentReducer.js
  frontend/src/selectors/staticContentSelectors.js
  frontend/src/tests/actionCreators/partiesActionCreator.spec.js
  frontend/src/tests/components/Forms/MineRecordForm.spec.js
  frontend/src/tests/components/admin/__snapshots__/AdminDashboard.spec.js.snap
  frontend/src/tests/components/dashboard/minesHomePage/Dashboard.spec.js
  frontend/src/tests/components/mine/MineDashboard.spec.js
  frontend/src/tests/components/mine/MineHeader.spec.js
  frontend/src/tests/mocks/dataMocks.js
  frontend/src/tests/reducers/staticContentReducer.spec.js
  frontend/src/tests/selectors/staticContentSelectors.spec.js
  python-backend/app/api/mines/mine/models/mine_tenure_type_code.py
  python-backend/app/api/mines/mine/resources/mine_basicinfo.py
  python-backend/app/api/mines/mine/resources/mine_tenure_type_code.py
  python-backend/app/api/mines/mine/resources/mine_type.py
  python-backend/app/api/mines/mine/resources/mine_type_detail.py
  python-backend/app/api/mines/mine/resources/mine_verified_status.py
  python-backend/app/api/mines/mine_api_models.py
  python-backend/app/api/mines/namespace/mines.py
  python-backend/app/api/parties/namespace/parties.py
  python-backend/app/api/parties/party_appt/resources/mine_party_appt_admin_resource.py
  python-backend/app/api/utils/models_mixins.py
  python-backend/app/commands.py
  python-backend/tests/auth/test_expected_auth.py
  python-backend/tests/factories.py
  python-backend/tests/mines/resources/test_mine_tenure_type_resource.py
  python-backend/tests/mines/resources/test_mine_type_detail_resource.py
  python-backend/tests/mines/resources/test_mine_type_resource.py
  python-backend/tests/mines/resources/test_mine_verified_status_resource.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_admin_resource.py
  python-backend/tests/parties/party_appt/resources/test_mine_party_appt_mm_overlap.py
Labels: Backend, Frontend, Ready for review

#699 Geb/mds 1807
  functional-tests/src/test/groovy/FrontendCore/modules/Form_CreateContact.groovy
  functional-tests/src/test/groovy/FrontendCore/pages/ContactsPage.groovy
  functional-tests/src/test/groovy/FrontendCore/pages/Dashboard.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/Contacts.groovy
  functional-tests/src/test/groovy/FrontendCore/spec/CustomJUnitSpecRunner.groovy
  functional-tests/src/test/groovy/data/data_creation.sql
  functional-tests/src/test/groovy/data/data_deletion.sql
  functional-tests/src/test/groovy/dataObjects/mineContactData.groovy
  functional-tests/src/test/groovy/utils/Const.groovy
Labels: Ready for review

#701 MDS-1854 Update status filtering on Compliance Table
  frontend/src/components/mine/Compliance/ComplianceOrdersTable.js
  frontend/src/components/mine/Compliance/MineComplianceFilterForm.js
  frontend/src/components/mine/Compliance/MineComplianceInfo.js
  frontend/src/components/mine/MineDashboard.js
  frontend/src/customPropTypes/compliance.js
  python-backend/app/api/mines/compliance/resources/compliance_article.py
  python-backend/app/api/services/NRIS_service.py
  python-backend/tests/compliance/resources/test_compliance_resource.py
Labels: Backend, Frontend, Needs Manual Testing, Ready for review

#704 Feature/mds 1732
  migrations/sql/afterMigrate__1__seed_data.sql
Labels: Backend, Needs Manual Testing, Ready for review
