Repository bcgov/mds, pull requests merged in 2020-09, with the labels that each got.

#1431 Feature/MDS-2819 - Store Bond Letters
  migrations/sql/V2020.08.26.13.13__update_bond_type_value.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/mines/documents/models/mine_document.py
  services/core-api/app/api/securities/response_models.py
  services/core-web/src/components/Forms/Securities/BondForm.js
  services/core-web/src/components/common/DocumentTable.js
  services/core-web/src/components/modalContent/ViewBondModal.js
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/BondForm.spec.js.snap
Labels: 🎫 Ticket closer, 💻 Frontend, 💾 Backend

#1432 Bug fix / MDS-3030 Error on uploading bond documents
  services/core-web/src/components/Forms/Securities/BondForm.js
Labels: 💻 Frontend

#1429 Feature/mds 3025
  services/core-web/common/utils/Validate.js
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/Forms/PermitAmendmentForm.js
  services/core-web/src/components/Forms/permits/PermitAmendmentSecurityForm.js
  services/core-web/src/components/mine/Securities/MineBondTable.js
  services/core-web/src/components/mine/Securities/MineSecurityInfo.js
  services/core-web/src/styles/components/Tables.scss
  services/core-web/src/tests/components/Forms/__snapshots__/PermitAmendmentForm.spec.js.snap
  services/core-web/src/tests/components/Forms/permits/__snapshots__/PermitAmendmentSecurityForm.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineBondTable.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineSecurityInfo.spec.js.snap
  services/minespace-web/common/utils/Validate.js
  services/minespace-web/common/utils/helpers.js
Labels: 💻 Frontend

#1433 Filter out draft permit bug
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
Labels: 💾 Backend

#1435 bug: Update fetchDraftPermitByNOW to pass guid
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWSecurities.js
Labels: 💻 Frontend

#1436 MDS-3021 Securities - ETL 'Increase Amount By' field from MMS to 'Security Assessment field' with permit ETL
  migrations/sql/R__stored_procedure_for_permit_but_better.sql
  migrations/sql/V2020.09.03.09.58__rename_security_total.sql
  migrations/sql/V2020.09.03.11.24__now_application_security_adjustment.sql
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-web/src/components/Forms/PermitAmendmentForm.js
  services/core-web/src/components/Forms/permits/PermitAmendmentSecurityForm.js
  services/core-web/src/components/mine/Securities/MineSecurityInfo.js
  services/core-web/src/customPropTypes/permits.js
  services/core-web/src/tests/components/Forms/__snapshots__/PermitAmendmentForm.spec.js.snap
  services/core-web/src/tests/components/Forms/permits/__snapshots__/PermitAmendmentSecurityForm.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineSecurityInfo.spec.js.snap
  services/core-web/src/tests/components/mine/Summary/__snapshots__/MineSummary.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWSecurities.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1434 Techdebt/MDS-3000 Remove effective and expiry date on parties
  migrations/sql/R__stored_procedure_for_mine_manager.sql
  migrations/sql/R__stored_procedure_for_permit_but_better.sql
  migrations/sql/V2020.09.02.11.32__drop_party_effective_expiry_dates.sql
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/api/parties/response_models.py
  services/core-api/tests/factories.py
  services/core-web/src/customPropTypes/parties.js
  services/minespace-web/src/components/common/ContactCard.js
  services/minespace-web/src/components/dashboard/mine/overview/Overview.js
  services/minespace-web/src/customPropTypes/parties.js
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1438 Feature/Fix-Permits-Not-Being-ETL'd
  migrations/sql/R__stored_procedure_for_permit_but_better.sql
  migrations/sql/V2020.09.03.14.10__etl_permit_security_adjustment.sql
  services/core-api/app/api/mines/response_models.py
Labels: 👍 Ready for review, 💾 Backend, 📜 SQL

#1430 MDS 3016 Fix securities project ID
  migrations/sql/R__stored_procedure_for_bond_etl.sql
  migrations/sql/V2020.08.26.13.15__update_permit_add_project_id.sql
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/securities/models/bond.py
  services/core-api/app/api/securities/models/bond_history.py
  services/core-api/app/api/securities/models/reclamation_invoice.py
  services/core-api/app/api/securities/resources/bond.py
  services/core-api/app/api/securities/response_models.py
  services/core-api/tests/factories.py
  services/core-api/tests/securities/resources/test_bond_resource.py
  services/core-api/tests/securities/resources/test_reclamation_invoice_resource.py
  services/core-web/src/components/Forms/Securities/ReclamationInvoiceForm.js
  services/core-web/src/components/mine/Securities/MineBondTable.js
  services/core-web/src/components/mine/Securities/MineReclamationInvoiceTable.js
  services/core-web/src/components/mine/Securities/MineSecurityInfo.js
  services/core-web/src/components/modalContent/AddBondModal.js
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/ReclamationInvoiceForm.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineBondTable.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineReclamationInvoiceTable.spec.js.snap
  services/core-web/src/tests/components/modalContent/AddBondModal.spec.js
Labels: 💻 Frontend, 💾 Backend, 🚧 WIP

#1440 Etl/permit numbers conversion
  bin/delete-pr.sh
  migrations/sql/R__add_parsing_functions.sql
  migrations/sql/R__add_party_parsing_functions.sql
  migrations/sql/R__stored_procedure_for_bond_etl.sql
  migrations/sql/R__stored_procedure_for_mine_manager.sql
  migrations/sql/R__stored_procedure_for_permit_but_better.sql
  services/core-api/app/cli_jobs/ETL_jobs.py
  tests/functional-tests/src/test/groovy/data/data_creation.sql
Labels: 🎫 Ticket closer, 👍 Ready for review, 💊 Fix, 💾 Backend, 📜 SQL

#1439 Fix: Point production Minespace to production Matomo analytics
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

#1442 Etl/fixes
  migrations/sql/R__stored_procedure_for_permit_but_better.sql
  services/core-api/app/__init__.py
  services/core-api/app/api/utils/apm.py
Labels: 👍 Ready for review, 💾 Backend, 📜 SQL

#1443 MDS-3047: fix for date comparison of party business role
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/api/parties/party_appt/models/party_business_role_appt.py
  services/core-api/tests/factories.py
Labels: 💾 Backend

#1444 Etl/permit numbers with zeros
  migrations/sql/R__stored_procedure_for_bond_etl.sql
Labels: 👍 Ready for review, 📜 SQL

#1447 ETL can convert into this bond type.
  migrations/sql/V2020.09.14.09.37__new_bond_type.sql
Labels: 👍 Ready for review, 💊 Fix, 📜 SQL

#1446 reveal navigation to bond section.
  services/core-web/src/components/mine/MineNavigation.js
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend

#1448 MDS-3039: fixed "Documents with special characters in their name are not downloadable"
  services/document-manager/backend/app/docman/resources/document.py
Labels: 👍 Ready for review, 💾 Backend

#1450 MDS-3042/project_id is not required.
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/securities/resources/bond.py
Labels: 🎫 Ticket closer, 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1451 demo-bug/fixed and added a test.
  services/core-api/app/api/securities/resources/bond.py
  services/core-api/tests/securities/resources/test_bond_resource.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend

#1452 Bond/optional_project_id
  services/core-api/app/cli_jobs/ETL_jobs.py
  services/core-web/src/components/Forms/Securities/CloseBondForm.js
  services/core-web/src/components/mine/Securities/MineSecurityInfo.js
  services/core-web/src/components/modalContent/CloseBondModal.js
Labels: 🎫 Ticket closer, 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1453 MDS 3057 fixed letter spacing.
  services/core-api/app/templates/now/Acknowledgment Letter Template (NoW).docx
Labels: 💾 Backend

#1455 Fix bond document_date bug; Fix party dropdown not loading intital value
  openshift/templates/sonar.pod.json
  services/core-api/app/api/securities/response_models.py
  services/core-web/src/components/common/RenderLargeSelect.js
  services/core-web/src/components/common/RenderMineSelect.js
  services/core-web/src/components/common/wrappers/LoadingWrapper.js
  services/core-web/src/components/dashboard/minesHomePage/MineSearch.js
  services/core-web/src/components/modalContent/AddBondModal.js
  services/core-web/src/tests/components/common/__snapshots__/RenderLargeSelect.spec.js.snap
Labels: 🏭 CI/CD, 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1458 Bond/add tests
  services/core-api/tests/securities/resources/test_bond_resource.py
Labels: 👍 Ready for review, 💾 Backend

#1457 Update search bar behavior; Rename top level menu items; Fix bug assigning inspectors
  services/core-api/app/api/search/search/resources/simple_search.py
  services/core-api/tests/search/resource/test_search_resource.py
  services/core-web/package-lock.json
  services/core-web/package.json
  services/core-web/src/assets/images/ProfileNoCircle.svg
  services/core-web/src/components/common/RenderGroupedSelect.js
  services/core-web/src/components/navigation/NavBar.js
  services/core-web/src/components/search/SearchBar.js
  services/core-web/src/components/search/SearchBarDropdown.js
  services/core-web/src/constants/assets.js
  services/core-web/src/styles/components/NavBar.scss
  services/core-web/src/tests/components/navigation/__snapshots__/NavBar.spec.js.snap
  services/core-web/src/tests/components/search/__snapshots__/SearchBar.spec.js.snap
  services/core-web/src/tests/components/search/__snapshots__/SearchBarDropdown.spec.js.snap
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1456 Misc bug fixes
  services/core-web/src/components/Forms/permits/GeneratePermitForm.js
  services/core-web/src/components/Forms/permits/PermitAmendmentSecurityForm.js
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
  services/core-web/src/components/common/UploadedDocumentTable.js
  services/core-web/src/components/common/wrappers/AuthorizationWrapper.js
  services/core-web/src/components/dashboard/customHomePage/SubscriptionTable.js
  services/core-web/src/components/dashboard/minesHomePage/MineList.js
  services/core-web/src/components/modalContent/DownloadDocumentPackageModal.js
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWSubmissionDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWSecurities.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviews.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/ReclamationSummary.js
  services/core-web/src/components/noticeOfWork/applications/verification/ApplicationStepOne.js
  services/core-web/src/components/noticeOfWork/applications/verification/AssignLeadInspector.js
  services/core-web/src/components/noticeOfWork/applications/verification/verification/VerifyNOWMineInformation.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/tests/components/Forms/permits/__snapshots__/PermitAmendmentSecurityForm.spec.js.snap
  services/core-web/src/tests/components/common/NullScreen.spec.js
  services/core-web/src/tests/components/common/__snapshots__/NullScreen.spec.js.snap
  services/core-web/src/tests/components/dashboard/customHomePage/__snapshots__/SubscriptionTable.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/DownloadDocumentPackageModal.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/__snapshots__/FinalPermitDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWSecurities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/ReclamationSummary.spec.js.snap
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#1460 NoW tab messages and misc fixes
  migrations/sql/V2020.09.21.17.07__update_spelling_now_activities.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-web/src/components/Forms/Securities/BondForm.js
  services/core-web/src/components/Forms/Securities/CloseBondForm.js
  services/core-web/src/components/common/RenderSelect.js
  services/core-web/src/components/mine/Securities/MineBondTable.js
  services/core-web/src/components/mine/Securities/MineReclamationInvoiceTable.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/ViewNoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/BondForm.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/RenderSelect.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 🌶 Enhancement, 👍 Ready for review, 💊 Fix, 💻 Frontend

#1463 Fix Reclamation Invoice Document Bug
  services/core-api/app/api/securities/models/reclamation_invoice_document.py
  services/core-api/app/api/securities/resources/reclamation_invoice.py
  services/core-api/app/api/securities/response_models.py
  services/core-web/src/components/Forms/Securities/ReclamationInvoiceForm.js
  services/core-web/src/components/Forms/parties/PartyOrgBookForm.js
  services/core-web/src/components/common/RenderAutoComplete.js
  services/core-web/src/components/common/RenderFieldWithDropdown.js
  services/core-web/src/components/common/RenderGroupedSelect.js
  services/core-web/src/components/common/RenderLargeSelect.js
  services/core-web/src/components/common/RenderMultiSelect.js
  services/core-web/src/components/common/RenderSelect.js
  services/core-web/src/tests/components/common/__snapshots__/RenderAutoComplete.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/RenderLargeSelect.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/RenderMultiSelect.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/RenderSelect.spec.js.snap
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1464 Bug/prmissions condition edit
  services/core-web/src/components/Forms/permits/conditions/ListItem.js
  services/core-web/src/components/Forms/permits/conditions/Section.js
  services/core-web/src/components/Forms/permits/conditions/SubCondition.js
Labels: 💻 Frontend
