Repository bcgov/mds, pull requests merged in 2020-07, with the labels that each got.

#1375 Draft Permit side navigation
  services/core-web/src/components/Forms/GeneratePermitForm.js
  services/core-web/src/components/noticeOfWork/applications/NOWSideMenu.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/ViewNoticeOfWorkApplication.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWSideMenu.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1376 Adding final document package to draft permit view
  services/core-web/src/components/Forms/GeneratePermitForm.js
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/tests/components/noticeOfWork/__snapshots__/FinalPermitDocuments.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1377 Bug/styling header
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/ViewNoticeOfWorkApplication.js
  services/core-web/src/styles/components/NoticeOfWork.scss
Labels: 👍 Ready for review, 💻 Frontend

#1378 Fix for local document uploads
  docker-compose.yml
  services/core-api/app/api/document_generation/resources/now_document.py
  services/core-api/app/api/utils/setup_marshmallow.py
  services/document-manager/backend/Dockerfile
Labels: 💾 Backend

#1379 MDS-2934: Document Generation Does Not Successfully Upload File
  services/core-api/app/api/document_generation/resources/now_document.py
  services/core-api/app/api/services/document_manager_service.py
  services/core-api/app/api/services/nris_download_service.py
  services/core-api/app/api/services/nros_download_service.py
  services/core-api/app/api/services/vfcbc_download_service.py
  services/core-api/app/config.py
  services/document-manager/backend/app/config.py
  services/document-manager/backend/app/docman/resources/document.py
Labels: 🎫 Ticket closer, 👍 Ready for review, 💊 Fix, 💾 Backend

#1381 Add and remove code required reports
  migrations/sql/V2020.07.09.09.26__add_remove_code_required_reports.sql
Labels: 🎫 Ticket closer, 📜 SQL

#1382 Feature/mds 2910 change name of 'line of credit' report
  migrations/sql/V2020.07.15.8.43__update_bond_type_value.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineSecurityInfo.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
Labels: 💻 Frontend

#1383 MDS-2929: Implement Bond Closed Date/Notes (Modify Bond Confiscate/Release Flow)
  migrations/sql/V2020.07.15.08.18__add_bond_closed_date_and_notes.sql
  migrations/sql/V2020.07.15.08.33__update_bond_view_with_closed_date_and_notes.sql
  services/core-api/app/api/securities/models/bond.py
  services/core-api/app/api/securities/models/bond_history.py
  services/core-api/app/api/securities/response_models.py
  services/core-web/common/utils/Validate.js
  services/core-web/src/components/Forms/Securities/BondForm.js
  services/core-web/src/components/Forms/Securities/CloseBondForm.js
  services/core-web/src/components/mine/Securities/MineBondTable.js
  services/core-web/src/components/mine/Securities/MineSecurityInfo.js
  services/core-web/src/components/modalContent/AddBondModal.js
  services/core-web/src/components/modalContent/CloseBondModal.js
  services/core-web/src/components/modalContent/ViewBondModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/constants/forms.js
  services/core-web/src/customPropTypes/securities.js
  services/core-web/src/tests/components/Forms/Securities/BondForm.spec.js
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/BondForm.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineSecurityInfo.spec.js.snap
  services/minespace-web/common/utils/Validate.js
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1380 MDS-2865: Transfer File System Files to Object Store
  openshift/docker-images/python-36-docman/Dockerfile
  services/document-manager/backend/Dockerfile
  services/document-manager/backend/app/__init__.py
  services/document-manager/backend/app/commands.py
  services/document-manager/backend/app/config.py
  services/document-manager/backend/app/extensions.py
  services/document-manager/backend/app/services/object_store_storage_service.py
  services/document-manager/backend/app/services/transfer_files.py
  services/document-manager/backend/app/utils/access_decorators.py
  services/document-manager/backend/app/utils/tasks.py
  services/document-manager/backend/init.sh
  services/document-manager/backend/requirements.txt
Labels: 🎫 Ticket closer, 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#1384 Fix bug with calculating object store path incorrectly for pre-existing object store files
  services/document-manager/backend/app/services/object_store_storage_service.py
  services/document-manager/backend/app/utils/tasks.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend

#1385 Add missing-files command to Document Manager
  services/document-manager/backend/app/commands.py
  services/document-manager/backend/app/services/object_store_storage_service.py
  services/document-manager/backend/app/services/transfer_files.py
  services/document-manager/backend/app/utils/tasks.py
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 👍 Ready for review, 💾 Backend, 🤡 Superfluous Label

#1388 now_application_identity relates directly to permit too.
  migrations/sql/V2020.05.05.16.42__3_permit_data_transform_rm_mine_guid.sql
Labels: 📜 SQL

#1386 Fix Loading Bar Issues
  services/core-web/package-lock.json
  services/core-web/package.json
  services/core-web/src/components/Home.js
  services/core-web/src/components/common/wrappers/ModalWrapper.js
  services/core-web/src/components/loadingBar/immutable.js
  services/core-web/src/components/loadingBar/index.js
  services/core-web/src/components/loadingBar/loading_bar.js
  services/core-web/src/components/loadingBar/loading_bar_ducks.js
  services/core-web/src/components/loadingBar/loading_bar_middleware.js
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/__snapshots__/Home.spec.js.snap
  services/core-web/src/tests/components/common/wrappers/__snapshots__/ModalWrapper.spec.js.snap
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend, 🥃💃🦊 Whisky Tango Foxtrot

#1387 Fix/Retain correct audit info when creating bond history record
  services/core-api/app/api/securities/models/bond.py
  services/core-api/app/api/securities/models/bond_history.py
Labels: 👍 Ready for review, 💾 Backend

#1390 grab any mine_guid off a permit,
  services/core-api/app/api/securities/resources/bond.py
  services/core-api/app/api/securities/resources/reclamation_invoice.py
Labels: 💾 Backend

#1391 Create Document Manager command for getting list of unrecorded files
  services/document-manager/backend/app/commands.py
  services/document-manager/backend/app/services/transfer_files.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend

#1394 Updating metabase to v0.36.0
  openshift/docker-images/metabase/Dockerfile
Labels: 🏭 CI/CD

#1392 add two tests.
  services/core-api/tests/exports/test_export_success.py
Labels: 👍 Ready for review, 💾 Backend

#1396 Fix permit relationship bugs
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment_document.py
  services/core-api/app/api/mines/reports/resources/mine_reports.py
  services/core-api/app/api/verify/permit/mine/resources/verify_permit_mine_resource.py
  services/core-api/app/api/verify/permit/now/resources/verify_permit_now_resource.py
Labels: 💾 Backend

#1395 Create Draft Permit
  migrations/sql/R__stored_procedure_for_permit_but_better.sql
  migrations/sql/V2020.07.09.11.20__draft_permit.sql
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit/models/permit_status_code.py
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/tests/now_submission_factories.py
  services/core-web/common/actionCreators/permitActionCreator.js
  services/core-web/common/actions/permitActions.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/reducers/permitReducer.js
  services/core-web/common/selectors/permitSelectors.js
  services/core-web/src/components/Forms/permits/GeneratePermitForm.js
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
  services/core-web/src/components/common/NullScreen.js
  services/core-web/src/components/mine/Permit/MinePermitCard.js
  services/core-web/src/components/mine/Permit/MinePermitInfo.js
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/constants/forms.js
  services/core-web/src/customPropTypes/permits.js
  services/core-web/src/tests/actionCreators/permitActionCreator.spec.js
  services/core-web/src/tests/components/noticeOfWork/__snapshots__/FinalPermitDocuments.spec.js.snap
  services/minespace-web/common/actionCreators/permitActionCreator.js
  services/minespace-web/common/actions/permitActions.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/reducers/permitReducer.js
  services/minespace-web/common/selectors/permitSelectors.js
Labels: 💻 Frontend, 💾 Backend

#1393 MDS-2954: Preserve directory structure for new file uploads to the object store and reorganize existing object store files
  openshift/docker-images/tusd/init.sh
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  openshift/templates/tusd.bc.json
  openshift/templates/tusd.dc.json
  services/core-api/README.md
  services/document-manager/backend/app/commands.py
  services/document-manager/backend/app/docman/models/document.py
  services/document-manager/backend/app/docman/resources/document.py
  services/document-manager/backend/app/docman/resources/tusd_hooks.py
  services/document-manager/backend/app/services/commands_helper.py
  services/document-manager/backend/app/services/object_store_storage_service.py
  services/document-manager/backend/app/services/transfer_files.py
  services/document-manager/backend/app/tasks/__init__.py
  services/document-manager/backend/app/tasks/celery.py
  services/document-manager/backend/app/tasks/reorganize.py
  services/document-manager/backend/app/tasks/transfer.py
  services/document-manager/backend/app/tasks/verify.py
  services/document-manager/backend/app/utils/access_decorators.py
  services/document-manager/backend/app/utils/tasks.py
  services/document-manager/backend/init.sh
  services/document-manager/backend/tests/auth/test_expected_auth.py
  services/tusd/.env-example
  services/tusd/Dockerfile
  services/tusd/init.sh
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 🎫 Ticket closer, 🏭 CI/CD, 👍 Ready for review, 💊 Fix, 💾 Backend

#1399 MDS-2967 nris data fix
  openshift/templates/_python36.dc.json
  services/nris-api/backend/app/extensions.py
  services/nris-api/backend/app/nris/models/attendee_type.py
  services/nris-api/backend/app/nris/models/document.py
  services/nris-api/backend/app/nris/models/document_type.py
  services/nris-api/backend/app/nris/models/inspected_location_type.py
  services/nris-api/backend/app/nris/models/inspection.py
  services/nris-api/backend/app/nris/models/inspection_reason.py
  services/nris-api/backend/app/nris/models/inspection_status.py
  services/nris-api/backend/app/nris/models/inspection_substatus.py
  services/nris-api/backend/app/nris/models/inspection_type.py
  services/nris-api/backend/app/nris/models/legislation_act.py
  services/nris-api/backend/app/nris/models/legislation_act_section.py
  services/nris-api/backend/app/nris/models/location.py
  services/nris-api/backend/app/nris/models/noncompliance_legislation.py
  services/nris-api/backend/app/nris/models/noncompliance_permit.py
  services/nris-api/backend/app/nris/models/order_stop_detail.py
  services/nris-api/backend/app/nris/models/order_warning_detail.py
  services/nris-api/backend/migrations/env.py
  services/nris-api/backend/migrations/versions/1ac2d5e5a073_.py
  services/nris-api/backend/migrations/versions/c86eca21d297_.py
Labels: 🎫 Ticket closer, 🏭 CI/CD, 🐞 Bug, 👍 Ready for review, 💊 Fix, 💩 NRIS

#1400 Bug/mds 2967 nris data fix
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

#1278 Loki and grafana deployment
  .gitignore
  docker-compose.yml
  monitoring/grafana/env
  monitoring/grafana/provisioning.local/dashboards/docker-containers.json
  monitoring/grafana/provisioning.local/dashboards/docker-host.json
  monitoring/grafana/provisioning.local/dashboards/postgresql-database.json
  monitoring/grafana/provisioning.local/dashboards/providers.yaml
  monitoring/grafana/provisioning.local/dashboards/redis-dashboard.json
  monitoring/grafana/provisioning.local/datasources/datasource.yaml
  monitoring/grafana/provisioning/dashboards/docker-containers.json
  monitoring/grafana/provisioning/dashboards/docker-host.json
  monitoring/grafana/provisioning/dashboards/postgresql-database.json
  monitoring/grafana/provisioning/dashboards/providers.yaml
  monitoring/grafana/provisioning/dashboards/redis-dashboard.json
  monitoring/grafana/provisioning/datasources/datasource.yaml
  monitoring/loki/loki-local.yaml
  monitoring/loki/loki.yaml
  monitoring/openshift/templates/grafana.bc.yaml
  monitoring/openshift/templates/grafana.dc.yaml
  monitoring/openshift/templates/loki.bc.yaml
  monitoring/openshift/templates/loki.dc.yaml
  monitoring/openshift/templates/prometheus.bc.yaml
  monitoring/openshift/templates/promtail.bc.yaml.bak
  monitoring/openshift/templates/promtail.dc.yaml
  monitoring/prometheus/prometheus-local.yaml
  monitoring/prometheus/prometheus.yaml
  monitoring/promtail/core-api.yaml
  monitoring/promtail/nginx.yaml
  monitoring/promtail/promtail-local.yaml
  openshift/docker-images/monitoring/grafana/Dockerfile
  openshift/docker-images/monitoring/grafana/provisioning
  openshift/docker-images/monitoring/loki/Dockerfile
  openshift/docker-images/monitoring/loki/loki.yaml
  openshift/docker-images/monitoring/prometheus/Dockerfile
  openshift/manage
  openshift/pipeline/config-dev.groovy
  openshift/settings.sh
  openshift/templates/_nginx.dc.json
  openshift/templates/_python36.dc.json
  services/core-api/.env-dev-local-keycloak
  services/core-api/.env-example
  services/core-api/app/config.py
  services/core-api/uwsgi.ini
  services/document-manager/backend/requirements.txt
  services/nginx/nginx.conf
Labels: 🌶 Enhancement, 🏭 CI/CD, 👍 Ready for review, 💾 Backend
