Repository bcgov/mds, pull requests merged in 2020-10, with the labels that each got.

#1467 MDS-2719 - Graceful pre-kill for Postgres instances
  openshift/docker-images/metabase/Dockerfile
  openshift/templates/postgresql.dc.json
  openshift/templates/tools/fider/postgresql.dc.json
  openshift/templates/tools/metabase.dc.json
Labels: 🏭 CI/CD, 👍 Ready for review

#1465 MDS-2714 add agent now party appt
  migrations/sql/V2020.09.21.13.52__add_mine_party_appt_type_agent.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/now_applications/models/now_party_appointment.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/api/parties/response_models.py
  services/core-web/src/components/Forms/parties/AddRolesForm.js
  services/core-web/src/components/mine/ContactInfo/ViewPartyRelationships.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWContacts.js
  services/core-web/src/components/parties/PartyProfile.js
Labels: 💻 Frontend, 💾 Backend, 📜 SQL

#1466 prevent editing NoW/Application Fee
  migrations/sql/V2020.09.22.17.40__add_now_application_columns.sql
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/utils/models_mixins.py
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/common/CoreTooltip.js
  services/core-web/src/components/common/RenderFieldWithDropdown.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Blasting.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Camps.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/Forms/__snapshots__/MineRecordForm.spec.js.snap
  services/core-web/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/MineRecordModal.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWSideMenu.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewApplicationFeeContent.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Blasting.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Camps.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SandGravelQuarry.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SettlingPonds.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceBulkSamples.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
  services/minespace-web/common/utils/helpers.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend, 🧪 Needs tests

#1473 Bug/contact type
  services/core-api/app/api/now_applications/transmogrify_now.py
Labels: 💾 Backend

#1472 Disable proposed_end_date
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-web/src/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewApplicationFeeContent.spec.js.snap
Labels: 💻 Frontend, 💾 Backend

#1471 Bond/add ses to view
  migrations/sql/R__stored_procedure_for_missing_bonds.sql
  migrations/sql/R__view_bonds.sql
  migrations/sql/V2020.10.02.13.07__create_staging_table_to_allow_definition.sql
  services/core-api/app/cli_jobs/ETL_jobs.py
Labels: 🎫 Ticket closer, 👍 Ready for review, 💾 Backend, 📜 SQL

#1459 MDS-3072 Change 'assessed value' ETL to be the sum of the held bonds on permit
  docker-compose.yml
  migrations/sql/R__stored_procedure_for_permit_assessment.sql
  migrations/sql/R__stored_procedure_for_permit_but_better.sql
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/response_models.py
  services/core-web/src/components/Forms/PermitAmendmentForm.js
  services/core-web/src/components/Forms/permits/PermitAmendmentSecurityForm.js
  services/core-web/src/components/mine/Securities/MineBondTable.js
  services/core-web/src/components/mine/Securities/MineReclamationInvoiceTable.js
  services/core-web/src/components/mine/Securities/MineSecurityInfo.js
  services/core-web/src/tests/components/Forms/__snapshots__/PermitAmendmentForm.spec.js.snap
  services/core-web/src/tests/components/Forms/permits/__snapshots__/PermitAmendmentSecurityForm.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/MineSecurityInfo.spec.js
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineBondTable.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineSecurityInfo.spec.js.snap
  services/core-web/src/tests/components/mine/Summary/__snapshots__/MineSummary.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1475 Remove NoW view only view
  services/core-api/app/api/now_applications/models/notice_of_work_view.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-web/src/components/Forms/noticeOfWork/ChangeNOWLocationForm.js
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
  services/core-web/src/components/Forms/permits/conditions/AddCondition.js
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  services/core-web/src/components/mine/NoticeOfWork/MineNoticeOfWorkTable.js
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/ViewNoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/verification/AssignLeadInspector.js
  services/core-web/src/constants/routes.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/tests/components/Forms/noticeOfWork/__snapshots__/ChangeNOWLocationForm.spec.js.snap
  services/core-web/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkHomePage.spec.js.snap
  services/core-web/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNOWApplications.spec.js.snap
  services/core-web/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNoticeOfWorkTable.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/ChangeNOWLocationModal.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/ChangeNOWMineModal.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/__snapshots__/FinalPermitDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1474 MDS-3075 Bond ETL changes to fix metabase reporting.
  migrations/sql/R__stored_procedure_for_bond_etl.sql
Labels: 👍 Ready for review, 📜 SQL

#1469 MDS-2287: Export Notice of Work
  docker-compose.yml
  migrations/sql/V2020.09.22.15.30__added_now_technical_review_template.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  openshift/templates/docgen/docgen.bc.json
  services/core-api/app/api/now_applications/models/now_application_document_type.py
  services/core-api/app/api/now_applications/namespace.py
  services/core-api/app/api/now_applications/resources/now_application_document_type_resource.py
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/date_time_helper.py
  services/core-api/app/templates/now/NOW Technical Review.docx
  services/core-api/tests/now_application_factories.py
  services/core-api/tests/utils/test_date_helper.py
  services/core-web/common/constants/API.js
  services/core-web/src/actionCreators/documentActionCreator.js
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviews.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/constants/reducerTypes.js
  services/core-web/src/manualReporting/renderReport.js
  services/core-web/src/tests/actionCreators/documentActionCreator.spec.js
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/minespace-web/common/constants/API.js
Labels: 🌶 Enhancement, 🎫 Ticket closer, 🏭 CI/CD, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1479 MDS-switch to contact dictionary object for NOW export
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
Labels: 👍 Ready for review, 💾 Backend

#1482 MDS-sub-division-code
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
Labels: 👍 Ready for review, 💾 Backend

#1483 MDS-fix for sand and gravel template section conditionla rendering
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
  services/core-api/app/templates/now/NOW Technical Review.docx
Labels: 💾 Backend

#1477 Fixes to MDS-3072 Permit Assessment ETL
  migrations/sql/R__stored_procedure_for_permit_assessment.sql
Labels: 👍 Ready for review

#1481 MDS-3090 duplicate permitee creation
  migrations/sql/R__stored_procedure_for_permit_but_better.sql
Labels: 📜 SQL

#1485 MDS-2376/deletable mixin
  services/core-api/app/api/incidents/models/mine_incident.py
  services/core-api/app/api/incidents/models/mine_incident_recommendation.py
  services/core-api/app/api/mines/comments/models/mine_comment.py
  services/core-api/app/api/mines/documents/models/mine_document.py
  services/core-api/app/api/mines/incidents/resources/mine_incidents.py
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/permits/permit/models/mine_permit_xref.py
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment_document.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_conditions.py
  services/core-api/app/api/mines/permits/permit_conditions/models/standard_permit_conditions.py
  services/core-api/app/api/mines/reports/models/mine_report.py
  services/core-api/app/api/mines/reports/models/mine_report_comment.py
  services/core-api/app/api/mines/variances/resources/variance.py
  services/core-api/app/api/now_applications/models/now_party_appointment.py
  services/core-api/app/api/parties/party/models/address.py
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/api/parties/party_appt/models/mine_party_appt.py
  services/core-api/app/api/parties/party_appt/models/party_business_role_appt.py
  services/core-api/app/api/users/minespace/models/minespace_user.py
  services/core-api/app/api/utils/models_mixins.py
  services/core-api/app/api/variances/models/variance.py
  services/core-api/tests/utils/test_softdelete_mixin.py
Labels: 🎫 Ticket closer, 👍 Ready for review, 💾 Backend

#1486 Updated alignment on search results page
  services/core-web/src/components/search/ContactResultsTable.js
  services/core-web/src/components/search/DocumentResultsTable.js
  services/core-web/src/components/search/MineResultsTable.js
  services/core-web/src/components/search/PermitResultsTable.js
  services/core-web/src/components/search/SearchBar.js
  services/core-web/src/components/search/SearchBarDropdown.js
  services/core-web/src/tests/components/search/__snapshots__/SearchBar.spec.js.snap
  services/core-web/src/tests/components/search/__snapshots__/SearchBarDropdown.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1487 Search/dropdown bug
  services/core-web/src/components/search/SearchBar.js
  services/core-web/src/tests/components/search/__snapshots__/SearchBar.spec.js.snap
Labels: 💻 Frontend

#1484 MDS-2930: add historical amendments to the permit
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/utils/access_decorators.py
  services/core-api/tests/mines/permit/resources/test_permit_amendment_resource.py
  services/core-web/common/constants/environment.js
  services/core-web/src/components/Forms/PermitAmendmentForm.js
  services/core-web/src/components/mine/Permit/MinePermitInfo.js
  services/core-web/src/components/mine/Permit/MinePermitTable.js
  services/core-web/src/components/modalContent/PermitAmendmentModal.js
  services/core-web/src/constants/permissions.js
  services/core-web/src/tests/components/mine/Permit/__snapshots__/MinePermitInfo.spec.js.snap
  services/minespace-web/common/constants/environment.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1478 Securities Updates
  migrations/sql/V2020.10.06.15.40__update_bond_document_categories.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-web/src/components/mine/Securities/MineBondTable.js
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineBondTable.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1489 Now submissions new fields
  migrations/sql/V2020.10.04.14.23__add_now_submissions_columns.sql
  migrations/sql/V2020.10.13.08.43__rename_now_columns.sql
  services/core-api/app/api/now_applications/models/activity_summary/surface_bulk_sample.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-api/app/templates/now/NOW Technical Review.docx
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/manualReporting/renderReport.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceBulkSamples.spec.js.snap
Labels: 💻 Frontend, 💾 Backend

#1490 Fix/remove double loading
  services/core-web/src/components/mine/MineDashboard.js
  services/core-web/src/components/mine/Permit/MinePermitInfo.js
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#1492 VFCBC new fields fix
  migrations/sql/V2020.10.16.15.44__update_now_columns.sql
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/now_submissions/models/application.py
Labels: 💾 Backend

#1488 Bugfix/mds 3036 switch to redux field array in now access road
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/tests/components/mine/Permit/__snapshots__/MinePermitInfo.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/minespace-web/common/utils/helpers.js
Labels: 👍 Ready for review, 💻 Frontend

#1494 Bug/access roads
  services/core-web/src/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewApplicationFeeContent.spec.js.snap
Labels: 💻 Frontend

#1493 Etl/ses status change
  migrations/sql/R__stored_procedure_for_bond_etl.sql
  migrations/sql/V2020.10.20.09.44__bond_etl_status_change_revert.sql
Labels: 👍 Ready for review, 📜 SQL

#1495 Mds 2399 contact verification
  migrations/sql/V2020.10.15.14.53__add_party_type_land_owner.sql
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_party_appointment.py
  services/core-api/app/api/now_applications/resources/now_application_import_resource.py
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/api/utils/models_mixins.py
  services/core-api/app/api/utils/setup_marshmallow.py
  services/core-web/src/components/Forms/noticeOfWork/ChangeNOWLocationForm.js
  services/core-web/src/components/Forms/noticeOfWork/EditNOWMineAndLocation.js
  services/core-web/src/components/Forms/noticeOfWork/EditNoWContacts.js
  services/core-web/src/components/Forms/parties/AddQuickPartyForm.js
  services/core-web/src/components/common/PartySelectField.js
  services/core-web/src/components/common/RenderLargeSelect.js
  services/core-web/src/components/common/wrappers/AddPartyComponentWrapper.js
  services/core-web/src/components/common/wrappers/AuthorizationWrapper.js
  services/core-web/src/components/modalContent/AddQuickPartyModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWContacts.js
  services/core-web/src/components/noticeOfWork/applications/verification/ApplicationStepOne.js
  services/core-web/src/components/noticeOfWork/applications/verification/VerifyApplicationInformationForm.js
  services/core-web/src/components/noticeOfWork/applications/verification/verification/VerifyNOWMineInformation.js
  services/core-web/src/constants/forms.js
  services/core-web/src/customPropTypes/noticeOfWork.js
  services/core-web/src/customPropTypes/parties.js
  services/core-web/src/styles/components/NavBar.scss
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/tests/components/Forms/noticeOfWork/EditNOWMineAndLocation.spec.js
  services/core-web/src/tests/components/Forms/noticeOfWork/EditNoWContacts.spec.js
  services/core-web/src/tests/components/Forms/noticeOfWork/__snapshots__/ChangeNOWLocationForm.spec.js.snap
  services/core-web/src/tests/components/Forms/noticeOfWork/__snapshots__/EditNOWMineAndLocation.spec.js.snap
  services/core-web/src/tests/components/Forms/noticeOfWork/__snapshots__/EditNoWContacts.spec.js.snap
  services/core-web/src/tests/components/Forms/parties/__snapshots__/AddQuickPartyForm.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/PartySelectField.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/RenderLargeSelect.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/verification/ApplicationStepOne.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/verification/VerifyApplicationInformationForm.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/verification/__snapshots__/ApplicationStepOne.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/verification/__snapshots__/VerifyApplicationInformationForm.spec.js.snap
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 🌶 Enhancement, 👍 Ready for review, 💻 Frontend, 💾 Backend, 🤯 Mind blown, 🥃💃🦊 Whisky Tango Foxtrot

#1498 if debug, include sql engine logs.
  services/core-api/app/extensions.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend

#1497 Remove link to NoW from mineTable
  services/core-web/src/components/mine/NoticeOfWork/MineNoticeOfWorkTable.js
Labels: 💻 Frontend

#1499 MDS 2399 Contact Verification - Fixes and Updates
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/utils/models_mixins.py
  services/core-web/src/components/Forms/noticeOfWork/EditNoWContacts.js
  services/core-web/src/components/common/PartySelectField.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/verification/ApplicationStepOne.js
  services/core-web/src/components/noticeOfWork/applications/verification/VerifyApplicationInformationForm.js
  services/core-web/src/styles/elements/elements.scss
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/Forms/noticeOfWork/__snapshots__/EditNoWContacts.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/verification/__snapshots__/VerifyApplicationInformationForm.spec.js.snap
Labels: 🍋 Sour, 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1500 Highlight new contacts
  services/core-web/src/components/Forms/noticeOfWork/EditNoWContacts.js
Labels: 💻 Frontend

#1496 MDS-3108 Auto Generate new mine numbers on mine creation
  migrations/sql/R__stored_procedure_for_mine_information.sql
  migrations/sql/V2020.10.21.11.48__add_mine_number_sequence.sql
  migrations/sql/V2020.10.22.09.29__add_trigger_to_mine_seq.sql
  services/core-api/app/api/mines/mine/resources/mine.py
  services/core-api/app/api/utils/random.py
  services/core-api/tests/mines/utils/test_utils_random.py
Labels: 💾 Backend, 📜 SQL

#1491 MDS-2748 MMS NOW: Streamlined NoW's
  openshift/pipeline/config-build.groovy
  services/digdag/etl/now-job.dig
  services/digdag/etl/tasks/now_etl.py
  tasks/now-etls/.env.template
  tasks/now-streamline-etl/.dockerignore
  tasks/now-streamline-etl/.env.template
  tasks/now-streamline-etl/Dockerfile
  tasks/now-streamline-etl/now_streamline_etl.py
  tasks/now-streamline-etl/requirements.txt
  tasks/now-streamline-etl/run_local.sh
Labels: 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#1501 Mds 2399 contact verification - add an arrow
  services/core-web/src/components/Forms/noticeOfWork/EditNoWContacts.js
  services/core-web/src/components/common/PartySelectField.js
  services/core-web/src/styles/generic/layout.scss
Labels: 🌶 Enhancement, 💻 Frontend, 🤡 Superfluous Label

#1502 MDS-3031 Quick Fix for Permit ETL to use appr_dt if iss_dt is NULL
  migrations/sql/R__stored_procedure_for_permit_but_better.sql
Labels: 👍 Ready for review, 📜 SQL

#1504 Feature/ses reclamation invoices
  Makefile
  migrations/sql/R__stored_procedure_for_recl_invoices.sql
  migrations/sql/V2020.10.26.13.04__add_paid_dt_reclamation_invoices.sql
  services/core-api/app/api/securities/models/reclamation_invoice.py
  services/core-api/app/api/securities/response_models.py
  services/core-web/src/components/Forms/Securities/ReclamationInvoiceForm.js
Labels: 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1503 Update Activities to use editable table component
  services/core-web/common/utils/Validate.js
  services/core-web/src/components/common/CoreEditableTable.js
  services/core-web/src/components/common/RenderAutoSizeField.js
  services/core-web/src/components/common/RenderSelect.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewActivities.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Camps.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/CutLines.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Equipment.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/MechanicalTrenching.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Placer.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceDrilling.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/UndergroundExploration.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/WaterSupply.js
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/ReclamationInvoiceForm.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/RenderSelect.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewActivities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Camps.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/CutLines.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Equipment.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/MechanicalTrenching.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Placer.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SandGravelQuarry.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SettlingPonds.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceBulkSamples.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceDrilling.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/UndergroundExploration.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/WaterSupply.spec.js.snap
  services/minespace-web/common/utils/Validate.js
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 👍 Ready for review, 💻 Frontend

#1505 Bug - update to delete NoW contacts
  services/core-web/common/utils/Validate.js
  services/core-web/package-lock.json
  services/core-web/package.json
  services/core-web/src/components/Forms/Securities/BondForm.js
  services/core-web/src/components/Forms/noticeOfWork/EditNoWContacts.js
  services/core-web/src/components/common/PartySelectField.js
  services/core-web/src/components/common/RenderRadioButtons.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWContacts.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Equipment.js
  services/core-web/src/components/noticeOfWork/applications/verification/VerifyApplicationInformationForm.js
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/BondForm.spec.js.snap
  services/core-web/src/tests/components/Forms/noticeOfWork/__snapshots__/EditNoWContacts.spec.js.snap
  services/core-web/src/tests/components/common/PartySelectField.spec.js
  services/core-web/src/tests/components/common/__snapshots__/PartySelectField.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Equipment.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/verification/__snapshots__/VerifyApplicationInformationForm.spec.js.snap
  services/minespace-web/common/utils/Validate.js
Labels: 💻 Frontend

#1508 Bug fix - extra validations for PartyField, error when no initialValues are passed.
  services/core-web/src/components/common/PartySelectField.js
Labels: 💻 Frontend

#1506 MDS-3109 Update bond_view to include Active record of un-etl-able REL/CON bonds
  migrations/sql/R__view_bonds.sql
Labels: 📜 SQL
