Repository bcgov/mds, pull requests merged in 2020-12, with the labels that each got.

#1556 MDS-3009 New NoW document types and sub types
  migrations/sql/V2020.11.24.12.42__add_now_document_sub_types.sql
  migrations/sql/V2020.11.24.12.43__add_new_now_application_document_types.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/now_applications/models/__init__.py
  services/core-api/app/api/now_applications/models/now_application_document_sub_type.py
  services/core-api/app/api/now_applications/models/now_application_document_type.py
  services/core-api/app/api/now_applications/models/now_application_document_xref.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/Forms/noticeOfWork/EditNoticeOfWorkDocumentForm.js
  services/core-web/src/components/Forms/permits/GeneratePermitForm.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/BondForm.spec.js.snap
  services/core-web/src/tests/components/Forms/parties/__snapshots__/AddFullPartyForm.spec.js.snap
  services/core-web/src/tests/components/Forms/parties/__snapshots__/EditFullPartyForm.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/AddBondModal.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/EditPartyModal.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/NOWDocuments.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWDocuments.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
  services/minespace-web/common/selectors/staticContentSelectors.js
  services/minespace-web/common/utils/helpers.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1553 MDS-3199 + random fixes and tidy
  migrations/sql/V2020.11.25.15.32__remove_not_null_constraint_received_date.sql
  services/core-api/app/api/now_applications/models/now_application_identity.py
  services/core-api/app/api/now_applications/resources/now_application_import_resource.py
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-api/app/api/parties/party_appt/models/mine_party_appt_type.py
  services/core-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/core-web/src/components/noticeOfWork/applications/verification/ApplicationStepOne.js
  services/core-web/src/components/noticeOfWork/applications/verification/VerifyApplicationInformationForm.js
  services/minespace-web/common/actionCreators/noticeOfWorkActionCreator.js
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1559 Feature/progress durations
  migrations/sql/V2020.11.30.5.06__add_imported_now_meta.sql
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/resources/now_application_import_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/templates/permit/Permit.docx
  services/core-api/tests/mines/permit/models/test_permit_model.py
  services/core-web/common/selectors/noticeOfWorkSelectors.js
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/noticeOfWork/NOWProgressStatus.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWProgressTable.js
  services/core-web/src/constants/routes.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/verification/__snapshots__/ApplicationStepOne.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/verification/__snapshots__/VerifyApplicationInformationForm.spec.js.snap
  services/minespace-web/common/selectors/noticeOfWorkSelectors.js
  services/minespace-web/common/utils/helpers.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1563 MDS-3194: NoW Edit - Adding a document causes the NoW to refresh
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1564 MDS-3134 - Move securities logic to NoW
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/core-web/src/components/Forms/PermitAmendmentForm.js
  services/core-web/src/components/Forms/noticeOfWork/RejectApplicationForm.js
  services/core-web/src/components/Forms/noticeOfWork/UpdateNOWStatusForm.js
  services/core-web/src/components/Forms/permits/PermitAmendmentSecurityForm.js
  services/core-web/src/components/modalContent/UpdateStatusGenerateLetterModal.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWProgressTable.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWSecurities.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWSecurities.spec.js.snap
  services/minespace-web/common/actionCreators/noticeOfWorkActionCreator.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1567 MDS-3202/MDS-3059/MDS-3118: Expose permits and bonds for regional mines on MineSpace & Only show "document generation" form errors on submit & Fix overlapping markers issue on NoW verification map
  services/core-web/src/components/maps/MineHeaderMapLeaflet.js
  services/core-web/src/components/mine/NoticeOfWork/MineCard.js
  services/core-web/src/components/modalContent/GenerateDocumentModal.js
  services/minespace-web/src/components/dashboard/mine/MineDashboard.js
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💊 Fix, 💻 Frontend

#1569 MDS-3240: Fix NoW "Incline" Error (+ Other Possible Errors)
  services/core-api/app/api/now_applications/transmogrify_now.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend, 🥉🔃🥇 Transmogrify

#1568 Referral/Consultation/Public Comment re-do
  migrations/sql/V2020.12.04.12.00__update_application_reviews.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_application_document_identity_xref.py
  services/core-api/app/api/now_applications/models/now_application_document_xref.py
  services/core-api/app/api/now_applications/models/now_application_review.py
  services/core-api/app/api/now_applications/resources/now_application_document_resource.py
  services/core-api/app/api/now_applications/resources/now_application_review_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-web/common/constants/strings.js
  services/core-web/src/components/Forms/noticeOfWork/NOWReviewForm.js
  services/core-web/src/components/common/PartySelectField.js
  services/core-web/src/components/common/UploadedDocumentTable.js
  services/core-web/src/components/maps/MineHeaderMapLeaflet.js
  services/core-web/src/components/modalContent/DownloadDocumentPackageModal.js
  services/core-web/src/components/noticeOfWork/NOWActionWrapper.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/NOWProgressStatus.js
  services/core-web/src/components/noticeOfWork/NOWStatusIndicator.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWSideMenu.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/components/noticeOfWork/applications/referals/Consultation.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviews.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviewsTable.js
  services/core-web/src/components/noticeOfWork/applications/referals/PublicComment.js
  services/core-web/src/components/noticeOfWork/applications/referals/ReferralConsultationPackage.js
  services/core-web/src/components/noticeOfWork/applications/referals/Referrals.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/constants/routes.js
  services/core-web/src/manualReporting/renderReport.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/modalContent/__snapshots__/DownloadDocumentPackageModal.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/NOWSideMenu.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWSideMenu.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/process/__snapshots__/ProcessPermit.spec.js.snap
  services/minespace-web/common/constants/strings.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1566 MDS-3200 Add Core uploaded NoW data to permit table.
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/now_applications/models/now_application_document_type.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-web/src/actionCreators/documentActionCreator.js
  services/core-web/src/components/mine/Permit/MinePermitTable.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1573 Upgrade/fixed header
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-web/src/components/Home.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/NOWProgressStatus.js
  services/core-web/src/components/noticeOfWork/applications/NOWTabHeader.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/tests/components/noticeOfWork/applications/process/__snapshots__/ProcessPermit.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1571 MDS-3233/MDS-3215: EMPR to EMLI + Fix "start_date" Not Defined Error
  README.md
  migrations/sql/V2020.12.11.08.53__update_empr_to_emli.sql
  services/core-api/app/api/incidents/resources/mine_incident_determination_types.py
  services/core-api/app/api/incidents/resources/mine_incident_followup_types.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-api/app/api/parties/party_appt/resources/mine_party_appt_type_resource.py
  services/core-api/app/api/services/idir_service.py
  services/core-api/app/templates/now/Acknowledgment Letter.docx
  services/core-api/app/templates/now/Permit Enclosed Letter.docx
  services/core-api/app/templates/now/Rejection Letter.docx
  services/core-api/app/templates/now/Technical Review.docx
  services/core-api/app/templates/now/Withdrawal Letter.docx
  services/core-api/app/templates/permit/Permit.docx
  services/core-api/tests/mines/compliance/resources/test_compliance_summary_resource.py
  services/core-web/src/components/Forms/incidents/AddIncidentFollowUpForm.js
  services/core-web/src/components/dashboard/HomePage.js
  services/core-web/src/components/dashboard/minesHomePage/Dashboard.js
  services/core-web/src/components/mine/Incidents/MineIncidentTable.js
  services/core-web/src/components/mine/Securities/MineSecurityInfo.js
  services/core-web/src/components/modalContent/ViewIncidentModal.js
  services/core-web/src/tests/components/Forms/incidents/__snapshots__/AddIncidentFollowUpForm.spec.js.snap
  services/core-web/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  services/core-web/src/tests/components/mine/Incidents/__snapshots__/MineIncidentTable.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineSecurityInfo.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/ViewIncidentModal.spec.js.snap
  services/minespace-web/src/components/dashboard/mine/incidents/IncidentDetails.js
  services/minespace-web/src/components/dashboard/mine/overview/Overview.js
  services/minespace-web/src/components/pages/LandingPage.js
  services/minespace-web/src/tests/components/landingPage/__snapshots__/LandingPage.spec.js.snap
  services/nris-api/backend/app/nris/etl/nris_etl.py
Labels: 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend, 🤡 Superfluous Label

#1538 Fix UID issue for Oracle encryption running as any PID
  openshift/docker-images/python-36-oracle/Dockerfile
  openshift/docker-images/python-36-oracle/fix_uid
  services/digdag/etl/models/pod.py
  services/digdag/etl/tasks/nris_data_import.py
  services/nris-api/backend/run_etl.py
Labels: 🏭 CI/CD

#1574 MDS 3228 Permit number only set when a new permit is being issued.
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
Labels: 🐞 Bug, 👍 Ready for review, 💾 Backend

#1577 Mds 3184 permit design gaps
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/tests/components/noticeOfWork/applications/process/__snapshots__/ProcessPermit.spec.js.snap
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#1579 MDS-3240: REALLY Fix "Incline" Error + Update Docs Again For Ministry Name Change
  README.md
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/templates/now/Acknowledgment Letter.docx
  services/core-api/app/templates/now/Permit Enclosed Letter.docx
  services/core-api/app/templates/now/Rejection Letter.docx
  services/core-api/app/templates/now/Technical Review.docx
  services/core-api/app/templates/now/Withdrawal Letter.docx
  services/core-api/app/templates/permit/Permit.docx
  services/minespace-web/src/components/pages/LandingPage.js
  services/minespace-web/src/tests/components/landingPage/__snapshots__/LandingPage.spec.js.snap
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 🎫 Ticket closer, 👍 Ready for review, 💊 Fix, 💾 Backend

#1580 MDS 3184 - Change logic for Referrals and Public Comment
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/tests/components/noticeOfWork/applications/process/__snapshots__/ProcessPermit.spec.js.snap
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#1581 MDS 3254 download edited now
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend

#1582 MDS-3242: Admins Can Edit Proposed Start & Authorization End Dates and Proposed Annual Maximum Tonnage + More
  migrations/sql/V2020.12.17.08.48__alter_response_url_now_application_review.sql
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/auth.py
  services/core-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/core-web/common/utils/Validate.js
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/Forms/noticeOfWork/IssuePermitForm.js
  services/core-web/src/components/Forms/noticeOfWork/NOWReviewForm.js
  services/core-web/src/components/modalContent/UpdateStatusGenerateLetterModal.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/tests/actionCreators/noticeOfWorkActioncreator.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/ReviewNOWApplication.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewApplicationFeeContent.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/minespace-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/minespace-web/common/utils/Validate.js
  services/minespace-web/common/utils/helpers.js
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend, 🥃💃🦊 Whisky Tango Foxtrot

#1583 MDS 3257 Mine Permit Table not Loading
  services/core-web/src/components/mine/Permit/MinePermitTable.js
Labels: 🐞 Bug, 💻 Frontend

#1586 MDS-3243: Various Updates to NoW Letters
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/document_generation/models/document_template.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
  services/core-api/app/api/parties/party/models/address.py
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/templates/now/Acknowledgment Letter.docx
  services/core-api/app/templates/now/Permit Enclosed Letter.docx
  services/core-api/app/templates/now/Rejection Letter.docx
  services/core-api/app/templates/now/Withdrawal Letter.docx
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 🌶 Enhancement, 🍋 Sour, 🎫 Ticket closer, 👍 Ready for review, 💊 Fix, 💾 Backend

#1590 Bug/contact verification
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
  services/core-web/src/components/Forms/noticeOfWork/EditNoWContacts.js
  services/core-web/src/components/Forms/noticeOfWork/VerifyNoWContacts.js
  services/core-web/src/components/common/NOWPartySelectField.js
  services/core-web/src/components/common/PartySelectField.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWProgressTable.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/components/noticeOfWork/applications/verification/VerifyApplicationInformationForm.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/actionCreators/noticeOfWorkActioncreator.spec.js
  services/core-web/src/tests/components/Forms/noticeOfWork/__snapshots__/EditNoWContacts.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/PartySelectField.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/verification/__snapshots__/VerifyApplicationInformationForm.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1591 Remove date validation
  services/core-web/src/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewApplicationFeeContent.spec.js.snap
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#1585 Feature/mds 3239 state of the land and annual tonnage
  migrations/sql/V2020.12.17.12.51__delete_duplicate_column_from_now_submissions_surface_bulk_sample.sql
  services/core-api/app/api/now_applications/models/activity_summary/surface_bulk_sample.py
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-api/app/templates/now/Technical Review.docx
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Placer.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/UndergroundExploration.js
  services/core-web/src/manualReporting/renderReport.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Placer.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SettlingPonds.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceBulkSamples.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/UndergroundExploration.spec.js.snap
Labels: ⛏ Needs manual testing, 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend, 📜 SQL

#1592 MDS- fix for the party select
  services/core-web/src/components/common/PartySelectField.js
Labels: 💊 Fix, 💻 Frontend
