Repository bcgov/mds, pull requests merged in 2020-08, with the labels that each got.

#1401 Fix for loading bar issues was brought into the package
  services/core-web/package-lock.json
  services/core-web/package.json
  services/core-web/src/components/common/wrappers/ModalWrapper.js
  services/core-web/src/components/loadingBar/immutable.js
  services/core-web/src/components/loadingBar/index.js
  services/core-web/src/components/loadingBar/loading_bar.js
  services/core-web/src/components/loadingBar/loading_bar_ducks.js
  services/core-web/src/components/loadingBar/loading_bar_middleware.js
  services/core-web/src/tests/components/common/wrappers/__snapshots__/ModalWrapper.spec.js.snap
  services/minespace-web/package-lock.json
  services/minespace-web/package.json
Labels: 👍 Ready for review, 💻 Frontend

#1402 Remove nginx log PVC to prevent garbled log data
  monitoring/openshift/templates/loki.dc.yaml
  openshift/templates/_nginx.dc.json
  openshift/templates/_python36.dc.json
  services/core-api/app/config.py
  services/core-api/uwsgi.ini
Labels: 🏭 CI/CD, 💾 Backend

#1405 Fix/minespace context mine errors
  services/core-api/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  services/core-api/app/api/utils/models_mixins.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend

#1404 Feature/MDS-2893 Create Permit Conditions
  migrations/sql/V2020.07.21.11.21__create_permit_conditions.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/exports/static_content/resources/core_static_content_resource.py
  services/core-api/app/api/mines/namespace.py
  services/core-api/app/api/mines/permits/permit_conditions/models/__init__.py
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_condition_category.py
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_condition_type.py
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_conditions.py
  services/core-api/app/api/mines/permits/permit_conditions/models/standard_permit_conditions.py
  services/core-api/app/api/mines/permits/permit_conditions/resources/permit_condition_category_resource.py
  services/core-api/app/api/mines/permits/permit_conditions/resources/permit_condition_type_resource.py
  services/core-api/app/api/mines/permits/permit_conditions/resources/permit_conditions_resource.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/utils/list_lettering_helpers.py
  services/core-api/app/api/utils/setup_marshmallow.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/mines/permit/resources/test_permit_condition_resource.py
  services/core-web/common/actionCreators/permitActionCreator.js
  services/core-web/common/actions/permitActions.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/reducers/permitReducer.js
  services/core-web/common/reducers/staticContentReducer.js
  services/core-web/common/selectors/permitSelectors.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/src/components/Forms/incidents/AddIncidentReportingForm.js
  services/core-web/src/components/Forms/permits/GeneratePermitForm.js
  services/core-web/src/components/Forms/permits/conditions/AddCondition.js
  services/core-web/src/components/Forms/permits/conditions/Condition.js
  services/core-web/src/components/Forms/permits/conditions/Conditions.js
  services/core-web/src/components/Forms/permits/conditions/ListItem.js
  services/core-web/src/components/Forms/permits/conditions/ListItemForm.js
  services/core-web/src/components/Forms/permits/conditions/Section.js
  services/core-web/src/components/Forms/permits/conditions/SectionForm.js
  services/core-web/src/components/Forms/permits/conditions/SubCondition.js
  services/core-web/src/components/Forms/permits/conditions/SubConditionForm.js
  services/core-web/src/components/common/RenderAutoSizeField.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/search/ContactResultsTable.js
  services/core-web/src/components/search/MineResultsTable.js
  services/core-web/src/components/search/SearchResults.js
  services/core-web/src/constants/forms.js
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/tests/components/common/__snapshots__/RenderAutoSizeField.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/reducers/staticContentReducer.spec.js
  services/core-web/src/tests/selectors/staticContentSelectors.spec.js
  services/minespace-web/common/actionCreators/permitActionCreator.js
  services/minespace-web/common/actions/permitActions.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/reducers/permitReducer.js
  services/minespace-web/common/reducers/staticContentReducer.js
  services/minespace-web/common/selectors/permitSelectors.js
  services/minespace-web/common/selectors/staticContentSelectors.js
  services/minespace-web/src/components/dashboard/mine/reports/Reports.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1407 Add Template conditions to "New Permits"
  migrations/sql/V2020.08.04.15.10__add_template_conditions.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_conditions.py
  services/core-api/app/api/mines/permits/permit_conditions/models/standard_permit_conditions.py
Labels: 💾 Backend

#1409 Update decimal place on water supply estimate_rate
  migrations/sql/V2020.08.11.12.26__update_decimal_water_estimate_rate.sql
  services/core-api/app/api/now_applications/response_models.py
  services/core-web/src/components/noticeOfWork/applications/review/activities/WaterSupply.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/WaterSupply.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1408 Feature/etl bond data
  migrations/sql/R__add_party_parsing_functions.sql
  migrations/sql/R__stored_procedure_for_bond_etl.sql
  migrations/sql/R__stored_procedure_for_permit_but_better.sql
  migrations/sql/V2020.07.30.3.54__add_bond_sec_cid.sql
Labels: 🎫 Ticket closer, 👍 Ready for review, 💾 Backend, 📜 SQL

#1410 MDS 2979 add query param to mines for verified only in return
  services/core-api/app/api/mines/mine/resources/mine.py
  services/core-web/src/components/Forms/AdvancedMineSearchForm.js
  services/core-web/src/components/dashboard/minesHomePage/Dashboard.js
  services/core-web/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
Labels: 💻 Frontend, 💾 Backend

#1413 Fix for digdag jobs and bandaid delay of probes on API deployment
  openshift/templates/_python36.dc.json
Labels: 🏭 CI/CD

#1415 Feature/MDS 2893 - Permit Condition Updates
  migrations/sql/V2020.08.11.09.05__add_letters_to_condition_sections.sql
  migrations/sql/V2020.08.17.10.29__add_not_null_to_letters_for_condition_sections.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_condition_category.py
  services/core-api/app/api/mines/response_models.py
  services/core-web/src/components/Forms/permits/conditions/Conditions.js
Labels: 💻 Frontend, 💾 Backend, 📜 SQL

#1414 Sort bonds and add job to nightly ETL.
  migrations/sql/R__stored_procedure_for_bond_etl.sql
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/cli_jobs/ETL_jobs.py
Labels: 👍 Ready for review, 💾 Backend

#1412 Security Document categories/upload on Admin view
  migrations/sql/V2020.08.12.11.50__update_now_document_categories.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/mines/response_models.py
  services/core-web/common/selectors/permitSelectors.js
  services/core-web/src/components/Forms/noticeOfWork/EditNoticeOfWorkDocumentForm.js
  services/core-web/src/components/Forms/permits/PermitAmendmentSecurityForm.js
  services/core-web/src/components/modalContent/EditNoticeOfWorkDocumentModal.js
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWSecurities.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/tests/components/Forms/permits/PermitAmendmentSecurityForm.spec.js
  services/core-web/src/tests/components/Forms/permits/__snapshots__/PermitAmendmentSecurityForm.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/__snapshots__/FinalPermitDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/NOWApplicationAdministrative.spec.js
  services/core-web/src/tests/components/noticeOfWork/administrative/NOWSecurities.spec.js
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWSecurities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/NOWDocuments.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/decision/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
  services/minespace-web/common/selectors/permitSelectors.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1418 Delete conditions - modal shows what is being deleted
  services/core-web/src/components/Forms/permits/conditions/Condition.js
  services/core-web/src/components/Forms/permits/conditions/Conditions.js
  services/core-web/src/components/Forms/permits/conditions/ListItem.js
  services/core-web/src/components/Forms/permits/conditions/Section.js
  services/core-web/src/components/Forms/permits/conditions/SubCondition.js
  services/core-web/src/components/modalContent/DeleteConditionModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/tests/components/modalContent/DeleteConditionModal.spec.js
  services/core-web/src/tests/components/modalContent/__snapshots__/DeleteConditionModal.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWSideMenu.spec.js.snap
Labels: 💻 Frontend

#1416 Write API logs to both stdout and file
  services/core-api/app/config.py
Labels: 👍 Ready for review, 💾 Backend

#1423 Update lazy loading in models, set thunder lock for UWSGI
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment_document.py
  services/core-api/uwsgi.ini
Labels: 💾 Backend

#1420 Update "Total Assessed" To sum all permit_amendment security totals
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_conditions.py
  services/core-web/src/components/mine/Securities/MineBondTable.js
  services/core-web/src/components/mine/Securities/MineSecurityInfo.js
  services/core-web/src/tests/components/mine/Securities/MineSecurityInfo.spec.js
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineBondTable.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineSecurityInfo.spec.js.snap
  services/core-web/src/tests/components/mine/Summary/__snapshots__/MineSummary.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/NOWSecurities.spec.js
  services/core-web/src/tests/mocks/dataMocks.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1419 Re-ordering conditions once they are deleted
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_conditions.py
  services/core-api/app/api/mines/permits/permit_conditions/resources/permit_conditions_resource.py
  services/core-api/tests/factories.py
  services/core-api/tests/mines/permit/resources/test_permit_condition_resource.py
  services/core-api/tests/status_code_gen.py
  services/core-api/tests/verify/resources/test_verify_permit_now.py
Labels: 👍 Ready for review, 💾 Backend

#1426 MDS-2953: clean inspector cache after insert/update
  services/core-api/app/api/parties/party/resources/party_list_resource.py
  services/core-api/app/api/parties/party/resources/party_resource.py
Labels: 👍 Ready for review, 💾 Backend

#1425 Misc permit bugs
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/tests/status_code_gen.py
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/src/components/Forms/permits/conditions/Conditions.js
  services/core-web/src/components/mine/Permit/MinePermitTable.js
  services/minespace-web/common/selectors/staticContentSelectors.js
Labels: 💻 Frontend, 💾 Backend

#1427 Feature/permit condition reordering
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_conditions.py
  services/core-api/app/api/mines/permits/permit_conditions/resources/permit_conditions_resource.py
  services/core-api/tests/factories.py
  services/core-api/tests/mines/permit/resources/test_permit_condition_resource.py
  services/core-api/tests/status_code_gen.py
  services/core-web/src/components/Forms/permits/conditions/Condition.js
  services/core-web/src/components/Forms/permits/conditions/Conditions.js
  services/core-web/src/components/Forms/permits/conditions/ListItem.js
  services/core-web/src/components/Forms/permits/conditions/Section.js
  services/core-web/src/components/Forms/permits/conditions/SubCondition.js
  services/core-web/src/styles/generic/layout.scss
Labels: 💻 Frontend, 💾 Backend

#1428 Reclamation Invoice Balance bug
  services/core-web/src/components/mine/Securities/MineBondTable.js
  services/core-web/src/components/mine/Securities/MineReclamationInvoiceTable.js
  services/core-web/src/components/modalContent/AddReclamationInvoiceModal.js
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineReclamationInvoiceTable.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/AddReclamationInvoiceModal.spec.js.snap
Labels: 💻 Frontend
