Repository bcgov/mds, pull requests merged in 2020-11, with the labels that each got.

#1511 only update on records found this run.
  migrations/sql/R__stored_procedure_for_bond_etl.sql
Labels: 👍 Ready for review, 💊 Fix, 📜 SQL

#1510 Misc now document updates, select dropdown validations
  services/core-web/common/utils/Validate.js
  services/core-web/src/components/Forms/AddPermitForm.js
  services/core-web/src/components/Forms/EditPermitForm.js
  services/core-web/src/components/Forms/MineRecordForm.js
  services/core-web/src/components/Forms/PartyRelationships/EngineerOfRecordOptions.js
  services/core-web/src/components/Forms/PartyRelationships/PermitteeOptions.js
  services/core-web/src/components/Forms/Securities/BondForm.js
  services/core-web/src/components/Forms/Securities/TransferBondForm.js
  services/core-web/src/components/Forms/incidents/AddIncidentDetailForm.js
  services/core-web/src/components/Forms/incidents/AddIncidentFollowUpForm.js
  services/core-web/src/components/Forms/noticeOfWork/EditNoWContacts.js
  services/core-web/src/components/Forms/noticeOfWork/EditNoticeOfWorkDocumentForm.js
  services/core-web/src/components/Forms/noticeOfWork/NOWReviewForm.js
  services/core-web/src/components/Forms/parties/AddFullPartyForm.js
  services/core-web/src/components/Forms/parties/AddQuickPartyForm.js
  services/core-web/src/components/Forms/parties/AddRolesForm.js
  services/core-web/src/components/Forms/parties/EditFullPartyForm.js
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
  services/core-web/src/components/Forms/variances/AddVarianceForm.js
  services/core-web/src/components/Forms/variances/EditVarianceForm.js
  services/core-web/src/components/common/FileUpload.js
  services/core-web/src/components/modalContent/DownloadDocumentPackageModal.js
  services/core-web/src/components/modalContent/EditFinalPermitDocumentPackage.js
  services/core-web/src/components/modalContent/EditNoticeOfWorkDocumentModal.js
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWSecurities.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviews.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/UndergroundExploration.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/BondForm.spec.js.snap
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/TransferBondForm.spec.js.snap
  services/core-web/src/tests/components/Forms/__snapshots__/AddPermitForm.spec.js.snap
  services/core-web/src/tests/components/Forms/__snapshots__/MineRecordForm.spec.js.snap
  services/core-web/src/tests/components/Forms/incidents/__snapshots__/AddIncidentFollowUpForm.spec.js.snap
  services/core-web/src/tests/components/Forms/parties/__snapshots__/AddFullPartyForm.spec.js.snap
  services/core-web/src/tests/components/Forms/parties/__snapshots__/AddQuickPartyForm.spec.js.snap
  services/core-web/src/tests/components/Forms/parties/__snapshots__/EditFullPartyForm.spec.js.snap
  services/core-web/src/tests/components/Forms/variances/__snapshots__/AddVarianceForm.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/DownloadDocumentPackageModal.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/EditFinalPermitDocumentPackage.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/__snapshots__/FinalPermitDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWSecurities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/NOWDocuments.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/UndergroundExploration.spec.js.snap
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
  services/minespace-web/common/utils/Validate.js
Labels: 👍 Ready for review, 💻 Frontend

#1513 MDS 2504 - Update Permittee ETL and clean up "orphaned" parties
  migrations/sql/R__stored_procedure_for_permit_but_better.sql
  migrations/sql/V2020.11.03.08.43__clean_up_parties.sql
Labels: 👍 Ready for review, 📜 SQL

#1516 misc bugs
  services/core-web/common/utils/Validate.js
  services/core-web/src/components/Forms/noticeOfWork/EditNoWContacts.js
  services/core-web/src/components/Forms/noticeOfWork/EditNoticeOfWorkDocumentForm.js
  services/minespace-web/common/utils/Validate.js
Labels: 👍 Ready for review, 💻 Frontend

#1515 relocate lead inspector assignment logic
  services/core-web/src/components/Forms/noticeOfWork/UpdateNOWLeadInspectorForm.js
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
  services/core-web/src/components/modalContent/UpdateNOWLeadInspectorModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/applications/NOWSideMenu.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/ScrollContentWrapper.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/verification/ApplicationStepOne.js
  services/core-web/src/components/noticeOfWork/applications/verification/AssignLeadInspector.js
  services/core-web/src/components/parties/PartyProfile.js
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1517 Remove- required fields on activity detail tables
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Camps.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/CutLines.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Equipment.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/MechanicalTrenching.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Placer.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceDrilling.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/UndergroundExploration.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/WaterSupply.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Camps.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/CutLines.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Equipment.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/MechanicalTrenching.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Placer.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SandGravelQuarry.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SettlingPonds.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceBulkSamples.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceDrilling.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/UndergroundExploration.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/WaterSupply.spec.js.snap
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#1512 MDS 467 Generate Permit numbers for new NoW application permits
  migrations/sql/V2020.10.29.09.24__add_permit_number_sequence.sql
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/tests/mines/permit/resources/test_permit_resource.py
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Camps.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/CutLines.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Equipment.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/MechanicalTrenching.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Placer.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceDrilling.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/UndergroundExploration.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/WaterSupply.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Camps.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/CutLines.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Equipment.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/MechanicalTrenching.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Placer.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SandGravelQuarry.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SettlingPonds.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceBulkSamples.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceDrilling.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/UndergroundExploration.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/WaterSupply.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1519 Fix: null address
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
Labels: 💻 Frontend

#1520 Disable no w application
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
  services/core-web/src/components/Forms/permits/conditions/AddCondition.js
  services/core-web/src/components/Forms/permits/conditions/ListItem.js
  services/core-web/src/components/Forms/permits/conditions/Section.js
  services/core-web/src/components/Forms/permits/conditions/SubCondition.js
  services/core-web/src/components/noticeOfWork/NOWActionWrapper.js
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWSecurities.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviews.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviewsTable.js
  services/core-web/src/components/noticeOfWork/applications/verification/AssignLeadInspector.js
  services/core-web/src/tests/components/noticeOfWork/__snapshots__/FinalPermitDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWSecurities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWDocuments.spec.js.snap
Labels: 💻 Frontend

#1521 Status Banner for NoW tabs
  services/core-web/src/components/noticeOfWork/NOWStatusBanner.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/styles/components/NoticeOfWork.scss
Labels: 💻 Frontend

#1522 Bug - causing infinite render in prod
  services/core-web/src/components/Forms/MineRecordForm.js
Labels: 💻 Frontend

#1524 Separated Referral, Consultation, Public Comment into their own tabs
  services/core-web/src/components/Forms/noticeOfWork/NOWReviewForm.js
  services/core-web/src/components/noticeOfWork/NOWStatusBanner.js
  services/core-web/src/components/noticeOfWork/NOWStatusIndicator.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviews.js
  services/core-web/src/styles/components/NoticeOfWork.scss
Labels: 👍 Ready for review, 💻 Frontend

#1523 MDS 3122 Migrate Keycloak URL
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  openshift/templates/_nodejs.dc.json
  openshift/templates/digdag/digdag.dc.json
  services/core-api/.env-example
  services/core-web/.env-example
  services/core-web/common/constants/environment.js
  services/digdag/.env.template
  services/document-manager/backend/.env-example
  services/minespace-web/.env-example
  services/minespace-web/common/constants/environment.js
  services/minespace-web/src/constants/environment.js
  services/nris-api/backend/.env-example
  settings/keycloak/keycloak-prod-realm-export.json
  settings/keycloak/keycloak-test-realm-export.json
Labels: 🏭 CI/CD, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1527 Bug/party select
  services/core-web/src/components/Forms/PartyRelationships/EngineerOfRecordOptions.js
  services/core-web/src/components/Forms/PartyRelationships/PermitteeOptions.js
  services/core-web/src/components/Forms/parties/AddRolesForm.js
Labels: 💻 Frontend

#1528 MDS-3170: Fix Error When Viewing MMS Notice of Works
  services/core-api/app/api/now_applications/transmogrify_now.py
Labels: 🎫 Ticket closer, 👍 Ready for review, 💊 Fix, 💾 Backend

#1531 NoW progress tracking
  migrations/sql/V2020.11.05.13.09__create_now_delay.sql
  migrations/sql/V2020.11.09.08.27__updated_now_progress_status_codes.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/exports/static_content/resources/core_static_content_resource.py
  services/core-api/app/api/now_applications/models/__init__.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_application_delay.py
  services/core-api/app/api/now_applications/models/now_application_delay_type.py
  services/core-api/app/api/now_applications/models/now_application_identity.py
  services/core-api/app/api/now_applications/models/now_application_progress.py
  services/core-api/app/api/now_applications/namespace.py
  services/core-api/app/api/now_applications/resources/now_application_delay_resource.py
  services/core-api/app/api/now_applications/resources/now_application_progress_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/utils/setup_marshmallow.py
  services/core-api/tests/now_application_factories.py
  services/core-api/tests/now_applications/resources/test_now_application_delay_resource.py
  services/core-api/tests/now_applications/resources/test_now_application_progress_resource.py
  services/core-api/tests/services/test_document_generation_service.py
  services/core-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/core-web/common/actions/noticeOfWorkActions.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/reducers/noticeOfWorkReducer.js
  services/core-web/common/reducers/staticContentReducer.js
  services/core-web/common/selectors/noticeOfWorkSelectors.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/src/components/Forms/noticeOfWork/NOWDelayForm.js
  services/core-web/src/components/modalContent/NOWDelayModal.js
  services/core-web/src/components/modalContent/NOWProgressModal.js
  services/core-web/src/components/modalContent/NOWReasonForDelayModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/NOWActionWrapper.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/NOWStatusIndicator.js
  services/core-web/src/components/noticeOfWork/applications/NOWReasonForDelay.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/constants/forms.js
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/actionCreators/noticeOfWorkActioncreator.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SettlingPonds.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/reducers/noticeOfWorkReducer.spec.js
  services/core-web/src/tests/reducers/staticContentReducer.spec.js
  services/minespace-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/minespace-web/common/actions/noticeOfWorkActions.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/reducers/noticeOfWorkReducer.js
  services/minespace-web/common/reducers/staticContentReducer.js
  services/minespace-web/common/selectors/noticeOfWorkSelectors.js
  services/minespace-web/common/selectors/staticContentSelectors.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1534 Mds progress/followup
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
  services/core-web/src/components/noticeOfWork/NOWActionWrapper.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/NOWStatusIndicator.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/styles/components/NoticeOfWork.scss
Labels: 💻 Frontend, 💾 Backend

#1535 MDS-2585 Change NRIS Database Connection to be encrypted
  openshift/docker-images/python-36-oracle/Dockerfile
  openshift/docker-images/python-36-oracle/README.md
  openshift/docker-images/python-36-oracle/sqlnet.ora
  openshift/docker-images/python-36-oracle/test_connection.py
  openshift/templates/document-manager/docman.dc.json
  openshift/templates/nris-api/_python36_oracle.dc.json
  services/nris-api/backend/.gitignore
  services/nris-api/backend/Dockerfile
  services/nris-api/backend/README.md
  services/nris-api/backend/app/config.py
  services/nris-api/backend/app/nris/etl/nris_etl.py
  services/nris-api/backend/requirements.txt
  services/nris-api/backend/sqlnet.ora
  services/nris-api/backend/test_connection.py
Labels: 🏭 CI/CD

#1532 Remove referral/consultation/public comment progress tracking
  migrations/sql/V2020.11.13.11.15__remove_progress_tracking_referral_consultation.sql
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviews.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1533 MDS 3158 Issue A Permit
  migrations/sql/V2020.11.12.11.35__process_permit_updates.sql
  migrations/sql/V2020.11.12.20.44__update_now_progress_status_table.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_application_progress.py
  services/core-api/app/api/now_applications/models/now_application_progress_status.py
  services/core-api/app/api/now_applications/namespace.py
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-api/app/api/now_applications/resources/now_application_status_code_resource.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/tests/mines/permit/resources/test_permit_resource.py
  services/core-api/tests/now_applications/resources/test_now_application_status_code_resource.py
  services/core-api/tests/now_applications/resources/test_now_application_status_resource.py
  services/core-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/src/components/Forms/AddPermitForm.js
  services/core-web/src/components/Forms/PermitAmendmentForm.js
  services/core-web/src/components/Forms/noticeOfWork/IssuePermitForm.js
  services/core-web/src/components/Forms/noticeOfWork/RejectApplicationForm.js
  services/core-web/src/components/Forms/noticeOfWork/WithdrawApplicationForm.js
  services/core-web/src/components/Forms/permits/PermitAmendmentSecurityForm.js
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
  services/core-web/src/components/common/RenderCheckbox.js
  services/core-web/src/components/mine/Permit/MinePermitInfo.js
  services/core-web/src/components/modalContent/IssuePermitModal.js
  services/core-web/src/components/modalContent/RejectApplicationModal.js
  services/core-web/src/components/modalContent/WithdrawApplicationModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/NOWActionWrapper.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/NOWStatusIndicator.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/constants/forms.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/Forms/__snapshots__/PermitAmendmentForm.spec.js.snap
  services/core-web/src/tests/components/Forms/permits/__snapshots__/PermitAmendmentSecurityForm.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWSecurities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/process/ProcessPermit.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/process/__snapshots__/ProcessPermit.spec.js.snap
  services/minespace-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/selectors/staticContentSelectors.js
Labels: 🍋 Sour, 👍 Ready for review, 💻 Frontend, 💾 Backend, 🥃💃🦊 Whisky Tango Foxtrot

#1536 progress/client delay followup
  migrations/sql/V2020.11.16.11.39__add_last_updated_to_now_delay.sql
  services/core-api/app/api/now_applications/models/now_application_delay.py
  services/core-api/app/api/now_applications/models/now_application_progress.py
  services/core-api/app/api/now_applications/resources/now_application_progress_resource.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/tests/now_applications/resources/test_now_application_progress_resource.py
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
  services/core-web/src/components/Forms/permits/conditions/AddCondition.js
  services/core-web/src/components/Forms/permits/conditions/ListItem.js
  services/core-web/src/components/Forms/permits/conditions/Section.js
  services/core-web/src/components/Forms/permits/conditions/SubCondition.js
  services/core-web/src/components/common/NullScreen.js
  services/core-web/src/components/modalContent/NOWProgressModal.js
  services/core-web/src/components/noticeOfWork/NOWActionWrapper.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/NOWProgressStatus.js
  services/core-web/src/components/noticeOfWork/NOWStatusIndicator.js
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviews.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviewsTable.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/verification/AssignLeadInspector.js
  services/core-web/src/constants/styles.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/tests/components/noticeOfWork/__snapshots__/FinalPermitDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWSecurities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/process/__snapshots__/ProcessPermit.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1537 MDS-3074: Accept shape files for NoW file uploads
  services/core-api/app/api/services/document_manager_service.py
  services/core-web/package-lock.json
  services/core-web/package.json
  services/core-web/src/components/Forms/noticeOfWork/EditNoticeOfWorkDocumentForm.js
  services/core-web/src/components/common/FileUpload.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/constants/fileTypes.js
  services/minespace-web/src/components/Forms/reports/ReportSubmissions.js
Labels: 🎫 Ticket closer, 💊 Fix, 💻 Frontend, 💾 Backend, 🚧 WIP

#1541 Bug - remove permit_no character limit
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-web/common/actionCreators/permitActionCreator.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/minespace-web/common/actionCreators/permitActionCreator.js
Labels: 💻 Frontend, 💾 Backend

#1543 MDS-3180 Missed permittee deleted indicator check
  services/core-api/app/api/mines/permits/permit/models/permit.py
Labels: 🐞 Bug, 💾 Backend

#1546 BUG - fixed hide/show buttons based off application status
  services/core-web/src/components/common/wrappers/AuthorizationWrapper.js
  services/core-web/src/components/navigation/NavBar.js
  services/core-web/src/components/noticeOfWork/NOWActionWrapper.js
  services/core-web/src/components/noticeOfWork/NOWProgressStatus.js
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviews.js
  services/core-web/src/tests/components/navigation/__snapshots__/NavBar.spec.js.snap
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#1545 MDS-3113: Allow users to delete documents uploaded to a NoW
  services/core-api/app/api/now_applications/resources/now_application_document_resource.py
  services/core-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/src/components/common/wrappers/AuthorizationWrapper.js
  services/core-web/src/components/navigation/NavBar.js
  services/core-web/src/components/noticeOfWork/NOWActionWrapper.js
  services/core-web/src/components/noticeOfWork/NOWProgressStatus.js
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviews.js
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/tests/actionCreators/noticeOfWorkActioncreator.spec.js
  services/core-web/src/tests/components/navigation/__snapshots__/NavBar.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/verification/__snapshots__/ApplicationStepOne.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/verification/__snapshots__/VerifyApplicationInformationForm.spec.js.snap
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
  services/minespace-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/minespace-web/common/constants/reducerTypes.js
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1530 MDS-3140: Create script for deleting mine_permit_xref records and their associated objects
  services/core-api/sql/delete_mine_permit_xref_record.sql
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 🎫 Ticket closer, 👍 Ready for review, 💾 Backend, 📜 SQL, 🤡 Superfluous Label, 🥃💃🦊 Whisky Tango Foxtrot

#1548 Fix for mine not changing during verify
  services/core-api/app/api/now_applications/resources/now_application_import_resource.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend

#1549 MDS-3167: Update "Total Confiscated" Column On Bond Table
  services/core-web/src/components/mine/Securities/MineBondTable.js
  services/core-web/src/components/mine/Securities/MineReclamationInvoiceTable.js
  services/core-web/src/components/mine/Securities/MineSecurityInfo.js
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineBondTable.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineReclamationInvoiceTable.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineSecurityInfo.spec.js.snap
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend

#1547 Feature/mds 2977 display who edited conditions
  migrations/sql/V2020.11.24.15.39__alter_permit_amendments_part_1.sql
  migrations/sql/V2020.11.25.15.15__alter_permit_amendments_part_2.sql
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_conditions/resources/permit_conditions_resource.py
  services/core-api/app/api/mines/response_models.py
  services/core-web/common/actionCreators/permitActionCreator.js
  services/core-web/src/components/Forms/permits/conditions/AddCondition.js
  services/core-web/src/components/Forms/permits/conditions/Conditions.js
  services/minespace-web/common/actionCreators/permitActionCreator.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1550 MDS-3203/MDS-3182: Create Permit Enclosed Letter and Changes to Acknowledgement Letter
  migrations/sql/V2020.11.25.13.58__add_document_template_for_permit_enclosed_letters.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/document_generation/models/document_template.py
  services/core-api/app/api/now_applications/models/now_application_document_type.py
  services/core-api/app/templates/now/Acknowledgment Letter.docx
  services/core-api/app/templates/now/Permit Enclosed Letter.docx
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 🌶 Enhancement, 🍋 Sour, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL, 🤡 Superfluous Label, 🥃💃🦊 Whisky Tango Foxtrot

#1551 Reject/Withdrawal application with letter
  migrations/sql/V2020.11.25.2.30__add_status_reason_now_application.sql
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-web/src/components/Forms/GenerateDocumentForm.js
  services/core-web/src/components/Forms/noticeOfWork/RejectApplicationForm.js
  services/core-web/src/components/Forms/noticeOfWork/UpdateNOWStatusForm.js
  services/core-web/src/components/Forms/noticeOfWork/WithdrawApplicationForm.js
  services/core-web/src/components/modalContent/GenerateDocumentModal.js
  services/core-web/src/components/modalContent/NOWStatusReasonModal.js
  services/core-web/src/components/modalContent/RejectApplicationModal.js
  services/core-web/src/components/modalContent/UpdateNOWStatusModal.js
  services/core-web/src/components/modalContent/WithdrawApplicationModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/applications/NOWRejectionReason.js
  services/core-web/src/components/noticeOfWork/applications/NOWSideMenu.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/constants/forms.js
  services/core-web/src/customPropTypes/noticeOfWork.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWSideMenu.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/process/__snapshots__/ProcessPermit.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1555 MDS-3210 MDS-3207 MDS-3204 Small Fixes
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/parties/party_appt/models/mine_party_appt.py
  services/core-api/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  services/core-web/src/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewApplicationFeeContent.spec.js.snap
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1557 MDS-3218: Do not allow deletion of permit or permit amendments
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/response_models.py
  services/core-web/src/components/mine/Permit/MinePermitTable.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1554 Issue permit with permit enclosed letter
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-web/src/components/Forms/noticeOfWork/IssuePermitForm.js
  services/core-web/src/components/Forms/parties/EditFullPartyForm.js
  services/core-web/src/components/modalContent/IssuePermitModal.js
  services/core-web/src/components/modalContent/NOWProgressModal.js
  services/core-web/src/components/modalContent/UpdateStatusGenerateLetterModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/tests/components/Forms/parties/__snapshots__/EditFullPartyForm.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend
