Repository bcgov/mds, pull requests merged in 2020-04, with the labels that each got.

#1280 MDS-2763/MDS-2778: Increase Phone Ext. Length/Allow Edit CRR Compliance Year
  migrations/sql/V2020.04.02.11.35__update_phone_extension_length_limit.sql
  services/core-api/app/api/mines/reports/resources/mine_reports.py
  services/core-api/tests/factories.py
  services/core-web/src/components/Forms/incidents/AddIncidentReportingForm.js
  services/core-web/src/components/Forms/parties/AddFullPartyForm.js
  services/core-web/src/components/Forms/parties/AddQuickPartyForm.js
  services/core-web/src/components/Forms/parties/EditFullPartyForm.js
  services/core-web/src/components/Forms/reports/AddReportForm.js
  services/core-web/src/tests/components/Forms/incidents/__snapshots__/AddIncidentReportingForm.spec.js.snap
  services/core-web/src/tests/components/Forms/reports/__snapshots__/AddReportForm.spec.js.snap
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1281 Add Reclamation Invoices on the FE
  services/core-api/app/api/securities/models/reclamation_invoice.py
  services/core-api/app/api/securities/resources/reclamation_invoice.py
  services/core-api/app/api/securities/response_models.py
  services/core-api/app/api/utils/setup_marshmallow.py
  services/core-web/common/actionCreators/securitiesActionCreator.js
  services/core-web/common/actions/securitiesActions.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/reducers/securitiesReducer.js
  services/core-web/common/selectors/securitiesSelectors.js
  services/core-web/src/components/Forms/Securities/ReclamationInvoiceForm.js
  services/core-web/src/components/admin/AdminDashboard.js
  services/core-web/src/components/dashboard/minesHomePage/Dashboard.js
  services/core-web/src/components/mine/Securities/MineReclamationInvoiceTable.js
  services/core-web/src/components/mine/Securities/MineSecurityInfo.js
  services/core-web/src/components/mine/Securities/ReclamationInvoiceTable.js
  services/core-web/src/components/modalContent/AddReclamationInvoiceModal.js
  services/core-web/src/components/modalContent/GenerateDocumentModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/parties/PartyProfile.js
  services/core-web/src/components/parties/RelationshipProfile.js
  services/core-web/src/constants/forms.js
  services/core-web/src/customPropTypes/securities.js
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/actionCreators/securitiesActionCreator.spec.js
  services/core-web/src/tests/components/Forms/Securities/ReclamationInvoiceForm.spec.js
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/ReclamationInvoiceForm.spec.js.snap
  services/core-web/src/tests/components/admin/__snapshots__/AdminDashboard.spec.js.snap
  services/core-web/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/MineReclamationInvoiceTable.spec.js
  services/core-web/src/tests/components/mine/Securities/MineSecurityInfo.spec.js
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineReclamationInvoiceTable.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineSecurityInfo.spec.js.snap
  services/core-web/src/tests/components/modalContent/AddReclamationInvoiceModal.spec.js
  services/core-web/src/tests/components/modalContent/__snapshots__/AddReclamationInvoiceModal.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/reducers/securitiesReducer.spec.js
  services/core-web/src/tests/selectors/securitiesSelectors.spec.js
  services/minespace-web/common/actionCreators/securitiesActionCreator.js
  services/minespace-web/common/actions/securitiesActions.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/reducers/securitiesReducer.js
  services/minespace-web/common/selectors/securitiesSelectors.js
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1279 MDS-2776: Edit NoW Application Status
  migrations/sql/V2020.04.01.10.33__add_now_statuses.sql
  migrations/sql/V2020.04.01.14.58__update_notice_of_work_view.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/now_applications/models/now_application_status.py
  services/core-api/app/api/now_applications/resources/now_application_list_resource.py
  services/core-api/tests/now_submission_factories.py
  services/core-api/tests/now_submissions/resources/test_application_nda_list_resource.py
  services/core-api/tests/status_code_gen.py
  services/core-web/src/components/Forms/noticeOfWork/UpdateNOWStatusForm.js
  services/core-web/src/components/modalContent/UpdateNOWStatusModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkPageHeader.js
  services/core-web/src/components/noticeOfWork/applications/ViewNoticeOfWorkApplication.js
  services/core-web/src/constants/forms.js
  services/core-web/src/constants/theme.js
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1283 fixes for VFCBC.
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/app/api/utils/setup_marshmallow.py
Labels: 💊 Fix, 💾 Backend

#1282 MDS-2761/MDS-2762: New vFCBC and NROS Integration Endpoints
  migrations/sql/V2020.04.03.10.20__add_status_changed_date_column_to_now_application.sql
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_application_identity.py
  services/core-api/app/api/now_applications/models/now_application_status.py
  services/core-api/app/api/now_applications/resources/now_application_list_resource.py
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_submissions/namespace.py
  services/core-api/app/api/now_submissions/resources/application_status_resource.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-api/tests/now_application_factories.py
  services/core-api/tests/now_applications/resources/test_now_application_list_resource.py
  services/core-api/tests/now_submissions/resources/test_application_status_resource.py
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL, 🤡 Superfluous Label

#1286 Fix status in transmogrify and factories
  migrations/sql/R__view_notice_of_work.sql
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/tests/now_submission_factories.py
  services/core-web/src/constants/theme.js
Labels: 💻 Frontend, 💾 Backend

#1287 fixes for the default value of status date updated.
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/resources/now_application_list_resource.py
  services/core-api/tests/now_application_factories.py
Labels: 💾 Backend

#1275 Mds 2743 Exemption Fee Status
  migrations/sql/R__stored_procedure_for_mine_information.sql
  migrations/sql/V2020.03.26.13.11__create_exemption_fee_status_code.sql
  migrations/sql/V2020.04.01.11.12__update_mine_etl_for_fee_status.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/exports/static_content/resources/core_static_content_resource.py
  services/core-api/app/api/mines/mine/models/__init__.py
  services/core-api/app/api/mines/mine/models/excemption_fee_status.py
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/mine/resources/mine.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/tests/factories.py
  services/core-api/tests/status_code_gen.py
  services/core-web/common/reducers/staticContentReducer.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/src/components/Forms/MineRecordForm.js
  services/core-web/src/components/mine/MineHeader.js
  services/core-web/src/tests/components/Forms/__snapshots__/MineRecordForm.spec.js.snap
  services/core-web/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/reducers/staticContentReducer.spec.js
  services/minespace-web/common/reducers/staticContentReducer.js
  services/minespace-web/common/selectors/staticContentSelectors.js
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL, 🛑 DO NOT MERGE

#1285 Adding Alerts to Reclamation Invoice
  services/core-web/src/components/Forms/Securities/BondForm.js
  services/core-web/src/components/Forms/Securities/ReclamationInvoiceForm.js
  services/core-web/src/components/common/PartySelectField.js
  services/core-web/src/components/common/RenderLargeSelect.js
  services/core-web/src/components/common/RenderMineSelect.js
  services/core-web/src/components/common/wrappers/ModalWrapper.js
  services/core-web/src/components/mine/Securities/MineBondTable.js
  services/core-web/src/components/mine/Securities/MineReclamationInvoiceTable.js
  services/core-web/src/components/mine/Securities/MineSecurityInfo.js
  services/core-web/src/components/modalContent/AddBondModal.js
  services/core-web/src/components/modalContent/AddReclamationInvoiceModal.js
  services/core-web/src/components/modalContent/GenerateDocumentModal.js
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/BondForm.spec.js.snap
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/ReclamationInvoiceForm.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/PartySelectField.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/RenderLargeSelect.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineBondTable.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineSecurityInfo.spec.js.snap
  services/core-web/src/tests/components/modalContent/AddReclamationInvoiceModal.spec.js
  services/core-web/src/tests/components/modalContent/__snapshots__/AddBondModal.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/AddReclamationInvoiceModal.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1277 Feature/now number on verify permit endpoints
  migrations/Dockerfile
  migrations/sql/V2020.03.31.12.38__permit_amendment_now_fk.sql
  openshift/pipeline/config-dev.groovy
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/response_models.py
  services/core-api/app/api/now_applications/models/now_application_identity.py
  services/core-api/app/api/verify/permit/mine/resources/verify_permit_mine_resource.py
  services/core-api/app/api/verify/permit/now/resources/verify_permit_now_resource.py
  services/core-api/tests/verify/resources/test_verify_permit_now.py
  services/core-web/src/components/mine/MineHeader.js
  tasks/now-etls/create_now_identities.py
Labels: 🎫 Ticket closer, 🏭 CI/CD, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1291 fixed an issue with the status of a NoW_submission from NROS and VFCBC not Working
  services/core-api/app/api/constants.py
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
Labels: 💾 Backend

#1292 Changed Alert to be a warning,
  services/core-web/src/components/mine/MineNavigation.js
  services/core-web/src/components/mine/Securities/MineBondTable.js
  services/core-web/src/components/modalContent/AddReclamationInvoiceModal.js
  services/core-web/src/tests/components/modalContent/__snapshots__/AddReclamationInvoiceModal.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1290 MDS-2696 basic permit generation
  migrations/sql/afterMigrate__1__seed_data.sql
  openshift/pipeline/config-dev.groovy
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/templates/permit/New_Permit_Template.docx
  services/core-api/app/templates/permit/Permit_Amendment_template.docx
  services/core-api/tests/now_submission_factories.py
  services/core-web/src/components/Forms/GeneratePermitForm.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/constants/forms.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NoticeOfWorkApplication.spec.js.snap
  services/docgen-api/index.js
  services/minespace-web/src/components/Forms/variances/AddVarianceForm.js
Labels: 🏭 CI/CD, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1284 Feature/bcgovimage docgen
  docker-compose.yml
  openshift/docker-images/docgen/Dockerfile
  openshift/docker-images/docgen/bindPython.sh
  openshift/docker-images/docgen/package.json
  openshift/docker-images/docgen/python
  openshift/docker-images/docgen/yarn.lock
  openshift/pipeline/config-build.groovy
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  openshift/templates/docgen/docgen.bc.json
  openshift/templates/docgen/docgen.dc.json
  services/core-api/app/api/document_generation/resources/now_document.py
  services/core-api/app/api/services/document_generator_service.py
  services/core-api/tests/services/test_document_generation_service.py
  services/docgen-api/.dockerignore
  services/docgen-api/.s2i/bin/assemble
  services/docgen-api/.s2i/bin/run
  services/docgen-api/Dockerfile
  services/docgen-api/README.md
  services/docgen-api/index.js
  services/docgen-api/package.json
  services/docgen-api/yarn.lock
Labels: 🍋 Sour, 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#1295 test config hits common components docgen.
  openshift/pipeline/src/groovy/UnitTest.groovy
Labels: 🏭 CI/CD

#1296 Missed adding Version parameter to test and prod templates
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

#1293 Fix fee exemption ETL
  migrations/sql/R__stored_procedure_for_mine_information.sql
Labels: 📜 SQL

#1297 MDS-2722: Document Generation Improvements
  migrations/sql/V2020.04.08.10.14__create_regional_contacts.sql
  migrations/sql/V2020.04.08.11.51__rename_generated_document.sql
  migrations/sql/V2020.04.08.15.06__add_new_fields_to_now_document_templates.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/region/models/region.py
  services/core-api/app/api/mines/region/models/regional_contact.py
  services/core-api/app/api/mines/region/models/regional_contact_type.py
  services/core-api/app/api/mines/region/resources/region.py
  services/core-api/app/templates/now/Acknowledgment Letter Template (NoW).docx
  services/core-api/app/templates/now/Client Acknowledgment Letter Template (NoW).docx
  services/core-api/app/templates/now/Rejection Letter Template (NoW).docx
  services/core-api/app/templates/now/Withdrawal Letter Template (NoW).docx
  services/core-web/src/components/Forms/GeneratePermitForm.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/constants/forms.js
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL, 🤡 Superfluous Label

#1298 Fix/mds 2799 multi post on importing no w submissions
  services/core-api/app/api/now_applications/resources/now_application_import_resource.py
  services/core-api/app/templates/permit/Permit_Amendment_Template.docx
  services/core-web/src/components/Forms/noticeOfWork/ChangeNOWLocationForm.js
  services/core-web/src/tests/components/Forms/noticeOfWork/__snapshots__/ChangeNOWLocationForm.spec.js.snap
Labels: 💊 Fix, 💻 Frontend, 💾 Backend

#1302 Docgen: Consolidate deployment names across envs
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

#1299 Fix incorrect phone number value for SW Regional Office contact
  migrations/sql/V2020.04.09.16.40__fix_regional_contact_value.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/templates/now/Acknowledgment Letter Template (NoW).docx
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 🍋 Sour, 👍 Ready for review, 💾 Backend, 📜 SQL, 🤡 Superfluous Label

#1303 MDS-2780: CRR Fixes and Improvements (Core and MineSpace)
  services/core-api/app/api/utils/setup_marshmallow.py
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/common/utils/Validate.js
  services/core-web/src/components/Forms/reports/AddReportForm.js
  services/core-web/src/components/mine/Permit/PermitAmendmentUploadedFilesList.js
  services/core-web/src/components/mine/Reports/MineReportTable.js
  services/core-web/src/tests/components/Forms/reports/__snapshots__/AddReportForm.spec.js.snap
  services/core-web/src/tests/components/mine/Reports/__snapshots__/MineReportTable.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/selectors/staticContentSelectors.spec.js
  services/minespace-web/common/selectors/staticContentSelectors.js
  services/minespace-web/common/utils/Validate.js
  services/minespace-web/src/components/Forms/reports/AddReportForm.js
  services/minespace-web/src/components/Forms/reports/EditReportForm.js
  services/minespace-web/src/components/Forms/reports/ReportSubmissions.js
  services/minespace-web/src/components/common/FileUpload.js
  services/minespace-web/src/components/common/RenderYear.js
  services/minespace-web/src/components/dashboard/mine/reports/Reports.js
  services/minespace-web/src/components/dashboard/mine/reports/ReportsTable.js
  services/minespace-web/src/selectors/reportSelectors.js
  services/minespace-web/src/selectors/staticContentSelectors.js
  services/minespace-web/src/tests/components/dashboard/mine/reports/__snapshots__/Reports.spec.js.snap
  services/minespace-web/src/utils/Validate.js
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1300 View final Document package
  services/core-web/.eslintrc.js
  services/core-web/src/components/modalContent/DownloadDocumentPackageModal.js
  services/core-web/src/components/modalContent/EditFinalPermitDocumentPackage.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/decision/NOWApplicationDecision.js
  services/core-web/src/customPropTypes/documents.js
  services/core-web/src/tests/components/modalContent/EditFinalPermitDocumentPackage.spec.js
  services/core-web/src/tests/components/modalContent/__snapshots__/EditFinalPermitDocumentPackage.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/FinalPermitDocuments.spec.js
  services/core-web/src/tests/components/noticeOfWork/__snapshots__/FinalPermitDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/decision/NOWApplicationDecision.spec.js
  services/core-web/src/tests/components/noticeOfWork/decision/__snapshots__/NOWApplicationDecision.spec.js.snap
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
Labels: 👍 Ready for review, 💻 Frontend

#1304 MDS-2807: Update NoW Submissions POST Endpoint
  services/core-api/app/api/now_applications/models/now_application_identity.py
  services/core-api/app/api/now_submissions/resources/application_list_resource.py
  services/core-api/tests/now_application_factories.py
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
Labels: 👍 Ready for review, 💾 Backend

#1305 MDS-2800/MDS-2785: Handle Currency Felds in Document Generation/Bond Edit Form Payer Field Bug
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/templates/now/Acknowledgment Letter Template (NoW).docx
  services/core-web/src/components/Forms/GenerateDocumentForm.js
  services/core-web/src/components/common/GenerateDocumentFormField.js
  services/core-web/src/components/common/PartySelectField.js
  services/core-web/src/customPropTypes/documents.js
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL, 🤡 Superfluous Label

#1308 MDS-2807 (revisited): Update NoW Submissions Post Endpoint
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/app/api/now_submissions/resources/application_list_resource.py
  services/core-api/app/api/now_submissions/resources/application_status_resource.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
Labels: 🎫 Ticket closer, 👍 Ready for review, 💾 Backend

#1309 Expose variance search
  services/core-api/app/api/incidents/resources/incidents_resource.py
  services/core-api/app/api/variances/resources/variance_resource.py
  services/core-api/tests/incidents/resources/test_incidents_resource.py
  services/core-api/tests/variances/resources/test_variance_resource.py
  services/core-web/common/constants/API.js
  services/core-web/src/components/Forms/incidents/IncidentSearchForm.js
  services/core-web/src/components/Forms/variances/VarianceSearchForm.js
  services/core-web/src/components/dashboard/customHomePage/VarianceTable.js
  services/core-web/src/components/dashboard/incidentsHomePage/IncidentsHomePage.js
  services/core-web/src/components/dashboard/incidentsHomePage/IncidentsSearch.js
  services/core-web/src/components/dashboard/varianceHomePage/VarianceHomePage.js
  services/core-web/src/components/dashboard/varianceHomePage/VarianceSearch.js
  services/core-web/src/components/mine/Incidents/MineIncidentTable.js
  services/core-web/src/components/mine/Securities/MineBondTable.js
  services/core-web/src/components/mine/Variances/MineVarianceTable.js
  services/core-web/src/tests/components/dashboard/varianceHomePage/VarianceHomePage.spec.js
  services/core-web/src/tests/components/dashboard/varianceHomePage/__snapshots__/VarianceHomePage.spec.js.snap
  services/minespace-web/common/constants/API.js
Labels: ⛏ Needs manual testing, 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1311 MDS-2777: Fix Null Received Date for CRRs Uploaded by BCeID Users
  migrations/sql/V2020.04.21.12.54__set_received_date_for_bceid_uploaded_crrs.sql
Labels: 🎫 Ticket closer, 👍 Ready for review, 📜 SQL

#1310 NROS and VFCBC get status by NoW Number
  services/core-api/app/api/now_applications/models/now_application_identity.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_submissions/namespace.py
  services/core-api/app/api/now_submissions/resources/application_status_resource.py
  services/core-api/tests/now_submissions/resources/test_application_status_resource.py
Labels: 💾 Backend

#1313 MDS-2779: Fix Compliance Year for "First TSF-Generated" CRRs
  services/core-api/app/api/mines/tailings/resources/tailings.py
  services/core-api/tests/mines/tailings/resources/test_mine_tailings_resource.py
Labels: 🎫 Ticket closer, 👍 Ready for review, 💾 Backend

#1312 add unique constraints.
  migrations/sql/V2020.04.21.11.00__now_application_identity_unique.sql
Labels: 👍 Ready for review, 💊 Fix, 📜 SQL

#1315 MDS-2728: Add a "Source" Column to NoW Table Views
  services/core-api/app/api/now_applications/resources/now_application_list_resource.py
  services/core-api/tests/now_submission_factories.py
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  services/core-web/src/components/mine/MineNavigation.js
  services/core-web/src/components/mine/NoticeOfWork/MineNOWApplications.js
  services/core-web/src/components/mine/NoticeOfWork/MineNoticeOfWorkTable.js
  services/core-web/src/tests/components/mine/NoticeOfWork/MineNOWApplications.spec.js
  services/core-web/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNOWApplications.spec.js.snap
  services/core-web/src/tests/components/mine/NoticeOfWork/__snapshots__/MineNoticeOfWorkTable.spec.js.snap
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1316 Fix broken tailings upload document GrOoVy test
  tests/functional-tests/src/test/groovy/FrontendCore/modules/Tab_Tailings.groovy
  tests/functional-tests/src/test/groovy/FrontendCore/spec/Tailings.groovy
Labels: 👍 Ready for review, 💊 Fix

#1320 Return now_number vs tracking number for verify/permit/now
  services/core-api/app/api/verify/permit/now/resources/verify_permit_now_resource.py
  services/core-api/tests/verify/resources/test_verify_permit_now.py
Labels: 💾 Backend

#1321 mms now don't have status, give them SUB
  services/core-api/app/api/now_applications/transmogrify_now.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend

#1317 Ability to add comments on a mine records
  migrations/sql/V2020.04.27.11.46__create_mine_comment.sql
  services/core-api/app/api/mines/comments/models/mine_comment.py
  services/core-api/app/api/mines/comments/resources/mine_comment.py
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/namespace.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/factories.py
  services/core-api/tests/mines/comments/resources/test_mine_comment_resource.py
  services/core-web/common/actionCreators/mineActionCreator.js
  services/core-web/common/actions/mineActions.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/reducers/mineReducer.js
  services/core-web/common/reducers/reportReducer.js
  services/core-web/common/selectors/mineSelectors.js
  services/core-web/src/components/Forms/reports/ReportComments.js
  services/core-web/src/components/Forms/reports/ReportHistorySubmissionSummary.js
  services/core-web/src/components/common/comments/Comment.js
  services/core-web/src/components/common/comments/CommentPanel.js
  services/core-web/src/components/mine/MineComments.js
  services/core-web/src/components/mine/MineDashboard.js
  services/core-web/src/customPropTypes/mines.js
  services/core-web/src/styles/components/Modal.scss
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/actionCreators/mineActionCreator.spec.js
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/reducers/mineReducer.spec.js
  services/core-web/src/tests/reducers/reportReducer.spec.js
  services/core-web/src/tests/selectors/mineSelectors.spec.js
  services/core-web/src/tests/selectors/reportSelectors.spec.js
  services/minespace-web/common/actionCreators/mineActionCreator.js
  services/minespace-web/common/actions/mineActions.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/reducers/mineReducer.js
  services/minespace-web/common/reducers/reportReducer.js
  services/minespace-web/common/selectors/mineSelectors.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1322 Fix bugs in Provincial NoW searching, sorting, and filtering
  services/core-web/src/components/Forms/noticeOfWork/NoticeOfWorkSearchForm.js
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkSearch.js
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  services/core-web/src/constants/routes.js
  services/core-web/src/tests/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.spec.js
  services/core-web/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkHomePage.spec.js.snap
  services/core-web/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkSearch.spec.js.snap
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#1325 Bug- Cannot read security total of undeifned.
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/mine/Securities/MineBondTable.js
  services/minespace-web/common/utils/helpers.js
Labels: 💻 Frontend
