Repository bcgov/mds, pull requests merged in 2020-03, with the labels that each got.

#1225 MDS-2667: Matching Filepond settings to document manager max size.
  services/core-web/src/components/common/FileUpload.js
  services/minespace-web/src/components/common/FileUpload.js
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#1223 Allow users to Add and Remove activities on a NOW
  services/core-api/app/api/utils/models_mixins.py
  services/core-web/.eslintrc.js
  services/core-web/src/HOC/AuthenticationGuard.js
  services/core-web/src/components/Forms/MineRecordForm.js
  services/core-web/src/components/Forms/parties/AddRolesForm.js
  services/core-web/src/components/admin/MinespaceUserList.js
  services/core-web/src/components/common/DocumentTable.js
  services/core-web/src/components/common/NullScreen.js
  services/core-web/src/components/common/wrappers/ScrollContentWrapper.js
  services/core-web/src/components/dashboard/contactsHomePage/ContactHomePage.js
  services/core-web/src/components/dashboard/customHomePage/SubscriptionTable.js
  services/core-web/src/components/mine/Compliance/MineComplianceInfo.js
  services/core-web/src/components/mine/Reports/MineReportActions.js
  services/core-web/src/components/mine/Reports/MineReportTable.js
  services/core-web/src/components/mine/Variances/MineVariance.js
  services/core-web/src/components/noticeOfWork/applications/NOWSideMenu.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/ScrollContentWrapper.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviewsTable.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewActivities.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Blasting.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Camps.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/CutLines.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/MechanicalTrenching.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Placer.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceDrilling.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/WaterSupply.js
  services/core-web/src/constants/API.js
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWSideMenu.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewActivities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Blasting.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Camps.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/CutLines.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/MechanicalTrenching.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Placer.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SandGravelQuarry.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SettlingPonds.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceBulkSamples.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceDrilling.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/WaterSupply.spec.js.snap
  services/minespace-web/package-lock.json
  services/minespace-web/src/actionCreators/authenticationActionCreator.js
Labels: 💻 Frontend, 💾 Backend

#1226 Feature/mds 2652 generate documents with context
  migrations/sql/V2020.02.25.14.29__document_object_traversal_data.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/__init__.py
  services/core-api/app/api/document_generation/models/document_template.py
  services/core-api/app/api/now_applications/models/now_application_document_type.py
  services/core-api/app/api/now_applications/namespace.py
  services/core-api/app/api/now_applications/resources/now_application_document_resource.py
  services/core-api/app/api/now_applications/resources/now_application_document_type_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/services/document_generator_service.py
  services/core-api/app/config.py
  services/core-api/app/templates/now/Withdrawal Letter Template (NoW).docx
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/now_applications/resources/test_now_application_document_type_resource.py
  services/core-api/tests/services/test_document_generation_service.py
  services/core-web/src/HOC/AuthenticationGuard.js
  services/core-web/src/actionCreators/documentActionCreator.js
  services/core-web/src/actions/documentActions.js
  services/core-web/src/components/Forms/GenerateDocumentForm.js
  services/core-web/src/components/dashboard/contactsHomePage/ContactHomePage.js
  services/core-web/src/components/mine/Compliance/MineComplianceInfo.js
  services/core-web/src/components/mine/Variances/MineVariance.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/ScrollContentWrapper.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewActivities.js
  services/core-web/src/constants/API.js
  services/core-web/src/constants/actionTypes.js
  services/core-web/src/constants/reducerTypes.js
  services/core-web/src/reducers/documentReducer.js
  services/core-web/src/reducers/rootReducer.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1228 deploy in test/prod
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

#1229 Bug/deleting activities
  services/core-api/app/api/now_applications/models/activity_detail/activity_detail_base.py
  services/core-api/app/api/now_applications/models/activity_detail/placer_operation_detail.py
Labels: 💾 Backend

#1230 pod specs for docgen
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

#1227 MDS-2654: Update "submissions_only" flag logic/NoW View
  migrations/sql/V2020.03.02.10.34__update_notice_of_work_view.sql
  services/core-api/app/api/now_applications/resources/now_application_list_resource.py
  services/core-web/src/components/common/RenderAutoComplete.js
  services/core-web/src/components/mine/MineNavigation.js
  services/core-web/src/components/mine/NoticeOfWork/MineNOWApplications.js
  services/core-web/src/tests/components/common/__snapshots__/RenderAutoComplete.spec.js.snap
Labels: 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1231 MDS-2669: MineSpace and Core CRR Create/Edit/View Issues
  services/core-web/src/components/Forms/reports/ReportHistorySubmissionSummary.js
  services/minespace-web/src/components/Forms/reports/AddReportForm.js
  services/minespace-web/src/components/Forms/reports/EditReportForm.js
  services/minespace-web/src/components/Forms/reports/ReportSubmissions.js
  services/minespace-web/src/components/Forms/reports/ReportsUploadedFilesList.js
  services/minespace-web/src/components/dashboard/mine/overview/Overview.js
  services/minespace-web/src/components/dashboard/mine/reports/Reports.js
  services/minespace-web/src/components/dashboard/mine/reports/ReportsTable.js
  services/minespace-web/src/components/modalContent/reports/EditReportModal.js
Labels: 🍋 Sour, 🎫 Ticket closer, 👍 Ready for review, 💊 Fix, 💻 Frontend

#1232 bug/MDS-2653 escape file names.
  services/core-api/app/api/compliance/resources/compliance_document_resource.py
  services/core-api/app/api/services/nris_download_service.py
  services/core-api/app/api/services/nros_download_service.py
  services/core-api/app/api/services/vfcbc_download_service.py
  services/core-web/common/constants/API.js
  services/minespace-web/common/constants/API.js
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1233 Bug/view minespace from core
  services/core-web/src/constants/routes.js
  services/minespace-web/src/HOC/AuthenticationGuard.js
  services/minespace-web/src/actionCreators/authenticationActionCreator.js
  services/minespace-web/src/components/pages/ReturnPage.js
  services/minespace-web/src/constants/environment.js
  services/minespace-web/src/tests/HOC/__snapshots__/authenticationGuard.spec.js.snap
  services/minespace-web/src/tests/HOC/authenticationGuard.spec.js
  services/minespace-web/src/tests/actionCreators/authenticationActionCreator.spec.js
Labels: 💻 Frontend

#1236 expose 'View MineSpace' link to users in prod
  services/core-web/src/components/mine/MineDashboard.js
  services/core-web/src/components/mine/NoticeOfWork/MineNOWApplications.js
Labels: 💻 Frontend

#1239 Fix/apm logging level
  services/core-api/.env-example
  services/core-api/app/__init__.py
  services/core-api/app/config.py
Labels: 💾 Backend

#1238 fix/ mine_report_definition-duplicate fix.
  migrations/sql/V2020.03.05.12.47__mine_report_definition_unique_report_name_clean_up.sql
  migrations/sql/V2020.03.05.13.27__mine_report_definition_unique_report_name_constraint.sql
  migrations/sql/afterMigrate__1__seed_data.sql
Labels: 👍 Ready for review, 📜 SQL

#1242 Spike/mms-data-validation
  migrations/sql/V2020.03.10.16.05__now_application_identity_cleanup.sql
  tasks/now-etls/create_now_identities.py
Labels: 👍 Ready for review, 💊 Fix, 📜 SQL

#1234 Feature/mds 2656 application and nda post
  migrations/sql/V2020.03.05.13.08__update_now_submissions_application_nda.sql
  services/core-api/app/__init__.py
  services/core-api/app/api/constants.py
  services/core-api/app/api/now_applications/models/__init__.py
  services/core-api/app/api/now_applications/models/activity_detail/activity_detail_base.py
  services/core-api/app/api/now_applications/models/now_application_identity.py
  services/core-api/app/api/now_applications/namespace.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/now_submissions/models/__init__.py
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/app/api/now_submissions/models/application_nda.py
  services/core-api/app/api/now_submissions/models/client.py
  services/core-api/app/api/now_submissions/models/contact.py
  services/core-api/app/api/now_submissions/models/document.py
  services/core-api/app/api/now_submissions/models/document_nda.py
  services/core-api/app/api/now_submissions/models/document_start_stop.py
  services/core-api/app/api/now_submissions/models/equipment.py
  services/core-api/app/api/now_submissions/models/exp_access_activity.py
  services/core-api/app/api/now_submissions/models/exp_surface_drill_activity.py
  services/core-api/app/api/now_submissions/models/mech_trenching_activity.py
  services/core-api/app/api/now_submissions/models/placer_activity.py
  services/core-api/app/api/now_submissions/models/sand_grv_qry_activity.py
  services/core-api/app/api/now_submissions/models/status_update.py
  services/core-api/app/api/now_submissions/models/surface_bulk_sample_activity.py
  services/core-api/app/api/now_submissions/models/surface_bulk_sample_equip_xref.py
  services/core-api/app/api/now_submissions/models/under_exp_new_activity.py
  services/core-api/app/api/now_submissions/models/under_exp_rehab_activity.py
  services/core-api/app/api/now_submissions/models/under_exp_surface_activity.py
  services/core-api/app/api/now_submissions/models/water_source_activity.py
  services/core-api/app/api/now_submissions/namespace.py
  services/core-api/app/api/now_submissions/resources/application_list_resource.py
  services/core-api/app/api/now_submissions/resources/application_nda_list_resource.py
  services/core-api/app/api/now_submissions/resources/application_nda_resource.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-api/app/api/utils/access_decorators.py
  services/core-api/app/api/utils/field_template.py
  services/core-api/app/api/utils/models_mixins.py
  services/core-api/app/api/utils/setup_marshmallow.py
  services/core-api/app/api/utils/static_data.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/conftest.py
  services/core-api/tests/constants.py
  services/core-api/tests/now_submission_factories.py
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
  services/core-api/tests/now_submissions/resources/test_application_nda_list_resource.py
Labels: 👍 Ready for review, 💾 Backend, 📜 SQL

#1245 Provisioning additional database resources and adding new readiness check
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  openshift/templates/postgresql.dc.json
Labels: 🏭 CI/CD, 👍 Ready for review, 💊 Fix

#1251 Bond factories
  migrations/sql/V2020.03.12.08.33__create_bond_structure.sql
  services/core-api/app/api/securities/models/bond_permit_xref.py
  services/core-api/app/api/securities/models/bond_status.py
  services/core-api/app/api/securities/models/bond_type.py
  services/core-api/tests/factories.py
  services/core-api/tests/status_code_gen.py
Labels: 🎫 Ticket closer, 👍 Ready for review, 💾 Backend

#1240 Remove NOW Activities from UI that never apply to the NOW Type
  services/core-api/app/api/now_applications/response_models.py
  services/core-web/src/components/common/NullScreen.js
  services/core-web/src/components/noticeOfWork/applications/NOWSideMenu.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/ScrollContentWrapper.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewActivities.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/styles/settings/variables.scss
  services/core-web/src/tests/components/noticeOfWork/applications/NOWSideMenu.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWSideMenu.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend, 🤡 Superfluous Label

#1243 Fix/Mine table shows "false" for mines with no mine types/details that have no commodity code
  services/core-web/src/components/dashboard/minesHomePage/MineList.js
  services/core-web/src/tests/actionCreators/mineActionCreator.spec.js
  services/core-web/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  services/core-web/src/tests/components/dashboard/minesHomePage/__snapshots__/MineList.spec.js.snap
  services/core-web/src/tests/components/mine/ContactInfo/__snapshots__/MineContactInfo.spec.js.snap
  services/core-web/src/tests/components/mine/Summary/__snapshots__/MineSummary.spec.js.snap
  services/core-web/src/tests/components/mine/Variances/__snapshots__/MineVariance.spec.js.snap
  services/core-web/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/stepOne/__snapshots__/MajorMinePermitApplicationCreate.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#1248 Feature/mds 2665 create bond data structure
  migrations/sql/V2020.03.12.08.33__create_bond_structure.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/securities/models/__init__.py
  services/core-api/app/api/securities/models/bond.py
  services/core-api/app/api/securities/models/bond_permit_xref.py
  services/core-api/app/api/securities/models/bond_status.py
  services/core-api/app/api/securities/models/bond_type.py
  services/core-api/app/api/utils/setup_marshmallow.py
  services/core-api/tests/factories.py
  services/core-api/tests/status_code_gen.py
Labels: 👍 Ready for review, 💾 Backend, 📜 SQL

#1244 MDS-2526: Provide NoW Securities Info
  migrations/sql/V2020.03.12.11.35__add_ddl_for_securities.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/response_models.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/utils/models_mixins.py
  services/core-api/tests/now_application_factories.py
  services/core-api/tests/utils/test_base_model.py
  services/core-web/common/utils/Validate.js
  services/core-web/common/utils/helpers.js
  services/core-web/package-lock.json
  services/core-web/package.json
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWSideMenu.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/minespace-web/common/utils/Validate.js
  services/minespace-web/common/utils/helpers.js
  services/minespace-web/package-lock.json
  services/minespace-web/package.json
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend, 🤡 Superfluous Label

#1256 Update metabase readiness checks
  openshift/templates/tools/metabase.dc.json
Labels: 🏭 CI/CD

#1246 Force Validations on NoW edit
  services/core-web/common/utils/Validate.js
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/Forms/reports/ReportFilterForm.js
  services/core-web/src/components/common/CoreTable.js
  services/core-web/src/components/common/RenderDate.js
  services/core-web/src/components/dashboard/minesHomePage/Dashboard.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Blasting.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Camps.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/UndergroundExploration.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NoticeOfWorkApplication.spec.js.snap
  services/minespace-web/common/utils/Validate.js
  services/minespace-web/common/utils/helpers.js
Labels: 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend

#1249 Create a reusable component for the NoW "field origin" tooltip
  services/core-web/src/components/common/CoreTooltip.js
  services/core-web/src/components/modalContent/DownloadDocumentPackageModal.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Placer.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/UndergroundExploration.js
  services/core-web/src/tests/components/modalContent/__snapshots__/DownloadDocumentPackageModal.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Placer.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SettlingPonds.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceBulkSamples.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/UndergroundExploration.spec.js.snap
Labels: 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend

#1259 Fix to remove NOW menu from referral tab/decision tab
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/ViewNoticeOfWorkApplication.js
Labels: 🐞 Bug, 👍 Ready for review, 💊 Fix, 💻 Frontend

#1260 Fix/mine party appt type static content
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/exports/static_content/resources/core_static_content_resource.py
  services/core-web/common/actions/partyActions.js
  services/core-web/common/reducers/partiesReducer.js
  services/core-web/common/reducers/staticContentReducer.js
  services/core-web/common/selectors/partiesSelectors.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/src/components/dashboard/contactsHomePage/ContactHomePage.js
  services/core-web/src/components/mine/ContactInfo/ViewPartyRelationships.js
  services/core-web/src/components/mine/Summary/MineSummary.js
  services/core-web/src/components/parties/PartyProfile.js
  services/core-web/src/components/parties/RelationshipProfile.js
  services/core-web/src/components/search/SearchResults.js
  services/minespace-web/common/actions/partyActions.js
  services/minespace-web/common/reducers/partiesReducer.js
  services/minespace-web/common/reducers/staticContentReducer.js
  services/minespace-web/common/selectors/partiesSelectors.js
  services/minespace-web/common/selectors/staticContentSelectors.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1261 MDS-2657 Verify Permit Integration API
  services/core-api/app/__init__.py
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/verify/namespace.py
  services/core-api/app/api/verify/permit/mine/resources/verify_permit_mine_resource.py
  services/core-api/app/api/verify/permit/now/resources/verify_permit_now_resource.py
  services/core-api/app/api/verify/permit/readme.md
  services/core-api/requirements.txt
  services/core-api/tests/factories.py
  services/core-api/tests/status_code_gen.py
  services/core-api/tests/verify/resources/test_verify_permit_mine.py
  services/core-api/tests/verify/resources/test_verify_permit_now.py
  services/digdag/etl/reporting-database-restore.dig
  services/document-manager/backend/app/__init__.py
  services/document-manager/backend/app/config.py
  services/nris-api/backend/app/__init__.py
  services/nris-api/backend/app/config.py
Labels: 🍋 Sour, 🎫 Ticket closer, 👍 Ready for review, 💾 Backend

#1258 MDS-2566: Attach Generated NoW Documents to NoW
  services/core-api/app/api/document_generation/resources/now_document.py
  services/core-api/app/api/now_applications/resources/now_application_document_type_resource.py
  services/core-api/app/api/services/document_generator_service.py
  services/core-api/app/api/services/document_manager_service.py
  services/core-api/requirements.txt
  services/core-web/src/actionCreators/documentActionCreator.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/document-manager/backend/.env-example
  services/document-manager/backend/app/__init__.py
  services/document-manager/backend/app/compliance/resources/compliance_document_resource.py
  services/document-manager/backend/app/config.py
  services/document-manager/backend/app/docman/resources/document.py
  services/document-manager/backend/app/services/nris_download_service.py
  services/document-manager/backend/app/utils/resources_mixins.py
Labels: 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1257 Mds 2665 post and get for bonds
  migrations/sql/V2020.03.17.16.19__update_bond_structure.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/__init__.py
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/exports/static_content/resources/core_static_content_resource.py
  services/core-api/app/api/securities/models/bond.py
  services/core-api/app/api/securities/namespace.py
  services/core-api/app/api/securities/resources/bond.py
  services/core-api/app/api/securities/resources/bond_status.py
  services/core-api/app/api/securities/resources/bond_type.py
  services/core-api/app/api/securities/response_models.py
  services/core-api/app/api/utils/access_decorators.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/constants.py
  services/core-api/tests/factories.py
  services/core-api/tests/securities/__init__.py
  services/core-api/tests/securities/resources/__init__.py
  services/core-api/tests/securities/resources/test_bond_resource.py
  services/core-web/common/reducers/staticContentReducer.js
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/reducers/staticContentReducer.spec.js
  services/minespace-web/common/reducers/staticContentReducer.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1264 MDS-2712 - Add major mine permitted areas to maps
  services/core-web/src/components/maps/MineHeaderMapLeaflet.js
  services/core-web/src/components/maps/MineMapLeaflet.js
Labels: 💻 Frontend

#1265 wrong model to marshal with.
  services/core-api/app/api/parties/party/resources/sub_division_code_resource.py
  services/core-api/tests/utils/test_swagger.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend

#1269 BUG: Variance Page on MineSpace crashing
  services/minespace-web/src/components/dashboard/mine/variances/Variances.js
  services/minespace-web/src/tests/components/dashboard/mine/variances/Variances.spec.js
Labels: 🐞 Bug, 👍 Ready for review, 💊 Fix, 💻 Frontend

#1268 MDS-2661/ Add more CRR's
  migrations/sql/V2020.03.24.14.49__update_crr_definitions.sql
  migrations/sql/V2020.03.25.12.13__update_crr_definitions_fks.sql
Labels: 👍 Ready for review, 📜 SQL

#1270 MDS-2758: View/Add/Edit Documents on Bonds
  migrations/sql/V2020.03.18.10.40__create_bond_documents_type.sql
  migrations/sql/V2020.03.18.10.46__bond_documents.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/__init__.py
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/exports/static_content/resources/core_static_content_resource.py
  services/core-api/app/api/mines/documents/models/mine_document.py
  services/core-api/app/api/securities/models/__init__.py
  services/core-api/app/api/securities/models/bond.py
  services/core-api/app/api/securities/models/bond_document.py
  services/core-api/app/api/securities/models/bond_document_type.py
  services/core-api/app/api/securities/namespace.py
  services/core-api/app/api/securities/resources/bond.py
  services/core-api/app/api/securities/resources/bond_document.py
  services/core-api/app/api/securities/response_models.py
  services/core-api/app/api/services/document_manager_service.py
  services/core-api/app/api/utils/access_decorators.py
  services/core-api/app/api/utils/setup_marshmallow.py
  services/core-api/app/api/utils/static_data.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/constants.py
  services/core-api/tests/factories.py
  services/core-web/common/constants/API.js
  services/core-web/common/reducers/staticContentReducer.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/common/utils/actionlessNetworkCalls.js
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/Forms/Securities/BondForm.js
  services/core-web/src/components/Forms/variances/AddVarianceForm.js
  services/core-web/src/components/Forms/variances/EditVarianceForm.js
  services/core-web/src/components/common/DocumentTable.js
  services/core-web/src/components/mine/Securities/MineSecurityInfo.js
  services/core-web/src/components/mine/Variances/VarianceDetails.js
  services/core-web/src/components/modalContent/AddBondModal.js
  services/core-web/src/components/modalContent/ViewBondModal.js
  services/core-web/src/components/modalContent/ViewVarianceModal.js
  services/core-web/src/customPropTypes/documents.js
  services/core-web/src/tests/components/Forms/Securities/BondForm.spec.js
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/BondForm.spec.js.snap
  services/core-web/src/tests/components/Forms/variances/__snapshots__/AddVarianceForm.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/MineSecurityInfo.spec.js
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineSecurityInfo.spec.js.snap
  services/core-web/src/tests/components/mine/Variances/__snapshots__/VarianceDetails.spec.js.snap
  services/core-web/src/tests/components/modalContent/ViewBondModal.spec.js
  services/core-web/src/tests/components/modalContent/__snapshots__/AddBondModal.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/ViewBondModal.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/reducers/staticContentReducer.spec.js
  services/core-web/src/tests/selectors/staticContentSelectors.spec.js
  services/document-manager/backend/.env-example
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/reducers/staticContentReducer.js
  services/minespace-web/common/selectors/staticContentSelectors.js
  services/minespace-web/common/utils/actionlessNetworkCalls.js
  services/minespace-web/common/utils/helpers.js
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1272 MDS-2745: New Reports Tables Filter for Only Received Reports
  services/core-api/app/api/mines/reports/resources/reports_resource.py
  services/core-web/src/components/Forms/reports/ReportFilterForm.js
  services/core-web/src/components/Forms/reports/ReportSearchForm.js
  services/core-web/src/components/dashboard/customHomePage/VarianceTable.js
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkHomePage.js
  services/core-web/src/components/dashboard/reportsHomePage/ReportsHomePage.js
  services/core-web/src/components/mine/Reports/MineReportInfo.js
  services/core-web/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkHomePage.spec.js.snap
  services/core-web/src/tests/components/mine/Reports/__snapshots__/MineReportInfo.spec.js.snap
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1263 Health and Readiness checks for remaining services
  openshift/templates/_nginx.dc.json
  openshift/templates/digdag/digdag.dc.json
  openshift/templates/docgen/docgen.dc.json
  openshift/templates/tools/logstash.dc.json
  openshift/templates/tools/schemaspy.dc.json
  services/core-api/app/__init__.py
  services/digdag/digdag-init.sh
  services/docgen-api/index.js
  services/document-manager/backend/app/routes.py
  services/nginx/nginx.conf
  services/nris-api/backend/app/routes.py
Labels: 🎫 Ticket closer, 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#1274 Allow 13 minutes for schemaspy deploy
  openshift/templates/tools/schemaspy.dc.json
Labels: 🏭 CI/CD

#1273 Fix/variance modal null props bug
  services/core-web/src/components/Forms/variances/EditVarianceForm.js
  services/core-web/src/components/modalContent/EditVarianceModal.js
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend, 🤡 Superfluous Label

#1271 update templates and initialize value to exissting bodies.
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/templates/now/Client Acknowledgment Letter Template (NoW).docx
  services/core-api/app/templates/now/Rejection Letter Template (NoW).docx
  services/core-api/app/templates/now/Withdrawal Letter Template (NoW).docx
  services/core-api/tests/services/test_document_generation_service.py
  services/core-web/src/actionCreators/documentActionCreator.js
  services/core-web/src/actionCreators/noticeOfWorkActionCreator.js
  services/core-web/src/components/Forms/GenerateDocumentForm.js
  services/core-web/src/components/modalContent/GenerateDocumentModal.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/docgen-api/index.js
Labels: 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL
