Repository bcgov/mds, pull requests merged in 2020-05, with the labels that each got.

#1326 Mds 2818 - add notes to reclamation invoice
  migrations/sql/V2020.05.08.53__add_note_to_reclamation_invoice.sql
  services/core-api/app/api/securities/models/reclamation_invoice.py
  services/core-api/app/api/securities/response_models.py
  services/core-web/src/components/Forms/Securities/ReclamationInvoiceForm.js
  services/core-web/src/components/mine/Securities/MineReclamationInvoiceTable.js
  services/core-web/src/components/mine/Securities/ReclamationInvoiceTable.js
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/ReclamationInvoiceForm.spec.js.snap
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1330 Securities tests
  services/core-web/src/components/mine/Securities/MineBondTable.js
  services/core-web/src/components/mine/Securities/MineReclamationInvoiceTable.js
  services/core-web/src/components/mine/Securities/MineSecurityInfo.js
  services/core-web/src/tests/components/Forms/Securities/ReclamationInvoiceForm.spec.js
  services/core-web/src/tests/components/mine/Securities/MineBondTable.spec.js
  services/core-web/src/tests/components/mine/Securities/MineReclamationInvoiceTable.spec.js
  services/core-web/src/tests/components/mine/Securities/MineSecurityInfo.spec.js
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineSecurityInfo.spec.js.snap
  services/core-web/src/tests/components/mine/Summary/__snapshots__/MineSummary.spec.js.snap
  services/core-web/src/tests/components/modalContent/AddReclamationInvoiceModal.spec.js
  services/core-web/src/tests/components/modalContent/__snapshots__/AddBondModal.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/AddReclamationInvoiceModal.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/selectors/securitiesSelectors.spec.js
Labels: 👍 Ready for review, 💻 Frontend

#1327 Etl/fix duplicate empty permits
  migrations/sql/R__stored_procedure_for_permit_and_permitee_information.sql
  migrations/sql/V2020.04.28.11.28__delete_empty_permits.sql
  migrations/sql/V2020.04.30.10.33__add_permit_unique.sql
  services/core-api/app/helper.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend, 📜 SQL

#1331 Create /now-submissions/application-startstop endpoint
  migrations/sql/V2020.05.04.14.34__create_startstop_table.sql
  services/core-api/app/api/now_submissions/models/application_start_stop.py
  services/core-api/app/api/now_submissions/namespace.py
  services/core-api/app/api/now_submissions/resources/application_start_stop_list_resource.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-api/tests/now_submissions/resources/test_application_start_stop_list_resource.py
Labels: 👍 Ready for review, 💾 Backend

#1333 Increase document size limit to 750mb
  services/core-web/src/components/common/FileUpload.js
  services/document-manager/backend/app/config.py
  services/minespace-web/src/components/common/FileUpload.js
Labels: 💻 Frontend

#1323 Change cleanup stage of pipeline to remove old images
  openshift/pipeline/src/groovy/Clean.groovy
Labels: 🏭 CI/CD

#1337 swapped \r\c to \r
  services/core-api/app/api/verify/permit/mine/resources/verify_permit_mine_resource.py
Labels: 💾 Backend

#1338 MDS-2820: Bond Info on MineSpace
  services/core-api/app/api/securities/resources/bond.py
  services/core-api/app/api/securities/response_models.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-web/common/utils/helpers.js
  services/core-web/src/customPropTypes/securities.js
  services/minespace-web/common/utils/helpers.js
  services/minespace-web/src/components/dashboard/mine/MineDashboard.js
  services/minespace-web/src/components/dashboard/mine/bonds/Bonds.js
  services/minespace-web/src/components/dashboard/mine/bonds/BondsTable.js
  services/minespace-web/src/customPropTypes/index.js
  services/minespace-web/src/customPropTypes/securities.js
  services/minespace-web/src/reducers/authenticationReducer.js
  services/minespace-web/src/reducers/rootReducer.js
Labels: 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1339 Permit bug
  services/core-web/src/components/Forms/PermitAmendmentForm.js
  services/core-web/src/components/mine/Permit/MinePermitTable.js
Labels: 💻 Frontend

#1336 Connect MineSpace users to mines with BCeID username
  migrations/sql/V2020.05.11.11.26__modify_minespace_user_email_column.sql
  services/core-api/app/api/users/minespace/models/minespace_user.py
  services/core-api/app/api/users/minespace/resources/minespace_user.py
  services/core-api/app/api/users/response_models.py
  services/core-api/app/api/utils/include/user_info.py
  services/core-api/app/auth.py
  services/core-api/tests/auth/test_user_auth.py
  services/core-api/tests/conftest.py
  services/core-api/tests/constants.py
  services/core-api/tests/factories.py
  services/core-api/tests/users/models/test_minespace_user.py
  services/core-api/tests/users/resources/test_minespace_user_resource.py
  services/core-web/src/components/Forms/AddMinespaceUser.js
  services/core-web/src/components/admin/MinespaceUserList.js
  services/core-web/src/components/admin/NewMinespaceUser.js
  services/core-web/src/tests/components/admin/__snapshots__/MinespaceUserList.spec.js.snap
  services/minespace-web/src/components/dashboard/mine/inspections/Inspections.js
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend
