Repository bcgov/mds, pull requests merged in 2021-11, with the labels that each got.

#1886 NoW Delay total not calculating correctly.
  services/core-web/common/utils/helpers.js
  services/minespace-web/common/utils/helpers.js
Labels: 🐞 Bug, 💻 Frontend

#1887 3879 - Deleted Contact still remains linked to Roles
  services/core-api/app/api/parties/party_appt/models/mine_party_appt.py
Labels: 💾 Backend

#1888 updated the variance email
  services/core-api/app/api/constants.py
Labels: 💾 Backend

#1889 added MDS email to all emails sent from MineSpace
  services/core-api/app/api/constants.py
  services/core-api/app/api/incidents/models/mine_incident.py
  services/core-api/app/api/mines/reports/models/mine_report.py
  services/core-api/app/api/variances/models/variance.py
Labels: 💾 Backend

#1892 Feature/mds 3995 feature flagging in minespace
  services/minespace-web/src/components/common/wrappers/AuthorizationWrapper.js
  services/minespace-web/src/components/dashboard/mine/incidents/Incidents.js
  services/minespace-web/src/constants/environment.js
  services/minespace-web/src/tests/components/dashboard/mine/incidents/__snapshots__/Incidents.spec.js.snap
Labels: 💻 Frontend

#1890 MDS-3994 Add MineSpace test coverage to code climate
  .github/workflows/tests-coverage.yaml
  docker-compose.ci.yaml
  services/minespace-web/package.json
Labels: 💻 Frontend

#1891 MDS-4001: resource audit
  openshift4/templates/backend.dc.yaml
  openshift4/templates/docgen.dc.yaml
  openshift4/templates/docman.dc.yaml
  openshift4/templates/filesystem-provider.dc.yaml
  openshift4/templates/frontend.dc.yaml
  openshift4/templates/metabase.dc.yaml
  openshift4/templates/minespace.dc.yaml
  openshift4/templates/nris.dc.yaml
  openshift4/templates/postgresql.dc.yaml
  openshift4/templates/redis.dc.yaml
  openshift4/templates/tusd.dc.yaml
Labels: 🌶 Enhancement, 🏭 CI/CD, 👍 Ready for review

#1880 Removing limit of mines returned.
  services/core-api/app/api/mines/mine/models/mine.py
Labels: 💾 Backend

#1896 MDS-3991: Remove Mandatory Requirement on TSF information in Edit mode in Core
  services/core-api/app/api/mines/tailings/resources/tailings.py
  services/core-api/app/api/mines/tailings/resources/tailings_list.py
  services/core-web/src/components/Forms/AddTailingsForm.js
  services/core-web/src/tests/components/Forms/__snapshots__/AddTailingsForm.spec.js.snap
Labels: 💾 Backend, 💻 Frontend

#1898 MDS-3982 - Manually Edit NoW Dates
  migrations/sql/V2021.11.15.15.00__add_verified_date_to_now_application.sql
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_application_progress.py
  services/core-api/app/api/now_applications/resources/now_application_delay_resource.py
  services/core-api/app/api/now_applications/resources/now_application_progress_resource.py
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/utils/access_decorators.py
  services/core-api/tests/constants.py
  services/core-web/common/constants/environment.js
  services/core-web/common/selectors/noticeOfWorkSelectors.js
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/Forms/noticeOfWork/UpdateNOWDateForm.js
  services/core-web/src/components/common/RenderDate.js
  services/core-web/src/components/modalContent/UpdateNoWDateModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWStatusReason.js
  services/core-web/src/components/noticeOfWork/applications/NOWSubmissionDocuments.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWProgressTable.js
  services/core-web/src/constants/forms.js
  services/core-web/src/constants/permissions.js
  services/core-web/src/customPropTypes/noticeOfWork.js
  services/core-web/src/manualReporting/renderReport.js
  services/core-web/src/tests/components/Forms/noticeOfWork/UpdateNOWDateForm.spec.js
  services/core-web/src/tests/components/Forms/noticeOfWork/__snapshots__/UpdateNOWDateForm.spec.js.snap
  services/minespace-web/common/constants/environment.js
  services/minespace-web/common/selectors/noticeOfWorkSelectors.js
  services/minespace-web/common/utils/helpers.js
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend, ⛏ Needs manual testing

#1899 added a not to the document generation if date is changed via new flow
  services/core-api/app/api/now_applications/resources/now_application_progress_resource.py
Labels: 💾 Backend

#1903 MDS-4015 - Add Mines Certification Registry Link to Core home Page
  services/core-web/src/components/dashboard/HomePage.js
Labels: 💻 Frontend

#1909 MDS-3529: Contacts - Person/Company toggle misbehaving
  services/core-web/src/components/Forms/parties/AddFullPartyForm.js
  services/core-web/src/tests/components/Forms/parties/__snapshots__/AddFullPartyForm.spec.js.snap
Labels: 💻 Frontend

#1906 Feature/mds 4024: 400 error when attempting to push application from vFCBC
  migrations/sql/V2021.11.25.11.22__update_now_submissions_sandgrvqryalrpermitnumber_length.sql
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
Labels: 💻 Frontend

#1908 Project summary fixing lint errors
  services/minespace-web/src/components/Forms/projectSummaries/AddEditProjectSummaryForm.js
  services/minespace-web/src/components/dashboard/mine/MineDashboard.js
  services/minespace-web/src/components/dashboard/mine/projectSummaries/ProjectSummariesTable.js
  services/minespace-web/src/components/pages/ProjectSummaryPage.js
Labels: 💻 Frontend
