Repository bcgov/mds, pull requests merged in 2021-05, with the labels that each got.

#1722 MDS-3571: Updates to "Mine Summary View" Endpoint (Requested by GenTax)
  migrations/sql/R__view_mine_summary.sql
  migrations/sql/V2021.04.30.13.48__add_permit_status_changed_timestamp_column.sql
  services/core-api/app/api/exports/mines/models/mine_summary_view.py
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit/resources/permit.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend, 📜 SQL

#1721 Feature/mds 3629 site properties for now and ada
  migrations/sql/V2021.04.23.11.35__add _now_guid_and_constraints_to_mine_type.sql
  migrations/sql/V2021.04.27.10.57__populate_mine_types_for_now_from_permits.sql
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/mine/models/mine_type.py
  services/core-api/app/api/mines/mine/models/mine_type_detail.py
  services/core-api/app/api/mines/mine/resources/mine_type.py
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/tests/mines/mine/resources/test_mine_type_resource.py
  services/core-web/common/selectors/noticeOfWorkSelectors.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/src/components/Forms/AddPermitForm.js
  services/core-web/src/components/Forms/EditPermitForm.js
  services/core-web/src/components/Forms/MineRecordForm.js
  services/core-web/src/components/Forms/noticeOfWork/IssuePermitForm.js
  services/core-web/src/components/Forms/permits/GeneratePermitForm.js
  services/core-web/src/components/Forms/permits/SitePropertiesForm.js
  services/core-web/src/components/dashboard/minesHomePage/MineList.js
  services/core-web/src/components/mine/Permit/MinePermitInfo.js
  services/core-web/src/components/modalContent/EditSitePropertiesModal.js
  services/core-web/src/components/modalContent/UpdateStatusGenerateLetterModal.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewAdminAmendmentApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewSiteProperties.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/tests/components/noticeOfWork/applications/process/__snapshots__/ProcessPermit.spec.js.snap
  services/minespace-web/common/selectors/noticeOfWorkSelectors.js
  services/minespace-web/common/selectors/staticContentSelectors.js
Labels: ⛏ Needs manual testing, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1724 Bug/transfer bond
  services/core-web/src/components/Forms/Securities/TransferBondForm.js
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/TransferBondForm.spec.js.snap
Labels: 💻 Frontend

#1723 Feature/mds 3607
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/now_submissions/resources/application_nda_resource.py
  services/core-api/app/templates/permit/Permit.docx
  services/core-web/src/components/Forms/AddPermitForm.js
  services/core-web/src/components/Forms/PermitAmendmentForm.js
  services/core-web/src/components/Forms/noticeOfWork/EditNoWContacts.js
  services/core-web/src/components/Forms/noticeOfWork/IssuePermitForm.js
  services/core-web/src/components/Forms/permits/GeneratePermitForm.js
  services/core-web/src/components/common/wrappers/LoadingWrapper.js
  services/core-web/src/components/mine/ContactInfo/PartyRelationships/DefaultContact.js
  services/core-web/src/components/mine/MineComments.js
  services/core-web/src/components/mine/Permit/MinePermitCard.js
  services/core-web/src/components/mine/Permit/MinePermitTable.js
  services/core-web/src/components/modalContent/UpdateStatusGenerateLetterModal.js
  services/core-web/src/components/noticeOfWork/applications/ScrollContentWrapper.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/PermitAmendmentTable.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWContacts.js
  services/core-web/src/components/parties/PartyProfile.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/Forms/__snapshots__/AddPermitForm.spec.js.snap
  services/core-web/src/tests/components/Forms/__snapshots__/PermitAmendmentForm.spec.js.snap
  services/core-web/src/tests/components/mine/Permit/__snapshots__/MinePermitTable.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewApplicationFeeContent.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1727 MDS-fix for rejection and withdrawal
  services/core-web/src/components/Forms/permits/GeneratePermitForm.js
  services/core-web/src/components/modalContent/UpdateStatusGenerateLetterModal.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
Labels: ⛏ Needs manual testing, 🌶 Enhancement, 👍 Ready for review, 💊 Fix, 💻 Frontend

#1728 Feature/mds 3610 allow users to change between now types
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-web/common/constants/strings.js
  services/core-web/common/selectors/noticeOfWorkSelectors.js
  services/core-web/common/utils/Validate.js
  services/core-web/src/HOC/ApplicationGuard.js
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
  services/core-web/src/components/modalContent/StartDraftPermitModal.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/applications/AdminAmendmentApplication.js
  services/core-web/src/components/noticeOfWork/applications/NOWTabHeader.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/DraftPermitTab.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/review/ApplicationTab.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewAdminAmendmentApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/AdminAmendmentApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/administrative/__snapshots__/AdministrativeTab.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/process/__snapshots__/ProcessPermit.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/referals/__snapshots__/ReferralTabs.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ApplicationTab.spec.js.snap
  services/minespace-web/common/constants/strings.js
  services/minespace-web/common/selectors/noticeOfWorkSelectors.js
  services/minespace-web/common/utils/Validate.js
Labels: ⛏ Needs manual testing, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1730 Remove Required auth_end_date for C & M Permit
  services/core-web/src/components/Forms/AddPermitForm.js
  services/core-web/src/components/Forms/PermitAmendmentForm.js
  services/core-web/src/components/maps/MineTailingsMap.js
  services/core-web/src/components/mine/Permit/MinePermitInfo.js
Labels: 💻 Frontend

#1732 Feature/mds 3610 allow users to change between now types
  services/core-web/src/components/noticeOfWork/applications/AdminAmendmentApplication.js
Labels: 👍 Ready for review, 💻 Frontend

#1733 MDS-3706: Swaggerize the Mine Summary Resource
  services/core-api/app/api/exports/mines/resources/mine_summary_csv_resource.py
  services/core-api/app/api/exports/mines/resources/mine_summary_resource.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend

#1731 MDS-3297 no permit required
  migrations/sql/V2021.05.10.13.29__update_document_templates.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/now_applications/models/now_application_document_type.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-api/app/templates/now/No Permit Required IP Letter.docx
  services/core-api/app/templates/now/No Permit Required Letter.docx
  services/core-web/src/components/modalContent/NoPermitRequiredSelectionModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/NOWStatusIndicator.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/constants/styles.js
  services/core-web/src/tests/components/noticeOfWork/applications/process/__snapshots__/ProcessPermit.spec.js.snap
Labels: 💻 Frontend, 💾 Backend, 📜 SQL

#1735 MDS-3693: Fixes to NoW "Total Merchantable Timber Volume"
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/templates/now/Notice of Work Form.docx
  services/core-web/common/selectors/noticeOfWorkSelectors.js
  services/core-web/src/components/noticeOfWork/applications/review/ApplicationTab.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/minespace-web/common/selectors/noticeOfWorkSelectors.js
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1729 Update dependencies to address critical vulnerabilities
  README.md
  services/core-api/requirements.txt
  services/core-web/package-lock.json
  services/core-web/package.json
  services/document-manager/backend/requirements.txt
  services/minespace-web/package-lock.json
  services/minespace-web/package.json
  services/nris-api/backend/requirements.txt
  tasks/now-etls/requirements.txt
Labels: 💻 Frontend, 💾 Backend

#1736 Bug/permission updates delete permit amendment
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/tests/auth/test_expected_auth.py
Labels: 💾 Backend

#1738 Add file type option to generated NoW documents.
  services/core-api/app/api/services/document_generator_service.py
  services/core-web/src/components/Forms/GenerateDocumentForm.js
  services/core-web/src/components/modalContent/GenerateDocumentModal.js
  services/core-web/src/components/modalContent/UpdateStatusGenerateLetterModal.js
  services/core-web/src/components/noticeOfWork/applications/administrative/AdministrativeTab.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend, 🤡 Superfluous Label

#1737 Bug/last amended date fix
  services/core-web/src/components/mine/Permit/MinePermitTable.js
Labels: 💻 Frontend

#1739 Permittee relationship incorrect on Permit model
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/now_applications/resources/administrative_amendment_list_resource.py
Labels: 💻 Frontend, 💾 Backend, 🛑 DO NOT MERGE

#1740 Updated/vfcbc data
  migrations/sql/V2021.05.20.13.44__update_now_submissions_mechanical_trenching.sql
  migrations/sql/V2021.05.26.16.00__update_now_submission_exp_access_activity.sql
  migrations/sql/V2021.05.26.16.47__update_drilling_and_blasting_activity.sql
  services/core-api/app/api/now_applications/models/activity_summary/exploration_surface_drilling.py
  services/core-api/app/api/now_applications/models/blasting_operation.py
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/app/api/now_submissions/models/exp_access_activity.py
  services/core-api/app/api/now_submissions/models/mech_trenching_activity.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-api/tests/now_submission_factories.py
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
  services/core-web/src/components/common/RenderRadioButtons.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Blasting.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/MechanicalTrenching.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceDrilling.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/customPropTypes/noticeOfWork.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWSideMenu.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewActivities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/Blasting.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Blasting.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/MechanicalTrenching.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceDrilling.spec.js.snap
Labels: 💻 Frontend, 💾 Backend
