Repository bcgov/mds, pull requests merged in 2021-04, with the labels that each got.

#1697 Feature/mds 2137 collect government agency info
  migrations/sql/V2021.03.26.10.03__create_mine_government_agency_type.sql
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/exports/static_content/resources/core_static_content_resource.py
  services/core-api/app/api/mines/government_agencies/__init__.py
  services/core-api/app/api/mines/government_agencies/models/government_agency_type.py
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/mine/resources/mine.py
  services/core-api/app/api/mines/response_models.py
  services/core-web/common/reducers/staticContentReducer.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/src/components/Forms/MineRecordForm.js
  services/core-web/src/components/mine/MineHeader.js
  services/core-web/src/tests/components/Forms/__snapshots__/MineRecordForm.spec.js.snap
  services/core-web/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  services/minespace-web/common/reducers/staticContentReducer.js
  services/minespace-web/common/selectors/staticContentSelectors.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1699 MDS-3575 - Add letter body content to document templates.
  migrations/sql/V2021.03.31.13.23__update_document_templates.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/templates/now/~$knowledgment Letter.docx
  services/core-web/src/components/common/GenerateDocumentFormField.js
  services/core-web/src/components/common/RenderLabel.js
  services/core-web/src/components/common/config.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/common/RenderLabel.js
Labels: :notebook_with_decorative_cover: Template, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1702 Flyway build fix
  migrations/Dockerfile
  openshift/templates/flyway.bc.json
Labels: 🏭 CI/CD

#1704 MDS-3589: Add NoW Number to Generated NoW Document Names
  services/core-api/app/api/document_generation/resources/now_document.py
  services/core-api/app/api/services/document_generator_service.py
Labels: 👍 Ready for review, 💾 Backend

#1700 MDS-3608: Update NoW Document Types
  migrations/sql/V2021.04.01.11.28__update_now_application_document_types.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewAdminAmendmentApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
Labels: 👍 Ready for review, 💻 Frontend, 📜 SQL

#1708 Enable internal communication on mine record
  services/core-api/app/api/mines/comments/models/mine_comment.py
  services/core-api/app/api/mines/comments/resources/mine_comment.py
  services/core-web/src/components/mine/MineComments.js
  services/core-web/src/components/mine/MineDashboard.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviewsTable.js
  services/core-web/src/styles/settings/themeOverride.scss
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1706 MDS-added filter based on now type
  services/core-api/app/api/now_applications/resources/now_application_list_resource.py
  services/core-api/tests/now_applications/resources/test_administrative_amendments_list_resource.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend

#1709 Feature/mds 3338 add status for withdrawn
  migrations/sql/R__applications_view.sql
  migrations/sql/R__view_notice_of_work.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/now_applications/resources/administrative_amendment_list_resource.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/tests/now_applications/resources/test_now_application_status_resource.py
  services/core-web/src/components/Forms/noticeOfWork/RejectApplicationForm.js
  services/core-web/src/components/modalContent/UpdateStatusGenerateLetterModal.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1716 Bug/document upload
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewAdminAmendmentApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
Labels: 💻 Frontend

#1718 MDS-3655: Fix "Sand & Gravel / Quarry Operations" Not Being Rendered in NoW Form
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/templates/now/Notice of Work Form.docx
  services/core-api/tests/now_application_factories.py
  services/core-api/tests/now_applications/test_transmogrify_now.py
  services/core-api/tests/now_submission_factories.py
  services/core-web/src/components/noticeOfWork/applications/review/ReviewActivities.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/customPropTypes/noticeOfWork.js
  services/core-web/src/manualReporting/renderReport.js
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWSecurities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewActivities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/SandGravelQuarry.spec.js
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
Labels: :notebook_with_decorative_cover: Template, 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1719 Bug/comment permissions
  services/core-api/app/api/mines/comments/resources/mine_comment.py
  services/core-api/tests/auth/test_expected_auth.py
Labels: 💾 Backend

#1720 Bug/parties permissions
  services/core-web/src/components/mine/ContactInfo/ViewPartyRelationships.js
Labels: 💻 Frontend

#1717 Hackathon/tailings
  migrations/sql/V2021.04.22.10.41__update_tailings_storage_facility.sql
  migrations/sql/V2021.04.23.15.11__create_consequence_classification_code_type_codes.sql
  migrations/sql/V2021.04.23.16.44__create_tsf_operating_status.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/exports/static_content/resources/core_static_content_resource.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/mines/tailings/models/consequence_classification_status_code.py
  services/core-api/app/api/mines/tailings/models/tailings.py
  services/core-api/app/api/mines/tailings/models/tsf_operating_status_code.py
  services/core-api/app/api/mines/tailings/resources/tailings.py
  services/core-api/tests/factories.py
  services/core-api/tests/mines/tailings/resources/test_mine_tailings_resource.py
  services/core-web/common/actionCreators/mineActionCreator.js
  services/core-web/common/constants/strings.js
  services/core-web/common/reducers/staticContentReducer.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/common/utils/Validate.js
  services/core-web/src/components/Forms/AddTailingsForm.js
  services/core-web/src/components/common/PartySelectField.js
  services/core-web/src/components/maps/MineTailingsMap.js
  services/core-web/src/components/mine/MineHeader.js
  services/core-web/src/components/mine/MineNavigation.js
  services/core-web/src/components/mine/NoticeOfWork/MineApplications.js
  services/core-web/src/components/mine/Securities/MineSecurityInfo.js
  services/core-web/src/components/mine/Summary/MineSummary.js
  services/core-web/src/components/mine/Tailings/MineTailingsInfo.js
  services/core-web/src/components/mine/Tailings/MineTailingsTable.js
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/tests/components/Forms/AddTailingsForm.spec.js
  services/core-web/src/tests/components/Forms/__snapshots__/AddTailingsForm.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/PartySelectField.spec.js.snap
  services/core-web/src/tests/components/dashboard/customHomePage/__snapshots__/CustomHomePage.spec.js.snap
  services/core-web/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  services/core-web/src/tests/components/mine/ContactInfo/__snapshots__/MineContactInfo.spec.js.snap
  services/core-web/src/tests/components/mine/NoticeOfWork/__snapshots__/MineApplications.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineSecurityInfo.spec.js.snap
  services/core-web/src/tests/components/mine/Summary/__snapshots__/MineSummary.spec.js.snap
  services/core-web/src/tests/components/mine/Tailings/MineTailingsInfo.spec.js
  services/core-web/src/tests/components/mine/Tailings/MineTailingsTable.spec.js
  services/core-web/src/tests/components/mine/Tailings/__snapshots__/MineTailingsInfo.spec.js.snap
  services/core-web/src/tests/components/mine/Tailings/__snapshots__/MineTailingsTable.spec.js.snap
  services/core-web/src/tests/components/mine/Variances/__snapshots__/MineVariance.spec.js.snap
  services/core-web/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/AddTailingsModal.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/reducers/staticContentReducer.spec.js
  services/core-web/src/tests/selectors/staticContentSelectors.spec.js
  services/minespace-web/common/actionCreators/mineActionCreator.js
  services/minespace-web/common/constants/strings.js
  services/minespace-web/common/reducers/staticContentReducer.js
  services/minespace-web/common/selectors/staticContentSelectors.js
  services/minespace-web/common/utils/Validate.js
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 👍 Ready for review, 💻 Frontend, 💾 Backend
