Repository bcgov/mds, pull requests merged in 2021-07, with the labels that each got.

#1782 Fix bug where NoW activities weren't always returned
  services/core-api/app/api/now_applications/models/activity_detail/activity_detail_base.py
  services/core-api/app/api/now_applications/models/activity_detail/activity_summary_building_detail_xref.py
  services/core-api/app/api/now_applications/models/activity_detail/activity_summary_detail_xref.py
  services/core-api/app/api/now_applications/models/activity_detail/activity_summary_staging_area_detail_xref.py
  services/core-api/app/api/now_applications/models/activity_detail/building_detail.py
  services/core-api/app/api/now_applications/models/activity_detail/camp_detail.py
  services/core-api/app/api/now_applications/models/activity_detail/cut_lines_polarization_survey_detail.py
  services/core-api/app/api/now_applications/models/activity_detail/etl_activity_detail.py
  services/core-api/app/api/now_applications/models/activity_detail/exploration_access_detail.py
  services/core-api/app/api/now_applications/models/activity_detail/exploration_surface_drilling_detail.py
  services/core-api/app/api/now_applications/models/activity_detail/mechanical_trenching_detail.py
  services/core-api/app/api/now_applications/models/activity_detail/placer_operation_detail.py
  services/core-api/app/api/now_applications/models/activity_detail/sand_gravel_quarry_operation_detail.py
  services/core-api/app/api/now_applications/models/activity_detail/settling_pond_detail.py
  services/core-api/app/api/now_applications/models/activity_detail/staging_area_detail.py
  services/core-api/app/api/now_applications/models/activity_detail/surface_bulk_sample_detail.py
  services/core-api/app/api/now_applications/models/activity_detail/underground_exploration_detail.py
  services/core-api/app/api/now_applications/models/activity_detail/underground_exploration_type.py
  services/core-api/app/api/now_applications/models/activity_detail/water_supply_detail.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend

#1783 MDS-3818: Add param alias for NRIS-consumed endpoint
  services/core-api/app/api/parties/party_appt/resources/mine_party_appt_resource.py
Labels: 👍 Ready for review, 💊 Fix

#1785 Add fider app
  .github/workflows/build.yaml
  .github/workflows/deploy-dev.yaml
  .github/workflows/deploy-prod.yaml
  .github/workflows/deploy-test.yaml
  .github/workflows/promote-to-prod.yaml
  .github/workflows/promote-to-test.yaml
  openshift4/templates/fider.bc.yaml
  openshift4/templates/fider.dc.yaml
  openshift4/templates/postgresql.dc.yaml
  services/core-web/src/components/navigation/NavBar.js
Labels: 🏭 CI/CD, 💻 Frontend, 💾 Backend

#1779 mds 3725 New Document management tab
  services/core-api/app/api/now_applications/resources/now_application_document_resource.py
  services/core-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/core-web/src/components/Forms/noticeOfWork/EditNoticeOfWorkDocumentForm.js
  services/core-web/src/components/Forms/permits/GeneratePermitForm.js
  services/core-web/src/components/modalContent/DownloadDocumentPackageModal.js
  services/core-web/src/components/modalContent/EditFinalPermitDocumentPackage.js
  services/core-web/src/components/modalContent/EditNoticeOfWorkDocumentModal.js
  services/core-web/src/components/noticeOfWork/NOWProgressStatus.js
  services/core-web/src/components/noticeOfWork/applications/AdminAmendmentApplication.js
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWSubmissionDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/PermitPackage.js
  services/core-web/src/components/noticeOfWork/applications/PreviousAmendmentDocuments.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/components/noticeOfWork/applications/manageDocuments/ManageDocumentsTab.js
  services/core-web/src/components/noticeOfWork/applications/manageDocuments/NOWApplicationManageDocuments.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/components/noticeOfWork/applications/referals/ReferralConsultationPackage.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewAdminAmendmentApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Blasting.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceDrilling.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/tests/components/modalContent/DownloadDocumentPackageModal.spec.js
  services/core-web/src/tests/components/modalContent/EditFinalPermitDocumentPackage.spec.js
  services/core-web/src/tests/components/modalContent/__snapshots__/DownloadDocumentPackageModal.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/EditFinalPermitDocumentPackage.spec.js.snap
  services/core-web/src/tests/components/navigation/__snapshots__/NavBar.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/__snapshots__/FinalPermitDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/AdminAmendmentApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWSideMenu.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NoticeOfWorkApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/documents/ManageDocumentsTab.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/documents/NOWApplicationManageDocuments.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/documents/__snapshots__/ManageDocumentsTab.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/documents/__snapshots__/NOWApplicationManageDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceDrilling.spec.js.snap
  services/minespace-web/common/actionCreators/noticeOfWorkActionCreator.js
Labels: 💻 Frontend, 💾 Backend

#1790 Bug/now documents
  services/core-api/app/api/now_applications/resources/now_application_document_resource.py
Labels: 🐞 Bug, 💾 Backend

#1791 vFCBC data bug
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
Labels: 💾 Backend

#1794 Mds 3828 inspectors timeout bug
  services/core-api/app/api/parties/party/resources/party_list_resource.py
Labels: 💾 Backend

#1798 Mds 3828 inspectors timeout bug
  services/core-api/app/api/mines/explosives_permit/models/explosives_permit_document_type.py
  services/core-api/app/api/parties/party/resources/party_list_resource.py
Labels: 💾 Backend

#1799 Mds 3828 inspectors timeout bug (Improve query performance)
  services/core-api/app/api/parties/party/resources/party_list_resource.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend

#1800 Add index to mine_party_appt to improve mine_summary_view performance
  migrations/sql/R__add_update_indexes.sql
Labels: 🌶 Enhancement, 👍 Ready for review, 📜 SQL

#1802 MDS-3759: Add Permit Number to Permit Enclosed Letter
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/templates/now/Permit Enclosed Letter.docx
Labels: :notebook_with_decorative_cover: Template, 🌶 Enhancement, 👍 Ready for review, 💾 Backend, 📜 SQL

#1792 Add tests to new pipeline
  .github/workflows/tests-integration.yaml
  .github/workflows/tests-unit.yaml
  Makefile
  README.md
  bin/database-dump-from-test.sh
  docker-compose.ci.yaml
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/tests/incidents/resources/test_incidents_resource.py
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
Labels: 🏭 CI/CD, 💻 Frontend, 💾 Backend

#1803 MDS-3739: Modify the NoW Number to be correct when transferring to a different mine
  services/core-api/app/api/now_applications/models/now_application_identity.py
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-web/src/components/Forms/noticeOfWork/ChangeNOWMineForm.js
  services/core-web/src/components/noticeOfWork/applications/administrative/AdministrativeTab.js
Labels: 🌶 Enhancement, 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1804 MDS-3816: Fix Site Properties Bug
  services/core-api/app/api/mines/mine/models/mine_type.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend

#1806 MDS 3772 issue date on permits
  services/core-api/app/templates/permit/Permit.docx
  services/core-api/tests/status_code_gen.py
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
Labels: 🐞 Bug, 💻 Frontend, 💾 Backend

#1808 Feature/mds 3793 - Update NoW PDF with new vFCBC data
  services/core-api/app/api/mines/tailings/models/tailings.py
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/templates/now/Notice of Work Form.docx
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Blasting.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Camps.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Placer.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceDrilling.js
  services/core-web/src/tests/components/Forms/noticeOfWork/__snapshots__/ChangeNOWMineForm.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/ChangeNOWMineModal.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Blasting.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Camps.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Placer.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SandGravelQuarry.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceBulkSamples.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceDrilling.spec.js.snap
Labels: 💻 Frontend, 💾 Backend

#1810 MDS-3860: Fix issue where Permit Package docs not editable unless Tech Review active
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWSubmissionDocuments.js
  services/core-web/src/components/noticeOfWork/applications/PermitPackage.js
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#1807 Tailing Facility Storage (TFS) POST method implementation.
  services/core-api/app/api/mines/namespace.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/mines/tailings/models/tailings.py
  services/core-api/app/api/mines/tailings/resources/tailings.py
  services/core-api/app/api/mines/tailings/resources/tailings_list.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/factories.py
  services/core-api/tests/mines/tailings/resources/test_mine_tailings_resource.py
  services/core-web/common/actionCreators/mineActionCreator.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/src/components/Forms/AddTailingsForm.js
  services/core-web/src/components/mine/Tailings/MineTailingsInfo.js
  services/core-web/src/components/mine/Tailings/MineTailingsTable.js
  services/core-web/src/reducers/rootReducer.js
  services/core-web/src/tests/actionCreators/mineActionCreator.spec.js
  services/core-web/src/tests/components/mine/Tailings/MineTailingsInfo.spec.js
  services/core-web/src/tests/components/mine/Tailings/__snapshots__/MineTailingsInfo.spec.js.snap
  services/core-web/src/tests/components/mine/Tailings/__snapshots__/MineTailingsTable.spec.js.snap
  services/minespace-web/common/actionCreators/mineActionCreator.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/reducerTypes.js
Labels: 🌶 Enhancement, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1812 MDS-3826: Fix bond transfer on mine permits
  services/core-api/app/api/securities/resources/bond.py
Labels: 💊 Fix, 💾 Backend

#1813 Updates to NoW UI/pdf
  migrations/sql/V2021.07.28.8.38__update_now_submission_data.sql
  services/core-api/app/api/now_applications/models/state_of_land.py
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
  services/core-api/app/api/now_applications/resources/underground_exploration_type_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/templates/now/Notice of Work Form.docx
  services/core-web/src/components/common/CoreEditableTable.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewActivities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SettlingPonds.spec.js.snap
Labels: 💻 Frontend, 💾 Backend, 📜 SQL

#1814 Bug - TSF
  services/core-web/src/components/mine/Tailings/MineTailingsInfo.js
Labels: 💻 Frontend

#1815 Updates/vfcbc now data
  services/core-api/app/api/now_applications/transmogrify_now.py
Labels: 💾 Backend

#1816 process permit issue
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
Labels: 🐞 Bug, 💻 Frontend
