Repository bcgov/mds, pull requests merged in 2021-03, with the labels that each got.

#1650 FIx- Add NROS/vFCBC tooltip to "historic" applications
  migrations/sql/V2021.02.04.12.59__add_now_submission_fields.sql
  services/core-api/app/api/mms_now_submissions/models/surface_bulk_sample_activity.py
  services/core-api/app/api/now_applications/models/activity_detail/surface_bulk_sample_detail.py
  services/core-api/app/api/now_applications/resources/now_application_list_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/app/api/now_submissions/models/surface_bulk_sample_activity.py
  services/core-api/app/api/now_submissions/resources/application_list_resource.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-api/tests/now_submission_factories.py
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
  services/core-web/src/components/common/CoreTooltip.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewActivities.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Placer.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/UndergroundExploration.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/WaterSupply.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/WaterSupply.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/verification/__snapshots__/ApplicationStepOne.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/verification/__snapshots__/VerifyApplicationInformationForm.spec.js.snap
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
Labels: 💻 Frontend, 💾 Backend

#1664 MDS-3396 Permit documents should show the total security amount not the adjusted security amount
  openshift/templates/postgresql.dc.json
  openshift/templates/tools/fider/postgresql.dc.json
  openshift/templates/tools/metabase.dc.json
  services/core-api/app/api/now_applications/models/now_application_document_type.py
  services/core-api/app/templates/permit/Permit.docx
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
Labels: ⛏ Needs manual testing, 🏭 CI/CD, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1673 bugfix/increase-flyway-dbbackup-memory
  openshift/templates/dbbackup.dc.json
Labels: 🏭 CI/CD

#1674 Fix/Can't save empty string preamble date
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend

#1672 Add "DRAFT" to filename based on is_draft template data; Fix forEach loop;
  services/core-api/app/api/services/document_generator_service.py
  services/core-web/src/components/modalContent/StartDraftPermitModal.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1675 MDS-3487: Add More CRR Document Types
  migrations/sql/V2021.03.02.14.24__add_more_crrs_part_1.sql
  migrations/sql/V2021.03.02.14.25__add_more_crrs_part_2.sql
Labels: 🌶 Enhancement, 👍 Ready for review, 📜 SQL

#1676 Fix: update docgen api image ver to 2.1.2 to increase max request size
  openshift/templates/docgen/docgen.bc.json
Labels: 🏭 CI/CD, 💊 Fix

#1671 Update: Placer data/Reclamation Summary Calculations, misc pdf updates/formatting
  migrations/sql/V2021.03.01.15.00__update_proposed_reclamation_placer.sql
  migrations/sql/V2021.03.01.16.30__update_placer_reclamation.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/now_applications/models/activity_summary/activity_summary_base.py
  services/core-api/app/api/now_applications/models/activity_summary/camp.py
  services/core-api/app/api/now_applications/models/activity_summary/cut_lines_polarization_survey.py
  services/core-api/app/api/now_applications/models/activity_summary/exploration_access.py
  services/core-api/app/api/now_applications/models/activity_summary/exploration_surface_drilling.py
  services/core-api/app/api/now_applications/models/activity_summary/mechanical_trenching.py
  services/core-api/app/api/now_applications/models/activity_summary/placer_operation.py
  services/core-api/app/api/now_applications/models/activity_summary/sand_gravel_quarry_operation.py
  services/core-api/app/api/now_applications/models/activity_summary/settling_pond.py
  services/core-api/app/api/now_applications/models/activity_summary/surface_bulk_sample.py
  services/core-api/app/api/now_applications/models/activity_summary/underground_exploration.py
  services/core-api/app/api/now_applications/models/activity_summary/water_supply.py
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/templates/now/Notice of Work Form.docx
  services/core-web/common/selectors/noticeOfWorkSelectors.js
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/common/RenderFieldWithDropdown.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Camps.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/CutLines.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/MechanicalTrenching.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Placer.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/ReclamationSummary.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceDrilling.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/WaterSupply.js
  services/core-web/src/customPropTypes/noticeOfWork.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewActivities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/Camps.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/Placer.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Camps.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/CutLines.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/MechanicalTrenching.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Placer.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SandGravelQuarry.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SettlingPonds.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceBulkSamples.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceDrilling.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/WaterSupply.spec.js.snap
  services/minespace-web/common/selectors/noticeOfWorkSelectors.js
  services/minespace-web/common/utils/helpers.js
Labels: ⛏ Needs manual testing, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1680 Enhancement/Modify word-wrap for toasts to show whole messages & String replace psycopg2
  services/core-web/common/customAxios.js
  services/core-web/src/styles/settings/themeOverride.scss
  services/minespace-web/common/customAxios.js
Labels: 🌶 Enhancement, 👍 Ready for review, 💻 Frontend

#1677 Bugfix/mds 3420
  services/core-api/app/api/now_applications/resources/now_application_progress_resource.py
Labels: ⛏ Needs manual testing, 👍 Ready for review, 💾 Backend, 📜 SQL

#1682 Bugfix/mds 3420
  migrations/sql/V2021.03.08.13.07__update_now_application_progress_status.sql
Labels: ⛏ Needs manual testing, 👍 Ready for review, 📜 SQL

#1681 Removed water_supply reclamation description
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
  services/core-web/src/components/noticeOfWork/applications/review/ReviewActivities.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/WaterSupply.js
  services/core-web/src/customPropTypes/noticeOfWork.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewActivities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/WaterSupply.spec.js.snap
Labels: 💻 Frontend, 💾 Backend

#1683 Update/now pdf
  services/core-api/app/api/now_applications/models/activity_summary/water_supply.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/templates/now/Notice of Work Form.docx
  services/core-web/common/selectors/noticeOfWorkSelectors.js
  services/minespace-web/common/selectors/noticeOfWorkSelectors.js
Labels: 💻 Frontend, 💾 Backend

#1685 Update/placer units
  migrations/sql/V2021.03.09.9.52__update_placer_units.sql
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
Labels: 💾 Backend

#1678 GIS NoW Export
  migrations/sql/R__view_now_application_gis_export.sql
  services/core-api/app/api/constants.py
  services/core-api/app/api/exports/mines/models/mine_summary_view.py
  services/core-api/app/api/exports/mines/resources/mine_summary_csv_resource.py
  services/core-api/app/api/exports/namespace.py
  services/core-api/app/api/exports/now_application/models/now_application_gis_export.py
  services/core-api/app/api/exports/now_application/resources/now_application_gis_export_resource.py
Labels: 🍋 Sour, 👍 Ready for review, 💾 Backend, 📜 SQL

#1686 Update/pdf to include more water supply details
  services/core-api/app/templates/now/Notice of Work Form.docx
  services/core-web/src/components/common/NOWPartySelectField.js
  services/core-web/src/components/common/PartySelectField.js
  services/core-web/src/components/search/SearchBar.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1687 Update/mine location styling
  services/core-web/src/styles/components/MineDashboard.scss
Labels: 💻 Frontend

#1690 MDS-3437: Standardize Document Template Fonts
  docker-compose.yml
  openshift/templates/docgen/docgen.bc.json
  services/core-api/README.md
  services/core-api/app/templates/now/Acknowledgment Letter.docx
  services/core-api/app/templates/now/Notice of Work Form.docx
  services/core-api/app/templates/now/Permit Enclosed Letter.docx
  services/core-api/app/templates/now/Rejection Letter.docx
  services/core-api/app/templates/now/Withdrawal Letter.docx
  services/core-api/app/templates/permit/Permit.docx
Labels: :notebook_with_decorative_cover: Template, 🏭 CI/CD, 👍 Ready for review, 💾 Backend, 🤡 Superfluous Label

#1693 Log vfcbc data in test
  services/core-api/app/api/now_submissions/resources/application_list_resource.py
Labels: 💾 Backend

#1691 MDS-3557 Update Matomo URLs
  .gitignore
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  openshift/templates/_nodejs.dc.json
  services/core-web/common/constants/environment.js
  services/minespace-web/common/constants/environment.js
  services/minespace-web/src/constants/environment.js
Labels: 🏭 CI/CD, 💻 Frontend

#1694 MDS-3136: updates
  migrations/sql/V2021.03.29.11.30__update_application_reason_types.sql
  services/core-api/app/api/now_applications/resources/administrative_amendment_list_resource.py
  services/core-api/tests/now_applications/resources/test_administrative_amendments_list_resource.py
  services/core-web/src/components/common/CoreTooltip.js
  services/core-web/src/components/modalContent/StartDraftPermitModal.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewAdminAmendmentApplication.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1696 MDS-3541: Create Admin-Only Button to Trigger NoW Document Import Job
  services/core-api/app/api/now_applications/namespace.py
  services/core-api/app/api/now_applications/resources/now_application_import_submission_documents_job.py
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/src/components/noticeOfWork/applications/NOWSubmissionDocuments.js
  services/core-web/src/components/noticeOfWork/applications/review/ApplicationTab.js
  services/core-web/src/tests/actionCreators/noticeOfWorkActioncreator.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ApplicationTab.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/document-manager/backend/app/docman/resources/import_now_submission_documents_job.py
  services/document-manager/backend/app/tasks/import_now_submission_documents.py
  services/minespace-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/reducerTypes.js
Labels: 🌶 Enhancement, 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend
