Repository bcgov/mds, pull requests merged in 2021-12, with the labels that each got.

#1904 MDS-3993: Refactor makefile
  Makefile
  bin/build-jenkins.sh
  bin/bypass.sh
  bin/connect-to-db.ps1
  bin/connect-to-db.sh
  bin/convert_fdw.sh
  bin/database-dump.sh
  bin/database-restore.sh
  bin/delete-pr.sh
  bin/get-images.sh
  bin/get-test-db.sh
  bin/help.sh
  bin/login-to-registry.sh
  bin/project-structure-migrate.sh
  bin/rebuild.sh
  bin/registry-login.sh
  bin/secret-scanning.sh
  bin/seed-container-db.sh
  bin/setenv.sh
  bin/validate.sh
  openshift4/templates/backend.dc.yaml
  openshift4/templates/nris-etl.dc.yaml
  openshift4/templates/nris.dc.yaml
  openshift4/templates/postgresql.dc.yaml
  services/nris-api/backend/WALLET.md
  services/nris-api/backend/orapki.bat
Labels: 🌶 Enhancement, 🚧 WIP, 🏭 CI/CD, ⛏ Needs manual testing

#1910 Feat/mds 3996 add permit conditions
  migrations/sql/V2021.11.23.12.15__alter_generated_in_core.sql
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_conditions/resources/permit_conditions_resource.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/tests/factories.py
  services/core-web/common/actionCreators/permitActionCreator.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/src/components/Forms/permits/conditions/AddCondition.js
  services/core-web/src/components/mine/Permit/MinePermitTable.js
  services/core-web/src/components/mine/Permit/PermitConditionManagement.js
  services/core-web/src/components/noticeOfWork/NOWActionWrapper.js
  services/core-web/src/constants/routes.js
  services/core-web/src/tests/actionCreators/permitActionCreator.spec.js
  services/core-web/src/tests/components/mine/Permit/PermitConditionManagement.spec.js
  services/core-web/src/tests/components/mine/Permit/__snapshots__/MinePermitInfo.spec.js.snap
  services/core-web/src/tests/components/mine/Permit/__snapshots__/PermitConditionManagement.spec.js.snap
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  services/minespace-web/common/actionCreators/permitActionCreator.js
  services/minespace-web/common/constants/reducerTypes.js
Labels: 💾 Backend, 💻 Frontend

#1913 MDS-4042: Tweaks to Minespace project summary display
  services/core-api/app/api/mines/project_summary/response_models.py
  services/minespace-web/src/components/dashboard/mine/MineDashboard.js
  services/minespace-web/src/components/dashboard/mine/projectSummaries/ProjectSummaries.js
  services/minespace-web/src/components/dashboard/mine/projectSummaries/ProjectSummariesTable.js
  services/minespace-web/src/components/pages/ProjectSummaryPage.js
  services/minespace-web/src/tests/components/dashboard/mine/projectSummaries/__snapshots__/ProjectSummaries.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/projectSummaries/__snapshots__/ProjectSummariesTable.spec.js.snap
  services/minespace-web/src/tests/components/projectSummaryPage/__snapshots__/ProjectSummaryPage.spec.js.snap
Labels: 💾 Backend, 💻 Frontend

#1917 Add cmds for testing and using factories
  Makefile
Labels: 🌶 Enhancement, 👍 Ready for review

#1918 MDS-4035: Display Project Summaries in Core
  services/core-web/src/components/common/CoreTable.js
  services/core-web/src/components/mine/MineNavigation.js
  services/core-web/src/components/mine/ProjectSummaries/MineProjectSummary.js
  services/core-web/src/components/mine/ProjectSummaries/MineProjectSummaryTable.js
  services/core-web/src/constants/routes.js
  services/core-web/src/customPropTypes/index.js
  services/core-web/src/customPropTypes/projectSummaries.js
  services/core-web/src/reducers/rootReducer.js
  services/core-web/src/routes/MineDashboardRoutes.js
  services/core-web/src/tests/components/mine/ProjectSummaries/MineProjectSummary.spec.js
  services/core-web/src/tests/components/mine/ProjectSummaries/MineProjectSummaryTable.spec.js
  services/core-web/src/tests/components/mine/ProjectSummaries/__snapshots__/MineProjectSummary.spec.js.snap
  services/core-web/src/tests/components/mine/ProjectSummaries/__snapshots__/MineProjectSummaryTable.spec.js.snap
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
Labels: 💻 Frontend

#1919 Feature/mds 4029 - Project Summary Notifications
  services/core-api/app/api/constants.py
  services/core-api/app/api/mines/project_summary/models/project_summary.py
  services/core-api/app/api/mines/project_summary/resources/project_summary_list.py
Labels: 👍 Ready for review, 💾 Backend

#1924 Minespace - Fixing Project Summary copy typo
  services/minespace-web/src/components/dashboard/mine/projectSummaries/ProjectSummaries.js
  services/minespace-web/src/tests/components/dashboard/mine/projectSummaries/__snapshots__/ProjectSummaries.spec.js.snap
Labels: 💻 Frontend

#1925 Updated the now_submission tables to include the new fields
  migrations/sql/V2021.12.14.15.52__update_now_submission_data.sql
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/app/api/now_submissions/models/buildings.py
  services/core-api/app/api/now_submissions/models/camps.py
  services/core-api/app/api/now_submissions/models/exp_access_activity.py
  services/core-api/app/api/now_submissions/models/exp_surface_drill_activity.py
  services/core-api/app/api/now_submissions/models/sand_grv_qry_activity.py
  services/core-api/app/api/now_submissions/models/staging_areas.py
  services/core-api/app/api/now_submissions/models/surface_bulk_sample_activity.py
  services/core-api/app/api/now_submissions/models/under_exp_surface_activity.py
  services/core-api/app/api/now_submissions/response_models.py
Labels: 💾 Backend

#1922 New SQL View for GIS to get MMS and Core Data.
  migrations/sql/R__view_now_application_gis_export.sql
  services/core-api/app/api/exports/now_application/models/now_application_gis_export.py
Labels: 💾 Backend

#1927 Add cronjob manifest for gis refresh
  openshift4/templates/cronjob.gis_export.yaml
Labels: 🚧 WIP, ⛏ Needs manual testing, 📜 SQL

#1930 Exemption status
  migrations/sql/V2021.12.13.11.26__set_exemption_fee_status.sql
Labels: 👍 Ready for review, 📜 SQL

#1926 Minespace vc authn 0.1
  .github/workflows/deploy-dev.yaml
  .github/workflows/deploy-prod.yaml
  .github/workflows/deploy-test.yaml
  openshift4/templates/minespace.dc.yaml
  services/core-api/app/api/utils/include/user_info.py
  services/core-web/common/constants/environment.js
  services/core-web/src/HOC/AuthenticationGuard.js
  services/core-web/src/fetchEnv.js
  services/document-manager/backend/app/utils/include/user_info.py
  services/minespace-web/.env-example
  services/minespace-web/common/constants/environment.js
  services/minespace-web/server.js
  services/minespace-web/src/components/layout/HeaderDropdown.js
  services/minespace-web/src/components/pages/LandingPage.js
  services/minespace-web/src/constants/environment.js
  services/minespace-web/src/fetchEnv.js
  services/minespace-web/src/tests/components/landingPage/__snapshots__/LandingPage.spec.js.snap
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend, ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 🥃💃🦊 Whisky Tango Foxtrot, 🤯 Mind blown

#1936 Feature/mds 4080
  migrations/sql/R__view_now_application_gis_export.sql
  openshift4/docker-images/metabase/Dockerfile
  services/core-api/app/api/exports/now_application/models/now_application_gis_export.py
  services/minespace-web/src/components/Forms/projectSummaries/AddEditProjectSummaryForm.js
  services/minespace-web/src/components/Forms/projectSummaries/AuthorizationsInvolved.js
  services/minespace-web/src/components/Forms/projectSummaries/BasicInformation.js
  services/minespace-web/src/components/Forms/projectSummaries/DocumentUpload.js
  services/minespace-web/src/components/Forms/projectSummaries/ProjectContacts.js
  services/minespace-web/src/components/Forms/projectSummaries/ProjectDates.js
  services/minespace-web/src/components/Forms/projectSummaries/ProjectSummaryForm.js
  services/minespace-web/src/components/pages/ProjectSummaryPage.js
  services/minespace-web/src/constants/routes.js
Labels: 💾 Backend, 💻 Frontend

#1938 MDS-3825 - add max_old_size param to .env file to prevent js heap issues
  services/core-web/.env-example
  services/core-web/Dockerfile
  services/core-web/package.json
  services/minespace-web/.env-example
  services/minespace-web/Dockerfile
  services/minespace-web/package.json
Labels: 💻 Frontend

#1940 MDS-3439 - add condition for new incidents to default to blank dates/…
  services/core-web/src/components/mine/Incidents/MineIncidents.js
Labels: 💻 Frontend
