Repository bcgov/mds, pull requests merged in 2021-01, with the labels that each got.

#1594 use function to get incident year
  services/core-api/app/api/incidents/models/mine_incident.py
Labels: 👍 Ready for review, 💾 Backend

#1595 MDS-3206: rematches fields
  migrations/sql/V2021.01.04.12.53__altered_now_submissions_table.sql
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-api/app/templates/now/Technical Review.docx
  services/core-api/tests/now_submission_factories.py
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/verification/__snapshots__/ApplicationStepOne.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/verification/__snapshots__/VerifyApplicationInformationForm.spec.js.snap
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1589 MDS-2140 GenTax Export + Update NoW is_historical logic
  migrations/sql/R__view_mine_summary.sql
  migrations/sql/R__view_notice_of_work.sql
  services/core-api/app/api/constants.py
  services/core-api/app/api/exports/mines/models/mine_summary_view.py
  services/core-api/app/api/exports/mines/resources/mine_summary_csv_resource.py
  services/core-api/app/api/exports/mines/resources/mine_summary_resource.py
  services/core-api/app/api/exports/namespace.py
  services/core-api/app/api/exports/response_models.py
Labels: 👍 Ready for review, 💾 Backend, 📜 SQL

#1598 MDS-3166 Assessed Liability after permit closure
  migrations/sql/R__stored_procedure_for_permit_assessment.sql
  migrations/sql/R__stored_procedure_for_permit_but_better.sql
  migrations/sql/V2020.12.01.09.00__remaining_permit_liability.sql
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-web/src/components/Forms/EditPermitForm.js
  services/core-web/src/components/Forms/PermitAmendmentForm.js
  services/core-web/src/components/Forms/noticeOfWork/RejectApplicationForm.js
  services/core-web/src/components/Forms/permits/PermitAmendmentSecurityForm.js
  services/core-web/src/components/mine/Permit/MinePermitTable.js
  services/core-web/src/customPropTypes/permits.js
  services/core-web/src/manualReporting/renderReport.js
  services/core-web/src/tests/components/Forms/__snapshots__/PermitAmendmentForm.spec.js.snap
  services/core-web/src/tests/components/Forms/permits/__snapshots__/PermitAmendmentSecurityForm.spec.js.snap
  services/core-web/src/tests/components/mine/Securities/__snapshots__/MineSecurityInfo.spec.js.snap
  services/core-web/src/tests/components/mine/Summary/__snapshots__/MineSummary.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
Labels: 💻 Frontend, 💾 Backend

#1599 Fix some permit data from not being updated when permittee changes
  migrations/sql/R__stored_procedure_for_permit_but_better.sql
Labels: 📜 SQL

#1601 Feature/mds 3236 permit template document
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/exports/static_content/resources/core_static_content_resource.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment_type_code.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/now_applications/models/now_application_document_type.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/templates/permit/Permit.docx
  services/core-web/common/constants/strings.js
  services/core-web/common/reducers/staticContentReducer.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/src/components/Forms/PermitAmendmentForm.js
  services/core-web/src/components/Forms/permits/GeneratePermitForm.js
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
  services/core-web/src/components/mine/Permit/MinePermitTable.js
  services/core-web/src/components/modalContent/NOWProgressModal.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/minespace-web/common/constants/strings.js
  services/minespace-web/common/reducers/staticContentReducer.js
  services/minespace-web/common/selectors/staticContentSelectors.js
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1593 Feature/standard permit conditions
  migrations/sql/V2020.12.22.17.26__delete_standard_conditions_seed.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  migrations/sql/afterMigrate__4__seed_permit_template_conditions.sql
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_conditions/models/standard_permit_conditions.py
  services/core-web/common/actionCreators/permitActionCreator.js
  services/core-web/src/components/Forms/permits/conditions/AddCondition.js
  services/core-web/src/components/Forms/permits/conditions/Condition.js
  services/core-web/src/components/Forms/permits/conditions/ConditionForm.js
  services/core-web/src/components/Forms/permits/conditions/ConditionLayerFive.js
  services/core-web/src/components/Forms/permits/conditions/ConditionLayerFour.js
  services/core-web/src/components/Forms/permits/conditions/ConditionLayerOne.js
  services/core-web/src/components/Forms/permits/conditions/ConditionLayerThree.js
  services/core-web/src/components/Forms/permits/conditions/ConditionLayerTwo.js
  services/core-web/src/components/Forms/permits/conditions/Conditions.js
  services/core-web/src/components/Forms/permits/conditions/ListItemForm.js
  services/core-web/src/components/Forms/permits/conditions/SectionForm.js
  services/core-web/src/components/Forms/permits/conditions/SubConditionForm.js
  services/core-web/src/components/modalContent/DeleteConditionModal.js
  services/core-web/src/components/modalContent/ViewConditionModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/constants/forms.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/tests/components/modalContent/__snapshots__/DeleteConditionModal.spec.js.snap
  services/minespace-web/common/actionCreators/permitActionCreator.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1603 Feature/mds 3201 update the acknowledgement letter
  migrations/sql/V2021.01.08.10.45__update_acknowledgment_letter_form_spec.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/templates/now/Acknowledgment Letter.docx
Labels: :notebook_with_decorative_cover: Template, 👍 Ready for review, 💊 Fix, 💾 Backend, 📜 SQL

#1600 MDS-3230 NoW reject/withdrawal ends all in progress and delays.
  services/core-api/app/api/now_applications/models/now_application_delay.py
  services/core-api/app/api/now_applications/models/now_application_progress.py
  services/core-api/app/api/now_applications/resources/now_application_delay_resource.py
  services/core-api/app/api/now_applications/resources/now_application_progress_resource.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-api/tests/now_application_factories.py
  services/core-api/tests/now_applications/resources/test_now_application_delay_resource.py
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/NOWProgressStatus.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1606 MDS-3213 + MDS-3286 - Data Fixes for NoWs and Permittees
  migrations/sql/R__stored_procedure_for_mine_status_information.sql
  migrations/sql/R__stored_procedure_for_permit_but_better.sql
  migrations/sql/R__view_notice_of_work.sql
Labels: ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 👍 Ready for review, 📜 SQL

#1604 Update NoW status to match progress/delay/end states.
  migrations/sql/R__view_notice_of_work.sql
  migrations/sql/V2021.01.08.15.15__add_previous_now_status.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/constants.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_application_status.py
  services/core-api/app/api/now_applications/resources/now_application_delay_resource.py
  services/core-api/app/api/now_applications/resources/now_application_import_resource.py
  services/core-api/app/api/now_applications/resources/now_application_progress_resource.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/tests/now_application_factories.py
  services/core-api/tests/now_submission_factories.py
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
  services/core-api/tests/status_code_gen.py
  services/core-web/src/components/Forms/noticeOfWork/UpdateNOWStatusForm.js
  services/core-web/src/components/modalContent/NOWStatusReasonModal.js
  services/core-web/src/components/modalContent/UpdateNOWStatusModal.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/applications/NOWRejectionReason.js
  services/core-web/src/components/noticeOfWork/applications/NOWStatusReason.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/constants/theme.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1605 MDS-3300, MDS-3301: template chnages and date format update
  services/core-api/app/templates/permit/Permit.docx
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
Labels: :notebook_with_decorative_cover: Template, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1610 MDS-3306:Fix NOW submission documents download for not imported files
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/tests/now_submission_factories.py
  services/core-web/src/components/noticeOfWork/applications/NOWSubmissionDocuments.js
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1608 Delete "Additional Conditions" category code
  migrations/sql/V2021.01.12.14.09__remove_additional_conditions_category.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/tests/mocks/dataMocks.js
Labels: 👍 Ready for review, 💻 Frontend, 📜 SQL

#1611 Bug/duration with delays calculation
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWProgressTable.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/minespace-web/common/utils/helpers.js
Labels: javascript, 🐞 Bug, 👍 Ready for review, 💊 Fix, 💻 Frontend

#1609 MDS 3227 MPA for permittee failing to create new permittee
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
Labels: 🐞 Bug, 👍 Ready for review, 💾 Backend

#1612 MDS-3132: Fix NoW View Status Column Filter
  migrations/sql/R__view_notice_of_work.sql
  migrations/sql/V2021.01.14.08.46__update_now_application_status.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/constants.py
  services/core-api/app/api/now_applications/models/notice_of_work_view.py
  services/core-api/app/api/now_applications/resources/now_application_list_resource.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/tests/now_submission_factories.py
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/constants/theme.js
Labels: 🎫 Ticket closer, 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend, 📜 SQL

#1614 MDS-3314: added generate permit number step before issue permit
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-web/common/actionCreators/permitActionCreator.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/src/components/Forms/permits/GeneratePermitNumberForm.js
  services/core-web/src/components/modalContent/GeneratePermitNumberModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/constants/forms.js
  services/core-web/src/tests/actionCreators/permitActionCreator.spec.js
  services/minespace-web/common/actionCreators/permitActionCreator.js
  services/minespace-web/common/constants/reducerTypes.js
Labels: 👍 Ready for review, 💻 Frontend, 💾 Backend

#1613 Change integers to numeric for NoW columns
  migrations/sql/R__view_notice_of_work.sql
  migrations/sql/V2021.01.14.15.10__update_now_integer_to_numeric.sql
  migrations/sql/V2021.01.15.11.00__update_mms_now_application.sql
  services/core-api/app/api/mms_now_submissions/models/application.py
  services/core-api/app/api/now_applications/models/activity_detail/activity_detail_base.py
  services/core-api/app/api/now_applications/models/activity_summary/camp.py
  services/core-api/app/api/now_applications/models/activity_summary/sand_gravel_quarry_operation.py
  services/core-api/app/api/now_applications/models/activity_summary/underground_exploration.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  tasks/now-etls/create_now_identities.py
  tasks/now-etls/mms_now_import.py
Labels: 👍 Ready for review, 💾 Backend

#1617 MDS-3312 permitee history not working
  services/core-api/app/api/parties/party_appt/models/mine_party_appt.py
  services/core-api/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  services/core-web/src/components/parties/RelationshipProfile.js
Labels: 💻 Frontend, 💾 Backend

#1618 Misc bug fixes
  migrations/sql/V2021.01.15.15.36__delete_duplicate_now_document_types.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/tests/mines/permit/resources/test_permit_resource.py
  services/core-web/src/components/Forms/noticeOfWork/NOWReviewForm.js
  services/core-web/src/components/mine/Permit/MinePermitTable.js
  services/core-web/src/components/noticeOfWork/applications/NOWTabHeader.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/components/noticeOfWork/applications/referals/ReferralConsultationPackage.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.js
  services/core-web/src/tests/components/noticeOfWork/applications/process/__snapshots__/ProcessPermit.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewApplicationFeeContent.spec.js.snap
Labels: 💻 Frontend, 💾 Backend

#1619 MDS-3308: Users Can Add Author, Title, and Date Info For Final Application Package Documents & Previous Amendment Documents (If Applicable)
  migrations/sql/V2021.01.15.11.12__update_now_application_document_xref.sql
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment_document.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_application_document_identity_xref.py
  services/core-api/app/api/now_applications/models/now_application_document_xref.py
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/templates/permit/Permit.docx
  services/core-web/src/components/Forms/permits/GeneratePermitForm.js
  services/core-web/src/components/modalContent/EditFinalPermitDocumentPackage.js
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWSubmissionDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/PreviousAmendmentDocuments.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/manualReporting/renderReport.js
  services/core-web/src/tests/components/modalContent/__snapshots__/DownloadDocumentPackageModal.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/EditFinalPermitDocumentPackage.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/__snapshots__/FinalPermitDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWSecurities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/process/ProcessPermit.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/mocks/noticeOfWorkMocks.js
Labels: :notebook_with_decorative_cover: Template, 🌶 Enhancement, 🎫 Ticket closer, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1621 Fix save NoW draft bug
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend

#1607 MERGE FOR LAUNCH - Remove Feature flagging on NoW and regional mine editing
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  services/core-web/src/components/mine/ContactInfo/PartyRelationships/DefaultContact.js
  services/core-web/src/components/mine/ContactInfo/ViewPartyRelationships.js
  services/core-web/src/components/mine/MineHeader.js
  services/core-web/src/components/mine/NoticeOfWork/MineNoticeOfWorkTable.js
  services/core-web/src/components/mine/Permit/MinePermitInfo.js
  services/core-web/src/components/mine/Permit/MinePermitTable.js
  services/core-web/src/tests/components/mine/Permit/__snapshots__/MinePermitInfo.spec.js.snap
  services/core-web/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#1623 Fix bug regarding invalid check on submission documents
  services/core-api/app/api/now_applications/resources/now_application_resource.py
Labels: 💾 Backend

#1625 MISC BUG FIXES
  services/core-api/app/api/parties/party/models/address.py
  services/core-api/app/templates/now/Acknowledgment Letter.docx
  services/core-api/app/templates/now/Permit Enclosed Letter.docx
  services/core-api/app/templates/now/Rejection Letter.docx
  services/core-api/app/templates/now/Withdrawal Letter.docx
  services/core-api/tests/factories.py
  services/core-web/common/utils/Validate.js
  services/core-web/src/components/Forms/PermitAmendmentForm.js
  services/core-web/src/components/Forms/Securities/BondForm.js
  services/core-web/src/components/Forms/noticeOfWork/VerifyNoWContacts.js
  services/core-web/src/components/Forms/parties/AddFullPartyForm.js
  services/core-web/src/components/Forms/parties/AddQuickPartyForm.js
  services/core-web/src/components/Forms/parties/EditFullPartyForm.js
  services/core-web/src/components/Forms/permits/PermitAmendmentSecurityForm.js
  services/core-web/src/components/Forms/permits/conditions/Conditions.js
  services/core-web/src/components/common/NOWPartySelectField.js
  services/core-web/src/components/mine/MineDashboard.js
  services/core-web/src/components/mine/Permit/MinePermitInfo.js
  services/core-web/src/components/modalContent/DeleteConditionModal.js
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWApplicationAdministrative.js
  services/core-web/src/styles/components/Loading.scss
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/tests/components/Forms/__snapshots__/PermitAmendmentForm.spec.js.snap
  services/core-web/src/tests/components/Forms/permits/__snapshots__/PermitAmendmentSecurityForm.spec.js.snap
  services/core-web/src/tests/components/mine/Permit/__snapshots__/MinePermitInfo.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/DeleteConditionModal.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/administrative/__snapshots__/NOWApplicationAdministrative.spec.js.snap
  services/minespace-web/common/utils/Validate.js
Labels: 💻 Frontend, 💾 Backend

#1626 MDS-3311: fix for issue date on draft permit
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
Labels: 💾 Backend

#1627 Added fetch mine to permit tab
  services/core-web/src/components/mine/Permit/MinePermitInfo.js
  services/core-web/src/tests/components/mine/Permit/MinePermitInfo.spec.js
Labels: 💻 Frontend

#1628 MDS-set processed field to 'Y'
  services/core-api/app/api/now_submissions/resources/application_list_resource.py
Labels: 💾 Backend

#1602 MDS-3110: Users can view a mine's MMS files (using Syncfusion File Manager)
  docker-compose.yml
  openshift/pipeline/config-build.groovy
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  openshift/templates/_nginx.dc.json
  openshift/templates/_nodejs.dc.json
  openshift/templates/filesystem-provider.bc.json
  openshift/templates/filesystem-provider.dc.json
  services/core-web/.env-example
  services/core-web/common/constants/environment.js
  services/core-web/package-lock.json
  services/core-web/package.json
  services/core-web/server.js
  services/core-web/src/components/mine/ContactInfo/MineContactInfo.js
  services/core-web/src/components/mine/Documents/MineDocuments.js
  services/core-web/src/components/mine/MineDashboard.js
  services/core-web/src/components/mine/MineNavigation.js
  services/core-web/src/components/syncfusion/AmazonS3Provider.js
  services/core-web/src/components/syncfusion/SampleBase.js
  services/core-web/src/constants/routes.js
  services/core-web/src/fetchEnv.js
  services/core-web/src/routes/MineDashboardRoutes.js
  services/core-web/src/styles/index.scss
  services/core-web/src/styles/tools/syncfusion.scss
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  services/core-web/webpack.parts.js
  services/filesystem-provider/.env-example
  services/filesystem-provider/Dockerfile
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/.gitignore
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/Controllers/AmazonS3ProviderController.cs
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/EJ2AmazonS3ASPCoreFileProvider.csproj
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/Models/AmazonS3FileProvider.cs
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/Program.cs
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/Properties/launchSettings.json
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/README.md
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/Startup.cs
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/appsettings.Development.json
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/appsettings.json
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/web.config
  services/filesystem-provider/init.sh
  services/minespace-web/common/constants/environment.js
  services/nginx/conf.d/api.filesystem-provider.conf.tmpl
  services/nginx/nginx.conf
Labels: 🌶 Enhancement, 🎫 Ticket closer, 🏭 CI/CD, 👍 Ready for review, 💻 Frontend, 💾 Backend

#1629 Remove "Drag and drop to upload" message for empty folders
  services/core-web/src/styles/tools/syncfusion.scss
Labels: 👍 Ready for review, 🤡 Superfluous Label

#1630 updated staticContent fetch
  services/core-web/common/actionCreators/staticContentActionCreator.js
  services/core-web/src/components/Home.js
  services/core-web/src/tests/actionCreators/staticContentActionCreator.spec.js
  services/core-web/src/tests/components/Home.spec.js
  services/minespace-web/common/actionCreators/staticContentActionCreator.js
Labels: 💻 Frontend

#1632 Bug/change new permit to amendment
  services/core-api/tests/now_application_factories.py
  services/core-api/tests/status_code_gen.py
  services/core-web/src/components/Forms/noticeOfWork/ChangeApplicationTypeForm.js
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
  services/core-web/src/components/modalContent/NOWProgressModal.js
  services/core-web/src/components/modalContent/StartDraftPermitModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/constants/forms.js
  services/filesystem-provider/init.sh
Labels: 💻 Frontend, 💾 Backend

#1633 Bug/mds 3369
  services/core-api/app/templates/permit/Permit.docx
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
Labels: 💻 Frontend, 💾 Backend

#1635 MDS 3360
  services/core-web/src/components/Forms/Securities/BondForm.js
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/BondForm.spec.js.snap
Labels: 💻 Frontend

#1636 Changed create draft permit component
  services/core-web/common/actionCreators/permitActionCreator.js
  services/core-web/src/components/Forms/Securities/BondForm.js
  services/core-web/src/components/Forms/noticeOfWork/ChangeApplicationTypeForm.js
  services/core-web/src/components/Forms/noticeOfWork/NOWReviewForm.js
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
  services/core-web/src/components/modalContent/StartDraftPermitModal.js
  services/core-web/src/components/noticeOfWork/NOWProgressActions.js
  services/core-web/src/constants/forms.js
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/BondForm.spec.js.snap
  services/minespace-web/common/actionCreators/permitActionCreator.js
Labels: 💻 Frontend

#1637 MDS-3354: Fix Name Issue With Party Organizations
  migrations/sql/V2021.01.28.10.10__remove_first_name_for_party_organizations.sql
  migrations/sql/V2021.01.28.12.36__alter_table_party_drop_column_middle_name.sql
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/tests/parties/party/models/test_party_model.py
Labels: 👍 Ready for review, 💊 Fix, 💾 Backend, 📜 SQL

#1638 MDS-increase max_connections value
  migrations/sql/afterMigrate__100_set_max_connections.sql
  migrations/sql/afterMigrate__99__assign_permissions.sql
Labels: 👍 Ready for review, 📜 SQL
