Repository bcgov/mds, pull requests merged in 2021-06, with the labels that each got.

#1742 Feature/mds 3749
  migrations/sql/V2021.05.27.10.13__relink_equipment_to_now_application.sql
  services/core-api/app/api/now_applications/models/activity_equipment_xref.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/now_submissions/models/__init__.py
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/app/api/now_submissions/models/application_equipment_xref.py
  services/core-api/app/api/now_submissions/models/equipment.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-api/app/templates/now/Notice of Work Form.docx
  services/core-web/src/components/noticeOfWork/applications/review/ReviewActivities.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Equipment.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/MechanicalTrenching.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Placer.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/tests/components/mine/Summary/__snapshots__/MineSummary.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/AddReportModal.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/administrative/__snapshots__/AdministrativeTab.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/process/__snapshots__/ProcessPermit.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/referals/__snapshots__/ReferralTabs.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ApplicationTab.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewActivities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Equipment.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/MechanicalTrenching.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Placer.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SandGravelQuarry.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceBulkSamples.spec.js.snap
  tasks/now-etls/NOW_import.py
Labels: :notebook_with_decorative_cover: Template, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL, 🥉🔃🥇 Transmogrify

#1744 MDS-3665: replaced exploration checkbox to radio buttons
  services/core-web/src/components/Forms/AddPermitForm.js
  services/core-web/src/components/Forms/permits/PreDraftPermitForm.js
Labels: 🌶 Enhancement, 👍 Ready for review, 💻 Frontend

#1745 MDS-3755 added permit enclosed letter to generate document list
  services/core-web/src/components/noticeOfWork/applications/administrative/AdministrativeTab.js
Labels: 👍 Ready for review, 💻 Frontend

#1746 MDS-3749: added serial to equipment in now_submissions
  migrations/sql/V2021.06.03__add_serial_to_equipmentid_in_now_submissions.sql
Labels: :truck: VFCBC, 👍 Ready for review, 📜 SQL

#1747 MDS - update reclamation cost precision
  migrations/sql/V2021.06.04.14.57__update_activity_summary_table.sql
  services/core-api/app/api/now_applications/models/activity_summary/activity_summary_base.py
Labels: 💾 Backend

#1749 Feature/mds activity summary precision update
  services/core-api/app/api/now_submissions/response_models.py
Labels: 👍 Ready for review, 💾 Backend

#1750 Bugfix/mds 3611
  services/core-api/app/api/parties/party/resources/party_resource.py
  services/core-api/tests/parties/party/resources/test_party_resource.py
  services/core-web/src/components/Forms/parties/EditFullPartyForm.js
  services/core-web/src/tests/components/Forms/parties/__snapshots__/EditFullPartyForm.spec.js.snap
Labels: 👍 Ready for review, 💊 Fix, 💻 Frontend, 💾 Backend

#1751 MDS-3768: Document Link Upgrade
  services/core-web/src/components/common/DocumentLink.js
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  services/core-web/src/components/mine/Compliance/ComplianceOrdersTable.js
  services/core-web/src/components/mine/NoticeOfWork/MineNoticeOfWorkTable.js
  services/core-web/src/components/noticeOfWork/applications/NOWSubmissionDocuments.js
Labels: 🌶 Enhancement, 👍 Ready for review, 💻 Frontend

#1752 Bug/withdrawal status
  services/core-web/src/components/noticeOfWork/NOWActionWrapper.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/tests/components/mine/Summary/__snapshots__/MineSummary.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/AddReportModal.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/administrative/__snapshots__/AdministrativeTab.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/process/__snapshots__/ProcessPermit.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/referals/__snapshots__/ReferralTabs.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ApplicationTab.spec.js.snap
Labels: 💻 Frontend

#1743 Update/vfcbc submission data
  migrations/sql/V2021.05.28.11.55__update_placer_activity.sql
  migrations/sql/V2021.05.28.13.50__update_now_application_activities.sql
  migrations/sql/V2021.06.01.8.44__update_now_submission_and_application.sql
  migrations/sql/V2021.06.03.14.05__update_sand_gravel_quarry.sql
  migrations/sql/V2021.06.07.16.55__update_settling_pond_activity.sql
  services/core-api/app/api/now_applications/models/activity_summary/placer_operation.py
  services/core-api/app/api/now_applications/models/activity_summary/sand_gravel_quarry_operation.py
  services/core-api/app/api/now_applications/models/activity_summary/settling_pond.py
  services/core-api/app/api/now_applications/models/activity_summary/underground_exploration.py
  services/core-api/app/api/now_applications/models/blasting_operation.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/state_of_land.py
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-api/tests/now_application_factories.py
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
  services/core-web/src/components/Forms/MineRecordForm.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/AccessRoads.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Blasting.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Camps.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/MechanicalTrenching.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/Placer.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SandGravelQuarry.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SettlingPonds.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/SurfaceBulkSamples.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/UndergroundExploration.js
  services/core-web/src/components/noticeOfWork/applications/review/activities/WaterSupply.js
  services/core-web/src/customPropTypes/noticeOfWork.js
  services/core-web/src/manualReporting/renderReport.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/tests/components/Forms/__snapshots__/MineRecordForm.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/UndergroundExploration.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/AccessRoads.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Blasting.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Camps.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/MechanicalTrenching.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/Placer.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SandGravelQuarry.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SettlingPonds.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/SurfaceBulkSamples.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/UndergroundExploration.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/activities/__snapshots__/WaterSupply.spec.js.snap
Labels: 💻 Frontend, 💾 Backend

#1741 MDS-3722 Docgen and Document Manager running locally
  AddHosts.ps1
  AddHosts.sh
  USAGE.md
  services/document-manager/backend/.env-example
Labels: 🐞 Bug, 💊 Fix

#1754 Bug/vfcbc data types
  migrations/sql/V2021.06.10.10.39__update_now_data_types.sql
  services/core-api/app/api/constants.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/now_submissions/models/application.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-api/tests/now_submissions/resources/test_application_list_resource.py
Labels: 💾 Backend

#1753 MDS-3646: Users Can Create Work Information (Start/Stop) Records in Core
  migrations/sql/V2021.05.25.15.10__create_mine_work_information_table.sql
  services/core-api/app/api/exports/static_content/resources/core_static_content_resource.py
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/mine/resources/mine.py
  services/core-api/app/api/mines/namespace.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/mines/work_information/__init__.py
  services/core-api/app/api/mines/work_information/models/__init__.py
  services/core-api/app/api/mines/work_information/models/mine_work_information.py
  services/core-api/app/api/mines/work_information/resources/__init__.py
  services/core-api/app/api/mines/work_information/resources/work_information.py
  services/core-api/app/api/mines/work_information/resources/work_information_list.py
  services/core-web/common/actionCreators/incidentActionCreator.js
  services/core-web/common/actionCreators/workInformationActionCreator.js
  services/core-web/common/actions/workInformationActions.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/reducers.js
  services/core-web/common/reducers/workInformationReducer.js
  services/core-web/common/selectors/workInformationSelectors.js
  services/core-web/package-lock.json
  services/core-web/src/components/Forms/AddMineWorkInformationForm.js
  services/core-web/src/components/Forms/AdvancedMineSearchForm.js
  services/core-web/src/components/common/CoreTooltip.js
  services/core-web/src/components/dashboard/minesHomePage/Dashboard.js
  services/core-web/src/components/dashboard/minesHomePage/MineList.js
  services/core-web/src/components/mine/Summary/MineSummary.js
  services/core-web/src/components/mine/Summary/MineWorkInformation.js
  services/core-web/src/components/modalContent/AddMineWorkInformationModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/constants/forms.js
  services/core-web/src/constants/theme.js
  services/core-web/src/reducers/rootReducer.js
  services/core-web/src/styles/components/CoreTooltip.scss
  services/core-web/src/styles/index.scss
  services/core-web/src/tests/actionCreators/workInformationActionCreator.spec.js
  services/core-web/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  services/core-web/src/tests/components/dashboard/minesHomePage/__snapshots__/MineList.spec.js.snap
  services/core-web/src/tests/components/mine/Summary/__snapshots__/MineSummary.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/minespace-web/common/actionCreators/incidentActionCreator.js
  services/minespace-web/common/actionCreators/workInformationActionCreator.js
  services/minespace-web/common/actions/workInformationActions.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/reducers.js
  services/minespace-web/common/reducers/workInformationReducer.js
  services/minespace-web/common/selectors/workInformationSelectors.js
Labels: 🌶 Enhancement, 👍 Ready for review, 💻 Frontend, 💾 Backend, 📜 SQL

#1756 MDS 3584 preview docs before generating
  services/core-api/app/api/document_generation/resources/now_document.py
  services/core-web/src/actionCreators/documentActionCreator.js
  services/core-web/src/components/Forms/GenerateDocumentForm.js
  services/core-web/src/components/modalContent/UpdateStatusGenerateLetterModal.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
Labels: 💻 Frontend, 💾 Backend

#1758 Bug/v fcbc data
  services/core-api/app/api/now_applications/transmogrify_now.py
Labels: 💾 Backend

#1759 BUG: Missing function values for the preview document.
  services/core-web/src/components/modalContent/GenerateDocumentModal.js
  services/core-web/src/components/noticeOfWork/applications/administrative/AdministrativeTab.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/DraftPermitTab.js
Labels: 🐞 Bug, 💻 Frontend

#1757 MDS-3670: GIS Export Updates
  migrations/sql/R__view_now_application_gis_export.sql
  migrations/sql/afterMigrate__87__create_test_db.sql
  migrations/sql/afterMigrate__88__create_schema_users.sql.tmpl
  migrations/sql/afterMigrate__89__assign_permissions.sql
  migrations/sql/afterMigrate__90__set_max_connections.sql
  services/core-api/app/api/exports/now_application/models/now_application_gis_export.py
  services/core-api/app/api/exports/now_application/resources/now_application_gis_export_resource.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend, 📜 SQL

#1762 Bug/v fcbc boolean
  services/core-api/app/api/now_applications/transmogrify_now.py
Labels: 💾 Backend

#1764 Added 'other_information' to NoW UI
  migrations/sql/V2021.06.21.10.16__update_now_application.sql
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/tests/now_application_factories.py
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWSideMenu.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
Labels: 💻 Frontend, 💾 Backend

#1775 OCP4 pipeline adjustments
  .github/workflows/promote-to-test.yaml
  openshift/docker-images/nodejs-10-public/Dockerfile
  openshift/docker-images/nodejs-10/Dockerfile
  openshift/docker-images/python-36-docman/Dockerfile
  openshift/docker-images/python-36-oracle/Dockerfile
  openshift/docker-images/python-36/Dockerfile
Labels: 🏭 CI/CD

#1763 MDS-3717: Create Union Rep Party Type + Bug Fixes
  migrations/sql/V2021.06.17.15.09__add_union_rep_party_type.sql
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/mines/tailings/resources/tailings.py
  services/core-api/app/api/mines/work_information/models/mine_work_information.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-api/app/api/parties/party_appt/models/mine_party_appt.py
  services/core-api/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  services/core-api/app/api/parties/response_models.py
  services/core-api/app/commands.py
  services/core-api/tests/factories.py
  services/core-api/tests/parties/party_appt/model/test_mine_party_appt_model.py
  services/core-api/tests/parties/party_appt/resources/test_mine_party_appt_resource.py
  services/core-api/tests/parties/party_appt/resources/test_mpa_permittee_resource.py
  services/core-web/src/components/Forms/PartyRelationships/AddPartyRelationshipForm.js
  services/core-web/src/components/Forms/PartyRelationships/EditPartyRelationshipForm.js
  services/core-web/src/components/Forms/PartyRelationships/UnionRepOptions.js
  services/core-web/src/components/Forms/parties/AddRolesForm.js
  services/core-web/src/components/mine/ContactInfo/PartyRelationships/Contact.js
  services/core-web/src/components/mine/ContactInfo/PartyRelationships/UnionRep.js
  services/core-web/src/components/mine/ContactInfo/ViewPartyRelationships.js
  services/core-web/src/components/mine/MineDashboard.js
  services/core-web/src/components/mine/Permit/MinePermitInfo.js
  services/core-web/src/components/mine/Tailings/MineTailingsInfo.js
  services/core-web/src/components/parties/RelationshipProfile.js
  services/core-web/src/customPropTypes/parties.js
  services/minespace-web/src/components/dashboard/mine/MineDashboard.js
Labels: 🌶 Enhancement, 💊 Fix, 💻 Frontend, 💾 Backend, 📜 SQL, 🚧 WIP

#1781 Update packages used in ocp4 builds
  openshift/docker-images/nodejs-10-public/package-lock.json
  openshift/docker-images/nodejs-10-public/package.json
  openshift/docker-images/nodejs-10/package-lock.json
  openshift/docker-images/nodejs-10/package.json
  openshift/docker-images/python-36-docman/requirements.txt
  openshift/docker-images/python-36-oracle/requirements.txt
  openshift/docker-images/python-36/requirements.txt
Labels: 🏭 CI/CD
