Repository bcgov/mds, pull requests merged in 2021-09, with the labels that each got.

#1855 Delete Draft permits that are New Permits.
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/utils/helpers.py
  services/core-api/tests/mines/permit/resources/test_permit_resource.py
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend, 💊 Fix

#1856 MDS-3891: Email Notifications
  openshift4/templates/backend.dc.yaml
  services/core-api/.env-example
  services/core-api/app/api/constants.py
  services/core-api/app/api/mines/work_information/models/mine_work_information.py
  services/core-api/app/api/mines/work_information/resources/work_information.py
  services/core-api/app/api/mines/work_information/resources/work_information_list.py
  services/core-api/app/api/securities/resources/bond.py
  services/core-api/app/api/services/email_service.py
  services/core-api/app/api/utils/access_decorators.py
  services/core-api/app/config.py
  services/minespace-web/package-lock.json
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend, 💻 Frontend

#1858 Fix secret name
  openshift4/templates/backend.dc.yaml
Labels: 👍 Ready for review

#1860 Bug/mds 3117 permitee bug on search
  services/core-api/app/api/search/response_models.py
  services/core-web/src/components/search/ContactResultsTable.js
Labels: 🐞 Bug, 💾 Backend, 💻 Frontend

#1859 MDS-2603: Email Notification for MineSpace Report Uploads
  services/core-api/app/api/constants.py
  services/core-api/app/api/mines/reports/models/mine_report.py
  services/core-api/app/api/mines/reports/resources/mine_reports.py
  services/minespace-web/src/components/Forms/reports/AddReportForm.js
  services/minespace-web/src/components/Forms/reports/EditReportForm.js
  services/minespace-web/src/components/dashboard/mine/reports/Reports.js
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend, 💻 Frontend

#1857 Feat/mds 3859 add multiple phone numbers and emails to parties
  migrations/sql/V2021.09.02.03.00__add_phone_and_email_columns_to_party.sql
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/api/parties/party/resources/party_list_resource.py
  services/core-api/app/api/parties/party/resources/party_resource.py
  services/core-api/app/api/parties/response_models.py
  services/core-api/tests/factories.py
  services/core-api/tests/parties/party/models/test_party_model.py
  services/core-web/src/components/Forms/parties/AddFullPartyForm.js
  services/core-web/src/components/Forms/parties/AddQuickPartyForm.js
  services/core-web/src/components/Forms/parties/EditFullPartyForm.js
  services/core-web/src/tests/components/Forms/parties/__snapshots__/AddFullPartyForm.spec.js.snap
  services/core-web/src/tests/components/Forms/parties/__snapshots__/AddQuickPartyForm.spec.js.snap
  services/core-web/src/tests/components/Forms/parties/__snapshots__/EditFullPartyForm.spec.js.snap
Labels: 💾 Backend, 💻 Frontend

#1852 MDS-3907: Add AWS IaC pipeline
  .github/workflows/aws-infra-dev.yaml
  .github/workflows/aws-infra-prod.yaml
  .github/workflows/aws-infra-test.yaml
  .github/workflows/pr_checklist.yaml
  .gitignore
  openshift4/customresources/sysdig.yaml
  terraform/RDS_SETUP.md
  terraform/README.md
  terraform/configs.yaml
  terraform/dev/terragrunt.hcl
  terraform/modules/budget.tf
  terraform/modules/main.tf
  terraform/modules/network.tf
  terraform/modules/outputs.tf
  terraform/modules/s3.tf
  terraform/modules/security.tf
  terraform/modules/variables.tf
  terraform/prod/terragrunt.hcl
  terraform/terragrunt.hcl
  terraform/test/terragrunt.hcl
Labels: 🏭 CI/CD, 👍 Ready for review

#1861 Upgrade/mds 3896
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
  services/core-api/app/templates/now/Notice of Work Form.docx
  services/core-web/src/components/Forms/MineRecordForm.js
  services/core-web/src/components/Forms/noticeOfWork/EditNOWMineAndLocation.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewActivities.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewAdminAmendmentApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.js
  services/core-web/src/constants/NOWConditions.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/tests/components/Forms/__snapshots__/MineRecordForm.spec.js.snap
  services/core-web/src/tests/components/Forms/noticeOfWork/__snapshots__/EditNOWMineAndLocation.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWSideMenu.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewActivities.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend, 💊 Fix

#1865 Bug/start stop permissions
  services/core-api/app/api/mines/work_information/resources/work_information.py
  services/core-api/app/api/mines/work_information/resources/work_information_list.py
Labels: 💾 Backend

#1867 Bug/employees permissions
  services/core-api/app/api/mines/mine/resources/mine.py
  services/core-api/tests/auth/test_expected_auth.py
Labels: 💾 Backend

#1864 MDS-2842 Batch Downloading CRR PRR
  services/core-web/src/components/common/DownloadAllDocuments.js
  services/core-web/src/components/mine/Permit/MinePermitInfo.js
  services/core-web/src/components/mine/Permit/MinePermitTable.js
  services/core-web/src/components/mine/Reports/MineReportActions.js
  services/core-web/src/components/mine/Reports/MineReportTable.js
Labels: 👍 Ready for review, 💻 Frontend

#1863 mds 3917 - Display Permit Package and Map documents in MineSpace
  services/core-web/src/components/mine/Permit/MinePermitTable.js
  services/minespace-web/src/components/dashboard/mine/permits/PermitsTable.js
Labels: 👍 Ready for review, 💻 Frontend

#1866 mds 3934 - Variance Applications in MineSpace
  migrations/sql/V2021.09.15.13.15__add_updated_by_to_variances.sql
  services/core-api/app/api/constants.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/mines/variances/resources/variance_list.py
  services/core-api/app/api/variances/models/variance.py
  services/core-api/app/api/variances/response_models.py
  services/core-web/src/styles/elements/elements.scss
  services/minespace-web/src/components/common/ContactCard.js
  services/minespace-web/src/components/dashboard/mine/overview/MineWorkInformation.js
  services/minespace-web/src/components/dashboard/mine/overview/WorkerInfoEmployee.js
  services/minespace-web/src/components/dashboard/mine/variances/VarianceDetails.js
  services/minespace-web/src/components/dashboard/mine/variances/Variances.js
  services/minespace-web/src/styles/overrides/antd-overrides.scss
  services/minespace-web/src/tests/components/dashboard/mine/overview/__snapshots__/MineWorkInformation.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/overview/__snapshots__/WorkerInfoEmployee.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/variances/__snapshots__/VarianceDetails.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/variances/__snapshots__/Variances.spec.js.snap
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend
