Repository bcgov/mds, pull requests merged in 2021-08, with the labels that each got.

#1818 Refactor bond transfer error handling
  services/core-api/app/api/securities/resources/bond.py
  services/core-api/tests/securities/resources/test_bond_resource.py
Labels: 💾 Backend

#1821 Edit ESUPS if Admin
  services/core-web/common/utils/Validate.js
  services/core-web/src/components/Forms/ExplosivesPermit/ExplosivesPermitForm.js
  services/core-web/src/tests/components/Forms/ExplosivesPermit/ExplosivesPermitForm.spec.js
  services/core-web/src/tests/components/Forms/ExplosivesPermit/__snapshots__/ExplosivesPermitForm.spec.js.snap
  services/minespace-web/common/utils/Validate.js
Labels: 💻 Frontend

#1824 Feature/banner
  services/core-web/src/components/Home.js
  services/core-web/src/styles/components/HomePage.scss
Labels: 💻 Frontend

#1825 MDS-3760: Sort the PP
  migrations/sql/V2021.08.04.11.02__add_support_for_sorting_permit_package.sql
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_application_document_identity_xref.py
  services/core-api/app/api/now_applications/models/now_application_document_xref.py
  services/core-api/app/api/now_applications/namespace.py
  services/core-api/app/api/now_applications/resources/administrative_amendment_list_resource.py
  services/core-api/app/api/now_applications/resources/now_application_document_resource.py
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/package-lock.json
  services/core-web/package.json
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/tests/actionCreators/noticeOfWorkActioncreator.spec.js
  services/core-web/src/tests/components/noticeOfWork/FinalPermitDocuments.spec.js
  services/minespace-web/common/actionCreators/noticeOfWorkActionCreator.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/reducerTypes.js
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend, 💻 Frontend, 📜 SQL

#1826 View only route for NoW applications
  services/core-api/app/api/now_applications/resources/now_application_resource.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-web/common/reducers/noticeOfWorkReducer.js
  services/core-web/src/HOC/ApplicationGuard.js
  services/core-web/src/components/dashboard/noticeOfWorkHomePage/NoticeOfWorkTable.js
  services/core-web/src/components/mine/NoticeOfWork/MineNoticeOfWorkTable.js
  services/core-web/src/components/noticeOfWork/applications/NOWSideMenu.js
  services/core-web/src/components/noticeOfWork/applications/NOWTabHeader.js
  services/core-web/src/components/noticeOfWork/applications/ViewNoticeOfWorkApplication.js
  services/core-web/src/components/noticeOfWork/applications/review/ApplicationTab.js
  services/core-web/src/constants/routes.js
  services/core-web/src/tests/components/dashboard/noticeOfWorkHomePage/__snapshots__/NoticeOfWorkHomePage.spec.js.snap
  services/core-web/src/tests/components/mine/NoticeOfWork/__snapshots__/MineApplications.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/ViewNoticeOfWorkApplication.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWDocuments.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/ViewNoticeOfWorkApplication.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/administrative/__snapshots__/AdministrativeTab.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/documents/__snapshots__/ManageDocumentsTab.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/process/__snapshots__/ProcessPermit.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/referals/__snapshots__/ReferralTabs.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ApplicationTab.spec.js.snap
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  services/minespace-web/common/reducers/noticeOfWorkReducer.js
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#1828 MDS-3788 Show EPIC Authorizations on mines that have them in EPIC
  services/core-api/app/api/mines/external_authorizations/__init__.py
  services/core-api/app/api/mines/external_authorizations/resources/__init__.py
  services/core-api/app/api/mines/external_authorizations/resources/epic_resource.py
  services/core-api/app/api/mines/external_authorizations/response_models.py
  services/core-api/app/api/mines/namespace.py
  services/core-api/app/api/services/epic_service.py
  services/core-api/app/api/services/nrpti_service.py
  services/core-api/app/api/utils/helpers.py
  services/core-api/app/config.py
  services/core-web/common/actionCreators/externalAuthorizationActionCreator.js
  services/core-web/common/actions/externalAuthorizationActions.js
  services/core-web/common/actions/mineActions.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/constants/strings.js
  services/core-web/common/reducers.js
  services/core-web/common/reducers/externalAuthorizationReducer.js
  services/core-web/common/selectors/externalAuthorizationSelectors.js
  services/core-web/src/components/common/NullScreen.js
  services/core-web/src/components/mine/ExternalAuthorizations/EPICAuthorizationsTable.js
  services/core-web/src/components/mine/ExternalAuthorizations/ExternalAuthorizations.js
  services/core-web/src/components/mine/MineNavigation.js
  services/core-web/src/constants/routes.js
  services/core-web/src/customPropTypes/externalAuthorizations.js
  services/core-web/src/customPropTypes/index.js
  services/core-web/src/reducers/rootReducer.js
  services/core-web/src/routes/MineDashboardRoutes.js
  services/core-web/src/tests/components/mine/ExternalAuthorizations/EPICAuthorizationsTable.spec.js
  services/core-web/src/tests/components/mine/ExternalAuthorizations/ExternalAuthorizations.spec.js
  services/core-web/src/tests/components/mine/ExternalAuthorizations/__snapshots__/EPICAuthorizationsTable.spec.js.snap
  services/core-web/src/tests/components/mine/ExternalAuthorizations/__snapshots__/ExternalAuthorizations.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  services/minespace-web/common/actionCreators/externalAuthorizationActionCreator.js
  services/minespace-web/common/actions/externalAuthorizationActions.js
  services/minespace-web/common/actions/mineActions.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/constants/strings.js
  services/minespace-web/common/reducers.js
  services/minespace-web/common/reducers/externalAuthorizationReducer.js
  services/minespace-web/common/selectors/externalAuthorizationSelectors.js
Labels: 💾 Backend, 💻 Frontend

#1831 Fix Permit Package Bug
  services/core-web/src/components/mine/NoticeOfWork/MineNoticeOfWorkTable.js
  services/core-web/src/components/modalContent/EditFinalPermitDocumentPackage.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/components/noticeOfWork/applications/PermitPackage.js
  services/core-web/src/tests/components/modalContent/__snapshots__/EditFinalPermitDocumentPackage.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/NOWDocuments.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend, 💊 Fix

#1830 MDS-3408 Add issuer config to pipeline and dc for prod
  .github/workflows/deploy-prod.yaml
  openshift4/templates/backend.dc.yaml
Labels: 🏭 CI/CD, 👍 Ready for review

#1819 MDS-3844: Add github runner build for frontend plus pipeline improvements
  .github/workflows/build.yaml
  .github/workflows/deploy-dev.yaml
  .github/workflows/deploy-prod.yaml
  .github/workflows/deploy-test.yaml
  .github/workflows/promote-to-prod.yaml
  .github/workflows/promote-to-test.yaml
  services/core-web/Dockerfile.ci
Labels: 🏭 CI/CD, 👍 Ready for review, 💻 Frontend

#1834 Remove/banner
  services/core-web/src/components/Home.js
  services/core-web/src/styles/components/HomePage.scss
Labels: 💻 Frontend

#1835 Changing 'due' to 'due_date' and 'status' to 'order_status' to correspond with the data records.
  services/core-web/src/components/mine/Compliance/ComplianceOrdersTable.js
  services/minespace-web/src/components/dashboard/mine/inspections/InspectionsTable.js
Labels: 💻 Frontend

#1836 Bug - Updated status mapping for now_submissions
  services/core-api/app/api/now_applications/transmogrify_now.py
Labels: 💾 Backend

#1838 Admin Amendments not loading, not showing PP
  services/core-web/src/components/noticeOfWork/applications/FinalPermitDocuments.js
  services/core-web/src/components/noticeOfWork/applications/NOWDocuments.js
  services/core-web/src/tests/components/mine/Compliance/__snapshots__/ComplianceOrdersTable.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/__snapshots__/FinalPermitDocuments.spec.js.snap
Labels: 💻 Frontend

#1837 MDS-3902: Add schemaspy deployment back to pipeline
  .github/workflows/build.yaml
  .github/workflows/deploy-dev.yaml
  .github/workflows/deploy-prod.yaml
  .github/workflows/deploy-test.yaml
  .github/workflows/promote-to-prod.yaml
  .github/workflows/promote-to-test.yaml
  .github/workflows/tests-coverage.yaml
  .github/workflows/tests-unit.yaml
  README.md
  openshift/docker-images/schemaspy/Dockerfile
  openshift4/customresources/sysdig.yaml
  openshift4/templates/schemaspy.bc.yaml
  openshift4/templates/schemaspy.dc.yaml
  services/minespace-web/src/tests/components/dashboard/mine/inspections/__snapshots__/InspectionsTable.spec.js.snap
Labels: 🌶 Enhancement, 🏭 CI/CD, 👍 Ready for review, 💻 Frontend, 💊 Fix

#1843 Fix and enhancement of MDS-3900 update tsf tailings tab
  migrations/sql/V2021.08.20.16.09__create_itrb_exemption_code_type_codes.sql
  migrations/sql/afterMigrate__1__seed_data.sql
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/exports/static_content/resources/core_static_content_resource.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/mines/tailings/models/itrb_exemption_status_code.py
  services/core-api/app/api/mines/tailings/models/tailings.py
  services/core-api/app/api/mines/tailings/resources/tailings.py
  services/core-api/app/api/mines/tailings/resources/tailings_list.py
  services/core-api/tests/factories.py
  services/core-api/tests/mines/tailings/resources/test_mine_tailings_resource.py
  services/core-web/common/reducers/staticContentReducer.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/Forms/AddTailingsForm.js
  services/core-web/src/components/mine/Tailings/MineTailingsInfo.js
  services/core-web/src/components/mine/Tailings/MineTailingsTable.js
  services/core-web/src/tests/components/Forms/AddTailingsForm.spec.js
  services/core-web/src/tests/components/Forms/__snapshots__/AddTailingsForm.spec.js.snap
  services/core-web/src/tests/components/dashboard/customHomePage/__snapshots__/CustomHomePage.spec.js.snap
  services/core-web/src/tests/components/dashboard/minesHomePage/__snapshots__/Dashboard.spec.js.snap
  services/core-web/src/tests/components/mine/ContactInfo/__snapshots__/MineContactInfo.spec.js.snap
  services/core-web/src/tests/components/mine/Summary/__snapshots__/MineSummary.spec.js.snap
  services/core-web/src/tests/components/mine/Tailings/__snapshots__/MineTailingsInfo.spec.js.snap
  services/core-web/src/tests/components/mine/Tailings/__snapshots__/MineTailingsTable.spec.js.snap
  services/core-web/src/tests/components/mine/Variances/__snapshots__/MineVariance.spec.js.snap
  services/core-web/src/tests/components/mine/__snapshots__/MineHeader.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/reducers/staticContentReducer.spec.js
  services/core-web/src/tests/selectors/staticContentSelectors.spec.js
  services/minespace-web/common/reducers/staticContentReducer.js
  services/minespace-web/common/selectors/staticContentSelectors.js
  services/minespace-web/common/utils/helpers.js
Labels: 💾 Backend, 💻 Frontend

#1851 NOW fix for Consultation and Referral Package Documents.
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-web/src/components/modalContent/DownloadDocumentPackageModal.js
  services/core-web/src/components/noticeOfWork/NOWActionWrapper.js
  services/core-web/src/components/noticeOfWork/applications/referals/ReferralConsultationPackage.js
  services/core-web/src/tests/components/modalContent/__snapshots__/DownloadDocumentPackageModal.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/referals/ReferralConsultationPackage.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/referals/__snapshots__/ReferralConsultationPackage.spec.js.snap
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#1854 adding 'is None' condition to filter out None final_package_order(s)
  services/core-api/app/api/now_applications/resources/now_application_export_resource.py
Labels: 💾 Backend
