Repository bcgov/mds, pull requests merged in 2022-03, with the labels that each got.

#1969 MDS-4125 - init tusd openshift4 service using kustomize
  .github/workflows/build.yaml
  .github/workflows/deploy-dev.yaml
  .github/workflows/promote-to-prod.yaml
  .github/workflows/promote-to-test.yaml
  openshift4/docker-images/tusd/Dockerfile
  openshift4/templates/tusd.dc.yaml
  openshift4/tusd/base/deployment.tusd.yaml
  openshift4/tusd/base/kustomization.yaml
  openshift4/tusd/base/service.tusd.yaml
  openshift4/tusd/overlays/dev/kustomization.yaml
  openshift4/tusd/overlays/prod/kustomization.yaml
  openshift4/tusd/overlays/prod/patch.yaml
  openshift4/tusd/overlays/test/kustomization.yaml
  openshift4/tusd/overlays/test/patch.yaml
  operations/openshift/docs/deployment_factor_README.md
  services/tusd/Dockerfile.ci
Labels: 🏭 CI/CD

#1996 MDS-3702: Multiple Rows one_or_none() error
  services/core-api/app/api/now_applications/models/now_application.py
Labels: 🐞 Bug, 👍 Ready for review, 💾 Backend, 💊 Fix

#1989 MDS-4145: Upgrade Docgen image/api reference
  docker-compose.ci.yaml
  docker-compose.yaml
  openshift4/templates/docgen.bc.yaml
  openshift4/templates/docgen.dc.yaml
  services/core-api/app/config.py
Labels: 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#2000 Feature/mds 4145 upgrade docgen
  openshift4/templates/docgen.dc.yaml
Labels: 💾 Backend

#2002 Ops improvements
  .github/workflows/deploy-prod.yaml
  .github/workflows/deploy-test.yaml
  .github/workflows/tests-coverage.yaml
  .github/workflows/tests-lint-manifests.yaml
  bin/help.sh
  bin/validate.sh
  docker-compose.ci.yaml
Labels: 🌶 Enhancement, 🏭 CI/CD, 👍 Ready for review, 🍋 Sour

#2003 Fix: Add tusd selector label to deployment pod
  openshift4/tusd/base/deployment.tusd.yaml
Labels: 🐞 Bug, 🏭 CI/CD, 💊 Fix

#1994 MDS-2884: Batch Downloading of NoW Docs
  services/core-web/src/components/common/downloads/helpers.js
  services/core-web/src/components/modalContent/ManageDocumentsDownloadPackageModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/components/noticeOfWork/applications/manageDocuments/ManageDocumentsTab.js
  services/core-web/src/tests/components/noticeOfWork/applications/documents/__snapshots__/ManageDocumentsTab.spec.js.snap
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2004 Enable Preview Documents to open PDF documents and speed up.
  openshift4/templates/docgen.dc.yaml
  openshift4/templates/filesystem-provider.dc.yaml
  services/core-web/package-lock.json
  services/core-web/package.json
  services/core-web/src/components/syncfusion/DocumentViewer.js
  services/core-web/src/tests/components/syncfusion/__snapshots__/DocumentViewer.spec.js.snap
Labels: 💻 Frontend, 💊 Fix

#2013 MDS-4030: Re-generate permit and letter for ESUP applications
  services/core-api/app/api/mines/explosives_permit/models/explosives_permit.py
  services/core-web/src/components/mine/ExplosivesPermit/MineExplosivesPermitTable.js
Labels: 💾 Backend, 💻 Frontend

#2014 Add Gov link to incidents tab in Minespace.
  services/minespace-web/src/components/dashboard/mine/incidents/Incidents.js
  services/minespace-web/src/tests/components/dashboard/mine/incidents/__snapshots__/Incidents.spec.js.snap
Labels: 💻 Frontend

#2015 Add imported NoW submissions to doc d/l modal
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-web/src/components/modalContent/ManageDocumentsDownloadPackageModal.js
  services/core-web/src/components/noticeOfWork/applications/NOWSubmissionDocuments.js
  services/core-web/src/components/noticeOfWork/applications/manageDocuments/ManageDocumentsTab.js
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2017 MDS-4205: Error when loading permits searched by now_application_guid
  services/core-api/app/api/mines/permits/permit/models/permit.py
Labels: 🐞 Bug, 💾 Backend

#2008 Feat/mds 41419 replace reported columns
  services/core-api/app/api/incidents/models/mine_incident.py
  services/core-api/app/api/incidents/response_models.py
  services/core-api/app/api/mines/response_models.py
  services/core-web/src/components/mine/Incidents/MineIncidentTable.js
  services/core-web/src/tests/components/mine/Incidents/__snapshots__/MineIncidentTable.spec.js.snap
Labels: 💾 Backend, 💻 Frontend

#2016 MDS-3965: Update Pop up verbiage on Draft Permit
  services/core-web/common/actionCreators/permitActionCreator.js
  services/minespace-web/common/actionCreators/permitActionCreator.js
Labels: 👍 Ready for review, 💻 Frontend
