Repository bcgov/mds, pull requests merged in 2022-09, with the labels that each got.

#2252 [MDS-4584] - ESUP Close bug
  services/core-api/app/api/mines/explosives_permit/models/explosives_permit.py
Labels: 💾 Backend

#2258 [MDS-4663] Changed wording from Personal to Basic BCeID
  services/minespace-web/src/components/pages/LandingPage.js
  services/minespace-web/src/tests/components/landingPage/__snapshots__/LandingPage.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#2247 [MDS-4656] - TSF Basic Information
  migrations/sql/V2022.09.01.11.43__update_mine_tailings_storage_facility.sql
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/mines/tailings/models/tailings.py
  services/core-api/app/api/mines/tailings/resources/tailings_list.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/factories.py
  services/core-api/tests/mines/tailings/resources/test_mine_tailings_resource.py
  services/core-web/common/actionCreators/mineActionCreator.js
  services/core-web/common/actions/tailingsActions.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/constants/strings.js
  services/core-web/common/reducers.js
  services/core-web/common/reducers/partiesReducer.js
  services/core-web/common/reducers/tailingsReducer.js
  services/core-web/common/selectors/partiesSelectors.js
  services/core-web/common/selectors/tailingsSelectors.js
  services/core-web/src/reducers/rootReducer.js
  services/core-web/src/tests/actionCreators/mineActionCreator.spec.js
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/reducers/partiesReducer.spec.js
  services/core-web/src/tests/reducers/tailingsReducer.spec.js
  services/minespace-web/common/actionCreators/mineActionCreator.js
  services/minespace-web/common/actions/tailingsActions.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/constants/strings.js
  services/minespace-web/common/reducers.js
  services/minespace-web/common/reducers/partiesReducer.js
  services/minespace-web/common/reducers/tailingsReducer.js
  services/minespace-web/common/selectors/partiesSelectors.js
  services/minespace-web/common/selectors/tailingsSelectors.js
  services/minespace-web/src/components/Forms/tailing/tailingsStorageFacility/BasicInformation.js
  services/minespace-web/src/components/Forms/tailing/tailingsStorageFacility/EngineerOfRecord.js
  services/minespace-web/src/components/Forms/tailing/tailingsStorageFacility/TailingsSummaryForm.js
  services/minespace-web/src/components/common/Step.js
  services/minespace-web/src/components/common/SteppedForm.js
  services/minespace-web/src/components/dashboard/mine/tailings/Tailings.js
  services/minespace-web/src/components/dashboard/mine/tailings/TailingsTable.js
  services/minespace-web/src/components/pages/Tailings/TailingsSummaryPage.js
  services/minespace-web/src/reducers/rootReducer.js
  services/minespace-web/src/styles/components/SteppedForm.scss
  services/minespace-web/src/styles/index.scss
  services/minespace-web/src/tests/components/Forms/tailing/AddTailingsSummary/__snapshots__/BasicInformation.spec.js.snap
  services/minespace-web/src/tests/components/Forms/tailing/AddTailingsSummary/__snapshots__/EngineerOfRecord.spec.js.snap
  services/minespace-web/src/tests/components/common/SteppedForm.spec.js
  services/minespace-web/src/tests/components/common/__snapshots__/SteppedForm.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/tailings/__snapshots__/Tailings.spec.js.snap
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend, 📜 SQL

#2253 [MDS-4647] NoW Delay end reverts status
  services/core-api/app/api/now_applications/resources/now_application_delay_resource.py
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWProgressTable.js
Labels: 💾 Backend

#2254 [MDS-4646] Notice of Work delay dates off by 1 day
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWProgressTable.js
Labels: 👍 Ready for review, 💻 Frontend

#2267 [MDS-4700] MineSpace New Incident Starting page
  services/core-web/common/actions/incidentActions.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/reducers/incidentReducer.js
  services/core-web/src/tests/reducers/incidentReducer.spec.js
  services/minespace-web/common/actions/incidentActions.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/reducers/incidentReducer.js
  services/minespace-web/src/components/dashboard/mine/incidents/Incidents.js
  services/minespace-web/src/components/pages/Incidents/IncidentsGetStarted.js
  services/minespace-web/src/components/pages/Incidents/IncidentsPage.js
  services/minespace-web/src/constants/forms.js
  services/minespace-web/src/constants/routes.js
  services/minespace-web/src/routes/Routes.js
  services/minespace-web/src/tests/components/incident/IncidentsPage.spec.js
  services/minespace-web/src/tests/components/incident/__snapshots__/IncidentsPage.spec.js.snap
  services/minespace-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#2249 [MDS-4597] major mine application all projects view
  migrations/sql/V2022.08.30.16.23__insert_statuses_project_stages.sql
  migrations/sql/V2022.09.07.13.00__delete_statuses_project_stages.sql
  services/core-api/app/api/projects/information_requirements_table/models/information_requirements_table.py
  services/core-api/app/api/projects/information_requirements_table/resources/information_requirements_table.py
  services/core-api/app/api/projects/information_requirements_table/resources/information_requirements_table_list.py
  services/core-api/app/api/projects/major_mine_application/resources/major_mine_application.py
  services/core-api/app/api/projects/namespace.py
  services/core-api/app/api/projects/project/resources/project.py
  services/core-api/app/api/projects/response_models.py
  services/core-api/tests/factories.py
  services/core-api/tests/projects/information_requirements_table/resources/test_information_requirements_table_resource.py
  services/core-api/tests/projects/major_mines_application/resources/test_major_mine_application_list_resource.py
  services/core-web/common/actionCreators/projectActionCreator.js
  services/core-web/common/actions/projectActions.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/reducers/projectReducer.js
  services/core-web/common/selectors/projectSelectors.js
  services/core-web/src/components/Forms/MajorProject/MajorProjectSearchForm.js
  services/core-web/src/components/dashboard/majorProjectHomePage/MajorProjectHomePage.js
  services/core-web/src/components/dashboard/majorProjectHomePage/MajorProjectSearch.js
  services/core-web/src/components/dashboard/majorProjectHomePage/MajorProjectTable.js
  services/core-web/src/components/mine/Projects/InformationRequirementsTableTab.js
  services/core-web/src/components/mine/Projects/MineProjectTable.js
  services/core-web/src/components/navigation/NavBar.js
  services/core-web/src/constants/forms.js
  services/core-web/src/constants/routes.js
  services/core-web/src/customPropTypes/projects.js
  services/core-web/src/tests/components/Forms/MajorMineApplication/UpdateMajorMineAppStatusForm.spec.js
  services/core-web/src/tests/components/Forms/MajorMineApplication/__snapshots__/UpdateMajorMineAppStatusForm.spec.js.snap
  services/core-web/src/tests/components/Forms/informationRequirementsTable/UpdateInformationRequirementsTableForm.spec.js
  services/core-web/src/tests/components/Forms/informationRequirementsTable/__snapshots__/UpdateInformationRequirementsTableForm.spec.js.snap
  services/core-web/src/tests/components/dashboard/majorProjectHomePage/MajorProjectHomePage.spec.js
  services/core-web/src/tests/components/dashboard/majorProjectHomePage/MajorProjectSearch.spec.js
  services/core-web/src/tests/components/dashboard/majorProjectHomePage/MajorProjectTable.spec.js
  services/core-web/src/tests/components/dashboard/majorProjectHomePage/__snapshots__/MajorProjectHomePage.spec.js.snap
  services/core-web/src/tests/components/dashboard/majorProjectHomePage/__snapshots__/MajorProjectSearch.spec.js.snap
  services/core-web/src/tests/components/dashboard/majorProjectHomePage/__snapshots__/MajorProjectTable.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/ProjectStagesTable.spec.js
  services/core-web/src/tests/components/mine/Projects/__snapshots__/MajorMineApplicationTab.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/__snapshots__/ProjectStagesTable.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  services/minespace-web/common/actionCreators/projectActionCreator.js
  services/minespace-web/common/actions/projectActions.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/reducers/projectReducer.js
  services/minespace-web/common/selectors/projectSelectors.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/IRTFileImport.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/InformationRequirementsTableCallout.js
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationCallout.js
  services/minespace-web/src/components/dashboard/mine/projects/ProjectStagesTable.js
  services/minespace-web/src/components/pages/Project/InformationRequirementsTablePage.js
  services/minespace-web/src/components/pages/Project/MajorMineApplicationPage.js
  services/minespace-web/src/tests/components/project/projectOverviewTab/__snapshots__/ProjectOverviewTab.spec.js.snap
  services/minespace-web/src/tests/mocks/dataMocks.js
Labels: 👍 Ready for review, 💻 Frontend

#2264 [MDS-3544] Move Permit MX-2-16 to correct mine
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/sql/transfer_mine_permit_xref_record.sql
Labels: 👍 Ready for review, 📜 SQL

#2263 [MDS-4669] Core-web: Add new project description
  services/core-api/app/api/projects/project/models/project.py
  services/core-api/app/api/projects/project_summary/resources/project_summary.py
  services/core-api/app/api/projects/project_summary/resources/project_summary_list.py
  services/core-api/app/api/projects/response_models.py
  services/core-api/tests/projects/project_summaries/resources/test_project_summary_resource.py
  services/core-web/common/selectors/projectSelectors.js
  services/core-web/src/components/Forms/projectSummaries/ProjectSummaryDocumentUpload.js
  services/core-web/src/components/Forms/projectSummaries/ProjectSummaryFileUpload.js
  services/core-web/src/components/Forms/projectSummaries/ProjectSummaryForm.js
  services/core-web/src/components/common/RenderGroupCheckbox.js
  services/core-web/src/components/common/config.js
  services/core-web/src/components/mine/Projects/MineProject.js
  services/core-web/src/components/mine/Projects/ProjectOverviewTab.js
  services/core-web/src/components/mine/Projects/ProjectSummary.js
  services/core-web/src/constants/forms.js
  services/core-web/src/constants/routes.js
  services/core-web/src/routes/MineDashboardRoutes.js
  services/core-web/src/tests/components/Forms/projectSummaries/ProjectSummaryForm.spec.js
  services/core-web/src/tests/components/Forms/projectSummaries/__snapshots__/ProjectSummaryForm.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/ProjectSummary.spec.js
  services/core-web/src/tests/components/mine/Projects/__snapshots__/MineProject.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/__snapshots__/ProjectSummary.spec.js.snap
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  services/minespace-web/common/selectors/projectSelectors.js
  services/minespace-web/src/components/Forms/projects/projectSummary/AuthorizationsInvolved.js
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend, 💻 Frontend

#2269 [MDS-4670] Edit project description in CORE
  services/core-web/src/components/Forms/projectSummaries/ProjectSummaryDocumentUpload.js
  services/core-web/src/components/Forms/projectSummaries/ProjectSummaryForm.js
  services/core-web/src/components/mine/Projects/MineProject.js
  services/core-web/src/components/mine/Projects/ProjectSummary.js
  services/core-web/src/tests/components/Forms/projectSummaries/__snapshots__/ProjectSummaryForm.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/__snapshots__/MineProject.spec.js.snap
Labels: 💻 Frontend

#2270 [MDS-4665] [MDS-4609] Contact Creation Modal (EOR) + Acceptance Letter Upload
  migrations/sql/V2022.09.21.14.37__add_party_organization_field.sql
  migrations/sql/V2022.09.22.15.54__add_party_job_title_code_field.sql
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/api/parties/party/resources/party_list_resource.py
  services/core-api/app/api/parties/party/resources/party_resource.py
  services/core-api/app/api/parties/response_models.py
  services/core-api/tests/factories.py
  services/core-api/tests/parties/party/models/test_party_model.py
  services/core-api/tests/parties/party/resources/test_party_resource.py
  services/minespace-web/src/components/Forms/contacts/AddContactForm.js
  services/minespace-web/src/components/Forms/contacts/AddContactFormDetails.js
  services/minespace-web/src/components/Forms/tailing/tailingsStorageFacility/EngineerOfRecord.js
  services/minespace-web/src/components/common/ContactDetails.js
  services/minespace-web/src/components/common/RenderAutoComplete.js
  services/minespace-web/src/components/common/SteppedForm.js
  services/minespace-web/src/components/common/config.js
  services/minespace-web/src/components/layout/NotificationDrawer.js
  services/minespace-web/src/components/modalContent/config.js
  services/minespace-web/src/components/modalContent/contacts/AddContactModal.js
  services/minespace-web/src/components/pages/Tailings/TailingsSummaryPage.js
  services/minespace-web/src/constants/forms.js
  services/minespace-web/src/styles/overrides/antd-overrides.scss
  services/minespace-web/src/tests/components/Forms/contacts/AddContactForm.spec.js
  services/minespace-web/src/tests/components/Forms/contacts/AddContactFormDetails.spec.js
  services/minespace-web/src/tests/components/Forms/contacts/__snapshots__/AddContactForm.spec.js.snap
  services/minespace-web/src/tests/components/Forms/contacts/__snapshots__/AddContactFormDetails.spec.js.snap
  services/minespace-web/src/tests/components/Forms/tailing/AddTailingsSummary/__snapshots__/EngineerOfRecord.spec.js.snap
  services/minespace-web/src/tests/components/common/RenderAutoComplete.spec.js
  services/minespace-web/src/tests/components/common/__snapshots__/RenderAutoComplete.spec.js.snap
  services/minespace-web/src/tests/components/modalContent/contacts/AddContactModal.spec.js
  services/minespace-web/src/tests/components/modalContent/contacts/__snapshots__/AddContactModal.spec.js.snap
  services/minespace-web/src/tests/components/pages/Tailings/TailingsSummaryPage.spec.js
  services/minespace-web/src/tests/components/pages/Tailings/__snapshots__/TailingsSummaryPage.spec.js.snap
Labels: 🌶 Enhancement, 💾 Backend, 💻 Frontend

#2271 [MDS-4701] MineSpace Record an Initial Incident
  migrations/sql/V2022.09.21.14.15__add_fields_mine_incident.sql
  services/core-api/app/api/incidents/models/mine_incident.py
  services/core-api/app/api/incidents/response_models.py
  services/core-api/app/api/mines/incidents/models/mine_incident_document_xref.py
  services/core-api/app/api/mines/incidents/resources/mine_incidents.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/tests/factories.py
  services/core-api/tests/mines/incidents/test_mine_incident_resource.py
  services/core-web/common/actionCreators/incidentActionCreator.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/environment.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/src/components/Forms/incidents/AddIncidentDetailForm.js
  services/core-web/src/components/Forms/incidents/AddIncidentFollowUpForm.js
  services/core-web/src/tests/actionCreators/incidentActionCreator.spec.js
  services/minespace-web/common/actionCreators/incidentActionCreator.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/environment.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/src/assets/loader.json
  services/minespace-web/src/components/Forms/incidents/IncidentFileUpload.js
  services/minespace-web/src/components/Forms/incidents/IncidentForm.js
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationReviewSubmit.js
  services/minespace-web/src/components/Forms/tailing/tailingsStorageFacility/EngineerOfRecord.js
  services/minespace-web/src/components/common/Callout.js
  services/minespace-web/src/components/common/ContactCard.js
  services/minespace-web/src/components/common/DocumentColumns.js
  services/minespace-web/src/components/common/DocumentLink.js
  services/minespace-web/src/components/common/DocumentTable.js
  services/minespace-web/src/components/common/RenderTime.js
  services/minespace-web/src/components/dashboard/mine/incidents/Incidents.js
  services/minespace-web/src/components/dashboard/mine/incidents/IncidentsTable.js
  services/minespace-web/src/components/modalContent/informationRequirementsTable/ImportIRTSuccessModal.js
  services/minespace-web/src/components/pages/Incidents/IncidentGetStarted.js
  services/minespace-web/src/components/pages/Incidents/IncidentPage.js
  services/minespace-web/src/components/pages/Project/DocumentsTab.js
  services/minespace-web/src/components/pages/Tailings/TailingsSummaryPage.js
  services/minespace-web/src/constants/routes.js
  services/minespace-web/src/routes/Routes.js
  services/minespace-web/src/styles/generic/layout.scss
  services/minespace-web/src/tests/components/Forms/incidents/IncidentForm.spec.js
  services/minespace-web/src/tests/components/Forms/incidents/__snapshots__/IncidentForm.spec.js.snap
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/__snapshots__/MajorMineApplicationReviewSubmit.spec.js.snap
  services/minespace-web/src/tests/components/Forms/projects/projectSummary/__snapshots__/AuthorizationsInvolved.spec.js.snap
  services/minespace-web/src/tests/components/Forms/projects/projectSummary/__snapshots__/DocumentUpload.spec.js.snap
  services/minespace-web/src/tests/components/Forms/projects/projectSummary/__snapshots__/ProjectDates.spec.js.snap
  services/minespace-web/src/tests/components/common/__snapshots__/Loading.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/incidents/__snapshots__/Incidents.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/variances/__snapshots__/VarianceDetails.spec.js.snap
  services/minespace-web/src/tests/components/incident/IncidentPage.spec.js
  services/minespace-web/src/tests/components/incident/__snapshots__/IncidentPage.spec.js.snap
  services/minespace-web/src/tests/components/project/DocumentsPage/__snapshots__/DocumentsPage.spec.js.snap
  services/minespace-web/src/tests/components/project/projectOverviewTab/__snapshots__/ProjectOverviewTab.spec.js.snap
  services/minespace-web/src/tests/mocks/dataMocks.js
  services/minespace-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend, 📜 SQL

#2274 [MDS-4613] Allow creation / editing of a TSF Qualified Person through MineSpace
  services/core-api/app/api/constants.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/mines/tailings/models/tailings.py
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/api/parties/party_appt/models/mine_party_appt.py
  services/core-api/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  services/core-api/tests/parties/party_appt/resources/test_mine_party_appt_resource.py
  services/core-web/common/actionCreators/partiesActionCreator.js
  services/minespace-web/common/actionCreators/partiesActionCreator.js
  services/minespace-web/src/components/Forms/contacts/AddContactForm.js
  services/minespace-web/src/components/Forms/contacts/AddContactFormDetails.js
  services/minespace-web/src/components/Forms/tailing/tailingsStorageFacility/EngineerOfRecord.js
  services/minespace-web/src/components/Forms/tailing/tailingsStorageFacility/QualifiedPerson.js
  services/minespace-web/src/components/common/Step.js
  services/minespace-web/src/components/common/SteppedForm.js
  services/minespace-web/src/components/modalContent/contacts/AddContactModal.js
  services/minespace-web/src/components/pages/Tailings/TailingsSummaryPage.js
  services/minespace-web/src/tests/components/Forms/contacts/__snapshots__/AddContactForm.spec.js.snap
  services/minespace-web/src/tests/components/Forms/contacts/__snapshots__/AddContactFormDetails.spec.js.snap
  services/minespace-web/src/tests/components/Forms/tailing/AddTailingsSummary/QualifiedPerson.spec.js
  services/minespace-web/src/tests/components/Forms/tailing/AddTailingsSummary/__snapshots__/QualifiedPerson.spec.js.snap
  services/minespace-web/src/tests/components/common/__snapshots__/SteppedForm.spec.js.snap
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend
