Repository bcgov/mds, pull requests merged in 2022-01, with the labels that each got.

#1941 MDS-3846 - separate docman from build.yaml into separate github action
  .github/workflows/build-docman.yaml
  .github/workflows/build.yaml
  openshift4/templates/docman.bc.yaml
  openshift4/templates/docman.dc.yaml
  services/document-manager/backend/Dockerfile.ci
Labels: 🏭 CI/CD

#1943 bug-fix: Incident numbers are stuck in the previous year.
  services/core-api/app/api/incidents/models/mine_incident.py
  services/core-api/app/api/mines/incidents/resources/mine_incidents.py
Labels: 💾 Backend

#1935 MDS-4045: Update Admin Amendment flow to use new "is_generated_in_core" flag
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-web/src/components/Forms/permits/GeneratePermitForm.js
  services/core-web/src/components/Forms/permits/conditions/Conditions.js
  services/core-web/src/components/modalContent/StartDraftPermitModal.js
  services/core-web/src/components/noticeOfWork/applications/AdminAmendmentApplication.js
  services/core-web/src/tests/components/Forms/permits/conditions/Conditions.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/__snapshots__/AdminAmendmentApplication.spec.js.snap
Labels: 💾 Backend, 💻 Frontend

#1939 Git hooks for minespace and core-web.
  services/core-web/package.json
  services/minespace-web/package.json
Labels: 👍 Ready for review, 💻 Frontend

#1954 MDS-4102: Update the AuthWrapper in Minespace to consider an unauthenticated state
  services/minespace-web/src/components/common/wrappers/AuthorizationWrapper.js
Labels: 👍 Ready for review, 💻 Frontend

#1953 Remove restriction to show button for incidents **DO NOT MERGE UNTIL JAN 19th**
  services/minespace-web/src/components/dashboard/mine/incidents/Incidents.js
  services/minespace-web/src/tests/components/dashboard/mine/incidents/__snapshots__/Incidents.spec.js.snap
Labels: 🛑 DO NOT MERGE, 👍 Ready for review, 💻 Frontend

#1956 Allow permition deletion if the permit is not generated in Core.
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-web/src/components/mine/Permit/MinePermitTable.js
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#1957 MDS-4118: Change verbiage in mine incident follow up.
  services/core-web/src/components/Forms/incidents/AddIncidentFollowUpForm.js
Labels: 👍 Ready for review, 💻 Frontend

#1958 MDS-4060 factory issues
  services/core-api/app/commands.py
  services/core-api/tests/now_application_factories.py
Labels: 🐞 Bug, 💾 Backend, 💊 Fix

#1952 MDS-4072: Populate dropdown list project leads
  migrations/sql/V2022.01.11.15.20__add_party_business_role.sql
  services/core-api/app/api/constants.py
  services/core-api/app/api/parties/party/resources/party_list_resource.py
  services/core-api/app/api/parties/party/resources/party_resource.py
  services/core-api/app/api/parties/party_appt/models/party_business_role_appt.py
  services/core-api/tests/factories.py
  services/core-web/common/actionCreators/staticContentActionCreator.js
  services/core-web/common/actions/partyActions.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/constants/strings.js
  services/core-web/common/reducers/partiesReducer.js
  services/core-web/common/selectors/partiesSelectors.js
  services/core-web/src/components/Forms/parties/EditFullPartyForm.js
  services/core-web/src/components/Home.js
  services/core-web/src/components/modalContent/EditPartyModal.js
  services/core-web/src/components/parties/PartyProfile.js
  services/core-web/src/tests/actionCreators/staticContentActionCreator.spec.js
  services/core-web/src/tests/components/Forms/parties/__snapshots__/EditFullPartyForm.spec.js.snap
  services/core-web/src/tests/components/Home.spec.js
  services/core-web/src/tests/selectors/partiesSelectors.spec.js
  services/minespace-web/common/actionCreators/staticContentActionCreator.js
  services/minespace-web/common/actions/partyActions.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/constants/strings.js
  services/minespace-web/common/reducers/partiesReducer.js
  services/minespace-web/common/selectors/partiesSelectors.js
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend
