Repository bcgov/mds, pull requests merged in 2022-05, with the labels that each got.

#2069 Mds 4217 core web build refactor
  .github/workflows/build.yaml
  .github/workflows/core-web.build.yaml
  openshift4/templates/frontend.bc.yaml
  services/core-web/Dockerfile.ci
Labels: 🛑 DO NOT MERGE, 💻 Frontend

#2063 Bug/mds 2988 incident fatality injury validate
  services/core-web/src/components/Forms/incidents/AddIncidentDetailForm.js
Labels: 👍 Ready for review, 💻 Frontend, 💊 Fix

#2074 MDS-4337 - Core web move to deployments / argocd
  .github/workflows/build.yaml
  .github/workflows/core-web.build.yaml
  .github/workflows/core-web.deploy.prod.yaml
  .github/workflows/core-web.deploy.test.yaml
  .github/workflows/deploy-dev.yaml
  .github/workflows/deploy-prod.yaml
  .github/workflows/deploy-test.yaml
  .github/workflows/promote-to-prod.yaml
  .github/workflows/promote-to-test.yaml
  openshift4/templates/backend.bc.yaml
  openshift4/templates/backend.dc.yaml
  openshift4/templates/frontend.dc.yaml
Labels: 💻 Frontend

#2095 MDS-4198 download import final irt minespace
  migrations/Dockerfile.flyway.dev
  migrations/scripts/run_migrations.sh
  migrations/sql/V2022.05.18.15.41__rename_irt_status_code.sql
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/exports/static_content/resources/core_static_content_resource.py
  services/core-api/app/api/projects/information_requirements_table/models/information_requirements_table.py
  services/core-api/app/api/projects/information_requirements_table/models/information_requirements_table_status_code.py
  services/core-api/app/api/projects/information_requirements_table/resources/Information_requirements_table_upload.py
  services/core-api/app/api/projects/information_requirements_table/resources/information_requirements_table_download.py
  services/core-api/app/api/projects/namespace.py
  services/core-api/app/api/projects/response_models.py
  services/core-api/app/api/services/document_manager_service.py
  services/core-api/app/config.py
  services/core-web/common/actionCreators/projectActionCreator.js
  services/core-web/common/actions/projectActions.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/reducers/projectReducer.js
  services/core-web/common/reducers/staticContentReducer.js
  services/core-web/common/selectors/projectSelectors.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/common/utils/RequestHeaders.js
  services/core-web/src/tests/reducers/projectReducer.spec.js
  services/core-web/src/tests/reducers/staticContentReducer.spec.js
  services/minespace-web/common/actionCreators/projectActionCreator.js
  services/minespace-web/common/actions/projectActions.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/reducers/projectReducer.js
  services/minespace-web/common/reducers/staticContentReducer.js
  services/minespace-web/common/selectors/projectSelectors.js
  services/minespace-web/common/selectors/staticContentSelectors.js
  services/minespace-web/common/utils/RequestHeaders.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/IRTDownloadTemplate.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/IRTFileImport.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/IRTFileUpload.js
  services/minespace-web/src/components/common/FileUpload.js
  services/minespace-web/src/components/dashboard/mine/projects/ProjectStagesTable.js
  services/minespace-web/src/components/pages/Project/InformationRequirementsTablePage.js
  services/minespace-web/src/components/pages/Project/ProjectOverviewTab.js
  services/minespace-web/src/components/pages/Project/ProjectPage.js
  services/minespace-web/src/constants/forms.js
  services/minespace-web/src/constants/routes.js
  services/minespace-web/src/customPropTypes/projects.js
  services/minespace-web/src/routes/Routes.js
  services/minespace-web/src/tests/components/project/projectOverviewTab/ProjectOverviewTab.spec.js
  services/minespace-web/src/tests/components/project/projectOverviewTab/__snapshots__/ProjectOverviewTab.spec.js.snap
  services/minespace-web/src/tests/mocks/dataMocks.js
  services/minespace-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
Labels: 💾 Backend, 💻 Frontend, 📜 SQL
