Repository bcgov/mds, pull requests merged in 2022-07, with the labels that each got.

#2166 [MDS-4393]: Core client delay dates overwritten - bug fix
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-web/src/components/mine/NoticeOfDeparture/MineNoticeOfDeparture.js
  services/core-web/src/tests/actionCreators/noticeOfDepartureActionCreator.spec.js
Labels: 👍 Ready for review, 💾 Backend

#2186 [MDS-4549] Minespace - IRT - Display empty state when IRT has not been submitted
  services/minespace-web/src/components/dashboard/mine/projects/ProjectStagesTable.js
  services/minespace-web/src/components/pages/Project/InformationRequirementsTableEntryTab.js
  services/minespace-web/src/components/pages/Project/ProjectOverviewTab.js
  services/minespace-web/src/components/pages/Project/ProjectPage.js
  services/minespace-web/src/tests/components/project/informationRequirementsTableEntryTab/InformationRequirementsTableEntryTab.spec.js
  services/minespace-web/src/tests/components/project/informationRequirementsTableEntryTab/__snapshots__/InformationRequirementsTableEntryTab.spec.js.snap
  services/minespace-web/src/tests/components/project/projectOverviewTab/__snapshots__/ProjectOverviewTab.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#2191 [MDS-4555] Review IRT after submission
  migrations/sql/V2022.07.14.15.42__insert_new_information_requirements_table_status_code.sql
  services/core-api/app/api/projects/information_requirements_table/models/information_requirements_table.py
  services/core-api/app/api/projects/information_requirements_table/resources/information_requirements_table.py
  services/core-web/common/utils/helpers.js
  services/minespace-web/common/utils/helpers.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/IRTDownloadTemplate.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/IRTFileImport.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/InformationRequirementsTableCallout.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/InformationRequirementsTableForm.js
  services/minespace-web/src/components/common/DocumentTable.js
  services/minespace-web/src/components/modalContent/config.js
  services/minespace-web/src/components/modalContent/informationRequirementsTable/ViewFileHistoryModal.js
  services/minespace-web/src/components/pages/Project/InformationRequirementsTablePage.js
  services/minespace-web/src/constants/routes.js
  services/minespace-web/src/routes/Routes.js
  services/minespace-web/src/styles/components/InformationRequirementsTable.scss
  services/minespace-web/src/styles/index.scss
  services/minespace-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2189 [MDS-4554] Minespace - IRT - IRT (Major Mine Submission) Submission successful
  services/core-api/app/api/projects/information_requirements_table/resources/information_requirements_table.py
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/IRTDownloadTemplate.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/IRTFileImport.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/InformationRequirementsTableForm.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/ReviewSubmitInformationRequirementsTable.js
  services/minespace-web/src/components/modalContent/informationRequirementsTable/ViewFileHistoryModal.js
  services/minespace-web/src/components/pages/Project/InformationRequirementsTablePage.js
  services/minespace-web/src/components/pages/Project/InformationRequirementsTableSuccessPage.js
  services/minespace-web/src/constants/routes.js
  services/minespace-web/src/routes/Routes.js
  services/minespace-web/src/tests/components/project/informationRequirementsTableSuccessPage/InformationRequirementsTableSuccessPage.spec.js
  services/minespace-web/src/tests/components/project/informationRequirementsTableSuccessPage/__snapshots__/InformationRequirementsTableSuccessPage.spec.js.snap
  services/minespace-web/src/tests/mocks/dataMocks.js
  services/minespace-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#2197 [MDS-4551] Fix issue in requirements and update sytling
  migrations/sql/V2022.07.21.12.00__update_irt_requirements.sql
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/mine/Projects/ReviewInformationRequirementsTable.js
  services/minespace-web/common/utils/helpers.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/IRTFileImport.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/InformationRequirementsTableCallout.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/ReviewSubmitInformationRequirementsTable.js
  services/minespace-web/src/components/pages/Project/InformationRequirementsTablePage.js
  services/minespace-web/src/styles/components/InformationRequirementsTable.scss
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2181 [MDS-4552] Minespace - IRT - Importing & Import successful and Import failed message (missing field)
  services/core-api/app/api/projects/information_requirements_table/resources/information_requirements_table_list.py
  services/core-web/common/actionCreators/projectActionCreator.js
  services/core-web/common/customAxios.js
  services/core-web/src/components/admin/NewMinespaceUser.js
  services/core-web/src/components/admin/UpdateMinespaceUser.js
  services/minespace-web/common/actionCreators/projectActionCreator.js
  services/minespace-web/common/customAxios.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/IRTFileImport.js
  services/minespace-web/src/components/common/FileUpload.js
  services/minespace-web/src/components/modalContent/config.js
  services/minespace-web/src/components/modalContent/informationRequirementsTable/ImportIRTErrorModal.js
  services/minespace-web/src/components/modalContent/informationRequirementsTable/ImportIRTSuccessModal.js
  services/minespace-web/src/components/pages/Project/InformationRequirementsTablePage.js
Labels: 👍 Ready for review, 💻 Frontend

#2177 [MDS-4523] Submit major mines application in minespace
  migrations/sql/V2022.06.29.17.26__create_major_mine_application.sql
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/exports/static_content/resources/core_static_content_resource.py
  services/core-api/app/api/mines/explosives_permit/models/explosives_permit_status.py
  services/core-api/app/api/projects/major_mine_application/models/__init__.py
  services/core-api/app/api/projects/major_mine_application/models/major_mine_application.py
  services/core-api/app/api/projects/major_mine_application/models/major_mine_application_document_type.py
  services/core-api/app/api/projects/major_mine_application/models/major_mine_application_document_xref.py
  services/core-api/app/api/projects/major_mine_application/models/major_mine_application_status_code.py
  services/core-api/app/api/projects/major_mine_application/resources/__init__.py
  services/core-api/app/api/projects/major_mine_application/resources/major_mine_application.py
  services/core-api/app/api/projects/major_mine_application/resources/major_mine_application_document_upload.py
  services/core-api/app/api/projects/major_mine_application/resources/major_mine_application_list.py
  services/core-api/app/api/projects/namespace.py
  services/core-api/app/api/projects/project/models/project.py
  services/core-api/app/api/projects/response_models.py
  services/core-api/app/api/services/document_manager_service.py
  services/core-api/tests/factories.py
  services/core-api/tests/projects/major_mines_application/models/test_major_mine_application_model.py
  services/core-api/tests/projects/major_mines_application/resources/test_major_mine_application_list_resource.py
  services/core-api/tests/projects/major_mines_application/resources/test_major_mine_application_resource.py
  services/core-web/common/actionCreators/projectActionCreator.js
  services/core-web/common/actions/projectActions.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/constants/strings.js
  services/core-web/common/reducers/projectReducer.js
  services/core-web/common/reducers/staticContentReducer.js
  services/core-web/common/selectors/projectSelectors.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/reducers/projectReducer.spec.js
  services/minespace-web/common/actionCreators/projectActionCreator.js
  services/minespace-web/common/actions/projectActions.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/constants/strings.js
  services/minespace-web/common/reducers/projectReducer.js
  services/minespace-web/common/reducers/staticContentReducer.js
  services/minespace-web/common/selectors/projectSelectors.js
  services/minespace-web/common/selectors/staticContentSelectors.js
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationFileUpload.js
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationForm.js
  services/minespace-web/src/components/dashboard/mine/projects/ProjectStagesTable.js
  services/minespace-web/src/components/pages/Project/MajorMineApplicationPage.js
  services/minespace-web/src/components/pages/Project/ProjectOverviewTab.js
  services/minespace-web/src/components/pages/Project/ProjectPage.js
  services/minespace-web/src/constants/forms.js
  services/minespace-web/src/constants/routes.js
  services/minespace-web/src/customPropTypes/projects.js
  services/minespace-web/src/routes/Routes.js
  services/minespace-web/src/tests/components/project/MajorMineApplicationPage/MajorMineApplicationPage.spec.js
  services/minespace-web/src/tests/components/project/MajorMineApplicationPage/__snapshots__/MajorMineApplicationPage.spec.js.snap
  services/minespace-web/src/tests/components/project/projectOverviewTab/__snapshots__/ProjectOverviewTab.spec.js.snap
  services/minespace-web/src/tests/mocks/dataMocks.js
  services/minespace-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2200 [MDS-4582] Fixes in UX for IRT when status is Approved
  services/minespace-web/src/components/pages/Project/InformationRequirementsTablePage.js
Labels: 👍 Ready for review, 💻 Frontend

#2201 [MDS-4538] July 26 Remove Feature Flags on IRT Core and MineSpace and update IRT Excel Template
  services/core-api/app/templates/project/IRT_Template.xlsx
  services/core-web/src/components/mine/Projects/InformationRequirementsTableTab.js
  services/core-web/src/components/mine/Projects/Project.js
  services/core-web/src/components/mine/Projects/ProjectOverviewTab.js
  services/core-web/src/tests/components/mine/Projects/__snapshots__/Project.spec.js.snap
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  services/minespace-web/src/components/pages/Project/ProjectOverviewTab.js
  services/minespace-web/src/components/pages/Project/ProjectPage.js
Labels: 🛑 DO NOT MERGE

#2203 [MDS-4565] Major Mine Application Empty Starting Page - MineSpace
  services/minespace-web/src/components/dashboard/mine/projects/ProjectStagesTable.js
  services/minespace-web/src/components/pages/Project/MajorMineApplicationEntryTab.js
  services/minespace-web/src/components/pages/Project/ProjectOverviewTab.js
  services/minespace-web/src/components/pages/Project/ProjectPage.js
  services/minespace-web/src/tests/components/project/projectOverviewTab/__snapshots__/ProjectOverviewTab.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#2205 [MDS-4569] Major Mine Application Confirmation Page - MineSpace
  services/minespace-web/src/components/pages/Project/MajorMineApplicationPage.js
  services/minespace-web/src/components/pages/Project/MajorMineApplicationSuccessPage.js
  services/minespace-web/src/constants/routes.js
  services/minespace-web/src/routes/Routes.js
  services/minespace-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
Labels: 🚧 WIP, 💻 Frontend

#2206 [MDS-4530] Email notification for a successful major mine application submission, include list of documents
  services/core-api/app/api/projects/major_mine_application/models/major_mine_application.py
  services/core-api/app/api/projects/major_mine_application/resources/major_mine_application_list.py
  services/core-api/app/api/services/email_service.py
Labels: 👍 Ready for review
