Repository bcgov/mds, pull requests merged in 2022-04, with the labels that each got.

#2023 API setup for NOD
  .gitignore
  migrations/sql/V2022.03.28.15.26__create_notice_of_departure_table.sql
  services/core-api/app/api/mines/namespace.py
  services/core-api/app/api/mines/permits/notice_of_departure/models/notice_of_departure.py
  services/core-api/app/api/mines/permits/notice_of_departure/resources/mine_notice_of_departure_list.py
  services/core-api/app/api/mines/permits/notice_of_departure/resources/notice_of_departure.py
  services/core-api/app/api/mines/permits/notice_of_departure/resources/permit_notice_of_departure_list.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/tests/factories.py
  services/core-api/tests/mines/notice_of_departure/__init__.py
  services/core-api/tests/mines/notice_of_departure/test_mine_nod_list_resource.py
  services/core-api/tests/mines/notice_of_departure/test_permit_nod_list_resource.py
Labels: 💾 Backend

#2025 Update core-api liveness and readiness probes
  openshift4/templates/backend.dc.yaml
  services/core-api/app/__init__.py
Labels: 💾 Backend, python

#2024 Mds 4186 create nod tab
  .gitignore
  services/core-api/app/api/mines/namespace.py
  services/core-api/app/api/mines/notice_of_departure/__init__.py
  services/core-api/app/api/mines/notice_of_departure/models/notice_of_departure.py
  services/core-api/app/api/mines/notice_of_departure/resources/notice_of_departure.py
  services/core-api/app/api/mines/notice_of_departure/resources/notice_of_departure_list.py
  services/core-api/app/api/mines/permits/notice_of_departure/resources/mine_notice_of_departure_list.py
  services/core-api/app/api/mines/permits/notice_of_departure/resources/permit_notice_of_departure_list.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/tests/factories.py
  services/core-api/tests/mines/notice_of_departure/test_nod_list_resource.py
  services/core-api/tests/mines/notice_of_departure/test_permit_nod_list_resource.py
  services/core-web/common/actionCreators/noticeOfDepartureActionCreator.js
  services/core-web/common/actions/noticeOfDepartureActions.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/reducers.js
  services/core-web/common/reducers/noticeOfDepartureReducer.js
  services/core-web/common/selectors/noticeOfDepartureSelectors.js
  services/core-web/src/reducers/rootReducer.js
  services/core-web/src/tests/actionCreators/noticeOfDepartureActionCreator.spec.js
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/reducers/noticeOfDepartureReducer.spec.js
  services/core-web/src/tests/selectors/noticeOfDepartureSelectors.spec.js
  services/minespace-web/common/actionCreators/noticeOfDepartureActionCreator.js
  services/minespace-web/common/actions/noticeOfDepartureActions.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/reducers.js
  services/minespace-web/common/reducers/noticeOfDepartureReducer.js
  services/minespace-web/common/selectors/noticeOfDepartureSelectors.js
  services/minespace-web/src/components/Forms/noticeOfDeparture/AddNoticeOfDepartureForm.js
  services/minespace-web/src/components/dashboard/mine/MineDashboard.js
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDeparture.js
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDepartureTable.js
  services/minespace-web/src/components/modalContent/config.js
  services/minespace-web/src/components/modalContent/noticeOfDeparture/AddNoticeOfDepartureModal.js
  services/minespace-web/src/constants/API.js
  services/minespace-web/src/constants/forms.js
  services/minespace-web/src/customPropTypes/index.js
  services/minespace-web/src/customPropTypes/noticeOfDeparture.js
  services/minespace-web/src/fetchEnv.js
  services/minespace-web/src/reducers/rootReducer.js
  services/minespace-web/src/styles/overrides/antd-overrides.scss
  services/minespace-web/src/tests/components/Forms/noticeOfDeparture/AddNoticeOfDepartureForm.spec.js
  services/minespace-web/src/tests/components/Forms/noticeOfDeparture/__snapshots__/AddNoticeOfDepartureForm.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/noticeOfDeparture/__snapshots__/noticeOfDeparture.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/noticeOfDeparture/noticeOfDeparture.spec.js
  services/minespace-web/src/tests/components/modalContent/AddNoticeOfDepartureModal.spec.js
  services/minespace-web/src/tests/components/modalContent/__snapshots__/AddNoticeOfDepartureModal.spec.js.snap
  services/minespace-web/src/tests/mocks/dataMocks.js
Labels: 💾 Backend, 💻 Frontend

#2032 Mds 4186 view nod modal
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDeparture.js
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDepartureDetails.js
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDepartureTable.js
  services/minespace-web/src/components/modalContent/config.js
  services/minespace-web/src/components/modalContent/noticeOfDeparture/ViewNoticeOfDepartureModal.js
  services/minespace-web/src/tests/components/dashboard/mine/noticeOfDeparture/__snapshots__/noticeOfDeparture.spec.js.snap
  services/minespace-web/src/tests/components/modalContent/ViewNoticeOfDepartureModal.spec.js
  services/minespace-web/src/tests/components/modalContent/__snapshots__/ViewNoticeOfDepartureModal.spec.js.snap
Labels: 💻 Frontend

#2036 mds-3528 - increased minHeight of element within collapse
  services/core-web/src/components/Forms/parties/AddRolesForm.js
Labels: 💻 Frontend

#2035 MDS-4186-addressed qa comments
  services/minespace-web/src/assets/icons/edit.js
  services/minespace-web/src/assets/icons/index.js
  services/minespace-web/src/assets/icons/trashcan.js
  services/minespace-web/src/components/Forms/noticeOfDeparture/AddNoticeOfDepartureForm.js
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDepartureTable.js
  services/minespace-web/src/components/modalContent/noticeOfDeparture/AddNoticeOfDepartureModal.js
  services/minespace-web/src/styles/generic/layout.scss
  services/minespace-web/src/styles/settings/theme.scss
Labels: 💻 Frontend

#2022 Mds 3946 add notes field to TSF in core and minespace
  migrations/sql/V2022.03.28.13.09__create_tailing_notes_field.sql
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/mines/tailings/models/tailings.py
  services/core-api/app/api/mines/tailings/resources/tailings.py
  services/core-api/app/api/mines/tailings/resources/tailings_list.py
  services/core-web/src/components/Forms/AddTailingsForm.js
  services/core-web/src/components/mine/Tailings/MineTailingsTable.js
  services/core-web/src/tests/components/Forms/__snapshots__/AddTailingsForm.spec.js.snap
  services/core-web/src/tests/components/mine/Tailings/__snapshots__/MineTailingsTable.spec.js.snap
  services/minespace-web/src/components/Forms/tailing/AddTailingsForm.js
  services/minespace-web/src/components/dashboard/mine/tailings/TailingsTable.js
  services/minespace-web/src/tests/components/Forms/tailing/__snapshots__/AddTailingsForm.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/tailings/__snapshots__/TailingsTable.spec.js.snap
Labels: 💾 Backend, 💻 Frontend

#2031 MDS-4229: CORE: Updating Assign Inspector Role Date = 400 Bad Request Error
  services/core-api/app/api/parties/party/resources/party_resource.py
Labels: 💾 Backend

#2042 Mds 4186 update validation check
  services/minespace-web/src/components/Forms/noticeOfDeparture/AddNoticeOfDepartureForm.js
  services/minespace-web/src/components/modalContent/noticeOfDeparture/AddNoticeOfDepartureModal.js
  services/minespace-web/src/tests/components/Forms/noticeOfDeparture/__snapshots__/AddNoticeOfDepartureForm.spec.js.snap
  services/minespace-web/src/tests/components/modalContent/AddNoticeOfDepartureModal.spec.js
  services/minespace-web/src/tests/components/modalContent/__snapshots__/AddNoticeOfDepartureModal.spec.js.snap
Labels: 💻 Frontend

#2040 remove feature flagging on nowprogress
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWProgressTable.js
Labels: 👍 Ready for review, 💻 Frontend

#2044 Change value shown for Inspector Responsible in Incidents Table
  services/core-api/app/api/incidents/models/mine_incident.py
  services/core-api/app/api/incidents/response_models.py
  services/core-api/app/api/mines/response_models.py
  services/core-web/src/components/mine/Incidents/MineIncidentTable.js
  services/core-web/src/tests/components/mine/Incidents/__snapshots__/MineIncidentTable.spec.js.snap
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2049 hotfix/Removed dropping columns in project migration
  migrations/sql/V2022.04.21.08.35__project_datafix.sql
  migrations/sql/V2022.04.25.11.52__drop_columns_project_summary.sql
Labels: 👍 Ready for review

#2021 MDS-3843 - remove backend build from build.yaml, add Dockerfile.ci, remove build config.
  .github/workflows/build-backend.yaml
  .github/workflows/build.yaml
  openshift4/templates/backend.bc.yaml
  services/core-api/Dockerfile.ci
Labels: 💾 Backend

#2050 MDS-4324 spacial file accept text/xml
  services/core-web/src/constants/fileTypes.js
Labels: 💻 Frontend

#2048 Mds-4173 nod description
  migrations/sql/V2022.04.27.12.07__add_description_to_notice_of_departure_table.sql
  services/core-api/app/api/mines/notice_of_departure/models/notice_of_departure.py
  services/core-api/app/api/mines/notice_of_departure/resources/notice_of_departure_list.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/tests/factories.py
  services/core-web/.eslintrc.js
  services/core-web/src/components/mine/NoticeOfDeparture/MineNoticeOfDeparture.js
  services/core-web/src/components/mine/NoticeOfDeparture/MineNoticeOfDepartureTable.js
  services/core-web/src/components/modalContent/ViewNoticeOfDepartureModal.js
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/customPropTypes/index.js
  services/core-web/src/customPropTypes/noticeOfDeparture.js
  services/core-web/src/styles/components/NoticeOfDeparture.scss
  services/core-web/src/styles/index.scss
  services/core-web/src/tests/components/mine/NoticeOfDeparture/__snapshots__/MineNoticeOfDeparture.spec.js.snap
  services/core-web/src/tests/components/mine/NoticeOfDeparture/__snapshots__/MineNoticeOfDepartureTable.spec.js.snap
  services/core-web/src/tests/components/modalContent/ViewNoticeOfDepartureModal.spec.js
  services/core-web/src/tests/components/modalContent/__snapshots__/ViewNoticeOfDepartureModal.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/minespace-web/.eslintrc.js
  services/minespace-web/src/components/Forms/noticeOfDeparture/AddNoticeOfDepartureForm.js
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDeparture.js
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDepartureDetails.js
  services/minespace-web/src/components/modalContent/noticeOfDeparture/AddNoticeOfDepartureModal.js
  services/minespace-web/src/customPropTypes/noticeOfDeparture.js
  services/minespace-web/src/tests/components/Forms/noticeOfDeparture/__snapshots__/AddNoticeOfDepartureForm.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/noticeOfDeparture/__snapshots__/noticeOfDeparture.spec.js.snap
  services/minespace-web/src/tests/components/modalContent/__snapshots__/ViewNoticeOfDepartureModal.spec.js.snap
  services/minespace-web/src/tests/mocks/dataMocks.js
Labels: 💾 Backend, 💻 Frontend

#2060 Project Refactor Smoke test fixes
  services/minespace-web/src/components/dashboard/mine/projectSummaries/ProjectSummaries.js
  services/minespace-web/src/components/pages/ProjectSummaryPage.js
  services/minespace-web/src/tests/components/dashboard/mine/projectSummaries/__snapshots__/ProjectSummaries.spec.js.snap
Labels: 💻 Frontend

#2061 mds-4349 - Added missing data to nod table
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDepartureTable.js
  services/minespace-web/src/constants/strings.js
Labels: 💻 Frontend

#2047 Create new role edit TSF
  services/core-api/app/api/mines/tailings/resources/tailings.py
  services/core-api/app/api/mines/tailings/resources/tailings_list.py
  services/core-api/app/api/utils/access_decorators.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/constants.py
  services/core-web/common/constants/environment.js
  services/core-web/src/components/mine/Tailings/MineTailingsInfo.js
  services/core-web/src/components/mine/Tailings/MineTailingsTable.js
  services/core-web/src/constants/permissions.js
  services/core-web/src/tests/components/mine/Tailings/__snapshots__/MineTailingsInfo.spec.js.snap
  services/minespace-web/common/constants/environment.js
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2041 feature/MDS-IRT-backend
  migrations/sql/V2022.04.1316.56__create_IRT_tables.sql
  services/core-api/app/api/projects/information_requirements_table/models/__init__.py
  services/core-api/app/api/projects/information_requirements_table/models/information_requirements_table.py
  services/core-api/app/api/projects/information_requirements_table/models/information_requirements_table_status_code.py
  services/core-api/app/api/projects/information_requirements_table/models/irt_requirements_xref.py
  services/core-api/app/api/projects/information_requirements_table/models/requirements.py
  services/core-api/app/api/projects/information_requirements_table/resources/__init__.py
  services/core-api/app/api/projects/information_requirements_table/resources/information_requirements_table.py
  services/core-api/app/api/projects/information_requirements_table/resources/information_requirements_table_list.py
  services/core-api/app/api/projects/information_requirements_table/resources/information_requirements_table_status_code.py
  services/core-api/app/api/projects/information_requirements_table/resources/requirements.py
  services/core-api/app/api/projects/information_requirements_table/resources/requirements_list.py
  services/core-api/app/api/projects/namespace.py
  services/core-api/app/api/projects/project/models/project.py
  services/core-api/app/api/projects/response_models.py
  services/core-api/app/api/utils/access_decorators.py
  services/core-api/app/api/utils/setup_marshmallow.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/constants.py
  services/core-api/tests/factories.py
  services/core-api/tests/projects/information_requirements_table/__init__.py
  services/core-api/tests/projects/information_requirements_table/models/test_information_requirements_table_model.py
  services/core-api/tests/projects/information_requirements_table/resources/test_information_requirements_table_list.py
  services/core-api/tests/projects/information_requirements_table/resources/test_information_requirements_table_resource.py
  services/core-api/tests/projects/requirements/__init__.py
  services/core-api/tests/projects/requirements/resources/test_requirements_list.py
  services/core-api/tests/projects/requirements/resources/test_requirements_resource.py
Labels: 👍 Ready for review, 💾 Backend
