Repository bcgov/mds, pull requests merged in 2022-08, with the labels that each got.

#2209 [MDS-4566] Major Mine Application step1-2
  migrations/sql/V2022.07.28.16.46__add_code_status_major_mine_application.sql
  migrations/sql/V2022.07.29.10.43__drop_submission_project_title_column.sql
  services/core-api/app/api/projects/major_mine_application/models/major_mine_application.py
  services/core-api/app/api/projects/major_mine_application/resources/major_mine_application.py
  services/core-api/app/api/projects/major_mine_application/resources/major_mine_application_list.py
  services/core-api/app/api/projects/response_models.py
  services/core-api/tests/factories.py
  services/core-api/tests/projects/major_mines_application/resources/test_major_mine_application_list_resource.py
  services/core-api/tests/projects/major_mines_application/resources/test_major_mine_application_resource.py
  services/core-web/common/actionCreators/projectActionCreator.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/src/tests/mocks/dataMocks.js
  services/minespace-web/common/actionCreators/projectActionCreator.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationForm.js
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationGetStarted.js
  services/minespace-web/src/components/dashboard/mine/projects/ProjectStagesTable.js
  services/minespace-web/src/components/pages/Project/MajorMineApplicationPage.js
  services/minespace-web/src/components/pages/Project/ProjectOverviewTab.js
  services/minespace-web/src/components/pages/Project/ProjectPage.js
  services/minespace-web/src/constants/routes.js
  services/minespace-web/src/customPropTypes/projects.js
  services/minespace-web/src/routes/Routes.js
  services/minespace-web/src/tests/components/project/MajorMineApplicationPage/__snapshots__/MajorMineApplicationPage.spec.js.snap
  services/minespace-web/src/tests/mocks/dataMocks.js
  services/minespace-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2210 [MDS-4590] Review page displays checkbox against the titles of sub categories.
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/ReviewSubmitInformationRequirementsTable.js
Labels: 👍 Ready for review, 💻 Frontend

#2213 [MDS-4558] Removed extra space above callouts in NOD create/view modals
  services/minespace-web/src/components/common/Callout.js
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDepartureCallout.js
Labels: 👍 Ready for review, 💻 Frontend

#2219 [MDS-4619] Core IRT review page is showing incorrect data in some categories
  services/core-web/src/components/mine/Projects/InformationRequirementsTableTab.js
  services/minespace-web/src/components/pages/Project/InformationRequirementsTablePage.js
Labels: 🐞 Bug, 👍 Ready for review, 💻 Frontend

#2217 [MDS-4568] Major Mine Application Step 3: Review and Submit - MineSpace
  services/core-api/app/api/projects/major_mine_application/models/major_mine_application.py
  services/core-api/app/api/projects/major_mine_application/resources/major_mine_application.py
  services/core-api/app/api/projects/major_mine_application/resources/major_mine_application_list.py
  services/core-api/app/api/projects/major_mine_application/resources/major_mine_application_uploaded_document.py
  services/core-api/app/api/projects/namespace.py
  services/core-api/app/api/projects/response_models.py
  services/core-web/common/actionCreators/projectActionCreator.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/constants/strings.js
  services/minespace-web/common/actionCreators/projectActionCreator.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/constants/strings.js
  services/minespace-web/package-lock.json
  services/minespace-web/package.json
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationFileUpload.js
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationForm.js
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationReviewSubmit.js
  services/minespace-web/src/components/Forms/projects/projectSummary/DocumentUpload.js
  services/minespace-web/src/components/Forms/projects/projectSummary/ProjectSummaryForm.js
  services/minespace-web/src/components/common/Callout.js
  services/minespace-web/src/components/common/DocumentLink.js
  services/minespace-web/src/components/common/DocumentTable.js
  services/minespace-web/src/components/dashboard/mine/MineDashboard.js
  services/minespace-web/src/components/dashboard/mine/projects/Projects.js
  services/minespace-web/src/components/dashboard/mine/variances/Variances.js
  services/minespace-web/src/components/layout/HeaderDropdown.js
  services/minespace-web/src/components/pages/Project/InformationRequirementsTablePage.js
  services/minespace-web/src/components/pages/Project/MajorMineApplicationEntryTab.js
  services/minespace-web/src/components/pages/Project/MajorMineApplicationPage.js
  services/minespace-web/src/components/pages/Project/MajorMineApplicationSuccessPage.js
  services/minespace-web/src/components/pages/Project/ProjectPage.js
  services/minespace-web/src/components/pages/Project/ProjectSummaryPage.js
  services/minespace-web/src/components/syncfusion/DocumentViewer.js
  services/minespace-web/src/constants/routes.js
  services/minespace-web/src/customPropTypes/projects.js
  services/minespace-web/src/routes/Routes.js
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/MajorMineApplicationFileUpload.spec.js
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/MajorMineApplicationForm.spec.js
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/MajorMineApplicationGetStarted.spec.js
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/MajorMineApplicationReviewSubmit.spec.js
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/__snapshots__/MajorMineApplicationFileUpload.spec.js.snap
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/__snapshots__/MajorMineApplicationForm.spec.js.snap
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/__snapshots__/MajorMineApplicationGetStarted.spec.js.snap
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/__snapshots__/MajorMineApplicationReviewSubmit.spec.js.snap
  services/minespace-web/src/tests/components/Forms/projects/projectSummary/__snapshots__/DocumentUpload.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/projects/project/__snapshots__/Projects.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/projects/project/__snapshots__/ProjectsTable.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/variances/__snapshots__/VarianceDetails.spec.js.snap
  services/minespace-web/src/tests/components/project/MajorMineApplicationPage/__snapshots__/MajorMineApplicationPage.spec.js.snap
  services/minespace-web/src/tests/components/project/informationRequirementsTableEntryTab/__snapshots__/InformationRequirementsTableEntryTab.spec.js.snap
  services/minespace-web/src/tests/components/project/informationRequirementsTableSuccessPage/__snapshots__/InformationRequirementsTableSuccessPage.spec.js.snap
  services/minespace-web/src/tests/components/project/projectOverviewTab/__snapshots__/ProjectOverviewTab.spec.js.snap
  services/minespace-web/src/tests/mocks/dataMocks.js
  services/minespace-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2208 [MDS-4460] Final Status for DO only with final report
  services/core-web/src/components/modalContent/AddIncidentModal.js
Labels: 🌶 Enhancement, 💻 Frontend

#2220 [MDS-4515] Display NoD status change in activity feed (MS)
  services/core-api/app/api/activity/models/activity_notification.py
  services/core-api/app/api/activity/utils.py
  services/core-api/app/api/notice_of_departure/models/notice_of_departure.py
  services/core-api/app/api/notice_of_departure/resources/notice_of_departure.py
  services/core-api/app/api/notice_of_departure/resources/notice_of_departure_list.py
  services/core-web/common/actionCreators/activityActionCreator.js
  services/core-web/common/actions/activityActions.js
  services/core-web/common/constants/API.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/reducers.js
  services/core-web/common/reducers/activityReducer.js
  services/core-web/common/selectors/activitySelectors.js
  services/core-web/src/tests/actionCreators/activityActionCreator.spec.js
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/reducers/activityReducer.spec.js
  services/core-web/src/tests/selectors/activitySelectors.spec.js
  services/minespace-web/common/actionCreators/activityActionCreator.js
  services/minespace-web/common/actions/activityActions.js
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/reducers.js
  services/minespace-web/common/reducers/activityReducer.js
  services/minespace-web/common/selectors/activitySelectors.js
  services/minespace-web/src/components/layout/Header.js
  services/minespace-web/src/components/layout/NotificationDrawer.js
  services/minespace-web/src/reducers/rootReducer.js
  services/minespace-web/src/styles/components/Header.scss
  services/minespace-web/src/styles/generic/layout.scss
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2218 [MDS-4599] View all documents for a project.
  services/core-web/src/components/common/DocumentColumns.js
  services/minespace-web/.env-example
  services/minespace-web/package-lock.json
  services/minespace-web/package.json
  services/minespace-web/src/App.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/IRTFileImport.js
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationReviewSubmit.js
  services/minespace-web/src/components/Forms/projects/projectSummary/DocumentUpload.js
  services/minespace-web/src/components/common/DocumentColumns.js
  services/minespace-web/src/components/common/DocumentLink.js
  services/minespace-web/src/components/common/DocumentTable.js
  services/minespace-web/src/components/dashboard/mine/variances/VarianceDetails.js
  services/minespace-web/src/components/modalContent/informationRequirementsTable/ViewFileHistoryModal.js
  services/minespace-web/src/components/pages/Project/DocumentsPage.js
  services/minespace-web/src/components/pages/Project/DocumentsTab.js
  services/minespace-web/src/components/pages/Project/ProjectOverviewTab.js
  services/minespace-web/src/components/pages/Project/ProjectPage.js
  services/minespace-web/src/components/syncfusion/DocumentViewer.js
  services/minespace-web/src/constants/environment.js
  services/minespace-web/src/fetchEnv.js
  services/minespace-web/src/styles/index.scss
  services/minespace-web/src/styles/tools/syncfusion.scss
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/__snapshots__/MajorMineApplicationReviewSubmit.spec.js.snap
  services/minespace-web/src/tests/components/Forms/projects/projectSummary/__snapshots__/DocumentUpload.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/variances/__snapshots__/VarianceDetails.spec.js.snap
  services/minespace-web/src/tests/components/project/DocumentsPage/DocumentsPage.spec.js
  services/minespace-web/src/tests/components/project/DocumentsPage/__snapshots__/DocumentsPage.spec.js.snap
  services/minespace-web/src/tests/components/project/DocumentsTab/DocumentsTab.spec.js
  services/minespace-web/src/tests/components/project/DocumentsTab/__snapshots__/DocumentsTab.spec.js.snap
  services/minespace-web/src/tests/components/project/projectOverviewTab/__snapshots__/ProjectOverviewTab.spec.js.snap
  services/minespace-web/src/tests/mocks/dataMocks.js
  services/minespace-web/webpack.parts.js
Labels: 👍 Ready for review, 💻 Frontend

#2227 [MDS-4594] Add ability to add/edit referrals and consultations while a NoW is on client delay
  services/core-web/src/components/noticeOfWork/applications/referals/Consultation.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviewsTable.js
  services/core-web/src/components/noticeOfWork/applications/referals/Referrals.js
Labels: 👍 Ready for review, 💻 Frontend

#2225 [MDS-4529] View a major mine application submission, in minespace
  migrations/sql/V2022.08.10.09.06__add_mma_status_code.sql
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationCallout.js
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationForm.js
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationReviewSubmit.js
  services/minespace-web/src/components/dashboard/mine/projects/ProjectStagesTable.js
  services/minespace-web/src/components/pages/Project/MajorMineApplicationPage.js
  services/minespace-web/src/components/pages/Project/ProjectOverviewTab.js
  services/minespace-web/src/components/pages/Project/ProjectPage.js
  services/minespace-web/src/constants/routes.js
  services/minespace-web/src/routes/Routes.js
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/__snapshots__/MajorMineApplicationForm.spec.js.snap
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/__snapshots__/MajorMineApplicationReviewSubmit.spec.js.snap
  services/minespace-web/src/tests/components/project/projectOverviewTab/__snapshots__/ProjectOverviewTab.spec.js.snap
  services/minespace-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#2239 [MDS-4631] Open up endpoint to create Mine Party Appt (EORs only) to Minespace proponents
  services/core-api/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  services/core-api/app/api/utils/access_decorators.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/parties/party_appt/resources/test_mine_party_appt_resource.py
Labels: 👍 Ready for review, 💾 Backend

#2240 [MDS-4632] create tsf page
  services/minespace-web/src/components/Forms/tailing/tailingsStorageFacility/BasicInformation.js
  services/minespace-web/src/components/Forms/tailing/tailingsStorageFacility/EngineerOfRecord.js
  services/minespace-web/src/components/Forms/tailing/tailingsStorageFacility/TailingsSummaryForm.js
  services/minespace-web/src/components/dashboard/mine/MineDashboard.js
  services/minespace-web/src/components/dashboard/mine/tailings/Tailings.js
  services/minespace-web/src/components/dashboard/mine/tailings/TailingsTable.js
  services/minespace-web/src/components/pages/Tailings/TailingsSummaryPage.js
  services/minespace-web/src/constants/forms.js
  services/minespace-web/src/constants/routes.js
  services/minespace-web/src/routes/Routes.js
  services/minespace-web/src/styles/overrides/antd-overrides.scss
  services/minespace-web/src/tests/components/Forms/tailing/AddTailingsSummary/BasicInformation.spec.js
  services/minespace-web/src/tests/components/Forms/tailing/AddTailingsSummary/EngineerOfRecord.spec.js
  services/minespace-web/src/tests/components/Forms/tailing/AddTailingsSummary/__snapshots__/BasicInformation.spec.js.snap
  services/minespace-web/src/tests/components/Forms/tailing/AddTailingsSummary/__snapshots__/EngineerOfRecord.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/tailings/__snapshots__/Tailings.spec.js.snap
  services/minespace-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#2245 [MDS-4596] Major Mine Application view
  services/core-web/src/components/Forms/majorMineApplication/UpdateMajorMineAppStatusForm.js
  services/core-web/src/components/mine/Projects/MajorMineApplicationTab.js
  services/core-web/src/components/mine/Projects/Project.js
  services/core-web/src/components/mine/Projects/ProjectDocumentsTabSideMenu.js
  services/core-web/src/constants/forms.js
  services/core-web/src/constants/routes.js
  services/core-web/src/tests/components/Forms/MajorMineApplication/UpdateMajorMineAppStatusForm.spec.js
  services/core-web/src/tests/components/Forms/MajorMineApplication/__snapshots__/UpdateMajorMineAppStatusForm.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/MajorMineApplicationTab.spec.js
  services/core-web/src/tests/components/mine/Projects/__snapshots__/MajorMineApplicationTab.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/__snapshots__/Project.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/__snapshots__/ProjectDocumentsTabSideMenu.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
Labels: 💻 Frontend

#2244 [MDS-4640] Major Mine Application - Core - View Permit Package
  services/core-web/src/components/common/ScrollSideMenu.js
  services/core-web/src/components/mine/Projects/DecisionPackageTab.js
  services/core-web/src/components/mine/Projects/MajorMineApplicationTab.js
  services/core-web/src/components/mine/Projects/Project.js
  services/core-web/src/components/mine/Projects/ProjectDocumentsTab.js
  services/core-web/src/components/mine/Projects/ProjectDocumentsTabSideMenu.js
  services/core-web/src/components/mine/Projects/ProjectSummary.js
  services/core-web/src/constants/forms.js
  services/core-web/src/constants/routes.js
  services/core-web/src/tests/components/common/ScrollSideMenu.spec.js
  services/core-web/src/tests/components/common/__snapshots__/ScrollSideMenu.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/DecisionPackageTab.spec.js
  services/core-web/src/tests/components/mine/Projects/ProjectDocumentsTabSideMenu.spec.js
  services/core-web/src/tests/components/mine/Projects/ProjectSummarySideMenu.spec.js
  services/core-web/src/tests/components/mine/Projects/__snapshots__/DecisionPackageTab.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/__snapshots__/MajorMineApplicationTab.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/__snapshots__/Project.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/__snapshots__/ProjectDocumentsTab.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/__snapshots__/ProjectDocumentsTabSideMenu.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/__snapshots__/ProjectSummary.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/__snapshots__/ProjectSummarySideMenu.spec.js.snap
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  services/minespace-web/src/components/Forms/tailing/tailingsStorageFacility/TailingsSummaryForm.js
  services/minespace-web/src/components/dashboard/mine/tailings/TailingsTable.js
Labels: 👍 Ready for review, 💻 Frontend

#2234 [MDS-4606] Status banner not displaying correct status for IRT in Core.
  services/core-web/src/components/Forms/informationRequirementsTable/UpdateInformationRequirementsTableForm.js
Labels: 🐞 Bug, 💻 Frontend
