Repository bcgov/mds, pull requests merged in 2022-02, with the labels that each got.

#1964 MDS-4082: Add additional client delay reason NoW
  migrations/sql/V2022.01.27.16.09__insert_now_application_delay_type.sql
  services/core-api/app/api/now_applications/resources/now_application_delay_resource.py
Labels: 👍 Ready for review, 💾 Backend

#1963 Updated the email list for project description POST
  services/core-api/app/api/constants.py
Labels: 👍 Ready for review, 💾 Backend

#1968 MDS 4123 project description authorizations not clearing
  services/core-web/common/actions/projectSummaryActions.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/reducers/projectSummaryReducer.js
  services/minespace-web/common/actions/projectSummaryActions.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/reducers/projectSummaryReducer.js
  services/minespace-web/src/components/pages/ProjectSummaryPage.js
Labels: 🐞 Bug, 💻 Frontend, 💊 Fix

#1967 Hot fixes - MineSpace project Descriptions
  services/minespace-web/src/components/Forms/projectSummaries/DocumentUpload.js
  services/minespace-web/src/components/Forms/projectSummaries/ProjectContacts.js
  services/minespace-web/src/components/Forms/projectSummaries/ProjectSummaryFileUpload.js
  services/minespace-web/src/constants/fileTypes.js
  services/minespace-web/src/tests/components/Forms/projectSummaries/__snapshots__/DocumentUpload.spec.js.snap
Labels: 💻 Frontend

#1965 MDS-4058: View additional project data in Core
  services/core-api/app/api/mines/project_summary/resources/project_summary.py
  services/core-api/app/api/mines/project_summary/resources/project_summary_list.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-web/common/actionCreators/projectSummaryActionCreator.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/src/components/Forms/projectSummaries/ProjectSummaryForm.js
  services/core-web/src/components/mine/ProjectSummaries/MineProjectSummary.js
  services/core-web/src/components/mine/ProjectSummaries/MineProjectSummaryTable.js
  services/core-web/src/components/mine/ProjectSummaries/ProjectSummary.js
  services/core-web/src/components/mine/ProjectSummaries/ProjectSummarySideMenu.js
  services/core-web/src/constants/forms.js
  services/core-web/src/constants/routes.js
  services/core-web/src/routes/MineDashboardRoutes.js
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/tests/actionCreators/projectSummaryActionCreator.spec.js
  services/core-web/src/tests/components/Forms/projectSummaries/ProjectSummaryForm.spec.js
  services/core-web/src/tests/components/Forms/projectSummaries/__snapshots__/ProjectSummaryForm.spec.js.snap
  services/core-web/src/tests/components/mine/ProjectSummaries/MineProjectSummary.spec.js
  services/core-web/src/tests/components/mine/ProjectSummaries/ProjectSummary.spec.js
  services/core-web/src/tests/components/mine/ProjectSummaries/ProjectSummarySideMenu.spec.js
  services/core-web/src/tests/components/mine/ProjectSummaries/__snapshots__/MineProjectSummary.spec.js.snap
  services/core-web/src/tests/components/mine/ProjectSummaries/__snapshots__/MineProjectSummaryTable.spec.js.snap
  services/core-web/src/tests/components/mine/ProjectSummaries/__snapshots__/ProjectSummary.spec.js.snap
  services/core-web/src/tests/components/mine/ProjectSummaries/__snapshots__/ProjectSummarySideMenu.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  services/core-web/src/tests/selectors/staticContentSelectors.spec.js
  services/minespace-web/common/actionCreators/projectSummaryActionCreator.js
  services/minespace-web/common/selectors/staticContentSelectors.js
Labels: 💾 Backend, 💻 Frontend

#1961 MDS-4063: Send notification to a proponent when creating a new Project Description in Minespace.
  services/core-api/app/api/constants.py
  services/core-api/app/api/mines/project_summary/models/project_summary.py
  services/core-api/app/api/mines/project_summary/resources/project_summary.py
  services/core-api/app/api/mines/project_summary/resources/project_summary_list.py
  services/core-api/app/api/services/email_service.py
  services/core-api/app/config.py
Labels: 👍 Ready for review, 💾 Backend

#1970 Disabled NoW edit application delays in prod
  services/core-web/src/components/noticeOfWork/applications/administrative/NOWProgressTable.js
Labels: 💻 Frontend

#1962 MDS-4037: Display Additional Project Summary form fields in Minespace
  services/minespace-web/src/components/dashboard/mine/projectSummaries/ProjectSummariesTable.js
  services/minespace-web/src/tests/components/dashboard/mine/projectSummaries/__snapshots__/ProjectSummariesTable.spec.js.snap
Labels: 💻 Frontend

#1976 Bug/mds 4127 contact on proj sum
  services/core-web/src/components/Forms/projectSummaries/ProjectSummaryForm.js
  services/minespace-web/src/components/Forms/projectSummaries/ProjectSummaryForm.js
  services/minespace-web/src/styles/generic/layout.scss
Labels: 🐞 Bug, 👍 Ready for review, 💻 Frontend, 💊 Fix

#1977 MDS-4124: Activate logs for generation of document in core-api
  services/core-api/app/api/document_generation/resources/explosives_permit_document_resource.py
  services/core-api/app/api/mines/explosives_permit/models/explosives_permit.py
  services/core-api/app/api/services/document_generator_service.py
Labels: 🐞 Bug, 💾 Backend

#1978 Feature/certbot
  openshift4/docker-images/ssl-certbot/Dockerfile
  openshift4/docker-images/ssl-certbot/oc-deploy-certs.sh
  openshift4/ssl-certbot/README.md
  openshift4/ssl-certbot/buildconfig.certbot.yaml
  openshift4/ssl-certbot/cronjob.certbot-core.yaml
  openshift4/ssl-certbot/cronjob.certbot-minespace.yaml
  openshift4/ssl-certbot/imagestream.certbot.yaml
  openshift4/ssl-certbot/pvc.certbot-core.yaml
  openshift4/ssl-certbot/pvc.certbot-minespace.yaml
  openshift4/ssl-certbot/role.certbot.yaml
  openshift4/ssl-certbot/rolebinding.certbot.yaml
  openshift4/ssl-certbot/serviceaccount.certbot.yaml
Labels: 👍 Ready for review

#1975 Assign Project Lead and Update Project Description Status
  migrations/sql/V2022.02.01.12.46__update_project_summary_status_codes.sql
  migrations/sql/V2022.02.07.13.58__update_project_summary_date_field.sql
  services/core-api/app/api/mines/project_summary/models/project_summary.py
  services/core-api/app/api/mines/project_summary/models/project_summary_status_code.py
  services/core-api/app/api/mines/project_summary/resources/project_summary.py
  services/core-api/app/api/mines/project_summary/resources/project_summary_list.py
  services/core-api/app/api/mines/project_summary/response_models.py
  services/core-api/app/api/utils/access_decorators.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/mines/project_summaries/resources/test_project_summary_resource.py
  services/core-web/common/actionCreators/projectSummaryActionCreator.js
  services/core-web/common/constants/environment.js
  services/core-web/common/reducers/partiesReducer.js
  services/core-web/common/selectors/staticContentSelectors.js
  services/core-web/src/components/Forms/projectSummaries/ProjectSummaryForm.js
  services/core-web/src/components/mine/ProjectSummaries/MineProjectSummaryTable.js
  services/core-web/src/components/mine/ProjectSummaries/ProjectSummary.js
  services/core-web/src/constants/permissions.js
  services/core-web/src/tests/actionCreators/projectSummaryActionCreator.spec.js
  services/core-web/src/tests/components/Forms/projectSummaries/ProjectSummaryForm.spec.js
  services/core-web/src/tests/components/Forms/projectSummaries/__snapshots__/ProjectSummaryForm.spec.js.snap
  services/core-web/src/tests/components/mine/ProjectSummaries/__snapshots__/MineProjectSummary.spec.js.snap
  services/core-web/src/tests/components/mine/ProjectSummaries/__snapshots__/MineProjectSummaryTable.spec.js.snap
  services/core-web/src/tests/components/mine/ProjectSummaries/__snapshots__/ProjectSummary.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.js
  services/core-web/src/tests/reducers/partiesReducer.spec.js
  services/core-web/src/tests/selectors/staticContentSelectors.spec.js
  services/minespace-web/common/actionCreators/projectSummaryActionCreator.js
  services/minespace-web/common/constants/environment.js
  services/minespace-web/common/reducers/partiesReducer.js
  services/minespace-web/common/selectors/staticContentSelectors.js
  services/minespace-web/src/components/Forms/projectSummaries/ProjectContacts.js
  services/minespace-web/src/components/Forms/projectSummaries/ProjectSummaryForm.js
  services/minespace-web/src/components/dashboard/mine/projectSummaries/ProjectSummaries.js
  services/minespace-web/src/components/dashboard/mine/projectSummaries/ProjectSummariesTable.js
  services/minespace-web/src/components/pages/ProjectSummaryPage.js
  services/minespace-web/src/customPropTypes/projectSummaries.js
  services/minespace-web/src/tests/components/dashboard/mine/projectSummaries/__snapshots__/ProjectSummaries.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/projectSummaries/__snapshots__/ProjectSummariesTable.spec.js.snap
  services/minespace-web/src/tests/mocks/dataMocks.js
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend, ⠀👨👦👧🏡🐯🦁🐒🦒⠀

#1942 MDS-3857: refactor compose
  .github/workflows/tests-coverage.yaml
  .gitignore
  .vscode/extensions.json
  bin/help.sh
  bin/validate.sh
  docker-compose.ci.yaml
  docker-compose.yaml
  services/core-api/.devcontainer.json
  services/core-api/.env-example
  services/core-api/Dockerfile
  services/core-api/requirements.txt
  services/core-web/.devcontainer.json
  services/filesystem-provider/Dockerfile
  services/filesystem-provider/Dockerfile.ci
  services/filesystem-provider/init.sh
  services/minespace-web/.devcontainer.json
Labels: 👍 Ready for review, 💾 Backend, ⛏ Needs manual testing, 💊 Fix, 🍋 Sour, ⠀👨👦👧🏡🐯🦁🐒🦒⠀, 🥃💃🦊 Whisky Tango Foxtrot

#1983 Remove feature flagging for Project Descriptions
  services/core-web/src/components/mine/MineNavigation.js
  services/core-web/src/components/mine/ProjectSummaries/MineProjectSummary.js
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  services/minespace-web/src/components/dashboard/mine/MineDashboard.js
Labels: 💻 Frontend

#1988 MDS-3754: Preamble text in Draft permits.
  migrations/sql/V2022.02.10.16.20__add_preambule_text_column_to_permit_amendment_permit.sql
  migrations/sql/V2022.02.22.13.20__update_preambule_text_column_to_existing_draft_permit_amendment_permit.sql
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/now_applications/models/application_type_code.py
  services/core-api/app/api/now_applications/models/now_application_document_type.py
  services/core-api/app/api/now_applications/models/now_application_identity.py
  services/core-api/app/api/utils/helpers.py
  services/core-api/app/templates/permit/Permit.docx
  services/core-api/tests/mines/permit/resources/test_permit_amendment_resource.py
  services/core-web/common/actions/permitActions.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/reducers/permitReducer.js
  services/core-web/common/selectors/permitSelectors.js
  services/core-web/src/components/Forms/permits/GeneratePermitForm.js
  services/core-web/src/components/Forms/permits/conditions/VariableConditionMenu.js
  services/core-web/src/components/noticeOfWork/applications/permitGeneration/NOWPermitGeneration.js
  services/core-web/src/tests/components/Forms/permits/conditions/__snapshots__/VariableConditionMenu.spec.js.snap
  services/core-web/src/tests/selectors/permitSelectors.spec.js
  services/minespace-web/common/actions/permitActions.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/reducers/permitReducer.js
  services/minespace-web/common/selectors/permitSelectors.js
  services/minespace-web/src/tests/mocks/dataMocks.js
Labels: 💾 Backend, 💻 Frontend

#1990 bug/fix : Preamble_text
  migrations/sql/V2022.02.23.20.20__fix_update_preambule_text_column_to_existing_draft_permit_amendment_permit.sql
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_amendment/resources/permit_amendment.py
  services/core-api/app/api/now_applications/models/now_application_identity.py
  services/core-web/src/components/noticeOfWork/applications/process/ProcessPermit.js
Labels: 💾 Backend, 💻 Frontend

#1986 bug fix - updated AuthWrapper logic
  services/core-web/src/components/common/wrappers/AuthorizationWrapper.js
  services/core-web/src/components/parties/PartyProfile.js
  services/core-web/src/tests/components/common/wrappers/AuthorizationWrapper.spec.js
  services/minespace-web/src/components/Forms/projectSummaries/ProjectSummaryForm.js
  services/minespace-web/src/components/common/wrappers/AuthorizationWrapper.js
  services/minespace-web/src/components/dashboard/mine/incidents/Incidents.js
  services/minespace-web/src/components/dashboard/mine/overview/MineWorkInformation.js
  services/minespace-web/src/components/dashboard/mine/overview/WorkerInfoEmployee.js
  services/minespace-web/src/components/dashboard/mine/projectSummaries/ProjectSummaries.js
  services/minespace-web/src/components/dashboard/mine/variances/Variances.js
  services/minespace-web/src/tests/components/dashboard/mine/incidents/__snapshots__/Incidents.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/overview/__snapshots__/MineWorkInformation.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/overview/__snapshots__/WorkerInfoEmployee.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/projectSummaries/__snapshots__/ProjectSummaries.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/variances/__snapshots__/Variances.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend, 💊 Fix

#1987 Bug/disable nda resource
  services/core-api/app/api/constants.py
  services/core-api/app/api/now_submissions/models/application_nda.py
  services/core-api/app/api/now_submissions/resources/application_nda_list_resource.py
  services/core-api/tests/now_submissions/resources/test_application_nda_list_resource.py
Labels: 💾 Backend

#1993 MDS-4155: Update Edit TSF email Core url
  services/core-api/app/api/mines/tailings/models/tailings.py
Labels: 💾 Backend

#1992 Adding missing activities and other missing fields
  services/core-api/tests/now_application_factories.py
Labels: 💾 Backend
