Repository bcgov/mds, pull requests merged in 2023-04, with the labels that each got.

#2486 [MDS-5147] - NoW endpoint enhancement
  migrations/sql/V2023.04.06.09.45__add_mms_cid_index.sql
Labels: 🌶 Enhancement, 📜 SQL

#2487 [MDS-4668] Pagination for mine-summary endpoint
  services/core-api/app/api/exports/mines/models/mine_summary_view.py
  services/core-api/app/api/exports/mines/resources/mine_summary_resource.py
  services/core-api/app/api/exports/response_models.py
  services/core-api/tests/exports/test_export_success.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend, python

#2495 [MDS-5155] Explosives permits role
  services/core-api/app/api/mines/explosives_permit/models/explosives_permit.py
  services/core-api/app/api/mines/explosives_permit/resources/explosives_permit.py
  services/core-api/tests/auth/test_auth_decorators.py
  services/core-api/tests/auth/test_user_auth.py
  services/core-web/src/components/Forms/ExplosivesPermit/ExplosivesPermitForm.js
  services/core-web/src/components/mine/ExplosivesPermit/ExplosivesPermit.js
  services/core-web/src/tests/components/mine/ExplosivesPermit/__snapshots__/ExplosivesPermit.spec.js.snap
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2491 [CHORE] - Implement Typescript
  .eslintrc.js
  package.json
  services/minespace-web/.babelrc
  services/minespace-web/package.json
  services/minespace-web/sonar-project.properties
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDeparture.tsx
  services/minespace-web/src/components/pages/LandingPage.tsx
  services/minespace-web/src/tests/components/dashboard/mine/noticeOfDeparture/__snapshots__/noticeOfDeparture.spec.tsx.snap
  services/minespace-web/src/tests/components/dashboard/mine/noticeOfDeparture/noticeOfDeparture.spec.tsx
  services/minespace-web/src/tests/components/landingPage/LandingPage.spec.tsx
  services/minespace-web/src/tests/components/landingPage/__snapshots__/LandingPage.spec.tsx.snap
  services/minespace-web/tsconfig.json
  services/minespace-web/webpack.config.ts
  services/minespace-web/webpack.parts.js
  yarn.lock
Labels: 🌶 Enhancement, 👍 Ready for review, :keyboard: Typescript

#2502 [MDS-5036] - typescript core
  services/core-web/.babelrc
  services/core-web/package.json
  services/core-web/sonar-project.properties
  services/core-web/src/components/Forms/parties/PartySignatureUpload.js
  services/core-web/src/components/dashboard/HomePage.js
  services/core-web/src/components/dashboard/HomePage.tsx
  services/core-web/src/components/mine/NoticeOfDeparture/MineNoticeOfDeparture.tsx
  services/core-web/src/tests/components/mine/NoticeOfDeparture/MineNoticeOfDeparture.spec.tsx
  services/core-web/src/tests/components/mine/NoticeOfDeparture/__snapshots__/MineNoticeOfDeparture.spec.js.snap
  services/core-web/src/tests/components/mine/NoticeOfDeparture/__snapshots__/MineNoticeOfDeparture.spec.tsx.snap
  services/core-web/src/tests/mocks/matchMedia.ts
  services/core-web/src/tests/mocks/utils.tsx
  services/core-web/tsconfig.json
  services/core-web/webpack.config.ts
  services/core-web/webpack.parts.js
  services/minespace-web/package.json
  yarn.lock
Labels: 🌶 Enhancement, 💻 Frontend, :keyboard: Typescript

#2507 [MDS-5224] TSF Update Error
  services/core-api/app/api/parties/party_appt/models/mine_party_appt.py
  services/core-web/src/components/Forms/PartyRelationships/AddPartyRelationshipForm.js
  services/core-web/src/components/mine/ContactInfo/ViewPartyRelationships.js
  services/core-web/src/tests/components/Forms/__snapshots__/AddPartyRelationshipForm.spec.js.snap
Labels: 💾 Backend, 💻 Frontend, 💊 Fix
