Repository bcgov/mds, pull requests merged in 2023-10, with the labels that each got.

#2711 [MDS-5525] Remove Actions menu from Bond document table (#2710)
  services/core-web/src/components/Forms/ExplosivesPermit/ExplosivesPermitForm.tsx
  services/core-web/src/components/Forms/Securities/BondForm.js
  services/core-web/src/components/Forms/Securities/ReclamationInvoiceForm.js
  services/core-web/src/components/common/ActionMenu.tsx
  services/core-web/src/components/common/DocumentTable.tsx
  services/core-web/src/components/mine/ExplosivesPermit/ExplosivesPermit.tsx
  services/core-web/src/components/mine/ExplosivesPermit/MineExplosivesPermitTable.tsx
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/BondForm.spec.js.snap
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/ReclamationInvoiceForm.spec.js.snap
  services/minespace-web/src/components/common/DocumentTable.tsx
Labels: 🐞 Bug, 💻 Frontend

#2717 [MDS-5537] Fix fontawesome auth issue if you were previously authenticated
  bin/setenv.sh
Labels: 🐞 Bug, 🏭 CI/CD, 👍 Ready for review

#2730 [MDS-5349] - Core ESUP amendment changes table
  bin/setenv.sh
  services/common/src/interfaces/permits/explosivesPermit.interface.ts
  services/common/src/interfaces/permits/explosivesPermitAmendment.interface.ts
  services/common/src/interfaces/permits/index.ts
  services/core-api/app/api/mines/explosives_permit/models/explosives_permit.py
  services/core-api/app/api/mines/explosives_permit/response_models.py
  services/core-api/app/api/mines/explosives_permit_amendment/models/explosives_permit_amendment.py
  services/core-api/app/api/mines/explosives_permit_amendment/resources/explosives_permit_amendment.py
  services/core-api/app/api/mines/explosives_permit_amendment/resources/explosives_permit_amendment_list.py
  services/core-api/app/api/mines/explosives_permit_amendment/response_models.py
  services/core-api/tests/mines/explosives_permit_amendment/resources/test_explosives_permit_amendment_resource.py
  services/core-web/common/components/explosivesPermits/ExplosivesPermitDiffModal.tsx
  services/core-web/src/components/mine/ExplosivesPermit/ExplosivesPermit.tsx
  services/core-web/src/components/mine/ExplosivesPermit/MineExplosivesPermitTable.tsx
  services/core-web/src/components/modalContent/ExplosivesPermitViewModal.tsx
  services/core-web/src/styles/components/ExplosivesPermits.scss
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/styles/settings/theme.scss
  services/minespace-web/common/components/explosivesPermits/ExplosivesPermitDiffModal.tsx
  services/minespace-web/src/styles/settings/variables.scss
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend, :keyboard: Typescript

#2733 [MDS-5353] - Refactor MagazineFormNew from functional to class component
  services/core-web/src/components/Forms/ExplosivesPermit/MagazineFormNew.tsx
Labels: 🐞 Bug, 👍 Ready for review, 💊 Fix

#2718 [MDS-5515] SchemaSpy updates
  .github/workflows/core-api.build.deploy.dev.yaml
  .github/workflows/core-api.deploy.prod.yaml
  .github/workflows/core-api.deploy.test.yaml
  .github/workflows/schemaspy-rollout-dev.yaml
  .github/workflows/schemaspy-rollout-prod.yaml
  .github/workflows/schemaspy-rollout-test.yaml
  .github/workflows/schemaspy-rollout.yaml
Labels: 🏭 CI/CD, 👍 Ready for review, 💊 Fix

#2734 [MDS-5455] Fixed leftover type errors
  services/common/src/interfaces/explosivesPermitMagazine.interface.ts
  services/common/src/interfaces/permits/explosivesPermit.interface.ts
  services/common/src/interfaces/permits/explosivesPermitAmendment.interface.ts
  services/common/src/interfaces/permits/index.ts
  services/common/src/interfaces/permits/magazine.interface.ts
  services/core-web/common/actionCreators/explosivesPermitActionCreator.ts
  services/core-web/common/components/explosivesPermits/ExplosivesPermitDiffModal.tsx
  services/core-web/common/reducers/explosivesPermitReducer.ts
  services/core-web/src/components/Forms/ExplosivesPermit/ExplosivesPermitForm.tsx
  services/core-web/src/components/mine/ExplosivesPermit/ExplosivesPermit.tsx
  services/core-web/src/components/mine/ExplosivesPermit/Magazine.tsx
  services/core-web/src/components/mine/ExplosivesPermit/MineExplosivesPermitTable.tsx
  services/core-web/src/components/mine/Permit/PermitAmendmentUploadedFilesList.tsx
  services/core-web/src/components/modalContent/ExplosivesPermitViewModal.tsx
  services/minespace-web/common/actionCreators/explosivesPermitActionCreator.ts
  services/minespace-web/common/components/explosivesPermits/ExplosivesPermitDiffModal.tsx
  services/minespace-web/common/reducers/explosivesPermitReducer.ts
Labels: 👍 Ready for review, 💻 Frontend, :keyboard: Typescript

#2725 [MDS-5352] Close ESUP permits
  migrations/sql/V2023.10.13.14.31__add_explosive_permit_closed_by.sql
  services/common/src/interfaces/permits/explosivesPermit.interface.ts
  services/core-api/app/api/mines/explosives_permit/models/explosives_permit.py
  services/core-api/app/api/mines/explosives_permit/resources/explosives_permit.py
  services/core-api/app/api/mines/explosives_permit/response_models.py
  services/core-web/common/actionCreators/explosivesPermitAmendmentActionCreator.ts
  services/core-web/common/constants/API.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/src/components/Forms/ExplosivesPermit/ExplosivesPermitCloseForm.js
  services/core-web/src/components/mine/ExplosivesPermit/ExplosivesPermit.tsx
  services/core-web/src/components/mine/ExplosivesPermit/MineExplosivesPermitTable.tsx
  services/core-web/src/components/modalContent/ExplosivesPermitViewModal.tsx
  services/core-web/src/tests/components/Forms/ExplosivesPermit/__snapshots__/ExplosivesPermitCloseForm.spec.js.snap
  services/core-web/src/tests/components/mine/ExplosivesPermit/__snapshots__/ExplosivesPermit.spec.js.snap
  services/minespace-web/common/actionCreators/explosivesPermitAmendmentActionCreator.ts
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/reducerTypes.js
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2732 [MDS-5553] (and 5542) Request a connection invitation for a permitee
  services/common/src/constants/enums.ts
  services/common/src/interfaces/index.ts
  services/common/src/interfaces/verifiableCredentials/index.ts
  services/common/src/interfaces/verifiableCredentials/verifiableCredentialInvitation.interface.ts
  services/common/src/utils/featureFlag.ts
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/notice_of_departure/dto.py
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/api/services/traction_service.py
  services/core-api/app/api/verifiable_credentials/models/connection.py
  services/core-api/app/api/verifiable_credentials/resources/verifiable_credential_connections.py
  services/core-api/app/api/verifiable_credentials/response_models.py
  services/core-web/common/actionCreators/verifiableCredentialActionCreator.ts
  services/core-web/common/actions/verfiableCredentialActions.js
  services/core-web/common/constants/actionTypes.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/reducers.js
  services/core-web/common/reducers/verifiableCredentialReducer.js
  services/core-web/common/selectors/verifiableCredentialSelectors.js
  services/minespace-web/common/actionCreators/verifiableCredentialActionCreator.ts
  services/minespace-web/common/actions/verfiableCredentialActions.js
  services/minespace-web/common/constants/actionTypes.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/reducers.js
  services/minespace-web/common/reducers/verifiableCredentialReducer.js
  services/minespace-web/common/selectors/verifiableCredentialSelectors.js
  services/minespace-web/src/components/Forms/verifiableCredentials/CreateInvitationForm.tsx
  services/minespace-web/src/components/dashboard/mine/permits/Permits.js
  services/minespace-web/src/components/dashboard/mine/permits/PermitsTable.js
  services/minespace-web/src/components/modalContent/config.js
  services/minespace-web/src/components/modalContent/verifiableCredentials/createInvitationModal.tsx
  services/minespace-web/src/constants/forms.js
  services/minespace-web/src/constants/reducerTypes.js
  services/minespace-web/src/reducers/rootReducer.js
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2744 [MDS-5508] Fix ESUP edit document modal overlap
  services/core-web/src/components/Forms/DocumentCategoryForm.tsx
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/tests/components/Forms/__snapshots__/DocumentCategoryForm.spec.js.snap
Labels: 🐞 Bug, 👍 Ready for review
