Repository bcgov/mds, pull requests merged in 2023-02, with the labels that each got.

#2416 [MDS-5037] EOR/QP appointment
  services/core-api/app/api/parties/party/resources/party_resource.py
  services/core-api/app/api/parties/party_appt/resources/mine_party_appt_resource.py
  services/core-api/app/api/utils/access_decorators.py
  services/core-api/app/flask_jwt_oidc_local/jwt_manager.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/constants.py
  services/core-api/tests/factories.py
  services/core-api/tests/parties/party_appt/resources/test_mine_party_appt_resource.py
Labels: 👍 Ready for review, 💾 Backend

#2418 [MDS-4956] - Incidents optimizations
  services/core-api/app/api/incidents/resources/incidents_resource.py
  services/core-web/src/components/dashboard/incidentsHomePage/IncidentsHomePage.js
  services/core-web/src/components/mine/Incidents/MineIncidentTable.js
  services/core-web/src/components/mine/Incidents/MineIncidents.js
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2420 [MDS-5017] Refresh token- bug fix
  services/core-web/common/reducers/authenticationReducer.js
  services/minespace-web/common/reducers/authenticationReducer.js
  services/minespace-web/src/reducers/authenticationReducer.js
Labels: 🐞 Bug, 💻 Frontend

#2424 [MDS-4894] Qualified Persons notification bug
  services/core-api/app/api/parties/party_appt/resources/mine_party_appt_resource.py
Labels: 🐞 Bug, 💾 Backend

#2423 [MDS-4969] Incidents Form
  services/core-web/src/components/Forms/incidents/IncidentForm.js
  services/core-web/src/tests/components/Forms/incidents/IncidentForm.spec.js
  services/core-web/src/tests/components/Forms/incidents/__snapshots__/IncidentForm.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend

#2426 [MDS-5032] Missing Incident status banners
  services/minespace-web/src/components/Forms/incidents/IncidentForm.js
  services/minespace-web/src/tests/components/Forms/incidents/__snapshots__/IncidentForm.spec.js.snap
Labels: 💻 Frontend

#2422 [MDS-4968] Incidents text updates
  services/core-web/src/components/Forms/incidents/IncidentForm.js
  services/minespace-web/src/components/dashboard/mine/incidents/Incidents.js
  services/minespace-web/src/components/pages/Incidents/IncidentGetStarted.js
  services/minespace-web/src/tests/components/dashboard/mine/incidents/Incidents.spec.js
  services/minespace-web/src/tests/components/dashboard/mine/incidents/__snapshots__/Incidents.spec.js.snap
Labels: 💻 Frontend

#2432 [MDS-5066] Can't upload a file
  services/minespace-web/src/components/Forms/incidents/IncidentForm.js
  services/minespace-web/src/components/pages/Incidents/IncidentPage.js
  services/minespace-web/src/tests/components/Forms/incidents/IncidentForm.spec.js
  services/minespace-web/src/tests/components/Forms/incidents/__snapshots__/IncidentForm.spec.js.snap
Labels: 🐞 Bug, 💻 Frontend

#2436 [MDS-5085] Mine GUID undefined when clicking on Incident link in notification
  services/core-web/src/components/navigation/NotificationDrawer.js
Labels: 🐞 Bug, 💻 Frontend

#2438 [MDS-5017] Reduce refresh token frequency
  services/core-web/src/index.js
  services/minespace-web/src/index.js
Labels: 💊 Fix

#2439 [MDS-5086] Text changes on Incidents
  services/minespace-web/src/components/Forms/incidents/IncidentForm.js
  services/minespace-web/src/components/dashboard/mine/incidents/Incidents.js
  services/minespace-web/src/tests/components/Forms/incidents/__snapshots__/IncidentForm.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/incidents/__snapshots__/Incidents.spec.js.snap
Labels: 💻 Frontend, 💊 Fix

#2440 [MDS-5083] updated mine alert text and removed prod flag
  services/core-web/src/components/Forms/mineAlerts/AddMineAlertForm.js
  services/core-web/src/components/mine/MineAlert.js
  services/core-web/src/components/mine/MineHeader.js
  services/core-web/src/constants/modalContent.js
Labels: 👍 Ready for review, 💻 Frontend

#2437 [MDS-5081] Incident page reloading bugs
  services/core-web/src/components/Forms/incidents/IncidentForm.js
  services/core-web/src/components/mine/Incidents/MineIncident.js
  services/minespace-web/src/components/pages/Incidents/IncidentPage.js
Labels: 🐞 Bug, 💻 Frontend

#2446 [MDS-5070] Incident Documents
  services/core-api/app/api/mines/incidents/resources/mine_incidents.py
Labels: 🐞 Bug, 👍 Ready for review, 💾 Backend, 💊 Fix
