Repository bcgov/mds, pull requests merged in 2023-05, with the labels that each got.

#2508 [MDS-5145] Incident Location Selection
  migrations/sql/V2023.05.01.09.28__mine_incident_location.sql
  services/core-api/app/api/incidents/models/mine_incident.py
  services/core-api/app/api/incidents/response_models.py
  services/core-api/app/api/mines/incidents/resources/mine_incidents.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/tests/factories.py
  services/core-api/tests/mines/incidents/test_mine_incident_list_resource.py
  services/core-api/tests/mines/incidents/test_mine_incident_resource.py
  services/core-api/tests/mines/mine/resources/test_mine_incident_resource.py
  services/core-web/common/utils/Validate.js
  services/core-web/src/components/Forms/incidents/IncidentCategoryCheckboxGroup.js
  services/core-web/src/components/Forms/incidents/IncidentForm.js
  services/minespace-web/common/utils/Validate.js
  services/minespace-web/src/components/Forms/incidents/IncidentForm.js
  services/minespace-web/src/tests/components/Forms/incidents/__snapshots__/IncidentForm.spec.js.snap
Labels: 🌶 Enhancement, 💾 Backend, 💻 Frontend, 📜 SQL

#2515 [MDS-5250] typescript conversion nods
  .eslintrc.js
  README.md
  docs/processes/typescript.md
  package.json
  services/common/src/constants/enums.ts
  services/common/src/interfaces/acceptedFileTypes.type.ts
  services/common/src/interfaces/index.ts
  services/common/src/interfaces/noticeOfDeparture/NoDContact.interface.ts
  services/common/src/interfaces/noticeOfDeparture/NoDDocument.interface.ts
  services/common/src/interfaces/noticeOfDeparture/NoDDocumentPayload.interface.ts
  services/common/src/interfaces/noticeOfDeparture/createNoD.ts
  services/common/src/interfaces/noticeOfDeparture/noticeOfDeparture.interface.ts
  services/common/tsconfig.json
  services/common/webpack.config.ts
  services/core-web/common/actionCreators/noticeOfDepartureActionCreator.ts
  services/core-web/common/utils/helpers.ts
  services/core-web/package.json
  services/core-web/src/components/mine/NoticeOfDeparture/MineNoticeOfDeparture.tsx
  services/core-web/src/components/mine/NoticeOfDeparture/MineNoticeOfDepartureTable.js
  services/core-web/src/components/mine/NoticeOfDeparture/MineNoticeOfDepartureTable.tsx
  services/core-web/src/components/modalContent/NoticeOfDepartureModal.tsx
  services/core-web/src/tests/components/mine/NoticeOfDeparture/MineNoticeOfDepartureTable.spec.js
  services/core-web/src/tests/components/mine/NoticeOfDeparture/MineNoticeOfDepartureTable.spec.tsx
  services/core-web/src/tests/components/mine/NoticeOfDeparture/__snapshots__/MineNoticeOfDepartureTable.spec.js.snap
  services/core-web/src/tests/components/mine/NoticeOfDeparture/__snapshots__/MineNoticeOfDepartureTable.spec.tsx.snap
  services/core-web/src/tests/components/modalContent/NoticeOfDepartureModal.spec.tsx
  services/core-web/src/tests/components/modalContent/__snapshots__/NoticeOfDepartureModal.spec.tsx.snap
  services/minespace-web/common/actionCreators/noticeOfDepartureActionCreator.ts
  services/minespace-web/common/utils/helpers.ts
  services/minespace-web/package.json
  services/minespace-web/src/components/Forms/noticeOfDeparture/AddNoticeOfDepartureForm.tsx
  services/minespace-web/src/components/Forms/noticeOfDeparture/EditNoticeOfDepartureForm.tsx
  services/minespace-web/src/components/Forms/noticeOfDeparture/NoticeOfDepartureFileUpload.tsx
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDeparture.tsx
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDepartureCallout.tsx
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDepartureDetails.tsx
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDepartureTable.tsx
  services/minespace-web/src/components/modalContent/noticeOfDeparture/AddNoticeOfDepartureModal.tsx
  services/minespace-web/src/components/modalContent/noticeOfDeparture/EditNoticeOfDepartureModal.tsx
  services/minespace-web/src/components/modalContent/noticeOfDeparture/ViewNoticeOfDepartureModal.js
  services/minespace-web/src/components/modalContent/noticeOfDeparture/ViewNoticeOfDepartureModal.tsx
  services/minespace-web/src/tests/components/Forms/noticeOfDeparture/AddNoticeOfDepartureForm.spec.tsx
  services/minespace-web/src/tests/components/Forms/noticeOfDeparture/__snapshots__/AddNoticeOfDepartureForm.spec.tsx.snap
  services/minespace-web/src/tests/components/modalContent/AddNoticeOfDepartureModal.spec.tsx
  services/minespace-web/src/tests/components/modalContent/EditNoticeOfDepartureModal.spec.tsx
  services/minespace-web/src/tests/components/modalContent/ViewNoticeOfDepartureModal.spec.tsx
  services/minespace-web/src/tests/components/modalContent/__snapshots__/AddNoticeOfDepartureModal.spec.tsx.snap
  services/minespace-web/src/tests/components/modalContent/__snapshots__/EditNoticeOfDepartureModal.spec.tsx.snap
  services/minespace-web/src/tests/components/modalContent/__snapshots__/ViewNoticeOfDepartureModal.spec.tsx.snap
  services/minespace-web/tsconfig.json
  services/minespace-web/webpack.config.ts
  yarn.lock
Labels: 🌶 Enhancement, 💻 Frontend, :keyboard: Typescript

#2524 [MDS-5264] Skip waiting for rollout when promoting MineSpace with no changes
  .github/workflows/minespace.deploy.test.yaml
  gitops/commit.sh
Labels: 🏭 CI/CD, 💾 Backend, ⛏ Needs manual testing

#2527 [MDS-5244] - added ActionCreator to Nods and fixed TSF errors in Core
  services/core-web/common/components/tailings/dam/DamsPage.tsx
  services/core-web/src/components/mine/NoticeOfDeparture/MineNoticeOfDeparture.tsx
  services/core-web/src/components/mine/Tailings/MineTailingsInfoTabs.tsx
  services/core-web/src/components/mine/Tailings/MineTailingsTable.tsx
  services/minespace-web/common/components/tailings/dam/DamsPage.tsx
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDeparture.tsx
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDepartureDetails.tsx
  services/minespace-web/src/components/dashboard/mine/noticeOfDeparture/NoticeOfDepartureTable.tsx
Labels: 🐞 Bug, :keyboard: Typescript

#2530 [MDS-5255] Parties TypeScript conversion
  .vscode/settings.json
  services/common/src/interfaces/common/index.ts
  services/common/src/interfaces/common/itemMap.interface.ts
  services/common/src/interfaces/common/option.interface.ts
  services/common/src/interfaces/party/addPartyAppt.interface.ts
  services/common/src/interfaces/party/addPartyFormState.interface.ts
  services/common/src/interfaces/party/addRelationshipDocument.ts
  services/common/src/interfaces/party/createParty.interface.ts
  services/common/src/interfaces/party/createPartyOrgBook.interface.ts
  services/common/src/interfaces/party/index.ts
  services/common/src/interfaces/party/mergeParties.interface.ts
  services/common/src/interfaces/party/partiesPageData.interface.ts
  services/common/src/interfaces/party/partyAppt.interface.ts
  services/common/src/interfaces/party/partyApptFetchParams.interface.ts
  services/common/src/interfaces/party/partyFetchParams.interface.ts
  services/common/src/interfaces/party/partyOrgbookEntity.interface.ts
  services/common/src/interfaces/tailingsStorageFacility/TSFParty.interface.ts
  services/common/src/interfaces/tailingsStorageFacility/index.ts
  services/common/src/interfaces/tailingsStorageFacility/tailingsStorageFacility.interface.ts
  services/core-web/common/actionCreators/partiesActionCreator.js
  services/core-web/common/actionCreators/partiesActionCreator.ts
  services/core-web/common/reducers/partiesReducer.ts
  services/core-web/common/utils/helpers.ts
  services/core-web/src/components/mine/Permit/MinePermitTable.tsx
  services/core-web/src/components/mine/Tailings/MineTSFCard.tsx
  services/core-web/src/tests/reducers/partiesReducer.spec.js
  services/core-web/tsconfig.json
  services/minespace-web/common/actionCreators/partiesActionCreator.js
  services/minespace-web/common/actionCreators/partiesActionCreator.ts
  services/minespace-web/common/reducers/partiesReducer.ts
  services/minespace-web/common/utils/helpers.ts
Labels: 🌶 Enhancement, 👍 Ready for review, 💻 Frontend, :keyboard: Typescript

#2535 [MDS-5296] Include permit information in NRIS ETL job
  services/nris-api/backend/app/nris/etl/nris_etl.py
Labels: 👍 Ready for review, 💾 Backend

#2538 [MDS-5308] - fixed incidents loading bug
  services/core-web/src/components/mine/Incidents/MineIncident.tsx
Labels: 🐞 Bug, 💊 Fix

#2541 [MDS-5309] Assorted UI bugs
  services/core-web/src/components/noticeOfWork/applications/review/ApplicationTab.js
  services/core-web/src/styles/components/NoticeOfWork.scss
  services/core-web/src/styles/settings/themeOverride.scss
Labels: 🐞 Bug, 💻 Frontend
