Repository bcgov/mds, pull requests merged in 2023-11, with the labels that each got.

#2768 [MDS-5538 Amend ESUPs
  migrations/sql/V2023.10.30.12.16__add_esup_amendment_original_guid.sql
  services/common/src/constants/strings.js
  services/core-api/app/api/mines/explosives_permit/response_models.py
  services/core-api/app/api/mines/explosives_permit_amendment/models/explosives_permit_amendment.py
  services/core-api/app/api/mines/explosives_permit_amendment/resources/explosives_permit_amendment.py
  services/core-api/app/api/mines/explosives_permit_amendment/resources/explosives_permit_amendment_list.py
  services/core-api/tests/factories.py
  services/core-api/tests/mines/explosives_permit_amendment/resources/test_explosives_permit_amendment_list_resource.py
  services/core-web/common/actionCreators/explosivesPermitAmendmentActionCreator.ts
  services/core-web/common/components/explosivesPermits/ExplosivesPermitDiffModal.tsx
  services/core-web/common/constants/API.js
  services/core-web/common/constants/reducerTypes.js
  services/core-web/cypress/e2e/majorprojects.cy.ts
  services/core-web/src/components/Forms/DocumentCategoryForm.tsx
  services/core-web/src/components/Forms/ExplosivesPermit/ExplosivesPermitFileUpload.js
  services/core-web/src/components/Forms/ExplosivesPermit/ExplosivesPermitForm.tsx
  services/core-web/src/components/Forms/ExplosivesPermit/ExplosivesPermitFormNew.tsx
  services/core-web/src/components/Forms/ExplosivesPermit/MagazineFormNew.tsx
  services/core-web/src/components/mine/ExplosivesPermit/ExplosivesPermit.tsx
  services/core-web/src/components/mine/ExplosivesPermit/MineExplosivesPermitTable.tsx
  services/core-web/src/components/modalContent/ExplosivesPermitViewModal.tsx
  services/core-web/src/styles/components/ExplosivesPermits.scss
  services/core-web/src/styles/components/HomePage.scss
  services/core-web/src/styles/components/Tables.scss
  services/core-web/src/styles/elements/elements.scss
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/styles/settings/variables.scss
  services/core-web/src/tests/components/mine/ExplosivesPermit/__snapshots__/ExplosivesPermit.spec.js.snap
  services/minespace-web/common/actionCreators/explosivesPermitAmendmentActionCreator.ts
  services/minespace-web/common/components/explosivesPermits/ExplosivesPermitDiffModal.tsx
  services/minespace-web/common/constants/API.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/src/styles/components/Tables.scss
Labels: 👍 Ready for review

#2778 [MDS-5591] - ESUP creation application flow enhancement
  services/common/src/interfaces/permits/explosivesPermit.interface.ts
  services/core-api/app/api/mines/explosives_permit_amendment/models/explosives_permit_amendment.py
  services/core-web/src/components/Forms/ExplosivesPermit/ExplosivesPermitDecisionForm.js
  services/core-web/src/components/Forms/ExplosivesPermit/ExplosivesPermitDecisionForm.tsx
  services/core-web/src/components/Forms/ExplosivesPermit/ExplosivesPermitFormNew.tsx
  services/core-web/src/components/mine/ExplosivesPermit/ExplosivesPermit.tsx
  services/core-web/src/components/modalContent/ExplosivesPermitApplicationDecisionModal.js
  services/core-web/src/components/modalContent/ExplosivesPermitApplicationDecisionModal.tsx
  services/core-web/src/tests/components/Forms/ExplosivesPermit/__snapshots__/ExplosivesPermitDecisionForm.spec.js.snap
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend, 💻 Frontend

#2783 [MDS-5595] Fixed display of esup documents.
  services/core-web/src/components/Forms/DocumentCategoryForm.tsx
  services/core-web/src/components/Forms/ExplosivesPermit/ExplosivesPermitFormNew.tsx
  services/core-web/src/components/mine/ExplosivesPermit/ExplosivesPermit.tsx
  services/core-web/src/components/modalContent/AddExplosivesPermitModal.tsx
Labels: 👍 Ready for review, 💻 Frontend

#2784 [MDS-5597] Fix ESUP "Created By" column to show the username
  services/core-api/app/api/utils/models_mixins.py
  services/core-web/src/components/mine/ExplosivesPermit/MineExplosivesPermitTable.tsx
Labels: 💾 Backend, 💊 Fix

#2820 [MDS-5640] ESUP Modal Bugs
  services/common/src/interfaces/permits/explosivesPermit.interface.ts
  services/common/src/redux/actionCreators/explosivesPermitActionCreator.ts
  services/common/src/redux/reducers/explosivesPermitReducer.ts
  services/core-api/app/api/mines/explosives_permit_amendment/models/explosives_permit_amendment.py
  services/core-api/app/api/mines/explosives_permit_amendment/resources/explosives_permit_amendment_list.py
  services/core-web/common/components/explosivesPermits/ExplosivesPermitDiffModal.tsx
  services/core-web/src/components/Forms/ExplosivesPermit/ExplosivesPermitFormNew.tsx
  services/core-web/src/components/mine/ExplosivesPermit/ExplosivesPermit.tsx
  services/core-web/src/components/mine/ExplosivesPermit/MineExplosivesPermitTable.tsx
  services/core-web/src/components/modalContent/ExplosivesPermitApplicationDecisionModal.tsx
  services/core-web/src/components/modalContent/ExplosivesPermitViewModal.tsx
  services/core-web/src/tests/actionCreators/explosivesPermitActionCreator.spec.js
  services/core-web/src/tests/components/mine/ExplosivesPermit/ExplosivesPermit.spec.js
  services/core-web/src/tests/components/mine/ExplosivesPermit/MineExplosivesPermitTable.spec.js
  services/core-web/src/tests/components/mine/ExplosivesPermit/__snapshots__/ExplosivesPermit.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.tsx
  services/core-web/src/tests/selectors/explosivesPermitSelectors.spec.js
  services/minespace-web/common/components/explosivesPermits/ExplosivesPermitDiffModal.tsx
Labels: 💾 Backend, 💻 Frontend, 💊 Fix
