Repository bcgov/mds, pull requests merged in 2023-08, with the labels that each got.

#2608 [MDS-5383] Minespace & Common package Webpack upgrades
  .github/workflows/minespace.unit.yaml
  services/common/package.json
  services/common/webpack.config.ts
  services/core-web/Dockerfile
  services/core-web/package.json
  services/minespace-web/.env-example
  services/minespace-web/Dockerfile
  services/minespace-web/Dockerfile.ci
  services/minespace-web/cypress.config.ts
  services/minespace-web/package.json
  services/minespace-web/webpack.config.ts
  services/minespace-web/webpack.parts.js
  yarn.lock
Labels: 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#2611 [MDS-4153] Added missing VFCBC fields to NoW
  migrations/sql/V2023.07.28.11.25__add_mine_purpose_now_application.sql
  services/common/src/interfaces/now/activityDetails.interface.ts
  services/common/src/interfaces/now/activityEquipment.interface.ts
  services/common/src/interfaces/now/activitySummary.interface.ts
  services/common/src/interfaces/now/blasting.interface.ts
  services/common/src/interfaces/now/camp.interface.ts
  services/common/src/interfaces/now/defaultActivity.interface.ts
  services/common/src/interfaces/now/importedNOWApplication.interface.ts
  services/common/src/interfaces/now/index.ts
  services/common/src/interfaces/now/nowApplicationReview.interface.ts
  services/common/src/interfaces/now/placer.interface.ts
  services/common/src/interfaces/now/sandGravelQuarry.interface.ts
  services/common/src/interfaces/now/settlingPond.interface.ts
  services/common/src/interfaces/now/statueOfLand.interface.ts
  services/common/src/interfaces/now/surfaceBulkSamples.interface.ts
  services/common/src/interfaces/now/surfaceDrilling.interface.ts
  services/common/src/interfaces/now/waterSupply.interface.ts
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/response_models.py
  services/core-api/app/api/now_applications/transmogrify_now.py
  services/core-api/app/api/now_submissions/response_models.py
  services/core-web/common/selectors/staticContentSelectors.ts
  services/core-web/src/components/noticeOfWork/applications/ScrollContentWrapper.js
  services/core-web/src/components/noticeOfWork/applications/ScrollContentWrapper.tsx
  services/core-web/src/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.js
  services/core-web/src/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.tsx
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.tsx
  services/core-web/src/tests/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.spec.js
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewApplicationFeeContent.spec.js.snap
  services/minespace-web/common/selectors/staticContentSelectors.ts
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2624 [MDS-5417] Fix Document Archive Modal Action
  services/core-web/src/components/common/DocumentTable.tsx
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/minespace-web/src/components/common/DocumentTable.tsx
Labels: 🐞 Bug, 💻 Frontend

#2626 [MDS-5414] Removed support for silver keycloak instance
  services/core-api/.env-example
  services/core-api/README.md
  services/core-api/app/__init__.py
  services/core-api/app/extensions.py
Labels: 👍 Ready for review, 💾 Backend

#2628 [MDS-5414] Fixed auth issue with some integrations in test env
  services/core-api/app/extensions.py
Labels: 🐞 Bug, 👍 Ready for review, 💾 Backend

#2625 [MDS-5417] Fix Document Archive Modal Action (#2624)
  services/core-web/src/components/common/DocumentTable.tsx
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/minespace-web/src/components/common/DocumentTable.tsx
Labels: 🐞 Bug, 💻 Frontend

#2635 [MDS-4153] - vfcbc field update
  services/core-web/common/utils/Validate.js
  services/core-web/src/components/common/RenderRadioButtons.tsx
  services/core-web/src/components/noticeOfWork/applications/review/ReviewApplicationFeeContent.tsx
  services/core-web/src/components/noticeOfWork/applications/review/ReviewNOWApplication.tsx
  services/core-web/src/tests/components/common/__snapshots__/RenderRadioButtons.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewApplicationFeeContent.spec.js.snap
  services/core-web/src/tests/components/noticeOfWork/applications/review/__snapshots__/ReviewNOWApplication.spec.js.snap
  services/minespace-web/common/utils/Validate.js
Labels: 👍 Ready for review, 💻 Frontend

#2641 [MDS-5465] Enable Cypress tests and add y-padding style
  services/minespace-web/cypress/e2e/index.cy.ts
  services/minespace-web/cypress/support/commands.ts
  services/minespace-web/src/styles/generic/layout.scss
Labels: 🚧 WIP
