Repository bcgov/mds, pull requests merged in 2023-09, with the labels that each got.

#2644 [MDS-5467] - Download Document Versions
  services/core-web/common/components/documents/ReplaceDocumentModal.tsx
  services/core-web/common/models/documents/document.ts
  services/core-web/common/utils/actionlessNetworkCalls.js
  services/core-web/src/components/common/CoreTableCommonColumns.tsx
  services/core-web/src/tests/components/modalContent/__snapshots__/ReplaceDocumentModal.spec.tsx.snap
  services/core-web/src/tests/models/document.spec.ts
  services/document-manager/backend/app/docman/resources/document.py
  services/document-manager/backend/app/docman/resources/tusd_hooks.py
  services/document-manager/backend/app/services/object_store_storage_service.py
  services/minespace-web/common/components/documents/ReplaceDocumentModal.tsx
  services/minespace-web/common/models/documents/document.ts
  services/minespace-web/common/utils/actionlessNetworkCalls.js
  services/minespace-web/src/components/common/CoreTableCommonColumns.tsx
  services/minespace-web/src/tests/components/dashboard/mine/variances/__snapshots__/VarianceDetails.spec.js.snap
  services/tusd/hooks/post-finish
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2649 [MDS-5319] archive multiple files
  services/core-web/src/components/common/DocumentTable.tsx
  services/core-web/src/components/mine/Projects/DecisionPackageTab.js
  services/core-web/src/components/mine/Projects/ProjectDocumentsTab.js
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationForm.js
  services/minespace-web/src/components/Forms/projects/majorMineApplication/MajorMineApplicationReviewSubmit.js
  services/minespace-web/src/components/common/CoreTable.tsx
  services/minespace-web/src/components/common/CoreTableCommonColumns.tsx
  services/minespace-web/src/components/common/DocumentTable.tsx
  services/minespace-web/src/components/pages/Project/DocumentsPage.js
  services/minespace-web/src/components/pages/Project/DocumentsTab.js
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/__snapshots__/MajorMineApplicationReviewSubmit.spec.js.snap
  services/minespace-web/src/tests/components/project/DocumentsPage/__snapshots__/DocumentsPage.spec.js.snap
  services/minespace-web/webpack.parts.js
Labels: 💻 Frontend

#2652 [MDS-5482] Hide nested table checkbox
  services/core-web/src/styles/components/DocumentTableWithExpandedRows.scss
  services/minespace-web/src/styles/components/DocumentTableWithExpandedRows.scss
Labels: 💻 Frontend

#2655 [CHORE] Fix cypress authentication in Minespace and Core
  .github/workflows/core-web.unit.yaml
  .github/workflows/minespace.unit.yaml
  cypress/.docker/keycloak/Dockerfile.test
  cypress/.docker/keycloak/create-users.sh
  cypress/keycloak-users.json
  cypress/realm-export.json
  docker-compose.yaml
  services/core-api/.env-example
  services/core-api/app/__init__.py
  services/core-api/app/extensions.py
  services/core-api/app/flask_jwt_oidc_local/jwt_manager.py
  services/core-web/.env-example
  services/core-web/cypress.config.ts
  services/core-web/cypress/e2e/homepage.cy.ts
  services/minespace-web/.env-example
  services/minespace-web/cypress.config.ts
  services/minespace-web/cypress/e2e/homepage.cy.ts
Labels: 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#2656 [MDS-5390] Set up OTEL collector for Docman
  services/document-manager/backend/.env-example
  services/document-manager/backend/Dockerfile.ci
  services/document-manager/backend/requirements.txt
Labels: 👍 Ready for review, 💾 Backend

#2659 [CHORE] Updated video output location of Minespace cypress tests
  .github/workflows/minespace.unit.yaml
Labels: 🐞 Bug, 🏭 CI/CD, 💾 Backend

#2658 [MDS-5487] Introduced checks to ensure the presence of 'projectGuid' and 'projec…
  services/minespace-web/src/components/pages/Project/ProjectSummaryPage.tsx
Labels: 🐞 Bug, 👍 Ready for review, 💻 Frontend

#2664 [MDS-5448] Refactor file upload process for better error handling
  services/core-api/app/api/mines/documents/resources/mine_document_resource.py
  services/core-api/app/api/mines/namespace.py
  services/core-api/app/api/projects/project/project_util.py
  services/core-api/app/api/services/document_manager_service.py
  services/core-web/common/actionCreators/documentActionCreator.ts
  services/core-web/common/constants/reducerTypes.js
  services/core-web/src/components/common/FileUpload.js
  services/core-web/src/tests/components/Forms/ExplosivesPermit/__snapshots__/ExplosivesPermitFileUpload.spec.js.snap
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/BondForm.spec.js.snap
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/ReclamationInvoiceForm.spec.js.snap
  services/core-web/src/tests/components/Forms/incidents/__snapshots__/AddIncidentFollowUpForm.spec.js.snap
  services/core-web/src/tests/components/Forms/variances/__snapshots__/VarianceFileUpload.spec.js.snap
  services/core-web/src/tests/components/common/FileUpload.spec.js
  services/core-web/src/tests/components/common/FileUpload.spec.tsx
  services/core-web/src/tests/components/common/__snapshots__/FilePicker.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/FileUpload.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/FileUpload.spec.tsx.snap
  services/document-manager/backend/app/docman/models/document.py
  services/document-manager/backend/app/docman/resources/document.py
  services/document-manager/backend/app/docman/resources/tusd_hooks.py
  services/document-manager/backend/app/services/object_store_storage_service.py
  services/document-manager/backend/migrations/versions/9be7dbc60ff8_add_status_message_to_document_table.py
  services/document-manager/backend/tests/documents/resources/test_document_resource.py
  services/document-manager/backend/tests/factories.py
  services/minespace-web/common/actionCreators/documentActionCreator.ts
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/src/components/Forms/noticeOfDeparture/AddNoticeOfDepartureForm.tsx
  services/minespace-web/src/components/common/FileUpload.js
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/__snapshots__/MajorMineApplicationFileUpload.spec.js.snap
  services/minespace-web/src/tests/components/Forms/variances/__snapshots__/VarianceFileUpload.spec.js.snap
Labels: 🐞 Bug, 👍 Ready for review, 💾 Backend, 💻 Frontend, 💊 Fix

#2663 [MDS-5402] Core Homepage (#2662)
  services/common/src/interfaces/mineAlert.interface.ts
  services/common/src/interfaces/search/searchResult.interface.ts
  services/core-api/app/api/mines/alerts/models/mine_alert.py
  services/core-api/app/api/mines/location/models/mine_map_view_location.py
  services/core-api/app/api/mines/response_models.py
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/reducers/mineReducer.ts
  services/core-web/common/selectors/mineSelectors.js
  services/core-web/cypress/e2e/homepage.cy.ts
  services/core-web/src/App.tsx
  services/core-web/src/actionCreators/mineAlertActionCreator.ts
  services/core-web/src/actions/mineAlertActions.js
  services/core-web/src/components/Home.js
  services/core-web/src/components/dashboard/HomePage.tsx
  services/core-web/src/components/homepage/HomeBanner.tsx
  services/core-web/src/components/homepage/HomeInfographs.tsx
  services/core-web/src/components/homepage/HomeMineActivity.tsx
  services/core-web/src/components/homepage/HomePage.tsx
  services/core-web/src/components/homepage/HomeSidePanel.tsx
  services/core-web/src/components/homepage/HomeTopLinks.tsx
  services/core-web/src/components/navigation/NavBar.js
  services/core-web/src/components/search/SearchBar.js
  services/core-web/src/components/search/SearchBar.tsx
  services/core-web/src/components/search/SearchBarDropdown.js
  services/core-web/src/components/search/SearchBarDropdown.tsx
  services/core-web/src/constants/API.js
  services/core-web/src/constants/actionTypes.js
  services/core-web/src/constants/reducerTypes.js
  services/core-web/src/constants/routes.ts
  services/core-web/src/reducers/mineAlertReducer.js
  services/core-web/src/reducers/mineAlertReducer.ts
  services/core-web/src/reducers/rootReducer.js
  services/core-web/src/selectors/mineAlertSelectors.js
  services/core-web/src/styles/components/HomePage.scss
  services/core-web/src/styles/components/NavBar.scss
  services/core-web/src/styles/elements/elements.scss
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/styles/settings/variables.scss
  services/core-web/src/tests/components/__snapshots__/Home.spec.js.snap
  services/core-web/src/tests/components/navigation/__snapshots__/NavBar.spec.js.snap
  services/core-web/src/tests/components/search/SearchBar.spec.js
  services/core-web/src/tests/components/search/__snapshots__/SearchBar.spec.js.snap
  services/core-web/src/tests/components/search/__snapshots__/SearchBarDropdown.spec.js.snap
  services/core-web/src/tests/reducers/mineReducer.spec.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/reducers/mineReducer.ts
  services/minespace-web/common/selectors/mineSelectors.js
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend, javascript, :keyboard: Typescript

#2666 Revert "Revert "[MDS-5402] Core Homepage (#2662)""
  services/common/src/interfaces/mineAlert.interface.ts
  services/common/src/interfaces/search/searchResult.interface.ts
  services/core-api/app/api/mines/alerts/models/mine_alert.py
  services/core-api/app/api/mines/location/models/mine_map_view_location.py
  services/core-api/app/api/mines/response_models.py
  services/core-web/common/constants/reducerTypes.js
  services/core-web/common/reducers/mineReducer.ts
  services/core-web/common/selectors/mineSelectors.js
  services/core-web/cypress/e2e/homepage.cy.ts
  services/core-web/src/App.tsx
  services/core-web/src/actionCreators/mineAlertActionCreator.ts
  services/core-web/src/actions/mineAlertActions.js
  services/core-web/src/components/Home.js
  services/core-web/src/components/dashboard/HomePage.tsx
  services/core-web/src/components/homepage/HomeBanner.tsx
  services/core-web/src/components/homepage/HomeInfographs.tsx
  services/core-web/src/components/homepage/HomeMineActivity.tsx
  services/core-web/src/components/homepage/HomePage.tsx
  services/core-web/src/components/homepage/HomeSidePanel.tsx
  services/core-web/src/components/homepage/HomeTopLinks.tsx
  services/core-web/src/components/navigation/NavBar.js
  services/core-web/src/components/search/SearchBar.js
  services/core-web/src/components/search/SearchBar.tsx
  services/core-web/src/components/search/SearchBarDropdown.js
  services/core-web/src/components/search/SearchBarDropdown.tsx
  services/core-web/src/constants/API.js
  services/core-web/src/constants/actionTypes.js
  services/core-web/src/constants/reducerTypes.js
  services/core-web/src/constants/routes.ts
  services/core-web/src/reducers/mineAlertReducer.js
  services/core-web/src/reducers/mineAlertReducer.ts
  services/core-web/src/reducers/rootReducer.js
  services/core-web/src/selectors/mineAlertSelectors.js
  services/core-web/src/styles/components/HomePage.scss
  services/core-web/src/styles/components/NavBar.scss
  services/core-web/src/styles/elements/elements.scss
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/styles/settings/variables.scss
  services/core-web/src/tests/components/__snapshots__/Home.spec.js.snap
  services/core-web/src/tests/components/navigation/__snapshots__/NavBar.spec.js.snap
  services/core-web/src/tests/components/search/SearchBar.spec.js
  services/core-web/src/tests/components/search/__snapshots__/SearchBar.spec.js.snap
  services/core-web/src/tests/components/search/__snapshots__/SearchBarDropdown.spec.js.snap
  services/core-web/src/tests/reducers/mineReducer.spec.js
  services/minespace-web/common/constants/reducerTypes.js
  services/minespace-web/common/reducers/mineReducer.ts
  services/minespace-web/common/selectors/mineSelectors.js
Labels: 👍 Ready for review

#2667 [MDS-5402] Fixed metabase embeds not showing up on homepage
  services/core-api/app/api/reporting/namespace.py
  services/core-api/app/api/reporting/resources/metabase.py
  services/core-web/common/actionCreators/reportingActionCreator.js
  services/core-web/common/constants/API.js
  services/core-web/src/components/homepage/HomeInfographs.tsx
  services/minespace-web/common/actionCreators/reportingActionCreator.js
  services/minespace-web/common/constants/API.js
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend, :keyboard: Typescript

#2668 [MDS-5402] Fixed sizing of Metabase embeds on frontpage
  services/core-web/package.json
  services/core-web/src/components/homepage/HomeInfographs.tsx
  yarn.lock
Labels: 🐞 Bug, 👍 Ready for review, :keyboard: Typescript

#2681 [MDS-5056] UTC Validation for TSF EOR/QP
  services/core-web/common/utils/Validate.js
  services/minespace-web/common/utils/Validate.js
Labels: 🐞 Bug, 💻 Frontend

#2683 [MDS-5507] Set Font awesome token when building core-web
  .github/workflows/core-web.unit.yaml
  .yarnrc.yml
  bin/setenv.sh
  services/core-web/Dockerfile.ci
Labels: 🏭 CI/CD, 👍 Ready for review

#2685 [MDS-5495] Remove Actions Menu from IRT template upload (#2684)
  .github/workflows/minespace.unit.yaml
  services/core-web/src/components/common/DocumentTable.tsx
  services/minespace-web/Dockerfile.ci
  services/minespace-web/src/HOC/AuthenticationGuard.js
  services/minespace-web/src/components/Forms/projects/informationRequirementsTable/IRTFileImport.js
  services/minespace-web/src/components/common/DocumentTable.tsx
Labels: 🏭 CI/CD, 💻 Frontend

#2686 [CHORE] Fix MS build/deploy to dev workflow
  .github/workflows/minespace.build.deploy.dev.yaml
Labels: 🐞 Bug, 🏭 CI/CD

#2693 [MDS-5476] ESUP party/select validation (#2692)
  services/common/src/interfaces/common/option.interface.ts
  services/core-web/common/utils/Validate.ts
  services/core-web/src/components/Forms/DocumentCategoryForm.js
  services/core-web/src/components/Forms/ExplosivesPermit/ExplosivesPermitForm.tsx
  services/core-web/src/components/common/RenderGroupedSelect.js
  services/core-web/src/components/common/RenderSelect.js
  services/core-web/src/components/mine/ExplosivesPermit/ExplosivesPermit.tsx
  services/core-web/src/components/mine/ExplosivesPermit/MineExplosivesPermitTable.tsx
  services/core-web/src/components/mine/MineNavigation.js
  services/core-web/src/components/modalContent/AddExplosivesPermitModal.js
  services/core-web/src/components/modalContent/AddExplosivesPermitModal.tsx
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/Forms/ExplosivesPermit/__snapshots__/ExplosivesPermitForm.spec.js.snap
  services/core-web/src/tests/components/mine/ExplosivesPermit/MineExplosivesPermitTable.spec.js
  services/core-web/src/tests/components/mine/ExplosivesPermit/__snapshots__/ExplosivesPermit.spec.js.snap
  services/core-web/src/tests/components/mine/ExplosivesPermit/__snapshots__/MineExplosivesPermitTable.spec.js.snap
  services/minespace-web/common/utils/Validate.ts
Labels: 👍 Ready for review, 💻 Frontend, :keyboard: Typescript
