Repository bcgov/mds, pull requests merged in 2023-12, with the labels that each got.

#2834 [MDS-5637] Added initial Permit digitization service
  Makefile
  README.md
  services/permits/Dockerfile
  services/permits/README.md
  services/permits/app/__init__.py
  services/permits/app/app.py
  services/permits/app/pipelines.py
  services/permits/docker-compose.yaml
  services/permits/requirements.txt
Labels: 👍 Ready for review, 💾 Backend, python

#2835 [MDS-5654] Updated crr table in MS with new columns/design
  services/common/src/components/common/CoreTableCommonColumns.tsx
  services/common/src/constants/enums.ts
  services/common/src/constants/strings.tsx
  services/common/src/interfaces/mine/mineReportSubmission.interface.ts
  services/common/src/redux/utils/helpers.ts
  services/common/src/utils/featureFlag.ts
  services/core-api/app/api/mines/reports/models/mine_report.py
  services/core-web/src/components/common/DocumentTable.tsx
  services/core-web/src/components/mine/Projects/ProjectLinks.tsx
  services/minespace-web/src/components/Forms/projects/projectSummary/ProjectLinks.tsx
  services/minespace-web/src/components/common/DocumentTable.tsx
  services/minespace-web/src/components/dashboard/mine/permits/PermitsTable.tsx
  services/minespace-web/src/components/dashboard/mine/reports/Reports.js
  services/minespace-web/src/components/dashboard/mine/reports/Reports.tsx
  services/minespace-web/src/components/dashboard/mine/reports/ReportsTable.js
  services/minespace-web/src/components/dashboard/mine/reports/ReportsTable.tsx
  services/minespace-web/src/styles/components/Reports.scss
  services/minespace-web/src/styles/index.scss
  services/minespace-web/src/tests/components/dashboard/mine/reports/Reports.spec.js
  services/minespace-web/src/tests/components/dashboard/mine/reports/Reports.spec.tsx
  services/minespace-web/src/tests/components/dashboard/mine/reports/__snapshots__/Reports.spec.js.snap
  services/minespace-web/src/tests/components/dashboard/mine/reports/__snapshots__/Reports.spec.tsx.snap
Labels: 👍 Ready for review, 💻 Frontend, :keyboard: Typescript

#2841 [MDS-5655] - CRR getting started page
  services/common/src/components/reports/ReportGetStarted.tsx
  services/common/src/components/reports/ReportSteps.tsx
  services/common/src/redux/reducers/authenticationReducer.ts
  services/minespace-web/src/components/dashboard/mine/reports/Reports.tsx
  services/minespace-web/src/constants/routes.ts
  services/minespace-web/src/routes/Routes.tsx
  services/minespace-web/src/setupTests.js
  services/minespace-web/src/styles/components/Reports.scss
  services/minespace-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
  services/minespace-web/webpack.config.ts
Labels: 👍 Ready for review, 💻 Frontend, 🚌 Common Package

#2854 [MDS-5672] Delete incident document
  services/common/src/constants/actionTypes.ts
  services/common/src/constants/enums.ts
  services/common/src/interfaces/incidents/mineIncident.interface.ts
  services/common/src/interfaces/incidents/mineIncidentDocument.interface.ts
  services/common/src/interfaces/index.ts
  services/common/src/redux/actionCreators/incidentActionCreator.ts
  services/core-api/app/api/incidents/models/mine_incident.py
  services/core-api/app/api/mines/incidents/models/mine_incident_document_xref.py
  services/core-api/app/api/mines/incidents/resources/mine_incident_document.py
  services/core-api/app/api/mines/incidents/resources/mine_incidents.py
  services/core-web/src/components/Forms/incidents/IncidentForm.tsx
  services/core-web/src/components/mine/Incidents/MineIncident.tsx
Labels: 👍 Ready for review

#2857 [MDS-5672] Delete Incident Documents Fix
  Makefile
  services/common/src/components/documents/CompressionNotificationProgressBar.tsx
  services/common/src/components/documents/DocumentCompressedDownloadModal.tsx
  services/common/src/components/documents/DocumentCompression.tsx
  services/common/src/components/documents/DocumentCompressionWarningModal.tsx
  services/common/src/constants/API.ts
  services/common/src/interfaces/document/documentTableProps.interface.ts
  services/common/src/interfaces/incidents/mineIncident.interface.ts
  services/common/src/redux/actionCreators/documentActionCreator.ts
  services/common/src/redux/actions/documentActions.js
  services/common/src/redux/selectors/staticContentSelectors.ts
  services/core-web/common/components/documents/ArchiveDocumentModal.tsx
  services/core-web/cypress/e2e/createproject.cy.ts
  services/core-web/src/components/Forms/incidents/IncidentForm.tsx
  services/core-web/src/components/Forms/incidents/IncidentFormDocuments.tsx
  services/core-web/src/components/Forms/incidents/IncidentFormInitialReport.tsx
  services/core-web/src/components/Forms/incidents/IncidentFormInternalDocumentComments.tsx
  services/core-web/src/components/Forms/incidents/IncidentFormMinistryFollowup.tsx
  services/core-web/src/components/Forms/incidents/IncidentFormUpdateIncidentStatus.tsx
  services/core-web/src/components/common/DocumentTable.tsx
  services/core-web/src/components/mine/Incidents/MineIncident.tsx
  services/core-web/src/components/mine/Incidents/MineIncidentTable.tsx
  services/core-web/src/components/mine/Incidents/MinistryInternalComments.tsx
  services/core-web/src/components/mine/Projects/MajorMineApplicationTab.js
  services/core-web/src/components/noticeOfWork/applications/PermitPackage.js
  services/core-web/src/components/noticeOfWork/applications/manageDocuments/ManageDocumentsTab.js
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/BondForm.spec.js.snap
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/ReclamationInvoiceForm.spec.js.snap
  services/core-web/src/tests/components/Forms/incidents/IncidentForm.spec.js
  services/core-web/src/tests/components/Forms/incidents/IncidentForm.spec.tsx
  services/core-web/src/tests/components/Forms/incidents/__snapshots__/IncidentForm.spec.js.snap
  services/core-web/src/tests/components/Forms/incidents/__snapshots__/IncidentForm.spec.tsx.snap
  services/core-web/src/tests/components/common/CompressionNotificationProgressBar.spec.tsx
  services/core-web/src/tests/components/mine/Incidents/MineIncident.spec.tsx
  services/core-web/src/tests/components/mine/Incidents/MinistryInternalComments.spec.js
  services/core-web/src/tests/components/mine/Incidents/__snapshots__/MineIncident.spec.tsx.snap
  services/core-web/src/tests/components/mine/Incidents/__snapshots__/MinistryInternalComments.spec.js.snap
  services/core-web/src/tests/components/mine/Variances/__snapshots__/VarianceDetails.spec.js.snap
  services/core-web/src/tests/components/modalContent/__snapshots__/ViewBondModal.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.tsx
  services/minespace-web/common/components/documents/ArchiveDocumentModal.tsx
  services/minespace-web/src/components/common/DocumentTable.tsx
  services/minespace-web/src/tests/components/project/DocumentsPage/DocumentsPage.spec.tsx
  services/minespace-web/src/tests/components/project/DocumentsPage/__snapshots__/DocumentsPage.spec.tsx.snap
Labels: 👍 Ready for review

#2863 [MDS-5672] -BUGFIX - restored previous incident loading functionality
  services/core-web/src/components/mine/Incidents/MineIncident.tsx
  services/core-web/src/tests/components/mine/Incidents/MineIncident.spec.tsx
Labels: 👍 Ready for review
