Repository bcgov/mds, pull requests merged in 2023-06, with the labels that each got.

#2543 [MDS-5181] Added support for gold docman client to Core API
  services/core-api/.env-example
  services/core-api/app/api/now_applications/resources/now_application_document_resource.py
  services/core-api/app/extensions.py
  services/core-api/tests/auth/test_expected_auth.py
Labels: 👍 Ready for review, 💾 Backend, 💊 Fix, python

#2546 [MDS-5315] Removed checking of timezone on legacy incidents
  services/core-api/app/api/incidents/models/mine_incident.py
Labels: 🐞 Bug, 💊 Fix

#2547 [MDS-5314] Project Summary - Save Draft
  services/core-web/common/actionCreators/projectActionCreator.js
  services/core-web/src/components/Forms/incidents/IncidentForm.js
  services/core-web/src/tests/actionCreators/projectActionCreator.spec.js
  services/minespace-web/common/actionCreators/projectActionCreator.js
  services/minespace-web/src/components/Forms/projects/projectSummary/BasicInformation.js
  services/minespace-web/src/components/Forms/projects/projectSummary/ProjectDates.js
  services/minespace-web/src/components/Forms/projects/projectSummary/ProjectSummaryForm.js
  services/minespace-web/src/components/pages/Project/ProjectSummaryPage.js
  services/minespace-web/src/tests/components/project/projectSummaryPage/ProjectSummaryPage.spec.js
Labels: 🐞 Bug, 💻 Frontend

#2569 [MDS-5348] Re-enabled hot-reloading in core
  services/core-web/.env-example
  services/core-web/package.json
  services/core-web/webpack.config.ts
  yarn.lock
Labels: 👍 Ready for review

#2570 [MDS-5262] Added Authorization check to AmazonS3GetImage endpoint
  services/core-web/src/components/syncfusion/AmazonS3Provider.js
  services/filesystem-provider/Dockerfile
  services/filesystem-provider/Dockerfile.ci
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/Controllers/AmazonS3ProviderController.cs
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/EJ2AmazonS3ASPCoreFileProvider.csproj
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/Program.cs
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/Startup.cs
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/appsettings.Development.json
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/appsettings.json
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2571 [MDS-5262] Upgraded filesystem provider to .net 7
  services/filesystem-provider/Dockerfile.ci
Labels: 👍 Ready for review, 💾 Backend

#2572 [MDS-5262] Updated filesystem provider cli directory
  services/filesystem-provider/Dockerfile.ci
Labels: 👍 Ready for review

#2573 [MDS-5268] Added file version model for testing purposes
  services/core-api/app/api/mines/documents/models/mine_document.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/projects/information_requirements_table/models/information_requirements_table_document_xref.py
  services/core-api/app/api/projects/major_mine_application/models/major_mine_application_document_xref.py
  services/core-api/app/api/projects/project_decision_package/models/project_decision_package_document_xref.py
  services/core-api/app/api/projects/project_summary/models/project_summary_document_xref.py
Labels: 👍 Ready for review

#2578 [MDS-5357] Fixed spacing between archive modal buttons in minespace
  services/core-web/common/components/documents/ArchiveDocumentModal.tsx
  services/core-web/src/styles/settings/themeOverride.scss
  services/minespace-web/common/components/documents/ArchiveDocumentModal.tsx
Labels: 🐞 Bug, 👍 Ready for review, 💻 Frontend
