Repository bcgov/mds, pull requests merged in 2023-01, with the labels that each got.

#2390 [MDS-4980] Codespaces Makefile changes
  .vscode/extensions.json
  Makefile
  bin/restart_codespaces.sh
  bin/setup_codespaces.sh
Labels: 👍 Ready for review

#2398 [MDS-4894] QP Expiring & Expired Notifications
  .eslintrc.js
  services/core-api/app/api/activity/models/activity_notification.py
  services/core-api/app/api/activity/utils.py
  services/core-api/app/api/parties/party_appt/tasks.py
  services/core-api/tests/factories.py
  services/core-api/tests/parties/party_appt/test_party_appointment_jobs.py
  services/core-web/src/components/navigation/NotificationDrawer.js
  services/minespace-web/src/components/layout/NotificationDrawer.js
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend, 💻 Frontend

#2402 [MDS-4933] HSRC conditions
  migrations/sql/V2023.01.05.12.45__update_compliance_articles.sql
  services/core-web/common/selectors/staticContentSelectors.js
  services/minespace-web/common/selectors/staticContentSelectors.js
  services/minespace-web/src/components/dashboard/mine/variances/Variances.js
  services/minespace-web/src/tests/components/dashboard/mine/variances/Variances.spec.js
Labels: 👍 Ready for review, 💻 Frontend, 📜 SQL

#2401 [MDS-4994 ] Fix EoR/QP new appointment notification link
  services/core-api/app/api/parties/party_appt/resources/mine_party_appt_resource.py
Labels: 💾 Backend

#2385 [MDS-4928] Assign initial status in incident creation in Core
  services/core-api/app/api/incidents/models/mine_incident.py
  services/core-web/src/components/Forms/incidents/IncidentForm.js
  services/core-web/src/components/mine/Incidents/MineIncident.js
  services/core-web/src/tests/components/Forms/incidents/__snapshots__/IncidentForm.spec.js.snap
  services/minespace-web/src/components/Forms/incidents/IncidentForm.js
  services/minespace-web/src/components/pages/Incidents/IncidentPage.js
  services/minespace-web/src/components/pages/Incidents/IncidentSuccessPage.js
  services/minespace-web/src/tests/components/Forms/incidents/__snapshots__/IncidentForm.spec.js.snap
  services/minespace-web/src/tests/components/incident/__snapshots__/IncidentSuccessPage.spec.js.snap
Labels: 👍 Ready for review

#2406 [MDS-4989] NOW Consultation page not loading
  services/core-web/common/utils/helpers.js
  services/core-web/src/components/noticeOfWork/applications/referals/NOWApplicationReviewsTable.js
  services/minespace-web/common/utils/helpers.js
Labels: 🐞 Bug, 💻 Frontend
