Repository bcgov/mds, pull requests merged in 2024-03, with the labels that each got.

#2975 [MDS-5818] CRR Cleanup
  services/common/src/components/reports/ReportDetailsForm-edit.spec.tsx
  services/common/src/components/reports/ReportDetailsForm-view.spec.tsx
  services/common/src/components/reports/ReportDetailsForm.tsx
  services/common/src/components/reports/reportSubmissionSlice.ts
  services/core-api/app/api/mines/reports/models/mine_report.py
  services/core-api/tests/search/resource/test_search_resource.py
  services/minespace-web/package.json
  services/minespace-web/src/components/dashboard/mine/reports/Reports.tsx
  services/minespace-web/src/components/dashboard/mine/reports/ReportsTable.tsx
  services/minespace-web/src/tests/components/dashboard/mine/reports/__snapshots__/Reports.spec.tsx.snap
  yarn.lock
Labels: 👍 Ready for review

#2997 [MDS-5834] VC Core UI - Revocation
  services/common/src/components/documents/DocumentLink.tsx
  services/common/src/constants/API.ts
  services/common/src/constants/enums.ts
  services/common/src/constants/forms.ts
  services/common/src/constants/reducerTypes.ts
  services/common/src/constants/strings.tsx
  services/common/src/interfaces/index.ts
  services/common/src/interfaces/mine.interface.ts
  services/common/src/interfaces/mineCommodityOption.interface.ts
  services/common/src/interfaces/mineDisturbanceOption.interface.ts
  services/common/src/interfaces/mineStatus.interface.ts
  services/common/src/interfaces/mineType.interface.ts
  services/common/src/redux/reducers/permitReducer.ts
  services/common/src/redux/reducers/rootReducerShared.ts
  services/common/src/redux/rootState.ts
  services/common/src/redux/slices/verifiableCredentialsSlice.ts
  services/common/src/redux/utils/helpers.ts
  services/common/src/tests/mocks/dataMocks.tsx
  services/common/src/utils/featureFlag.ts
  services/core-api/app/api/verifiable_credentials/resources/verifiable_credential_map.py
  services/core-api/app/api/verifiable_credentials/response_models.py
  services/core-web/src/components/mine/DigitalPermitCredential/DigitalPermitCredential.tsx
  services/core-web/src/components/mine/DigitalPermitCredential/RevokeCredentialModal.tsx
  services/core-web/src/components/mine/DigitalPermitCredential/ViewDigitalPermitCredential.tsx
  services/core-web/src/components/mine/Permit/MinePermitInfo.tsx
  services/core-web/src/components/modalContent/config.js
  services/core-web/src/constants/routes.ts
  services/core-web/src/routes/MineDashboardRoutes.js
  services/core-web/src/styles/generic/layout.scss
  services/core-web/src/tests/components/mine/DigitalPermitCredential/DigitalPermitCredential.spec.tsx
  services/core-web/src/tests/components/mine/DigitalPermitCredential/ViewDigitalPermitCredential.spec.tsx
  services/core-web/src/tests/components/mine/DigitalPermitCredential/__snapshots__/DigitalPermitCredential.spec.tsx.snap
  services/core-web/src/tests/components/mine/DigitalPermitCredential/__snapshots__/ViewDigitalPermitCredential.spec.tsx.snap
  services/core-web/src/tests/components/mine/Permit/MinePermitInfo.spec.tsx
  services/core-web/src/tests/components/mine/Permit/__snapshots__/MinePermitInfo.spec.tsx.snap
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
Labels: 👍 Ready for review

#2848 [MDS-5828] Run cypress tests against local DB
  .github/workflows/core-web.cypress.yaml
  .github/workflows/core-web.unit.yaml
  .github/workflows/minespace.cypress.yaml
  .github/workflows/minespace.unit.yaml
  Makefile
  cypress/realm-export.json
  docker-compose.yaml
  services/core-api/app/commands.py
  services/core-web/cypress.config.ts
  services/core-web/cypress/e2e/createproject.cy.ts
  services/core-web/cypress/e2e/majorprojects.cy.ts
  services/core-web/cypress/support/commands.ts
  services/core-web/src/components/Forms/AdvancedMineSearchForm.js
  services/core-web/src/tests/components/Forms/__snapshots__/AdvancedSearchForm.spec.js.snap
  services/minespace-web/cypress.config.ts
  services/minespace-web/cypress/e2e/homepage.cy.ts
Labels: 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#3008 [MDS-5831] Add nearest municipality to project application
  migrations/sql/V2024.03.13.12.00__add_municipalities.sql
  services/common/src/components/projectSummary/LegalLandOwnerInformation.spec.tsx
  services/common/src/components/projectSummary/LegalLandOwnerInformation.tsx
  services/common/src/redux/actionCreators/staticContentActionCreator.js
  services/common/src/redux/reducers/staticContentReducer.js
  services/common/src/redux/selectors/staticContentSelectors.ts
  services/common/src/tests/mocks/dataMocks.tsx
  services/core-api/app/api/exports/response_models.py
  services/core-api/app/api/exports/static_content/resources/core_static_content_resource.py
  services/core-api/app/api/municipalities/models/__init__.py
  services/core-api/app/api/municipalities/models/municipality.py
  services/core-api/app/api/projects/project_summary/models/project_summary.py
  services/core-api/app/api/projects/project_summary/resources/project_summary.py
  services/core-api/app/api/projects/response_models.py
Labels: 👍 Ready for review

#3009 [MDS-4104] converted reclamation_invoice amount to negative in bond_view
  migrations/sql/V2024.03.18.09.05__make_reclamation_invoice_number_negative.sql
Labels: 👍 Ready for review, 📜 SQL

#3021 [MDS-5867] Update "Back to Reports" link in Core
  services/common/src/constants/enums.ts
  services/core-web/src/components/mine/Reports/ReportPage.tsx
  services/core-web/src/tests/components/Forms/reports/__snapshots__/ReportPage-prr.spec.tsx.snap
  services/core-web/src/tests/components/Forms/reports/__snapshots__/ReportPage.spec.tsx.snap
Labels: 👍 Ready for review

#3029 [MDS-5866] CRR/PRR updates
  migrations/sql/V2024.03.22.14.25__update_compliance_article_long_descriptions.sql
  services/common/src/components/reports/ReportGetStarted.tsx
  services/common/src/components/reports/ReportSteps.tsx
  services/common/src/interfaces/reports/mineReportDefinition.interface.ts
  services/core-api/app/api/mines/reports/models/mine_report_definition.py
  services/core-api/app/api/mines/response_models.py
Labels: 👍 Ready for review
