Repository bcgov/mds, pull requests merged in 2024-02, with the labels that each got.

#2931 [MDS-5409] Fixed SQLAlchemy relationship warnings in Core
  services/core-api/app/api/incidents/models/mine_incident.py
  services/core-api/app/api/mines/alerts/models/mine_alert.py
  services/core-api/app/api/mines/explosives_permit/models/explosives_permit.py
  services/core-api/app/api/mines/explosives_permit_amendment/models/explosives_permit_amendment.py
  services/core-api/app/api/mines/incidents/models/mine_incident_document_xref.py
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_conditions.py
  services/core-api/app/api/mines/reports/models/mine_report.py
  services/core-api/app/api/mines/reports/models/mine_report_submission.py
  services/core-api/app/api/mines/tailings/models/tailings.py
  services/core-api/app/api/mines/work_information/models/mine_work_information.py
  services/core-api/app/api/notice_of_departure/models/notice_of_departure.py
  services/core-api/app/api/notice_of_departure/models/notice_of_departure_document_xref.py
  services/core-api/app/api/now_applications/models/activity_detail/activity_detail_base.py
  services/core-api/app/api/now_applications/models/activity_detail/activity_summary_building_detail_xref.py
  services/core-api/app/api/now_applications/models/activity_detail/activity_summary_staging_area_detail_xref.py
  services/core-api/app/api/now_applications/models/activity_detail/etl_activity_detail.py
  services/core-api/app/api/now_applications/models/activity_summary/camp.py
  services/core-api/app/api/now_applications/models/activity_summary/cut_lines_polarization_survey.py
  services/core-api/app/api/now_applications/models/activity_summary/exploration_access.py
  services/core-api/app/api/now_applications/models/activity_summary/exploration_surface_drilling.py
  services/core-api/app/api/now_applications/models/activity_summary/mechanical_trenching.py
  services/core-api/app/api/now_applications/models/activity_summary/placer_operation.py
  services/core-api/app/api/now_applications/models/activity_summary/sand_gravel_quarry_operation.py
  services/core-api/app/api/now_applications/models/activity_summary/settling_pond.py
  services/core-api/app/api/now_applications/models/activity_summary/surface_bulk_sample.py
  services/core-api/app/api/now_applications/models/activity_summary/underground_exploration.py
  services/core-api/app/api/now_applications/models/activity_summary/water_supply.py
  services/core-api/app/api/now_applications/models/applications_view.py
  services/core-api/app/api/now_applications/models/blasting_operation.py
  services/core-api/app/api/now_applications/models/equipment.py
  services/core-api/app/api/now_applications/models/etl_equipment.py
  services/core-api/app/api/now_applications/models/now_application.py
  services/core-api/app/api/now_applications/models/now_application_delay.py
  services/core-api/app/api/now_applications/models/now_application_document_xref.py
  services/core-api/app/api/now_applications/models/now_application_identity.py
  services/core-api/app/api/now_applications/models/now_party_appointment.py
  services/core-api/app/api/now_applications/models/state_of_land.py
  services/core-api/app/api/parties/party/models/address.py
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/api/parties/party/models/party_orgbook_entity.py
  services/core-api/app/api/parties/party_appt/models/mine_party_appt.py
  services/core-api/app/api/parties/party_appt/models/party_business_role_appt.py
  services/core-api/app/api/projects/information_requirements_table/models/information_requirements_table.py
  services/core-api/app/api/projects/information_requirements_table/models/information_requirements_table_document_xref.py
  services/core-api/app/api/projects/major_mine_application/models/major_mine_application.py
  services/core-api/app/api/projects/major_mine_application/models/major_mine_application_document_xref.py
  services/core-api/app/api/projects/project_decision_package/models/project_decision_package.py
  services/core-api/app/api/projects/project_decision_package/models/project_decision_package_document_xref.py
  services/core-api/app/api/projects/project_summary/models/project_summary.py
  services/core-api/app/api/projects/project_summary/models/project_summary_document_xref.py
  services/core-api/app/api/securities/models/bond.py
  services/core-api/app/api/securities/models/bond_document.py
  services/core-api/app/api/securities/models/reclamation_invoice_document.py
  services/core-api/app/api/variances/models/variance.py
Labels: 👍 Ready for review, 💾 Backend, python

#2933 [MDS-5409] Fixed startup command of Core Celery
  docker-compose.yaml
  services/core-api/celery.sh
  services/core-api/requirements.txt
Labels: 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#2937 [MDS-5409] Upgraded Cypress, fixed a couple of backend errors
  services/core-api/app/api/projects/project/resources/project.py
  services/core-api/app/api/reporting/resources/metabase.py
  services/core-web/package.json
  services/minespace-web/package.json
  yarn.lock
Labels: 🐞 Bug, 🏭 CI/CD, 💾 Backend

#2935 [MDS-5721] Minespace Application Orgbook integration
  services/common/src/components/parties/OrgBookSearch.tsx
  services/common/src/constants/API.ts
  services/common/src/constants/reducerTypes.ts
  services/common/src/interfaces/party/index.ts
  services/common/src/interfaces/party/orgbookCredential.interface.ts
  services/common/src/redux/actionCreators/orgbookActionCreator.js
  services/core-api/app/api/orgbook/namespace.py
  services/core-api/app/api/orgbook/resources/orgbook_resources.py
  services/core-api/app/api/services/orgbook_service.py
  services/core-web/src/components/Forms/parties/PartyOrgBookForm.js
  services/core-web/src/components/Forms/parties/PartyOrgBookForm.tsx
  services/core-web/src/tests/actionCreators/orgbookActionCreator.spec.js
  services/minespace-web/src/components/Forms/projects/projectSummary/Applicant.tsx
  services/minespace-web/src/components/Forms/projects/projectSummary/ProjectSummaryForm.tsx
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#2938 [MDS-5788] Fixed error when loading original NOW application + regenerating map
  services/core-api/app/api/mines/mine/resources/mine_map.py
  services/core-api/app/api/now_applications/models/now_application.py
Labels: 🐞 Bug, 👍 Ready for review, 💾 Backend

#2943 [MDS-5730] Made staging area and building detail polymorphic identity unique
  services/core-api/app/api/now_applications/models/activity_detail/activity_detail_base.py
  services/core-api/app/api/now_applications/models/activity_detail/building_detail.py
  services/core-api/app/api/now_applications/models/activity_detail/staging_area_detail.py
Labels: 🐞 Bug, 👍 Ready for review, 💾 Backend

#2947 [MDS-5730] Upgraded NRIS Api to python 3.11
  services/nris-api/backend/Dockerfile
  services/nris-api/backend/Dockerfile.ci
  services/nris-api/backend/Dockerfile.migrate
  services/nris-api/backend/app/__init__.py
  services/nris-api/backend/app/config.py
  services/nris-api/backend/app/extensions.py
  services/nris-api/backend/app/helper.py
  services/nris-api/backend/app/nris/models/attendee.py
  services/nris-api/backend/app/nris/models/document.py
  services/nris-api/backend/app/nris/models/inspected_location.py
  services/nris-api/backend/app/nris/models/inspection.py
  services/nris-api/backend/app/nris/models/legislation_act.py
  services/nris-api/backend/app/nris/models/legislation_act_section.py
  services/nris-api/backend/app/nris/models/legislation_compliance_article.py
  services/nris-api/backend/app/nris/models/location.py
  services/nris-api/backend/app/nris/models/noncompliance_legislation.py
  services/nris-api/backend/app/nris/models/noncompliance_permit.py
  services/nris-api/backend/app/nris/models/order_advisory_detail.py
  services/nris-api/backend/app/nris/models/order_request_detail.py
  services/nris-api/backend/app/nris/models/order_stop_detail.py
  services/nris-api/backend/app/nris/models/order_warning_detail.py
  services/nris-api/backend/app/nris/resources/document.py
  services/nris-api/backend/app/nris/resources/inspected_location.py
  services/nris-api/backend/app/nris/resources/inspection.py
  services/nris-api/backend/app/nris/resources/location.py
  services/nris-api/backend/app/routes.py
  services/nris-api/backend/requirements.txt
  services/nris-api/backend/tests/auth/test_auth_decorators.py
Labels: 👍 Ready for review, 💾 Backend, python

#2951 [MDS-5783] Fixed now document preview
  services/core-api/app/api/document_generation/resources/now_document_resource.py
Labels: 👍 Ready for review

#2952 [MDS-5779] Fixed NoW permit issuing
  services/core-api/app/api/utils/access_decorators.py
  services/core-api/app/api/utils/include/user_info.py
Labels: 💾 Backend

#2954 [MDS-5738] Syncfusion upgrade
  .gitignore
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/EJ2AmazonS3ASPCoreFileProvider.csproj
  services/filesystem-provider/ej2-amazon-s3-aspcore-file-provider/Models/AmazonS3FileProvider.cs
  services/minespace-web/package.json
  yarn.lock
Labels: 👍 Ready for review

#2962 [MDS-5779] Added support for permit keyword search in Core
  .python-version
  Makefile
  docker-compose.yaml
  services/common/src/components/permits/PermitSearchResults.spec.tsx
  services/common/src/components/permits/PermitSearchResults.tsx
  services/common/src/components/permits/__snapshots__/PermitSearchResults.spec.tsx.snap
  services/core-api/.env-example
  services/core-api/app/api/search/response_models.py
  services/core-api/app/api/search/search/permit_search_service.py
  services/core-api/app/api/search/search/resources/search.py
  services/core-api/app/api/utils/feature_flag.py
  services/core-api/app/api/utils/search.py
  services/core-api/app/config.py
  services/core-api/requirements.txt
  services/core-web/src/components/search/SearchResults.js
  services/core-web/src/components/search/SearchResults.tsx
  services/core-web/src/tests/components/search/SearchResults.spec.js
  services/core-web/src/tests/components/search/__snapshots__/SearchResults.spec.js.snap
  services/permits/.env-example
  services/permits/Dockerfile
  services/permits/README.md
  services/permits/app/pipelines.py
  services/permits/docker-compose.yaml
  services/permits/import_permits.py
  services/permits/requirements.txt
Labels: 👍 Ready for review, 💾 Backend

#2967 [MDS-5790] - Core CRR/PRR
  services/common/src/components/reports/ReportGetStarted.tsx
  services/common/src/components/reports/ReportSteps.tsx
  services/common/src/constants/enums.ts
  services/common/src/interfaces/reports/index.ts
  services/common/src/interfaces/reports/mineReportParams.interface.ts
  services/common/src/redux/reducers/mineReducer.ts
  services/core-web/src/components/mine/MineNavigation.js
  services/core-web/src/components/mine/Reports/MineReportInfo.js
  services/core-web/src/components/mine/Reports/MineReportInfo.tsx
  services/core-web/src/components/mine/Reports/PermitRequiredReports.js
  services/core-web/src/constants/routes.ts
  services/core-web/src/routes/MineDashboardRoutes.js
  services/core-web/src/routes/Routes.tsx
  services/core-web/src/styles/components/Reports.scss
  services/core-web/src/styles/index.scss
  services/core-web/src/styles/settings/theme.scss
  services/core-web/src/styles/settings/variables.scss
  services/core-web/src/tests/components/mine/Reports/MineReportInfo.spec.js
  services/core-web/src/tests/components/mine/Reports/MineReportInfo.spec.tsx
  services/core-web/src/tests/components/mine/Reports/__snapshots__/MineReportInfo.spec.js.snap
  services/core-web/src/tests/components/mine/Reports/__snapshots__/MineReportInfo.spec.tsx.snap
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  services/core-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
  services/core-web/tsconfig.json
  services/minespace-web/src/styles/components/Reports.scss
Labels: 👍 Ready for review, 💻 Frontend, 🚌 Common Package, :keyboard: Typescript
