Repository bcgov/mds, pull requests merged in 2024-12, with the labels that each got.

#3330 [MDS-6225] - Project Summary status fix
  services/common/src/components/projects/ProjectCallout.tsx
  services/core-api/app/api/projects/project_summary/resources/project_summary.py
  services/minespace-web/src/components/pages/Project/ProjectSummaryPage.tsx
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/__snapshots__/MajorMineApplicationReviewSubmit.spec.tsx.snap
  services/minespace-web/src/tests/components/project/MajorMineApplicationPage/__snapshots__/MajorMineApplicationPage.spec.tsx.snap
Labels: 👍 Ready for review

#3331 [MDS-6229] Updated Fider README
  services/fider/README.md
Labels: 👍 Ready for review

#3335 [MDS-6206] Tweak permit condition category input field sizes
  services/core-web/src/components/mine/Permit/PermitConditionCategory.tsx
  services/core-web/src/components/mine/Permit/PermitConditionCategorySelector.tsx
Labels: 👍 Ready for review, 💻 Frontend

#3340 [MDS-6260] Add Report Type to Report requirement form, make initial submission date optional
  services/common/src/constants/strings.tsx
  services/common/src/interfaces/permits/mineReportPermitRequirements.interface.ts
  services/core-web/src/components/Forms/reports/ReportPermitRequirementForm.tsx
  services/core-web/src/components/mine/Permit/PermitConditions.tsx
  services/core-web/src/tests/components/Forms/reports/__snapshots__/ReportPermitRequirementForm.spec.tsx.snap
Labels: 🌶 Enhancement, 👍 Ready for review, 💻 Frontend

#3339 [MDS-6260] Added support to permit condition extraction pipeline to create identified reports
  .github/workflows/permit-service.unit.yaml
  docker-compose.yaml
  migrations/sql/V2024.12.03.13.1__add_permit_condition_meta_column.sql
  migrations/sql/V2024.12.06.11.1__add_mine_report_definition_report_name_column.sql
  migrations/sql/V2024.12.11.15.1__add_permit_condition_history_meta_column.sql
  services/core-api/Dockerfile
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_conditions.py
  services/core-api/app/api/mines/permits/permit_extraction/create_permit_condition_report_requirement.py
  services/core-api/app/api/mines/permits/permit_extraction/create_permit_conditions.py
  services/core-api/app/api/mines/permits/permit_extraction/models/permit_condition_result.py
  services/core-api/app/api/mines/reports/models/mine_report_permit_requirement.py
  services/core-api/app/api/mines/reports/resources/mine_report_permit_requirement.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/celery_dev.sh
  services/core-api/tests/permits/permit_extraction/test_create_permit_condition_report_requirement.py
  services/core-api/tests/permits/permit_extraction/test_create_permit_conditions_from_task.py
  services/permits/.env-example
  services/permits/app/permit_condition_prompts.yaml
  services/permits/app/permit_conditions/converters/azure_document_intelligence_converter.py
  services/permits/app/permit_conditions/converters/filter_conditions_paragraphs.py
  services/permits/app/permit_conditions/converters/metadata_converter.py
  services/permits/app/permit_conditions/converters/pdf_to_text_converter.py
  services/permits/app/permit_conditions/pipelines/CachedAzureOpenAIChatGenerator.py
  services/permits/app/permit_conditions/pipelines/PaginatedChatPromptBuilder.py
  services/permits/app/permit_conditions/pipelines/chat_data.py
  services/permits/app/permit_conditions/pipelines/permit_condition_pipeline.py
  services/permits/app/permit_conditions/resources/permit_condition_resource.py
  services/permits/app/permit_conditions/validator/json_fixer.py
  services/permits/app/permit_conditions/validator/permit_condition_model.py
  services/permits/app/permit_conditions/validator/permit_condition_section_combiner.py
  services/permits/app/permit_conditions/validator/permit_condition_validator.py
  services/permits/requirements.txt
  services/permits/tests/test_azure_document_intelligence_converter.py
  services/permits/tests/test_cached_azure_openai_chat_generator.py
  services/permits/tests/test_conditions_metadata_combiner.py
  services/permits/tests/test_json_fixer.py
  services/permits/tests/test_paginated_chat_prompt_builder.py
  services/permits/tests/test_permit_condition_validator.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend

#3344 [MDS-6231] Update Readme blurb
  README.md
Labels: 👍 Ready for review

#3349 [FIX] Fix flaky permit condition requirement test
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_conditions.py
  services/core-api/tests/permits/permit_extraction/test_create_permit_conditions_from_task.py
Labels: 👍 Ready for review, 💾 Backend

#3346 [MDS-6260] Added missing debug flag for permit service log writing
  services/permits/app/permit_conditions/pipelines/CachedAzureOpenAIChatGenerator.py
Labels: 👍 Ready for review, 💾 Backend

#3351 [MDS-6207] Show PDF of permit amendment on Permit Conditions page + auto-focus on click
  services/common/src/components/projects/__snapshots__/ProjectDocumentsTab.spec.tsx.snap
  services/common/src/components/syncfusion/DocumentViewer.tsx
  services/common/src/constants/environment.ts
  services/common/src/interfaces/permits/permitCondition.interface.ts
  services/common/src/redux/slices/permitServiceSlice.ts
  services/common/src/utils/featureFlag.ts
  services/core-web/src/components/mine/Permit/PermitConditionLayer.tsx
  services/core-web/src/components/mine/Permit/PermitConditions.spec.tsx
  services/core-web/src/components/mine/Permit/PermitConditions.tsx
  services/core-web/src/components/mine/Permit/PreviewPermitAmendmentDocument.tsx
  services/core-web/src/components/mine/Permit/__snapshots__/PermitConditions.spec.tsx.snap
  services/core-web/src/styles/tools/syncfusion.scss
  services/core-web/src/tests/components/mine/Permit/PreviewPermitAmendmentDocument.spec.tsx
  services/core-web/src/tests/components/mine/Permit/__snapshots__/PreviewPermitAmendmentDocument.spec.tsx.snap
  services/minespace-web/src/styles/tools/syncfusion.scss
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend, 🚌 Common Package

#3355 [MDS-6204] - condition review assignment
  migrations/sql/V2024.12.17.22.23__add_user_permit_condition_category_relations.sql
  services/common/src/components/forms/RenderLargeSelect.tsx
  services/common/src/components/forms/RenderSelect.tsx
  services/common/src/components/forms/RenderSubmitButton.tsx
  services/common/src/constants/API.ts
  services/common/src/constants/forms.ts
  services/common/src/interfaces/permits/permitCondition.interface.ts
  services/common/src/redux/reducers/partiesReducer.ts
  services/common/src/redux/slices/permitConditionCategorySlice.spec.ts
  services/common/src/redux/slices/permitConditionCategorySlice.ts
  services/common/src/redux/slices/userSlice.spec.ts
  services/common/src/redux/slices/userSlice.ts
  services/common/src/tests/mocks/dataMocks.tsx
  services/core-api/app/api/mines/namespace.py
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_condition_category.py
  services/core-api/app/api/mines/permits/permit_conditions/resources/permit_amendment_condition_category_user_resource.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/users/models/user.py
  services/core-api/app/api/users/namespace.py
  services/core-api/app/api/users/resources/user_list_resource.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/mines/permit/resources/test_permit_amendment_condition_category_user_resource.py
  services/core-api/tests/users/resources/test_user_list_resource.py
  services/core-web/src/components/Forms/AddPermitForm.js
  services/core-web/src/components/common/PartySelectField.js
  services/core-web/src/components/common/PartySelectField.tsx
  services/core-web/src/components/common/UserSearchField.tsx
  services/core-web/src/components/mine/Permit/PermitConditionReviewAssignment.tsx
  services/core-web/src/components/mine/Permit/PermitConditions.spec.tsx
  services/core-web/src/components/mine/Permit/PermitConditions.tsx
  services/core-web/src/components/mine/Permit/__snapshots__/PermitConditions.spec.tsx.snap
  services/core-web/src/tests/components/Forms/PermitAmendmentForm.spec.js
  services/core-web/src/tests/components/Forms/Securities/BondForm.spec.js
  services/core-web/src/tests/components/Forms/Securities/__snapshots__/BondForm.spec.js.snap
  services/core-web/src/tests/components/Forms/__snapshots__/AddPartyRelationshipForm.spec.js.snap
  services/core-web/src/tests/components/Forms/__snapshots__/AddPermitForm.spec.js.snap
  services/core-web/src/tests/components/Forms/__snapshots__/AddTailingsForm.spec.js.snap
  services/core-web/src/tests/components/Forms/__snapshots__/PermitAmendmentForm.spec.js.snap
  services/core-web/src/tests/components/common/PartySelectField.spec.js
  services/core-web/src/tests/components/common/PartySelectField.spec.tsx
  services/core-web/src/tests/components/common/__snapshots__/PartySelectField.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/PartySelectField.spec.tsx.snap
Labels: 👍 Ready for review
