Repository bcgov/mds, pull requests merged in 2024-09, with the labels that each got.

#3230 [MDS-6105] Permit Condition Extraction Improvements
  services/permits/.env-example
  services/permits/app/compare_extraction_results.py
  services/permits/app/extract_and_validate_pdf.py
  services/permits/app/jwt_manager.py
  services/permits/app/permit_condition_prompts.yaml
  services/permits/app/permit_conditions/converters/azure_document_intelligence_converter.py
  services/permits/app/permit_conditions/converters/filter_conditions_paragraphs.py
  services/permits/app/permit_conditions/converters/metadata_converter.py
  services/permits/app/permit_conditions/converters/pdf_to_text_converter.py
  services/permits/app/permit_conditions/pipelines/CachedAzureOpenAIChatGenerator.py
  services/permits/app/permit_conditions/pipelines/permit_condition_pipeline.py
  services/permits/app/permit_conditions/resources/permit_condition_resource.py
  services/permits/app/permit_conditions/tasks/tasks.py
  services/permits/app/permit_conditions/validator/json_fixer.py
  services/permits/app/permit_conditions/validator/parse_hierarchy.py
  services/permits/app/permit_conditions/validator/permit_condition_model.py
  services/permits/app/permit_conditions/validator/permit_condition_section_combiner.py
  services/permits/app/permit_conditions/validator/permit_condition_validator.py
  services/permits/app/report_template.html
  services/permits/docker-compose.yaml
  services/permits/requirements.txt
  services/permits/sonar-project.properties
  services/permits/tests/mocks.py
  services/permits/tests/test_azure_document_intelligence_converter.py
  services/permits/tests/test_cached_azure_openai_chat_generator.py
  services/permits/tests/test_conditions_metadata_combiner.py
  services/permits/tests/test_conditions_paragraph_filter.py
  services/permits/tests/test_parse_hierarchy.py
  services/permits/tests/test_pdf_to_html_converter.py
  services/permits/tests/test_permit_condition_resource.py
  services/permits/tests/test_permit_condition_section_combiner.py
  services/permits/tests/test_permit_condition_validator.py
  services/permits/tests/test_permit_conditions_pipeline.py
  services/permits/tests/test_tasks.py
Labels: 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#3237 [MDS-6095] Update Pagination support to include tsf reports
  services/core-api/app/api/mines/reports/resources/mine_reports.py
  services/core-web/src/components/mine/Tailings/MineTailingsInfoTabs.tsx
  services/core-web/src/components/mine/Tailings/MineTailingsTable.tsx
  services/core-web/src/tests/components/mine/Tailings/MineTailingsInfoTabs.spec.tsx
  services/core-web/src/tests/components/mine/Tailings/__snapshots__/MineTailingsInfoTabs.spec.js.snap
  services/core-web/src/tests/components/mine/Tailings/__snapshots__/MineTailingsInfoTabs.spec.tsx.snap
Labels: 👍 Ready for review

#3241 [MDS-6165] - add object types to jsonld and reference untp context files
  services/core-api/app/api/services/traction_service.py
  services/core-api/app/api/verifiable_credentials/manager.py
  services/core-api/requirements.txt
  services/core-api/tests/verifiable_credentials/test_manager.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend

#3253 [MDS-6179] Refactored ProjectOverviewTab.js to a functional Typescript Component
  services/common/src/components/projectSummary/ProjectManagement.tsx
  services/common/src/components/projectSummary/ProjectSummaryForm.tsx
  services/common/src/constants/strings.tsx
  services/common/src/interfaces/projects/index.ts
  services/common/src/interfaces/projects/projectStage.interface.ts
  services/core-web/src/components/mine/Projects/ProjectSummary.tsx
  services/minespace-web/src/components/dashboard/mine/projects/ProjectStagesTable.tsx
  services/minespace-web/src/components/pages/Project/ProjectOverviewTab.js
  services/minespace-web/src/components/pages/Project/ProjectOverviewTab.tsx
  services/minespace-web/src/components/pages/Project/ProjectPage.tsx
  services/minespace-web/src/tests/components/project/projectOverviewTab/ProjectOverviewTab.spec.js
  services/minespace-web/src/tests/components/project/projectOverviewTab/ProjectOverviewTab.spec.tsx
  services/minespace-web/src/tests/components/project/projectOverviewTab/__snapshots__/ProjectOverviewTab.spec.js.snap
  services/minespace-web/src/tests/components/project/projectOverviewTab/__snapshots__/ProjectOverviewTab.spec.tsx.snap
Labels: 👍 Ready for review
