Repository bcgov/mds, pull requests merged in 2024-10, with the labels that each got.

#3257 [MDS-6176] Core Major Project Status Change
  services/core-web/src/components/mine/Projects/ProjectSummary.tsx
Labels: 👍 Ready for review

#3259 [MDS-6118] Fixed numbering of permit conditions when missing
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_conditions.py
  services/core-api/app/api/mines/permits/permit_extraction/models/permit_extraction_task.py
  services/core-api/app/api/mines/permits/permit_extraction/tasks.py
  services/core-api/app/api/search/search/permit_search_service.py
  services/permits/.env-example
  services/permits/docker-compose.yaml
Labels: 👍 Ready for review, 💾 Backend

#3266 [MDS-6118] Added failure state to permit extraction flow + fix error when conditions are not matching a category
  services/core-api/app/api/mines/permits/permit_extraction/create_permit_conditions.py
  services/core-api/app/api/mines/permits/permit_extraction/models/permit_condition_result.py
  services/core-api/app/api/mines/permits/permit_extraction/tasks.py
  services/core-api/app/tasks/celery_entrypoint.py
  services/core-web/src/components/mine/Permit/PermitConditionExtraction.tsx
  services/core-web/src/components/mine/Permit/PermitConditions.tsx
  services/core-web/src/styles/components/PermitConditions.scss
  services/permits/app/permit_conditions/converters/filter_conditions_paragraphs.py
  services/permits/app/permit_conditions/validator/parse_hierarchy.py
  services/permits/app/permit_conditions/validator/permit_condition_section_combiner.py
  services/permits/tests/test_parse_hierarchy.py
  services/permits/tests/test_permit_condition_section_combiner.py
Labels: 👍 Ready for review, 💾 Backend

#3269 [MDS-6194] Major project duplication
  services/minespace-web/src/components/pages/Project/ProjectSummaryPage.tsx
Labels: 👍 Ready for review

#3272 [CHORE] - update VerificationMethod and .env-example
  services/core-api/.env-example
  services/core-api/app/api/services/traction_service.py
  services/core-api/app/api/verifiable_credentials/manager.py
  services/core-api/app/api/verifiable_credentials/resources/w3c_map_credential_resource.py
  services/core-api/app/config.py
Labels: 👍 Ready for review

#3276 [FIX] - Update to vcdm2.0, Add DI Proof and remove WIP code
  services/core-api/.env-example
  services/core-api/app/api/services/traction_service.py
  services/core-api/app/api/verifiable_credentials/manager.py
  services/core-api/app/api/verifiable_credentials/namespace.py
  services/core-api/app/api/verifiable_credentials/resources/w3c_map_credential_resource.py
  services/core-api/app/commands.py
Labels: 🌶 Enhancement, 👍 Ready for review, python

#3280 [CHORE] - Finalize Credential ID for UNTP DCC MAP
  services/core-api/.env-example
  services/core-api/app/api/verifiable_credentials/manager.py
  services/core-api/app/config.py
  services/core-api/requirements.txt
  services/core-api/tests/verifiable_credentials/test_manager.py
Labels: 👍 Ready for review, python

#3282 [MDS-6139] Don't disable IRT/final app tab when "Start" button is enabled
  services/core-web/src/components/mine/Projects/InformationRequirementsTableTab.tsx
  services/minespace-web/src/components/dashboard/mine/projects/ProjectStagesTable.tsx
  services/minespace-web/src/components/pages/Project/ProjectPage.tsx
  services/minespace-web/src/tests/components/project/projectOverviewTab/__snapshots__/ProjectOverviewTab.spec.tsx.snap
Labels: 👍 Ready for review
