Repository bcgov/mds, pull requests merged in 2024-08, with the labels that each got.

#3205 [MDS-6086] Updated permit condition extraction to happen asynchronously using Celery
  services/permits/.env-example
  services/permits/.gitignore
  services/permits/app/celery.py
  services/permits/app/compare_extraction_results.py
  services/permits/app/extract_and_validate_pdf.py
  services/permits/app/helpers/celery_task_status.py
  services/permits/app/helpers/temporary_file.py
  services/permits/app/permit_conditions/context.py
  services/permits/app/permit_conditions/converters/pdf_to_text_converter.py
  services/permits/app/permit_conditions/pipelines/CachedAzureOpenAIChatGenerator.py
  services/permits/app/permit_conditions/resources/permit_condition_resource.py
  services/permits/app/permit_conditions/tasks/__init__.py
  services/permits/app/permit_conditions/tasks/tasks.py
  services/permits/app/permit_conditions/validator/permit_condition_model.py
  services/permits/app/permit_conditions/validator/permit_condition_validator.py
  services/permits/app/tests/test_permit_condition_resource.py
  services/permits/celery.sh
  services/permits/docker-compose.yaml
  services/permits/requirements.txt
Labels: 👍 Ready for review, 💾 Backend

#3208 [MDS-6086] Added github action to run permit service tests. Fixed broken tests
  .github/workflows/permit-service.unit.yaml
  services/permits/app/app.py
  services/permits/app/permit_conditions/validator/permit_condition_validator.py
  services/permits/app/tests/test_pdf_to_html_converter.py
  services/permits/docker-compose.yaml
  services/permits/requirements.txt
  services/permits/tests/__init__.py
  services/permits/tests/sample_pdf.pdf
  services/permits/tests/test_cached_azure_openai_chat_generator.py
  services/permits/tests/test_json_fixer.py
  services/permits/tests/test_pdf_to_html_converter.py
  services/permits/tests/test_permit_condition_resource.py
  services/permits/tests/test_permit_condition_validator.py
Labels: 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#3204 [MDS-5986] reject multiple connections acceptance
  services/core-api/app/api/services/traction_service.py
  services/core-api/app/api/verifiable_credentials/resources/traction_webhook.py
Labels: 💾 Backend, 💊 Fix

#3210 [MDS-6086] Fixed ssl validation error when running permit pipeline in test, enable https for elasticsearch when running locally
  Makefile
  services/permits/README.md
  services/permits/app/app.py
  services/permits/app/celery.py
  services/permits/app/celery/__init__.py
  services/permits/app/celery/elasticsearch_backend.py
  services/permits/app/permit_conditions/resources/permit_condition_resource.py
  services/permits/app/permit_conditions/validator/permit_condition_validator.py
  services/permits/app/permit_search/pipelines/pipelines.py
  services/permits/docker-compose.yaml
Labels: 👍 Ready for review, 💾 Backend

#3215 [CHORE} - Clean up logging of VC connection webhooks
  services/core-api/app/api/services/traction_service.py
  services/core-api/app/api/verifiable_credentials/resources/traction_webhook.py
Labels: 👍 Ready for review

#3214 [MDS-6011] - View geospatial bundles
  .eslintrc.js
  .github/workflows/common-package.unit.yaml
  services/common/jest.config.js
  services/common/jest.polyfills.js
  services/common/package.json
  services/common/src/components/documents/spatial/AddSpatialDocumentsModal.tsx
  services/common/src/components/documents/spatial/SpatialDocumentTable.spec.tsx
  services/common/src/components/documents/spatial/SpatialDocumentTable.tsx
  services/common/src/components/documents/spatial/ViewSpatialDetail.spec.tsx
  services/common/src/components/documents/spatial/ViewSpatialDetail.tsx
  services/common/src/components/documents/spatial/__snapshots__/SpatialDocumentTable.spec.tsx.snap
  services/common/src/components/projectSummary/DocumentUpload.tsx
  services/common/src/components/projectSummary/__snapshots__/DocumentUpload.spec.tsx.snap
  services/common/src/components/projects/__snapshots__/ProjectDocumentsTab.spec.tsx.snap
  services/common/src/constants/API.ts
  services/common/src/interfaces/mineDocument.interface.ts
  services/common/src/models/documents/document.ts
  services/common/src/redux/slices/spatialDataSlice.ts
  services/common/src/setupTests.ts
  services/common/src/tests/handlers.ts
  services/common/src/tests/mocks/dataMocks.tsx
  services/common/src/tests/server.ts
  services/core-api/app/api/mines/documents/models/mine_document.py
  services/core-api/app/api/mines/documents/models/mine_document_bundle.py
  services/core-api/app/api/mines/documents/resources/mine_document_bundle.py
  services/core-api/app/api/mines/namespace.py
  services/core-api/app/api/projects/project_summary/models/project_summary.py
  services/core-api/app/api/projects/project_summary/models/project_summary_document_xref.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/factories.py
  services/core-api/tests/mines/documents/test_mine_document_bundle_model.py
  services/core-api/tests/mines/documents/test_mine_document_bundle_resource.py
  services/core-api/tests/mines/documents/test_mine_document_list_resource.py
  services/core-web/.env-example
  services/core-web/jest.config.js
  services/core-web/jest.polyfills.js
  services/core-web/package.json
  services/core-web/src/setupTests.js
  services/core-web/src/tests/handlers.ts
  services/core-web/src/tests/server.ts
  services/minespace-web/.env-example
  services/minespace-web/jest.config.js
  services/minespace-web/jest.polyfills.js
  services/minespace-web/package.json
  services/minespace-web/src/setupTests.js
  services/minespace-web/src/tests/components/dashboard/mine/variances/__snapshots__/VarianceDetails.spec.js.snap
  services/minespace-web/src/tests/handlers.ts
  services/minespace-web/src/tests/server.ts
  yarn.lock
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#3225 [MDS-6070] Updated architecture diagram to include usage of geomark
  docs/architecture/MDS_Arch-Arch-V2.drawio.svg
Labels: 👍 Ready for review

#3223 [MDS-6141] Bug fix: use latest amendment on permit overview page
  services/common/src/components/projects/ProjectDocumentsTab.tsx
  services/common/src/components/projects/ProjectDocumentsTabSection.tsx
  services/common/src/components/projects/__snapshots__/ProjectDocumentsTab.spec.tsx.snap
  services/common/src/redux/selectors/permitSelectors.spec.ts
  services/common/src/redux/selectors/permitSelectors.ts
  services/common/src/tests/mocks/dataMocks.tsx
  services/core-web/src/components/mine/Permit/PermitConditions.spec.tsx
  services/core-web/src/components/mine/Permit/ViewPermit.tsx
  services/core-web/src/components/mine/Permit/ViewPermitOverview.tsx
  services/core-web/src/tests/components/mine/DigitalPermitCredential/__snapshots__/DigitalCredentialDetails.spec.tsx.snap
  services/core-web/src/tests/components/mine/DigitalPermitCredential/__snapshots__/DigitalPermitCredential.spec.tsx.snap
  services/core-web/src/tests/components/mine/Permit/ViewPermitOverview.spec.tsx
  services/core-web/src/tests/components/mine/Permit/__snapshots__/MinePermitInfo.spec.tsx.snap
  services/core-web/src/tests/components/mine/Permit/__snapshots__/MinePermitTable.spec.tsx.snap
  services/core-web/src/tests/selectors/permitSelectors.spec.js
  services/document-manager/backend/requirements.txt
Labels: 👍 Ready for review

#3228 [MDS-6120] Add permit conditions version history
  docker-compose.M1.yaml
  docker-compose.yaml
  docs/audit_log.md
  migrations/sql/V2024.08.26.19.42__add_permit_conditions_version_history_table.sql
  migrations/sql/V2024.08.26.19.43__add_permit_conditions_version_history_table_backfill.sql
  services/core-api/app/api/mines/permits/permit_conditions/models/permit_conditions.py
  services/core-api/app/cli_commands/generate_history_table_migration.py
  services/core-api/tests/mines/permit/resources/test_permit_condition_resource.py
Labels: 👍 Ready for review
