Repository bcgov/mds, pull requests merged in 2024-11, with the labels that each got.

#3294 [FIX] Upgrade syncfusion version
  services/common/package.json
  yarn.lock
Labels: 👍 Ready for review

#3289 [MDS-5697] Add method to forward UNTP DCC's through Orgbook Publisher
  migrations/sql/V2024.11.29.13.31__add_columns_to_vc_orgbook_table.sql
  services/core-api/app/api/verifiable_credentials/manager.py
  services/core-api/app/api/verifiable_credentials/models/orgbook_publish_status.py
  services/core-api/app/commands.py
  services/core-api/app/config.py
  services/core-web/common/utils/helpers.ts
  services/minespace-web/common/utils/helpers.ts
Labels: 👍 Ready for review, 💾 Backend, python

#3296 [MDS-5697] Orgbook Publisher, data typing issues and clean up
  services/core-api/.env-example
  services/core-api/app/api/services/traction_service.py
  services/core-api/app/api/verifiable_credentials/manager.py
  services/core-api/app/commands.py
  services/core-api/app/config.py
Labels: 👍 Ready for review

#3299 [MDS-6129] project summary status: frontend
  services/common/src/components/documents/__snapshots__/DocumentTable.spec.tsx.snap
  services/common/src/components/documents/__snapshots__/ReplaceDocumentModal.spec.tsx.snap
  services/common/src/components/documents/spatial/__snapshots__/AddSpatialDocumentsModal.spec.tsx.snap
  services/common/src/components/forms/RenderFileUpload.tsx
  services/common/src/components/forms/RenderGroupCheckbox.tsx
  services/common/src/components/forms/RenderOrgBookSearch.tsx
  services/common/src/components/forms/RenderSelect.tsx
  services/common/src/components/projectSummary/Agent.spec.tsx
  services/common/src/components/projectSummary/Agent.tsx
  services/common/src/components/projectSummary/Applicant.spec.tsx
  services/common/src/components/projectSummary/Applicant.tsx
  services/common/src/components/projectSummary/ApplicationSummary.spec.tsx
  services/common/src/components/projectSummary/ApplicationSummary.tsx
  services/common/src/components/projectSummary/AuthorizationSupportDocumentUpload.spec.tsx
  services/common/src/components/projectSummary/AuthorizationSupportDocumentUpload.tsx
  services/common/src/components/projectSummary/AuthorizationsInvolved.spec.tsx
  services/common/src/components/projectSummary/AuthorizationsInvolved.tsx
  services/common/src/components/projectSummary/BasicInformation.spec.tsx
  services/common/src/components/projectSummary/BasicInformation.tsx
  services/common/src/components/projectSummary/DocumentUpload.spec.tsx
  services/common/src/components/projectSummary/DocumentUpload.tsx
  services/common/src/components/projectSummary/FacilityOperator.spec.tsx
  services/common/src/components/projectSummary/FacilityOperator.tsx
  services/common/src/components/projectSummary/LegalLandOwnerInformation.spec.tsx
  services/common/src/components/projectSummary/LegalLandOwnerInformation.tsx
  services/common/src/components/projectSummary/PaymentContact.tsx
  services/common/src/components/projectSummary/ProjectContacts.spec.tsx
  services/common/src/components/projectSummary/ProjectContacts.tsx
  services/common/src/components/projectSummary/ProjectDates.spec.tsx
  services/common/src/components/projectSummary/ProjectDates.tsx
  services/common/src/components/projectSummary/ProjectLinks.spec.tsx
  services/common/src/components/projectSummary/ProjectLinks.tsx
  services/common/src/components/projectSummary/ProjectSummaryFileUpload.tsx
  services/common/src/components/projectSummary/ProjectSummaryForm.tsx
  services/common/src/components/projectSummary/ProjectSummaryFormComponents.spec.tsx
  services/common/src/components/projectSummary/__snapshots__/AuthorizationSupportDocumentUpload.spec.tsx.snap
  services/common/src/components/projectSummary/__snapshots__/AuthorizationsInvolved.spec.tsx.snap
  services/common/src/components/projectSummary/__snapshots__/DocumentUpload.spec.tsx.snap
  services/common/src/components/projectSummary/__snapshots__/ProjectDates.spec.tsx.snap
  services/common/src/components/projects/__snapshots__/ProjectDocumentsTab.spec.tsx.snap
  services/common/src/components/projects/__snapshots__/ProjectDocumentsTabSection.spec.tsx.snap
  services/common/src/components/projects/projectUtils.spec.ts
  services/common/src/components/projects/projectUtils.ts
  services/common/src/components/reports/__snapshots__/ReportDetailsForm-edit.spec.tsx.snap
  services/common/src/constants/enums.ts
  services/common/src/interfaces/projects/projectSummary.interface.ts
  services/common/src/redux/selectors/projectSelectors.ts
  services/common/src/setupTests.ts
  services/common/src/tests/mocks/dataMocks.tsx
  services/core-web/src/components/mine/Projects/ProjectOverviewTab.tsx
  services/core-web/src/tests/components/Forms/ExplosivesPermit/__snapshots__/ExplosivesPermitFileUpload.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/__snapshots__/ProjectOverviewTab.spec.tsx.snap
  services/document-manager/backend/app/docman/utils/geomark_helper.py
  services/minespace-web/src/tests/components/project/projectOverviewTab/__snapshots__/ProjectOverviewTab.spec.tsx.snap
  services/minespace-web/src/tests/components/project/projectSummaryPage/__snapshots__/ProjectSummaryPage.spec.tsx.snap
Labels: 👍 Ready for review, 💊 Fix

#3301 [FIX] - catch missing orgbook entity and improve logging
  services/core-api/app/api/mines/permits/permit/models/permit.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/mines/reports/models/mine_report.py
  services/core-api/app/api/parties/party_appt/models/mine_party_appt.py
  services/core-api/app/api/utils/models_mixins.py
  services/core-api/app/api/variances/models/variance.py
  services/core-api/app/api/verifiable_credentials/manager.py
  services/core-api/tests/factories.py
  services/core-api/tests/reports/resource/test_mine_reports_resource.py
  services/core-api/tests/verifiable_credentials/test_manager.py
  services/core-api/tests/verify/resources/test_verify_permit_now.py
Labels: 👍 Ready for review, 💊 Fix

#3303 [MDS-6170] Update major project table to reflect project statuses
  services/common/src/constants/enums.ts
  services/common/src/constants/strings.tsx
  services/common/src/redux/actionCreators/projectActionCreator.ts
  services/common/src/tests/mocks/dataMocks.tsx
  services/core-api/app/api/projects/project/resources/project.py
  services/core-api/app/api/projects/response_models.py
  services/core-api/tests/projects/project/resources/test_project_resource.py
  services/core-web/src/components/Forms/MajorProject/MajorProjectSearchForm.js
  services/core-web/src/components/Forms/MajorProject/MajorProjectSearchForm.tsx
  services/core-web/src/components/dashboard/majorProjectHomePage/MajorProjectHomePage.js
  services/core-web/src/components/dashboard/majorProjectHomePage/MajorProjectHomePage.tsx
  services/core-web/src/components/dashboard/majorProjectHomePage/MajorProjectSearch.js
  services/core-web/src/components/dashboard/majorProjectHomePage/MajorProjectSearch.tsx
  services/core-web/src/components/dashboard/majorProjectHomePage/MajorProjectTable.js
  services/core-web/src/components/dashboard/majorProjectHomePage/MajorProjectTable.tsx
  services/core-web/src/styles/components/DocumentTableWithExpandedRows.scss
  services/core-web/src/tests/components/dashboard/majorProjectHomePage/MajorProjectHomePage.spec.js
  services/core-web/src/tests/components/dashboard/majorProjectHomePage/MajorProjectSearch.spec.js
  services/core-web/src/tests/components/dashboard/majorProjectHomePage/MajorProjectTable.spec.js
  services/core-web/src/tests/components/dashboard/majorProjectHomePage/__snapshots__/MajorProjectHomePage.spec.js.snap
  services/core-web/src/tests/components/dashboard/majorProjectHomePage/__snapshots__/MajorProjectSearch.spec.js.snap
  services/core-web/src/tests/components/dashboard/majorProjectHomePage/__snapshots__/MajorProjectTable.spec.js.snap
  services/core-web/src/tests/mocks/dataMocks.tsx
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
Labels: 👍 Ready for review

#3302 [MDS-6205] Permit condition specific reports
  .python-version
  migrations/sql/V2024.11.30.15.10__create_mine_report_permit_requirement_table.sql
  services/common/src/components/forms/RenderDate.tsx
  services/common/src/constants/API.ts
  services/common/src/constants/forms.ts
  services/common/src/constants/reducerTypes.ts
  services/common/src/constants/strings.tsx
  services/common/src/interfaces/permits/index.ts
  services/common/src/interfaces/permits/mineReportPermitRequirements.interface.ts
  services/common/src/interfaces/permits/permitAmendment.interface.ts
  services/common/src/interfaces/permits/permitCondition.interface.ts
  services/common/src/interfaces/reports/mineReport.interface.ts
  services/common/src/redux/selectors/permitSelectors.ts
  services/common/src/redux/slices/mineReportPermitRequirementSlice.ts
  services/core-api/app/api/mines/namespace.py
  services/core-api/app/api/mines/permits/permit/resources/permit.py
  services/core-api/app/api/mines/reports/models/mine_report.py
  services/core-api/app/api/mines/reports/models/mine_report_permit_requirement.py
  services/core-api/app/api/mines/reports/resources/mine_report_permit_requirement.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/utils/helpers.py
  services/core-api/tests/auth/test_expected_auth.py
  services/core-api/tests/factories.py
  services/core-api/tests/reports/resource/test_mine_report_permit_requirement.py
  services/core-web/src/components/Forms/reports/ReportPermitRequirementForm.tsx
  services/core-web/src/components/common/RenderRadioButtons.tsx
  services/core-web/src/components/mine/Permit/PermitConditionLayer.tsx
  services/core-web/src/components/mine/Permit/PermitConditions.tsx
  services/core-web/src/components/mine/Permit/__snapshots__/PermitConditions.spec.tsx.snap
  services/core-web/src/styles/components/PermitConditions.scss
  services/core-web/src/tests/components/Forms/reports/ReportPermitRequirementForm.spec.tsx
  services/core-web/src/tests/components/Forms/reports/__snapshots__/ReportPermitRequirementForm.spec.tsx.snap
  services/core-web/src/tests/components/common/__snapshots__/RenderRadioButtons.spec.js.snap
Labels: 👍 Ready for review

#3312 [FIX] - Update to match Orgbook Publisher Changes
  services/core-api/.env-example
  services/core-api/app/api/services/orgbook_publisher.py
  services/core-api/app/api/verifiable_credentials/manager.py
  services/core-api/app/api/verifiable_credentials/models/orgbook_publish_status.py
  services/core-api/app/config.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend, 💊 Fix

#3313 [MDS-6201] - Update Flagsmith SDKs
  services/common/package.json
  services/core-api/app/api/utils/feature_flag.py
  services/core-api/requirements.txt
  yarn.lock
Labels: 👍 Ready for review

#3314 [FIX] - Include end dates that are null or Dec-31-9999
  services/core-api/app/api/verifiable_credentials/manager.py
Labels: 👍 Ready for review, 💾 Backend, 💊 Fix

#3315 [FIX] improve logging to report skips
  services/core-api/app/api/verifiable_credentials/manager.py
Labels: 🌶 Enhancement, 💾 Backend

#3316 [FIX] Permittee appointments are sorted the other way
  services/core-api/app/api/verifiable_credentials/manager.py
Labels: 💾 Backend, 💊 Fix

#3320 [CHORE] - add cleanup job for failed publish records. add validUntil for superceded records
  services/core-api/app/api/verifiable_credentials/manager.py
  services/core-api/app/api/verifiable_credentials/models/orgbook_publish_status.py
  services/core-api/app/commands.py
  services/core-api/app/config.py
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend

#3323 [FIX] - Delete function wasn't working
  services/core-api/app/api/verifiable_credentials/manager.py
  services/core-api/app/api/verifiable_credentials/models/orgbook_publish_status.py
  services/core-api/app/commands.py
Labels: 👍 Ready for review, 💾 Backend, python

#3324 [FIX] - nullify mine_party_appt end_dates of 9999-12-31
  migrations/sql/V2024.11.30.15.11__null_9999_mpa_end_date .sql
Labels: 👍 Ready for review, ⛏ Needs manual testing, 💊 Fix, 📜 SQL
