Repository bcgov/mds, pull requests merged in 2024-01, with the labels that each got.

#2866 [MDS-5641] Added workflow to build and push permit service to the Openshift Image registry
  .github/workflows/permit-service.build.deploy.dev.yaml
Labels: 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#2871 [MDS-5641] Added GH Actions to deploy permit service to test and prod, parameterized elasticsearch settings
  .github/workflows/permit-service.build.deploy.dev.yaml
  .github/workflows/permit-service.deploy.prod.yaml
  .github/workflows/permit-service.deploy.test.yaml
  services/permits/app/pipelines.py
  services/permits/requirements.txt
Labels: 👍 Ready for review, 💾 Backend

#2875 [MDS-5641] Updated permit service build scripts to use docker buildx
  .github/workflows/permit-service.deploy.prod.yaml
  .github/workflows/permit-service.deploy.test.yaml
Labels: 👍 Ready for review

#2873 [MDS-5638] Permits service auth setup
  bin/setenv.sh
  services/permits/.env-example
  services/permits/Dockerfile
  services/permits/app/app.py
  services/permits/app/jwt_manager.py
  services/permits/app/openid_connect_middleware.py
  services/permits/app/pipelines.py
  services/permits/requirements.txt
Labels: 👍 Ready for review

#2876 [MDS-5641] Fixed docman deployment issue
  services/document-manager/backend/Dockerfile
  services/document-manager/backend/Dockerfile.ci
Labels: 👍 Ready for review

#2877 [MDS-5638] - Permit Service auth
  services/permits/Dockerfile
Labels: 👍 Ready for review

#2881 [MDS-5720] Order file upload parts ascending, fix errors when uploading multiple files
  services/common/src/components/forms/RenderFileUpload.tsx
  services/common/src/redux/customAxios.js
  services/common/src/utils/fileUploadHelper.interface.ts
  services/common/src/utils/fileUploadHelper.spec.ts
  services/common/src/utils/fileUploadHelper.ts
  services/document-manager/backend/app/__init__.py
  services/minespace-web/src/components/Forms/projects/projectSummary/ProjectSummaryFileUpload.tsx
Labels: 👍 Ready for review, 💻 Frontend

#2882 [MDS-5660] - CRR contacts
  migrations/sql/V2024.01.12.01.40__add_contacts_to_mine_reports.sql
  services/common/src/components/reports/ReportDetailsForm.tsx
  services/common/src/components/reports/__snapshots__/ReportDetailsForm-edit.spec.tsx.snap
  services/common/src/components/reports/__snapshots__/ReportDetailsForm-view.spec.tsx.snap
  services/common/src/constants/enums.ts
  services/common/src/redux/reducers/partiesReducer.ts
  services/core-api/app/api/mines/reports/models/mine_report.py
  services/core-api/app/api/mines/reports/models/mine_report_contact.py
  services/core-api/app/api/mines/reports/resources/mine_reports.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/mines/tailings/resources/tailings_list.py
  services/core-api/tests/factories.py
  services/minespace-web/src/styles/components/Reports.scss
Labels: 👍 Ready for review

#2887 [MDS-5729] BUG FIX: Multiselect width
  services/common/src/components/forms/RenderMultiSelect.tsx
  services/common/src/components/projects/ProjectLinks.tsx
  services/minespace-web/src/styles/overrides/antd-overrides.scss
Labels: 🐞 Bug

#2888 [MDS-5660] - added link in contact_us on crr page
  services/common/src/components/reports/ReportDetailsForm.tsx
  services/common/src/components/reports/__snapshots__/ReportDetailsForm-edit.spec.tsx.snap
  services/common/src/components/reports/__snapshots__/ReportDetailsForm-view.spec.tsx.snap
Labels: 👍 Ready for review

#2886 [MDS-5684] Removed extract css webpack plugin
  services/minespace-web/package.json
  services/minespace-web/webpack.config.ts
  yarn.lock
Labels: 🏭 CI/CD, 👍 Ready for review

#2890 [MDS-5684] Move keycloak sso notification logic into separate file
  services/minespace-web/public/notify-parent.js
  services/minespace-web/public/silent-check-sso.html
Labels: 🏭 CI/CD, 👍 Ready for review

#2892 [MDS-5732] Report Contacts Bug
  services/common/src/components/reports/ReportDetailsForm.tsx
  services/common/src/components/reports/ReportSteps.tsx
  services/common/src/interfaces/index.ts
  services/common/src/interfaces/reports/index.ts
  services/common/src/interfaces/reports/mineReport.interface.ts
  services/common/src/interfaces/reports/mineReportContact.interface.ts
  services/common/src/interfaces/reports/mineReportSubmission.interface.ts
  services/core-api/app/api/mines/reports/resources/mine_reports.py
Labels: 👍 Ready for review, 💊 Fix

#2893 [MDS-5662]Update report selection and submission flow
  migrations/sql/V2024.01.15.03.40__add_common_column_to_reports.sql
  services/common/src/components/forms/RenderSelect.tsx
  services/common/src/components/reports/ReportDetailsForm-view.spec.tsx
  services/common/src/components/reports/ReportDetailsForm.tsx
  services/common/src/components/reports/ReportGetStarted.tsx
  services/common/src/components/reports/ReportSteps.tsx
  services/common/src/components/reports/__snapshots__/ReportDetailsForm-edit.spec.tsx.snap
  services/common/src/components/reports/__snapshots__/ReportDetailsForm-view.spec.tsx.snap
  services/common/src/interfaces/reports/index.ts
  services/common/src/interfaces/reports/mineReportDefinition.interface.ts
  services/common/src/redux/utils/helpers.ts
  services/common/src/tests/mocks/dataMocks.tsx
  services/core-api/app/api/mines/reports/models/mine_report_definition.py
  services/core-api/app/api/mines/response_models.py
  services/minespace-web/src/styles/components/Reports.scss
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend, 📜 SQL

#2895 [MDS-5737] Fixed opening of document viewer from action menu and other Document Viewer issues
  services/common/src/components/documents/DocumentTable.tsx
  services/core-web/src/components/common/DocumentTable.tsx
  services/document-manager/backend/app/docman/utils/document_upload_helper.py
  services/minespace-web/src/components/syncfusion/DocumentViewer.js
Labels: 🐞 Bug, 👍 Ready for review, 💻 Frontend, 🚌 Common Package

#2896 [MDS-5678] ESUP map pin fix
  services/common/src/components/explosivespermits/ExplosivesPermitMap.tsx
  services/core-web/src/components/mine/ExplosivesPermit/ExplosivesPermit.tsx
Labels: 👍 Ready for review, 💻 Frontend, 💊 Fix

#2899 [MDS-5689] Updated architecture diagram to include ArgoCD, Github, and SNYK
  docs/architecture/MDS_Arch-Arch-V2.drawio.svg
Labels: 👍 Ready for review

#2904 [MDS-5688] Added ACS to architecture diagram
  docs/architecture/MDS_Arch-Arch-V2.drawio.svg
Labels: 👍 Ready for review

#2905 [MDS-5725] CRR Received status
  migrations/sql/V2024.01.22.01.00__add_received_status_to_mine_report_submisions.sql
  services/common/src/constants/enums.ts
  services/common/src/constants/strings.tsx
  services/core-api/app/api/mines/reports/resources/mine_reports.py
  services/minespace-web/src/components/dashboard/mine/reports/ReportsTable.tsx
Labels: 👍 Ready for review

#2906 [MDS-5725] fixed sorting bug, and set status to INI by default instead of NRQ
  services/core-api/app/api/mines/reports/resources/mine_reports.py
  services/minespace-web/src/components/dashboard/mine/reports/ReportsTable.tsx
Labels: 💾 Backend, 💻 Frontend, 💊 Fix

#2908 [MDS-5735] Node Upgrade
  .github/workflows/minespace.unit.yaml
  .nvmrc
  bin/validate.sh
  package.json
  services/minespace-web/Dockerfile
  services/minespace-web/Dockerfile.ci
  services/minespace-web/src/tests/components/dashboard/mine/projects/project/Projects.spec.js
  services/minespace-web/src/tests/components/dashboard/mine/variances/Variances.spec.js
  services/minespace-web/src/tests/components/project/informationRequirementsTablePage/InformationRequirementsTablePage.spec.js
  services/minespace-web/src/tests/mocks/dataMocks.js
Labels: 🌶 Enhancement, 👍 Ready for review

#2909 [MDS-5687] Added Sonarcloud to architecture diagram
  docs/architecture/MDS_Arch-Arch-V2.drawio.svg
Labels: 👍 Ready for review

#2916 [MDS-5684] Allow manual trigger of core test pipeline
  .github/workflows/core-web.unit.yaml
Labels: 🏭 CI/CD, 👍 Ready for review

#2918 [MDS-5715] Project Agent
  migrations/sql/V2024.01.19.10.23__add_agent_to_project_summary.sql
  services/common/src/components/forms/BaseInput.tsx
  services/common/src/components/forms/RenderCheckbox.tsx
  services/common/src/components/forms/RenderField.tsx
  services/common/src/components/forms/RenderRadioButtons.tsx
  services/common/src/components/reports/__snapshots__/ReportDetailsForm-edit.spec.tsx.snap
  services/common/src/interfaces/party/party.interface.ts
  services/common/src/interfaces/projects/projectSummary.interface.ts
  services/common/src/redux/selectors/projectSelectors.ts
  services/common/src/redux/utils/Validate.ts
  services/common/src/redux/utils/helpers.ts
  services/common/src/utils/featureFlag.ts
  services/core-api/app/api/parties/party/models/address.py
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/api/parties/party/resources/party_list_resource.py
  services/core-api/app/api/projects/project_summary/models/project_summary.py
  services/core-api/app/api/projects/project_summary/resources/project_summary.py
  services/core-api/app/api/projects/response_models.py
  services/core-web/src/styles/components/MinePermitTable.scss
  services/minespace-web/src/components/Forms/projects/projectSummary/Agent.tsx
  services/minespace-web/src/components/Forms/projects/projectSummary/AuthorizationsInvolved.js
  services/minespace-web/src/components/Forms/projects/projectSummary/ProjectSummaryFileUpload.tsx
  services/minespace-web/src/components/Forms/projects/projectSummary/ProjectSummaryForm.tsx
  services/minespace-web/src/components/pages/Project/ProjectSummaryPage.tsx
  services/minespace-web/src/setupTests.js
  services/minespace-web/src/styles/components/SteppedForm.scss
Labels: 🌶 Enhancement, 👍 Ready for review, 💊 Fix

#2927 [MDS-5775] Join error on Project Party query
  services/core-api/app/api/projects/project/resources/project.py
  services/core-web/cypress/e2e/majorprojects.cy.ts
Labels: 👍 Ready for review, 💊 Fix
