Repository bcgov/mds, pull requests merged in 2024-05, with the labels that each got.

#3072 [MDS-5802] Adding backend validation when updating project summary
  services/common/src/redux/actionCreators/projectActionCreator.ts
  services/core-api/app/api/parties/response_models.py
  services/core-api/app/api/projects/project/models/project.py
  services/core-api/app/api/projects/project_summary/models/project_summary.py
  services/core-api/app/api/projects/project_summary/resources/project_summary.py
  services/core-api/app/api/projects/project_summary/resources/project_summary_list.py
  services/core-api/app/api/utils/common_validation_schemas.py
  services/core-api/tests/constants.py
  services/core-api/tests/projects/project_summaries/resources/test_project_summary_resource.py
  services/core-web/src/components/mine/Projects/ProjectSummary.tsx
  services/minespace-web/src/components/pages/Project/ProjectSummaryPage.tsx
Labels: 👍 Ready for review

#3083 [MDS-5823] Update text, add banner.
  services/minespace-web/src/components/Forms/projects/projectSummary/Agent.tsx
  services/minespace-web/src/components/Forms/projects/projectSummary/ProjectSummaryForm.tsx
Labels: 👍 Ready for review

#3070 [CHORE] Clean up relationship def warnings + others
  services/core-api/app/api/incidents/resources/mine_incident_notes.py
  services/core-api/app/api/now_applications/models/activity_detail/activity_summary_building_detail_xref.py
  services/core-api/app/api/now_applications/resources/now_application_status_resource.py
  services/core-api/app/api/parties/party/models/party.py
  services/core-api/app/api/parties/party/models/party_orgbook_entity.py
  services/core-api/app/api/projects/project_summary/models/project_summary.py
  services/core-api/app/api/verifiable_credentials/models/credentials.py
Labels: 👍 Ready for review, 🤡 Superfluous Label

#3086 [MDS-5491] fix icon align issue, update snapshot test.
  services/minespace-web/src/components/dashboard/mine/MineDashboardRoutes.tsx
  services/minespace-web/src/tests/components/dashboard/mine/__snapshots__/MineDashboard.spec.tsx.snap
Labels: 👍 Ready for review

#3100 [MDS-5961] Feature/5961 vc doc updates
  docs/verifiable_credentials.md
Labels: 👍 Ready for review

#3104 [MDS-5751] Add environment variable for OIDC test keys
  services/document-manager/backend/.env-example
  services/document-manager/backend/app/config.py
Labels: 👍 Ready for review

#3101 [MDS-5754] Move dummy OIDC keys to env variables.
  services/core-api/.env-example
  services/core-api/app/config.py
Labels: 👍 Ready for review

#3103 [MDS-5970] Feature/allow multiple orgbook party association
  migrations/sql/V2024.05.09.10.55__drop_orgbook_entity_unique_constraints.sql
  services/core-api/app/api/parties/party/models/party_orgbook_entity.py
  services/core-api/app/api/parties/party/resources/party_orgbook_entity_list_resource.py
  services/core-web/src/components/common/Address.js
  services/core-web/src/components/common/PartySelectField.js
  services/core-web/src/components/parties/PartyProfile.js
  services/core-web/src/tests/components/common/__snapshots__/Address.spec.js.snap
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend, 💻 Frontend

#3106 [MDS-5947] Added ability to link a CRR to a HSRC code in core
  services/common/src/components/reports/ReportDefinitionFieldSelect.tsx
  services/common/src/interfaces/complianceArticle.interface.ts
  services/core-api/app/api/compliance/resources/compliance_article_create_resource.py
  services/core-api/app/api/compliance/response_models.py
  services/core-api/app/api/exports/static_content/__init__.py
  services/core-api/app/api/exports/static_content/cache_service.py
  services/core-api/app/api/mines/reports/models/mine_report_definition.py
  services/core-api/app/api/mines/response_models.py
  services/core-web/src/components/admin/complianceCodes/ComplianceCodeManagement.tsx
  services/core-web/src/components/admin/complianceCodes/ComplianceCodeViewEditForm.tsx
  services/core-web/src/components/admin/complianceCodes/HSRCEditForm.tsx
  services/core-web/src/components/admin/complianceCodes/ReportEditForm.tsx
  services/core-web/src/styles/components/Reports.scss
  services/core-web/src/styles/components/Tags.scss
  services/core-web/src/tests/components/admin/__snapshots__/ComplianceCodeManagement.spec.tsx.snap
  services/minespace-web/src/styles/components/Reports.scss
Labels: 👍 Ready for review, 💾 Backend, 💻 Frontend

#3108 [Snyk] Security upgrade node from 20.11.0 to 20.13.1
  services/core-web/Dockerfile
  services/core-web/Dockerfile.ci
  services/minespace-web/Dockerfile
  services/minespace-web/Dockerfile.ci
Labels: 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#3109 [Snyk] Fix for 9 vulnerabilities
  services/core-web/package.json
  services/document-manager/backend/app/extensions.py
  yarn.lock
Labels: 👍 Ready for review, 💻 Frontend

#3113 [MDS-5975] - ams regions
  migrations/sql/V2024.05.22.13.00__create_regions_table.sql
  migrations/sql/V2024.05.22.14.30__add_region_to_project_summary.sql
  services/common/src/components/projectSummary/BasicInformation.spec.tsx
  services/common/src/components/projectSummary/FacilityOperator.tsx
  services/common/src/constants/API.ts
  services/common/src/redux/reducers/rootReducerShared.ts
  services/common/src/redux/slices/regionsSlice.ts
  services/common/src/tests/mocks/dataMocks.tsx
  services/core-api/app/__init__.py
  services/core-api/app/api/projects/project_summary/models/project_summary.py
  services/core-api/app/api/projects/project_summary/resources/project_summary.py
  services/core-api/app/api/projects/response_models.py
  services/core-api/app/api/regions/models/__init__.py
  services/core-api/app/api/regions/models/regions.py
  services/core-api/app/api/regions/namespace.py
  services/core-api/app/api/regions/resources/__init__.py
  services/core-api/app/api/regions/resources/region_list_resource.py
  services/core-api/app/api/regions/response_models.py
  services/core-api/app/api/services/ams_api_service.py
  services/minespace-web/src/components/Forms/projects/projectSummary/ProjectSummaryForm.tsx
  services/minespace-web/src/components/pages/Project/ProjectSummaryPage.tsx
  services/minespace-web/src/tests/components/project/projectSummaryPage/ProjectSummaryPage.spec.tsx
  services/minespace-web/src/tests/components/project/projectSummaryPage/__snapshots__/ProjectSummaryPage.spec.tsx.snap
Labels: 👍 Ready for review

#3132 [MDS-5935] UpdatedCore API dependencies and base python image (3.11.9-slim)
  services/core-api/Dockerfile
  services/core-api/Dockerfile.ci
  services/core-api/requirements.txt
Labels: 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#3133 [MDS-5935] Fixed core api build error
  services/core-api/Dockerfile.ci
Labels: 🏭 CI/CD, 👍 Ready for review, 💾 Backend

#3135 [Snyk] Fix for 5 vulnerabilities
  services/core-api/requirements.txt
Labels: 👍 Ready for review, 💾 Backend
