Repository bcgov/mds, pull requests merged in 2024-07, with the labels that each got.

#3171 [MDS-5944] application submission success fail page
  services/common/src/components/projectSummary/ProjectSubmissionStatusPage.spec.tsx
  services/common/src/components/projectSummary/ProjectSubmissionStatusPage.tsx
  services/common/src/components/projectSummary/__snapshots__/ProjectSubmissionStatusPage.spec.tsx.snap
  services/common/src/constants/strings.tsx
  services/common/src/interfaces/projects/projectSummaryAuthorizations.interface.ts
  services/common/src/redux/actionCreators/projectActionCreator.ts
  services/common/src/setupTests.ts
  services/core-web/src/components/mine/Projects/ProjectSummary.tsx
  services/core-web/src/constants/routes.ts
  services/core-web/src/styles/components/Forms.scss
  services/core-web/src/styles/components/ProjectSubmissionStatusPage.scss
  services/core-web/src/styles/elements/elements.scss
  services/core-web/src/styles/index.scss
  services/core-web/src/styles/settings/filepond-overrides.scss
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
  services/minespace-web/src/components/pages/Project/ProjectSummaryPage.tsx
  services/minespace-web/src/constants/routes.ts
  services/minespace-web/src/routes/Routes.tsx
  services/minespace-web/src/styles/components/Forms.scss
  services/minespace-web/src/styles/components/MajorMineApplication.scss
  services/minespace-web/src/styles/overrides/filepond-overrides.scss
  services/minespace-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
Labels: 👍 Ready for review

#3172 [MDS-6030] Perform sonarcloud scan after merging into develop
  .github/workflows/common-package.unit.yaml
  .github/workflows/core-web.unit.yaml
  .github/workflows/minespace.unit.yaml
  .github/workflows/tests.integration.yaml
Labels: 🏭 CI/CD, 👍 Ready for review

#3174 [MDS-6013] BE spatial validation
  migrations/sql/V2024.07.05.10.00__add_mine_document_bundle_table.sql
  services/common/src/components/forms/RenderFileUpload.tsx
  services/common/src/components/projectSummary/__snapshots__/DocumentUpload.spec.tsx.snap
  services/common/src/components/reports/__snapshots__/ReportDetailsForm-edit.spec.tsx.snap
  services/common/src/constants/fileTypes.js
  services/core-api/app/api/mines/documents/models/mine_document_bundle.py
  services/core-web/src/tests/components/modalContent/__snapshots__/ReplaceDocumentModal.spec.tsx.snap
  services/document-manager/backend/app/docman/models/document.py
  services/document-manager/backend/app/docman/models/document_bundle.py
  services/document-manager/backend/app/docman/resources/document_upload_resource.py
  services/document-manager/backend/app/docman/response_models.py
  services/document-manager/backend/app/docman/utils/document_upload_helper.py
  services/document-manager/backend/migrations/versions/dafa2376e2dd_adding_bundle_table.py
  services/document-manager/backend/requirements.txt
  services/document-manager/backend/tests/documents/resources/test_document_upload_resource.py
  services/minespace-web/src/tests/components/Forms/projects/majorMineApplication/__snapshots__/MajorMineApplicationForm.spec.js.snap
Labels: 👍 Ready for review

#3177 [MDS-6064] Removed changing default cipher for NRIS download
  services/core-api/app/api/services/nris_download_service.py
Labels: 🐞 Bug, 👍 Ready for review, 💾 Backend

#3162 [CHORE] - Draft endpoints for W3C/UNTP Mines Act Permit Creds
  migrations/sql/V2024.06.26.15.00__create_vc_orgbook_publish_table.sql
  services/core-api/.env-example
  services/core-api/app/api/mines/mine/models/mine.py
  services/core-api/app/api/mines/permits/permit_amendment/models/permit_amendment.py
  services/core-api/app/api/services/traction_service.py
  services/core-api/app/api/verifiable_credentials/manager.py
  services/core-api/app/api/verifiable_credentials/models/credentials.py
  services/core-api/app/api/verifiable_credentials/models/orgbook_publish_status.py
  services/core-api/app/api/verifiable_credentials/namespace.py
  services/core-api/app/api/verifiable_credentials/resources/w3c_map_credential_resource.py
  services/core-api/app/commands.py
  services/core-api/app/config.py
  services/core-api/requirements.txt
  services/core-api/tests/verifiable_credentials/test_manager.py
  services/core-web/runner/server.js
Labels: 🌶 Enhancement, 👍 Ready for review, 💾 Backend, python

#3178 [FIX] - Query returned a result without a permit_amendment somehow.
  services/core-api/app/api/verifiable_credentials/manager.py
  services/core-api/app/commands.py
Labels: 👍 Ready for review

#3180 [FIX] - Enforce did config, update description
  services/core-api/app/api/verifiable_credentials/manager.py
Labels: 👍 Ready for review

#3184 [MDS-6074] - BE spatial bugfixes
  migrations/sql/V2024.07.10.10.00__update_document_bundle.sql
  services/core-api/app/api/mines/documents/models/mine_document.py
  services/core-api/app/api/mines/documents/models/mine_document_bundle.py
  services/core-api/app/api/mines/response_models.py
  services/core-api/app/api/notice_of_departure/models/notice_of_departure_document_xref.py
  services/core-api/app/api/projects/project_summary/models/project_summary_document_xref.py
  services/document-manager/backend/app/__init__.py
  services/document-manager/backend/app/docman/utils/document_upload_helper.py
Labels: 👍 Ready for review

#3170 [MDS-5883] retry ams failure
  services/common/src/components/common/Loading.tsx
  services/common/src/components/project/ProjectDescriptionTab.spec.tsx
  services/common/src/components/project/ProjectDescriptionTab.tsx
  services/common/src/components/project/__snapshots__/ProjectDescriptionTab.spec.tsx.snap
  services/common/src/components/projectSummary/ApplicationSummary.tsx
  services/common/src/components/projectSummary/ProjectSubmissionStatusPage.tsx
  services/common/src/components/projectSummary/ProjectSummaryForm.tsx
  services/common/src/components/projectSummary/__snapshots__/ProjectSubmissionStatusPage.spec.tsx.snap
  services/common/src/constants/enums.ts
  services/common/src/constants/strings.tsx
  services/common/src/interfaces/projects/authorizationSummary.interface.ts
  services/common/src/interfaces/projects/index.ts
  services/common/src/tests/mocks/dataMocks.tsx
  services/common/src/utils/helpers.ts
  services/core-api/app/api/services/ams_api_service.py
  services/core-web/src/components/common/Loading.js
  services/core-web/src/components/mine/Projects/Project.js
  services/core-web/src/components/mine/Projects/ProjectSummary.tsx
  services/core-web/src/styles/components/Forms.scss
  services/core-web/src/styles/components/Loading.scss
  services/core-web/src/styles/components/NoticeOfDeparture.scss
  services/core-web/src/styles/components/Tables.scss
  services/core-web/src/styles/index.scss
  services/core-web/src/styles/settings/themeOverride.scss
  services/core-web/src/tests/components/__snapshots__/Index.spec.js.snap
  services/core-web/src/tests/components/common/__snapshots__/Loading.spec.js.snap
  services/core-web/src/tests/components/mine/Projects/__snapshots__/ProjectSummary.spec.tsx.snap
  services/minespace-web/src/components/common/Loading.js
  services/minespace-web/src/components/dashboard/mine/projects/Projects.tsx
  services/minespace-web/src/components/pages/Project/ProjectPage.js
  services/minespace-web/src/components/pages/Project/ProjectSummaryPage.tsx
  services/minespace-web/src/styles/components/Loading.scss
  services/minespace-web/src/tests/components/common/__snapshots__/Loading.spec.js.snap
Labels: 👍 Ready for review

#3189 [MDS-6052] Added pipeline for extracting permit conditions
  services/core-api/app/api/search/search/permit_search_service.py
  services/core-web/src/constants/routes.ts
  services/permits/.env-example
  services/permits/.gitignore
  services/permits/Dockerfile
  services/permits/app/__init__.py
  services/permits/app/app.py
  services/permits/app/helpers/temporary_file.py
  services/permits/app/permit_condition_prompts.yaml
  services/permits/app/permit_conditions/__init__.py
  services/permits/app/permit_conditions/converters/pdf_to_text_converter.py
  services/permits/app/permit_conditions/pipelines/CachedAzureOpenAIChatGenerator.py
  services/permits/app/permit_conditions/pipelines/PaginatedChatPromptBuilder.py
  services/permits/app/permit_conditions/pipelines/__init__.py
  services/permits/app/permit_conditions/pipelines/chat_data.py
  services/permits/app/permit_conditions/pipelines/permit_condition_pipeline.py
  services/permits/app/permit_conditions/resources/__init__.py
  services/permits/app/permit_conditions/resources/permit_condition_resource.py
  services/permits/app/permit_conditions/validator/json_fixer.py
  services/permits/app/permit_conditions/validator/permit_condition_validator.py
  services/permits/app/permit_search/pipelines/pipelines.py
  services/permits/app/permit_search/resources/permit_search_resource.py
  services/permits/app/pipelines.py
  services/permits/app/tests/__init__.py
  services/permits/app/tests/sample_pdf.pdf
  services/permits/app/tests/test_cached_azure_openai_chat_generator.py
  services/permits/app/tests/test_json_fixer.py
  services/permits/app/tests/test_pdf_to_html_converter.py
  services/permits/app/tests/test_permit_condition_validator.py
  services/permits/requirements.txt
Labels: 👍 Ready for review, 💾 Backend

#3198 [MDS-6052] Fixed permission issue when running permit condition extraction in dev/test
  services/permits/app/compare_extraction_results.py
  services/permits/app/extract_and_validate_pdf.py
  services/permits/app/permit_conditions/validator/permit_condition_validator.py
Labels: 👍 Ready for review

#3201 [MDS-6042] Added links to permit search results, UX tweaks on permit detail page
  services/common/src/tests/mocks/dataMocks.tsx
  services/core-web/src/components/mine/Permit/ViewPermit.tsx
  services/core-web/src/components/mine/Permit/ViewPermitOverview.tsx
  services/core-web/src/components/search/MineResultsTable.js
  services/core-web/src/components/search/PermitResultsTable.js
  services/core-web/src/tests/components/mine/Permit/__snapshots__/ViewPermit.spec.tsx.snap
  services/core-web/src/tests/components/mine/Permit/__snapshots__/ViewPermitOverview.spec.tsx.snap
  services/core-web/src/tests/components/search/__snapshots__/PermitResultsTable.spec.js.snap
Labels: 👍 Ready for review, 💻 Frontend
