Repository bcgov/mds, pull requests merged in 2025-03, with the labels that each got.

#3449 [MDS-6366]fee exemption error
  services/core-web/src/components/Forms/AddPermitForm.tsx
  services/core-web/src/components/Forms/EditPermitForm.tsx
  services/core-web/src/tests/components/Forms/EditPermitForm.spec.js
  services/core-web/src/tests/components/Forms/__snapshots__/EditPermitForm.spec.js.snap
Labels: 👍 Ready for review

#3462 [MDS-6404] Fix comments not saving
  services/common/src/components/comments/CommentEditor.tsx
  services/core-api/app/api/mines/reports/models/mine_report_comment.py
Labels: 👍 Ready for review

#3466 [MDS-6406] - HSRC Reports update
  services/common/src/components/reports/ReportDefinitionFieldSelect.tsx
  services/common/src/redux/slices/complianceReportsSlice.ts
  services/core-api/app/api/mines/reports/models/mine_report_definition.py
Labels: 👍 Ready for review

#3471 [FIX] Add optional chain to status_code to prevent blank screen
  services/core-web/src/components/Forms/incidents/IncidentFormUpdateIncidentStatus.tsx
Labels: 👍 Ready for review

#3475 [MDS-5997] Improved VFCBC login error handlong, added cli command to easily test VFCBC downloads
  services/document-manager/backend/app/__init__.py
  services/document-manager/backend/app/cli.py
  services/document-manager/backend/app/services/vfcbc_download_service.py
Labels: 👍 Ready for review, 💾 Backend

#3478 [MDS-6410] Use new TSF form in core
  services/core-web/src/components/mine/Tailings/MineTailingsInfoTabs.tsx
  services/core-web/src/constants/routes.ts
  services/core-web/src/routes/MineDashboardRoutes.js
  services/core-web/src/tests/routes/__snapshots__/DashboardRoutes.spec.js.snap
Labels: 👍 Ready for review

#3480 [MDS-6440] Fixed error when running extraction process in test
  services/permits/app/pipelines/permit_condition_extraction/components/azure_document_intelligence_converter.py
  services/permits/app/pipelines/permit_condition_extraction/components/filter_conditions_paragraphs.py
  services/permits/app/pipelines/permit_condition_extraction/permit_condition_pipeline.py
Labels: 👍 Ready for review, 💾 Backend, python
